<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_setting_up_orca" xml:lang="pt-BR">
<info>
  <link type="seealso" xref="preferences"/>
  <link type="guide" xref="index#getting_started"/>
  <link type="next" xref="howto_the_orca_modifier"/>
  <title type="sort">4. Configuração do Orca</title>
  <title type="link">Configuração</title>
    <desc>Configurando o <app>Orca</app></desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Atribuição Compartilhada Igual 3.0 - Creative Commons</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Conte</mal:name>
      <mal:email>alente.alemao@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>José Vilmar Estácio De Souza</mal:name>
      <mal:email>vilmar@informal.com.br</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>
  <title>Configuração do Orca</title>
    <section id="configuring_orca">
      <p>Se você deseja configurar o <app>Orca</app>, você pode fazer o seguinte:</p>
      <list>
        <item>
          <p>Acesse o diálogo <link xref="preferences">Preferências</link> pressionando a <keyseq><key>Tecla modificadora do Orca</key><key>Barra de espaço</key> </keyseq> a partir de qualquer aplicativo acessível.</p>
        </item>
        <item>
          <p>Passe a opção <cmd>--text-setup</cmd> ao <app>Orca</app> para executar novamente a <link xref="howto_text_setup">configuração baseada em texto</link> do <app>Orca</app>.</p>
        </item> 
      </list>
    </section>
</page>
