<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_forms" xml:lang="pt-BR">
  <info>
    <link type="guide" xref="index#reading"/>
     <link type="next" xref="howto_live_regions"/>
    <title type="sort">5. Preenchendo formulários</title>
    <desc>Acessando controles incorporados nos documentos</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Atribuição Compartilhada Igual 3.0 - Creative Commons</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Conte</mal:name>
      <mal:email>alente.alemao@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>José Vilmar Estácio De Souza</mal:name>
      <mal:email>vilmar@informal.com.br</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>
  <title>Preenchendo formulários</title>
  <p>
    When interacting with web pages and other documents using <app>Orca</app>,
    you are interacting with the document itself; not a buffered copy of that
    document. <app>Orca</app>'s browse and focus modes let you switch between
    reading and filling out forms.
  </p>
  <section>
    <title>Navegando entre campos de formulários</title>
    <p>Para navegar entre campos de formulários, você tem várias opções:</p>
    <list>
      <item>
        <p>
           Use <key>Tab</key> and <keyseq><key>Shift</key><key>Tab</key></keyseq>
           to navigate amongst focusable objects, regardless of type.
        </p>
      </item>
      <item>
        <p>Usar <link xref="commands_structural_navigation#forms">comandos de navegação estrutural por formulários</link> do <app>Orca</app>.</p>
      </item>
      <item>
        <p>
          Depending on the form and the application, you may also be
          able to use the arrow keys to navigate to a given form field.
        </p>
      </item>
   </list>
   <note style="tip">
     <p>
       In order to use <app>Orca</app>'s caret navigation or structural navigation
       commands to navigate to a form field, you must be in browse mode. If you are
       in focus mode, you can switch to browse mode by pressing <keyseq><key>Orca
       Modifier</key><key>A</key></keyseq>.
     </p>
   </note>
  </section>
  <section>
    <title>Saindo de campos de formulário</title>
    <p>
      To exit a form field, you have several options:
    </p>
    <list>
      <item>
        <p>
          Use <key>Tab</key>/<keyseq><key>Shift</key><key>Tab</key></keyseq>
          if you wish to leave the currently-focused form field and move to the
          next/previous focusable object, regardless of type.
        </p>
      </item>
      <item>
        <p>
          Use <app>Orca</app>'s <link xref="commands_structural_navigation#forms">
          structural navigation commands for forms</link> to move to the next or
          previous form field.
        </p>
      </item>
      <item>
        <p>
          Depending on the form and the application, you may also be
          able to use the arrow keys to navigate out of a given form field.
        </p>
      </item>
    </list>
   <note style="tip">
     <p>
       In order to use <app>Orca</app>'s caret navigation or structural navigation
       commands to exit a form field, you must be in browse mode. If you are in
       focus mode, you can switch to browse mode by pressing <keyseq><key>Orca
       Modifier</key><key>A</key></keyseq>.
     </p>
   </note>
  </section>
</page>
