<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="preferences_table_navigation" xml:lang="pt-BR">
  <info>
    <link type="guide" xref="preferences#application"/>
    <link type="next" xref="preferences_chat"/>
    <link type="seealso" xref="commands_structural_navigation"/>
    <link type="seealso" xref="commands_table"/>
    <title type="sort">2. Navegação em Tabela</title>
    <title type="link">Navegação em tabela</title>
    <desc>Configurando a navegação do <app>Orca</app> em tabelas</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Atribuição Compartilhada Igual 3.0 - Creative Commons</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Conte</mal:name>
      <mal:email>alente.alemao@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>José Vilmar Estácio De Souza</mal:name>
      <mal:email>vilmar@informal.com.br</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>
  <title>Preferências de Navegação de Tabelas</title>
  <p>A seguinte opção permite que você personalize como o <app>Orca</app> se comporta ao navegar em uma tabela em <link xref="howto_structural_navigation">Structural-Navigation</link>-aplicativos habilitados.</p>
  <section>
    <title>Falar as coordenadas da célula</title>
    <p>Se essa caixa de seleção está marcada, o <app>Orca</app> anunciará as coordenadas de cada célula para a qual você navegue.</p>
    <p>Valor padrão: selecionada</p>
  </section>
  <section>
    <title>Falar número de células mescladas</title>
    <p>Se essa caixa de opção está marcada, o <app>Orca</app> anunciará quantas linhas e/ou colunas uma célula mescla quando ela mesclar mais de uma.</p>
    <p>Valor padrão: selecionada</p>
  </section>
  <section>
    <title>Anunciar cabeçalho da célula</title>
    <p>Se essa caixa de opção está marcada, o <app>Orca</app> anunciará mudanças no cabeçalho se os cabeçalhos para a célula corrente puderem ser determinados.</p>
    <p>Valor padrão: selecionada</p>
  </section>
  <section>
    <title>Pular células em branco</title>
    <p>Se essa caixa de seleção está marcada, o <app>Orca</app> irá pular células em branco quando você estiver usando os comandos de navegação estrutural de tabelas do <app>Orca</app> para acessar a tabela.</p>
    <p>Valor padrão: desmarcado</p>
  </section>
</page>
