<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="index" xml:lang="de">

  <info>
    <title type="text">Hilfe zur Festplattenbelegungsanalyse</title>
    <title type="link">Festplattenbelegungsanalyse</title>

    <revision pkgversion="3.8" date="2013-07-24" status="final"/>
    <revision pkgversion="3.14" date="2014-10-01" status="final"/>

    <credit type="author copyright">
      <name>Julita Inca</name>
      <email its:translate="no">yrazes@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Die <app>Festplattenbelegungsanalyse</app> ist eine grafische Anwendung zum Untersuchen von Speichergeräten.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008, 2012, 2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2013, 2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title><media type="image" mime="image/png" its:translate="no" src="media/hicolor_apps_48x48_baobab.png"/>  Festplattenbelegungsanalyse</title>

  <section id="scan" style="2column">
    <title>Einlesen</title>
  </section>

  <section id="preferences" style="2column">
    <title>Einstellungen</title>
  </section>

  <section id="problems" style="2column">
    <title>Häufige Probleme und Fragen</title>
  </section>

</page>
