<?xml version="1.0" encoding="UTF-8"?>


<!--
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This file incorporates work covered by the following license notice:
 *
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements. See the NOTICE file distributed
 *   with this work for additional information regarding copyright
 *   ownership. The ASF licenses this file to you under the Apache
 *   License, Version 2.0 (the "License"); you may not use this file
 *   except in compliance with the License. You may obtain a copy of
 *   the License at http://www.apache.org/licenses/LICENSE-2.0 .
 -->
	
<helpdocument version="1.0">
<meta>
<topic id="textshared05err_htmlxml" indexer="exclude" status="PUBLISH">
<title id="tit" xml-lang="pt-BR">Página da Ajuda não encontrada</title>
<filename>/text/shared/05/err_html.xhp</filename>
</topic>
<history>
<created date="2003-10-31T00:00:00">Sun Microsystems, Inc.</created>
</history>
</meta>
<body>
<paragraph role="heading" id="hd_id3146957" xml-lang="pt-BR" level="1" l10n="U" oldref="1">Não foi possível localizar a página da Ajuda.</paragraph>
<paragraph role="paragraph" id="par_id3147088" xml-lang="pt-BR" l10n="U" oldref="2">Não foi possível encontrar a página da Ajuda que você selecionou. Os seguintes dados podem ser úteis para encontrar o erro:</paragraph>
<paragraph role="paragraph" id="par_id3143268" xml-lang="pt-BR" l10n="U" oldref="3">ID da Ajuda: <emph><help-id-missing/></emph></paragraph>
<paragraph role="paragraph" id="par_idN10681" xml-lang="pt-BR" l10n="NEW">Você pode instalar módulos da Ajuda não encontrados utilizando o aplicativo de instalação.</paragraph>
<paragraph role="paragraph" id="par_id3150541" xml-lang="pt-BR" l10n="U" oldref="16">Para retornar à página anterior, clique em <image id="img_id3148946" src="res/sc06301.png" width="0.222inch" height="0.222inch"><alt id="alt_id3148946">Ícone</alt></image><emph>Voltar</emph>.</paragraph>
</body>
</helpdocument>
