<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documentation" xml:lang="es">
  <info>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
   <link type="guide" xref="index#get-involved"/>
    <credit type="editor copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2009</mal:years>
    </mal:credit>
  </info>

<title>Ayudar a escribir documentación</title>

<p>La documentación de los <app>juegos de GNOME</app> la mantiene la comunidad de manera voluntaria. Si quiere participar, es bienvenido.</p>

<p>Para contribuir con el Proyecto de documentación, póngase en contacto mediante <link href="https://cbe003.chat.mibbit.com/?url=irc%3A%2F%2Firc.gnome.org%2Fdocs">irc</link>, o mediante la <link href="http://mail.gnome.org/mailman/listinfo/gnome-doc-list">lista de correo</link>.</p>
<p>El <link href="https://live.gnome.org/DocumentationProject/Contributing">wiki</link> contiene información útil.</p>


</page>
