<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="translate" xml:lang="es">

  <info>
    <link type="guide" xref="index#get-involved"/>

    <revision pkgversion="3.5.4" version="0.2" date="2012-07-26" status="final"/>
    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2009</mal:years>
    </mal:credit>
  </info>

<title>Ayudar a traducir</title>

  <p>La interfaz de usuario de los juegos de GNOME y la documentación las traduce una comunidad de voluntarios de todo el mundo. Si quiere participar, es bienvenido.</p>

  <p>Hay <link href="http://l10n.gnome.org/module/gnome-mahjongg/">muchos idiomas</link> para los que se siguen necesitando traducciones.</p>

  <p>Para empezar a traducir necesitará <link href="http:l10n.gnome.org">crear una cuenta</link> y unirse al <link href="http://l10n.gnome.org/teams/">equipo de traducción</link> de su idioma. Esto le dará la posibilidad de subir traducciones nuevas.</p>

  <p>Puede chatear con los traductores de GNOME usando irc, entrando al canal #i18n del servidor irc.gnome.org. La gente de los canales se encuentra en cualquier parte del mundo, por lo que puede que no obtenga una respuesta inmediata debido a las diferencias horarias.</p>

  <p>Alternativamente, puede contactar con el equipo de internacionalización usando su <link href="http://mail.gnome.org/mailman/listinfo/gnome-i18n">lista de correo</link>.</p>

</page>
