<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="calendar-meetings-replying-to-invitation" xml:lang="es">

  <info>
    <desc>Aceptar y responder a una solicitud de reunión.</desc>
    
    <link type="guide" xref="calendar-meetings"/>

    <revision pkgversion="3.1.5" version="0.6" date="2011-08-25" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
 <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-calendar-apts.html.en#replying-to-rsvp -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
      

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>Responder a una solicitud de reunión</title>
<p>Las solicitudes de reuniones se envían como adjuntos y se muestran como el cuerpo de un correo electrónico. Se muestran todos los detalles acerca del acontecimiento, incluyendo fechas y horas.</p>
<p>Puede elegir cómo responder a una invitación y añadir un comentario personal a su respuesta. Las opciones disponibles son <gui>Rechazar</gui>, aceptar provisionalmente (<gui>Provisional</gui>) o <gui>Aceptar</gui>. También puede decidir si quiere que la hora de la reunión se siga mostrando como libre en su calendario.</p>

<p>Si la solicitud de reunión ya incluye un <link xref="calendar-alarms-and-reminders">recordatorio</link> puede importar el recordatorio a su calendario activando <gui>Heredar recordatorio</gui>.</p>

<p>Si pulsa <gui>Aceptar</gui> el acontecimiento se añadirá automáticamente al calendario que haya elegido.</p>
<p>Después de que haya añadido la reunión a su calendario puede hacer cambios en la reunión, pero si el organizador original envía otra actualización, sus cambios se sobreescribirán.</p>

<note style="tip"><p>Bajo <guiseq><gui>Editar</gui><gui>Preferencias</gui><gui>Calendario y tareas</gui><gui>Invitaciones a reuniones</gui><gui>Búsqueda de conflictos</gui></guiseq> puede definir qué calendarios se usan para avisarle de sus conflictos en reuniones.</p></note> <!-- This is the location since 3.1.5, see bug https://bugzilla.gnome.org/show_bug.cgi?id=655494 -->
</page>
