<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="calendar-webdav" xml:lang="es">

  <info>
    <link type="guide" xref="calendar-using-several-calendars"/>

    <revision pkgversion="3.1.5" version="0.3" date="2011-07-28" status="final"/>

    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Usar un calendario en línea Webcal-WebDAV.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

  <title>Usar un calendario WebDAV</title>

  <p>Calendarios de este tipo son de solo lectura.</p>

  <p>Para añadir tal calendario a <app>Evolution</app>, realice los siguientes pasos:</p>

  <steps>
    <item>
      <p>Pulse <guiseq><gui>Archivo</gui><gui>Nuevo</gui><gui>Calendario</gui></guiseq>.</p>
    </item>
    <item>
      <p>Seleccione el tipo <gui>En la red</gui>.</p>
    </item>
    <item>
      <p>Introduzca el nombre que quiera.</p>
    </item>
    <item>
      <p>Opcionalmente, elija un color.</p>
    </item>
    <item>
      <p>Elija si quiere poder ver el contenido incluso cuando está desconectado.</p>
    </item>
    <item>
      <p>Escriba la dirección en el campo <gui>URL</gui>.</p>
    </item>
    <item>
      <p>Elija <gui>Usar conexión segura</gui> si quiere conectar de forma segura.</p>
    </item>
    <item>
      <p>Introduzca su nombre de usuario.</p>
    </item>
    <item>
      <p>Pulse <gui style="button">Aplicar</gui>.</p>
    </item>
  </steps>

  <p>Se añadirá el calendario a la lista de calendarios de <app>Evolution</app>.</p>

</page>
