<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="calendar-publishing" xml:lang="es">

  <info>
    <link type="guide" xref="calendar-sharing-information"/>

    <revision pkgversion="3.1.5" version="0.4" date="2011-08-24" status="final"/>

    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name>
      <!-- Content partially from Reuse
	   http://library.gnome.org/users/evolution/2.32/config-prefs-cal.html.en#bxjng8p
	   and
	   http://library.gnome.org/users/evolution/2.32/usage-calendar-apts.html.en#publishing-freebusy
	   -->
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Publicar el contenido de sus calendarios en línea.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

  <title>Publicar el calendario</title>

  <p>Para poder hacer público uno de sus calendarios debe definir qué calendarios subir a un servidor web bajo: <guiseq><gui>Editar</gui><gui>Preferencias</gui><gui>Calendario y tareas</gui><gui>Información de publicación</gui><gui>Lugares</gui><gui style="button">Añadir</gui></guiseq>.</p>

  <!-- This is the location since 3.1.5, see bug
     https://bugzilla.gnome.org/show_bug.cgi?id=655666 -->

  <p>Puede especificar la ubicación de la publicación, la frecuencia de publicación, qué calendario o calendarios publicará y cómo qué persona autenticarse.</p>

  <p>Puede publicar la información de Disponibilidad y el Calendario a un WebDAV, servidor FTP o a una máquina remota a traes de SSH u otro servidor web con soporte HTTP PUT.</p>

  <p>Para publicar inmediatamente la información del calendario, pulse <guiseq><gui>Acciones</gui><gui>Publicar información del calendario</gui></guiseq> en el calendario.</p>

</page>
