<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="calendar-usage-add-appointment" xml:lang="es">

  <info>
    <link type="guide" xref="calendar-usage"/>

    <revision pkgversion="3.0.2" version="0.2" date="2011-08-01" status="final"/>

    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Añadir una cita.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

  <title>Añadir una cita</title>

  <steps>
    <item>
      <p>Pulse <guiseq><gui>Archivo</gui><gui>Nuevo</gui><gui>Cita</gui></guiseq> o pulse dos veces en un espacio vacío en el calendario para abrir el cuadro de diálogo Cita. Se creará la cita para esa hora en particular en la vista del calendario sobre la que haya pulsado dos veces. También puede escribir directamente en el calendario y después ajustar la duración arrastrando con el ratón.</p>
    </item>
    <item>
      <p>Si usa el diálogo de Cita:</p>
    </item>
    <item>
      <p>Seleccione un calendario en la lista desplegable <gui>Calendario</gui>.</p>
    </item>
    <item>
      <p>Escriba un breve resumen en el campo <gui>Resumen</gui>.</p>
    </item>
    <item>
      <p>(Opcional) Escriba una ubicación en el campo <gui>Lugar</gui>.</p>
    </item>
    <item>
      <p>Para seleccionar esta cita como un Acontecimiento para todo el día, pulse <guiseq><gui>Opciones</gui><gui>Acontecimiento para todo el día</gui></guiseq> o pulse el botón <gui>Acontecimiento para todo el día</gui> en la barra de herramientas.</p>
    </item>
    <item>
      <p>Seleccione la fecha y la hora.</p>
    </item>
    <item>
      <p>Si el evento no dura todo el día, seleccione <gui>Durante</gui> para especificar la duración o <gui>Hasta</gui> para especificar la finalización del evento.</p>
    </item>
    <item>
      <p>(Opcional) Escriba una descripción en el campo <gui>Descripción</gui>.</p>
    </item>
    <item>
      <p>Para mostrar la hora como <link xref="calendar-free-busy">ocupalda</link> a los demás, pulse <guiseq><gui>Opciones</gui><gui>Mostrar hora como ocupada</gui></guiseq>.</p>
    </item>
  </steps>

  <p>También puede definir una <link xref="calendar-timezones">zona horaria</link>, una <link xref="using-categories">categoría</link>, un <link xref="calendar-alarms-and-reminders">recordatorio</link>, una <link xref="calendar-recurrence">repetición</link> o una <link xref="calendar-classifications">clasificación</link> para el acontecimiento o añadir un adjunto.</p>

</page>
