<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="contacts-autocompletion" xml:lang="es">

  <info>
    <link type="guide" xref="index#contacts"/>
    <link type="guide" xref="index#mail-composing"/>
    <link type="seealso" xref="mail-composer-forward"/>
    <link type="seealso" xref="mail-composer-reply"/>
    <link type="seealso" xref="mail-composer-write-new-message"/>

    <revision pkgversion="2.32.1" version="0.1" date="2011-01-05" status="draft"/>

    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name>
      <!-- Content partially from
	   http://library.gnome.org/users/evolution/2.32/usage-mail-getnsend-send.html.en#usage-mail-getnsend-send-to
	   -->
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Autocompletado de nombres y direcciones de correo introducidas en el editor de correo.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

  <title>Autocompletado de destinatarios de correo</title>

  <p>Puede introducir las primeras tres letras de nombres y direcciones de correos electrónicos en el campo de destinatarios del correo y <app>Evolution</app> le presentará una lista con las coincidencias de sus libretas de direcciones.</p>

  <p>Para activar el autocompletado vaya a <guiseq><gui>Editar</gui><gui>Preferencias</gui><gui>Contactos</gui><gui>Autocompletado</gui></guiseq> y elija las libretas de direcciones de la lista desde las que <app>Evolution</app> debería buscar coincidencias.</p>

  <p>Seleccione la casilla de verificación <gui>Siempre mostrar la dirección del contacto autocompletado</gui> para mostrar la dirección del correo-e junto con el nombre de usuario. Esto puede ser útil para distinguir si un contacto tiene varias direcciones de correo-e.</p>

  <p>Alternativamente, puede pulsar los botones <gui>Para:</gui>, <gui>Cc:</gui>, <gui>Cco:</gui>, para obtener una lista de las direcciones de correo-e en su lista de contactos. Seleccione las direcciones y pulse las flechas para moverlas entre las columnas de direcciones apropiadas.</p>

</page>
