<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="contacts-usage-edit-contact" xml:lang="es">

  <info>
    <link type="guide" xref="contacts-usage"/>

    <revision pkgversion="3.0.2" version="0.1" date="2011-08-01" status="final"/>

    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Editar un contacto en su libreta de direcciones.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

  <title>Editar un contacto</title>

  <p>Si quiere editar un contacto que ya existe en su libreta de direcciones,</p>

  <steps>
    <item>
      <p>Pulse dos veces sobre el contacto que quiere editar en la lista de contactos, o seleccione el contacto y pulse <key>Intro</key>.</p>
    </item>
    <item>
      <p>Edite la información del contacto.</p>
    </item>
    <item>
      <p>Pulse <gui style="button">Aceptar</gui>.</p>
    </item>
  </steps>

</page>
