<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:e="http://projectmallard.org/experimental/" xmlns:if="http://projectmallard.org/experimental/if/" xmlns:ui="http://projectmallard.org/ui/1.0/" type="topic" id="intro-first-run" xml:lang="es">

  <info>
    <desc>Inicio de Evolution por primera vez.</desc>

    <link type="guide" xref="index#getting-started"/>

    <revision pkgversion="3.8.2" version="0.7" date="2013-06-22" status="stub"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

  <title>Iniciar <app>Evolution</app> por primera vez</title>

<p>La primera vez que ejecuta Evolution se abre el Asistente de primera ejecución que le ayuda a configurar sus cuentas de correo electrónico e <link xref="import-data">importar datos de otras aplicaciones</link>.</p>

<include xmlns="http://www.w3.org/2001/XInclude" href="xinclude-mail-account-identity.xml" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:info/mal:section)"/>

<section id="restore">
<title>Restaurar desde un respaldo</title>
<p>Se le preguntará si quiere restaurar desde un respaldo de una versión anterior. Si tiene tal respaldo, vaya a la siguiente página.</p>

 <section id="restore-howto" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Mostrar cómo restaurar desde un respaldo</title>
  </info>
  <title>Restaurar</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="backup-restore.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section[@id='restore']/mal:list)"/>
 </section>
</section>

<section id="receiving">
<title>Recepción de correo</title>
<p>Primero, elija el tipo de servidor en la lista desplegable <gui>Tipo de servidor</gui>.</p>
<p>Si no está seguro del tipo de servidor que elegir, pregúntele a su administrador de sistemas o a su proveedor de servicios de Internet.</p>

<note style="tip"><p>Más tarde, si quiere cambiar esta cuenta, o si quiere crear una nueva, pulse <guiseq><gui>Editar</gui><gui>Preferencias</gui><gui>Cuentas de correo</gui></guiseq>. Seleccione la cuenta que quiera cambiar y pulse <gui style="button">Editar</gui>. Alternativamente, añada una cuenta nueva pulsando <gui style="button">Añadir</gui>.</p></note>

<section id="server-type-imap-plus">
<title>IMAP+</title>
<p>Conserva su correo-e en el servidor para que pueda acceder a él de diversas formas.</p>

 <section id="configure-sending-imap-plus" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Mostrar cómo configurar este tipo de cuenta</title>
  </info>
  <title>Opciones de recepción IMAP+</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-imap-plus.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-pop">
<title>POP</title>
<p>Descarga su correo-e a su disco duro</p>

 <section id="configure-sending-pop" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Mostrar cómo configurar este tipo de cuenta</title>
  </info>
  <title>Opciones de recepción POP</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-pop.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-usenet">
<title>Noticias USENET</title>
<p>Conecta con un servidor de noticias y descarga una lista de los compendios de noticias disponibles.</p>

 <section id="configure-sending-usenet" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Mostrar cómo configurar este tipo de cuenta</title>
  </info>
  <title>Opciones de recepción de noticias de Usenet</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-usenet-news.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-exchange-ews">
<title>Exchange EWS</title>
<p>Para conectarse a un servidor de Microsoft Exchange 2007/2010 u OpenChange server. Tenga en cuenta que esto está en desarrollo y que reemplazará al tipo de cuenta <gui>Exchange MAPI</gui> en el futuro. Es posible que todavía no esté disponible para su distribución.</p>
<note style="info package">
  <p>Esto requiere tener instalado el paquete <sys>evolution-ews</sys>.</p>
  <if:choose xmlns:if="http://projectmallard.org/if/1.0/">
    <if:when test="action:install">
      <p><link action="install:evolution-ews" href="https://wiki.gnome.org/Apps/Evolution#Get_the_Source_Code" style="button">Instalar evolution-ews</link></p>
    </if:when>
  </if:choose>
</note>

 <section id="configure-sending-exchange-ews" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Mostrar cómo configurar este tipo de cuenta</title>
  </info>
  <title>Opciones de recepción Exchange Web Services</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-exchange-ews.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-exchange-mapi">
<title>Exchange MAPI</title>
<p>Para conectar con servidores Microsoft Exchange 2007/2010 u OpenChange.</p>
<note style="info package">
  <p>Esto requiere tener instalado el paquete <sys>evolution-mapi</sys>.</p>
  <if:choose xmlns:if="http://projectmallard.org/if/1.0/">
    <if:when test="action:install">
      <p><link action="install:evolution-mapi" href="https://wiki.gnome.org/Apps/Evolution#Get_the_Source_Code" style="button">Instalar evolution-mapi</link></p>
    </if:when>
  </if:choose>
</note>

 <section id="configure-sending-exchange-mapi" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Mostrar cómo configurar este tipo de cuenta</title>
  </info>
  <title>Opciones de recepción Exchange MAPI</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-exchange-mapi.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-local-delivery">
<title>Envío local</title>
<p>Elija esta opciones si quiere mover el correo desde el buzón local a su carpeta personal. Necesita proporcionar la ruta al buzón de correo que quiere usar, Si quiere dejar el correo en los archivos de spools del sistema, elija la opción «Mbox estándar de Unix».</p>

 <section id="configure-sending-local-delivery" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Mostrar cómo configurar este tipo de cuenta</title>
  </info>
  <title>Opciones de recepción para envío local</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-local-delivery.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-mh-format-directories">
<title>Directorios de correo en formato MH</title>
<p>Para descargar correo electrónico usando MH u otro programa de estilo MH.</p>

 <section id="configure-sending-mh-format-directories" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Mostrar cómo configurar este tipo de cuenta</title>
  </info>
  <title>Opciones de recepción para directorios de correo en formato MH</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-mh-format-directories.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-maildir-format-directories">
<title>Directorios de correo en formato Maildir</title>
<p>Directorios de correo en formato Maildir: para descargar correo electrónico usando Qmail u otro programa de estilo Maildir.</p>

 <section id="configure-sending-maildir-format-directories" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Mostrar cómo configurar este tipo de cuenta</title>
  </info>
  <title>Opciones de recepción para directorios de correo en formato Maildir</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-maildir-format-directories.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-unix-mbox-spool-file">
<title>Archivo spool mbox estándar de Unix</title>
<p>Archivo spool mbox estándar de Unix: para leer y almacenar correo en el archivo de correo spool de su sistema local.</p>

 <section id="configure-sending-unix-mbox-spool-file" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Mostrar cómo configurar este tipo de cuenta</title>
  </info>
  <title>Opciones de recepción para el archivo spool mbox estándar de Unix</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-unix-mbox-spool-file.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-unix-mbox-spool-directory">
<title>Directorios de correo mbox en formato estándar de Unix</title>
<p>Directorios de correo mbox en formato estándar de Unix: para leer y almacenar correo electrónico en la carpeta de correo spool en su sistema local.</p>

 <section id="configure-sending-unix-mbox-spool-directory" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Mostrar cómo configurar este tipo de cuenta</title>
  </info>
  <title>Opciones de recepción para directorios de correo mbox en formato estándar de Unix</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-receiving-options-unix-mbox-spool-directory.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:section)"/>
 </section>

</section>

<section id="server-type-none">
<title>Ninguno</title>
<p>Si no tiene intención de usar Evolution para recibir correo.</p>
</section>

</section>

<section id="sending"> <!-- Do not rename, we link to it from the subpages -->
<title>Envío de correo</title>
<p>Los tipos de servidor disponibles son:</p>

<section id="server-type-smtp">
<title>SMTP</title>
<p>Envía correo usando un servidor de correo saliente. Esta es la opción más común para enviar correo.</p>

 <section id="configure-sending-smtp" ui:expanded="false">
  <info>
    <title type="ui:collapsed">Mostrar cómo configurar este tipo de cuenta</title>
  </info>
  <title>Opciones de envío SMTP</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="mail-sending-options-smtp.page" xpointer="xmlns(mal=http://projectmallard.org/1.0/)xpointer(/mal:page/mal:list)"/>
 </section>

</section>

<section id="server-type-sendmail">
<title>Sendmail</title>
<p>Utiliza el programa <app>Sendmail</app> para enviar el correo desde su sistema. No es fácil de configurar por lo que sólo debería elegir esta opción si sabe cómo poner en marcha un servicio Sendmail.</p>
</section>

</section>

<section id="account-information">
<title>Información de la cuenta</title>
<p>Dé a la cuenta el nombre que prefiera.</p>
</section>

<section id="account-import">
<title>Importar correo (opcional)</title>
<p>Continúe con <link xref="import-data">Importa datos de otros programas</link>.</p>
</section>

</page>
