<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-encryption-gpg-set-up" xml:lang="es">

  <info>
    <desc>Configurar GPG para su cuenta de correo para poder firmar, cifrar y descifrar correos.</desc>

    <link type="guide" xref="mail-encryption#gpg"/>

    <revision pkgversion="3.13.90" version="0.4" date="2015-03-09" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/encryption.html.en#encrypt-evo-integ -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

  <title>Configurar el cifrado GPG para su cuenta de correo</title>
<!-- TODO:POST-3-8: Update and rewrite using Seahorse. Needs a rewrite once https://bugzilla.gnome.org/show_bug.cgi?id=745872 and https://bugzilla.gnome.org/show_bug.cgi?id=508744 is fixed. -->

<note style="tip"><p>Necesita una clave GPG para esto. Si aún no tiene una, consulte <link xref="mail-encryption-gpg-create-key">Crear una clave GPG</link>.</p></note>

<steps>
<item><p>Seleccione <guiseq><gui>Editar</gui><gui>Preferencias</gui><gui>Cuentas de correo</gui></guiseq>.</p></item>
<item><p>Seleccione la cuenta que quiere usar de forma segura, después pulse <gui style="button">Editar</gui>.</p></item>
<item><p>Pulse en la pestaña <gui>Seguridad</gui>.</p></item>
<item><p>Especifique el ID de su clave en el campo <gui>ID de la clave OpenPGP</gui>.</p>
<note style="tip"><p>Debajo del campo puede seleccionar si quiere firmar siempre los correos salientes al usar esta cuenta y otras opciones.</p></note>
</item>
<item><p>Pulse <gui style="button">Aceptar</gui>.</p></item>
<item><p>Pulse <gui style="button">Cerrar</gui>.</p></item>
</steps>
<p>Evolution necesita que conozca el ID de su clave. Si no lo recuerda, inicie <app>Contraseñas y claves</app>, vaya a <gui>Claves GnuPG</gui>, elija su clave GPG preferida, pulse sobre ella con el botón derecho, seleccione <gui>Propiedades</gui> y copie el <gui>ID de la clave</gui>. El ID de su clave es una cadea de ocho caracteres con números y letras aleatorias.</p>

</page>
