<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="mail-attachments-received" xml:lang="es">

  <info>
    <desc>Guardar y abrir archivos adjuntos a correos recibidos.</desc>

    <link type="guide" xref="mail-displaying-message"/>
    <link type="guide" xref="mail-attachments"/>

    <revision pkgversion="3.5.3" version="0.3" date="2012-06-09" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from Reuse http://library.gnome.org/users/evolution/2.32/usage-mail-getnsend-read.html.en#usage-mail-getnsend-get-attach-actions -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>Gestionar adjuntos en correos recibidos</title>

<p>Evolution muestra el número de adjuntos si recibe un mensaje de correo con uno o más adjuntos así como un botón <gui style="button">Guardar</gui> o <gui style="button">Guardar todo</gui> entre la cabecera del correo y el contenido del mismo.</p>
<note style="tip"><p>Evolution no soporta guardar todos los adjuntos de todos los mensajes en una carpeta a la vez.</p></note>

<p>También existe una lista de adjuntos disponible en la parte inferior del correo.</p>
<p>Para guardar un adjunto al disco, pulse sobre la flecha hacia abajo junto al icono de adjunto y seleccione <gui>Guardar como</gui>.</p>
<p>Para abrir un adjunto en otra aplicación, pulse la flecha hacia abajo junto al icono del adjunto y elija una de las aplicaciones disponibles.</p>

<p>Las opciones disponibles para los adjuntos varían dependiendo del tipo de adjunto y de las aplicaciones instaladas en su sistema. Por ejemplo, los archivos de imágenes se pueden abrir con el <gui>Visor de imágenes</gui> o en el editor de gráficos <gui>GIMP</gui>.</p>

</page>
