<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-search-folders-enable" xml:lang="es">

  <info>
    <desc>Activar carpetas de búsqueda.</desc>
    
    <link type="guide" xref="mail-search-folders"/>

    <revision pkgversion="3.5.90" version="0.4" date="2012-08-17" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>Activar la funcionalidad «Carpetas de búsqueda»</title>

<p>En el poco probable caso de que no se muestre un nodo <gui>Carpetas de búsqueda</gui> de nivel superior en la parte inferior de la <link xref="intro-main-window#e-mail">lista de carpetas de correo</link> debe activarlo en <guiseq><gui>Editar</gui><gui>Preferencias</gui><gui>Cuentas de correo-e</gui><gui>Carpetas de búsqueda</gui></guiseq>.</p>

<!-- This is new since 3.5.3, tested in 3.5.90: http://git.gnome.org/browse/evolution/commit/?id=b4fbbde6ab7deb247f1db19558489a868c75467d
-->

</page>
