<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-composer-several-recipients" xml:lang="es">

  <info>
    <desc>Enviar a más de una persona y usar Cc o Cco.</desc>
    
    <link type="guide" xref="index#mail-composing"/>
    <link type="seealso" xref="mail-composer-reply"/>
    <link type="seealso" xref="mail-composer-forward"/>
    <link type="seealso" xref="mail-composer-write-new-message"/>

    <revision pkgversion="3.1.5" version="0.3" date="2011-07-27" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mail-getnsend-send.html.en#usage-mail-getnsend-send-to-types and http://library.gnome.org/users/evolution/2.32/usage-mail-getnsend-send.html.en#usage-mail-getnsend-send-to -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>Enviar un correo a varios destinatarios</title>

<p>Para enviar un correo electrónico a más de una persona, introduzca las direcciones en el editor separándolas por comas o puntos y comas.</p>

<note style="tip"><p>Si escribe con frecuencia a los mismos grupos de personas, puede crear <link xref="contacts-using-contact-lists">listas de contactos</link> para enviarles correos como si tuvieran una única dirección de correo.</p></note>

<section id="to-cc-bcc-meaning">
<title>Tipos de destinatarios</title>
<p>Los mensajes de correo pueden tener tres tipos diferentes de destinatarios. El más sencillo es poner la dirección de correo en el campo de texto <gui>Para:</gui>. El campo de texto <gui>CC:</gui> se usa para destinatarios a los que quiere que le llegue una copia pero no son los destinatarios principales.</p>

<p>Las direcciones en la lista <gui>Cco:</gui> están ocultas a los otros destinatarios del mensaje. Puede usarlo para enviar correos a grandes grupos de personas especialmente si no se conocen entre sí o si es importante mantener la privacidad. Si el campo <gui>Cco:</gui> no está a la vista pulse <guiseq><gui>Ver</gui><gui>Campo Cco</gui></guiseq>.</p>
</section>

<section id="autocompletion">
<title>Autocompletado</title>
<p>Se recomienda usar la característica <link xref="contacts-autocompletion">Autocompletado</link> de la libreta de direcciones de Evolution para escribir direcciones. Al usar esto se evitan errores y se ahorra tiempo.</p>
</section>

<section id="to-cc-bcc-buttons">
<title>Usar los botones</title>

<p>En vez de escribir los nombres de los destinatarios, puede pulsar los botones <gui style="button">Para:</gui>, <gui style="button">Cc:</gui>, o <gui style="button">CCo:</gui> para obtener una lista de las direcciones de corre-e en sus libretas de direcciones. Seleccione las direcciones y pulse los botones de flechas para moverlas a las columnas de direcciones adecuadas (Para:, Cc:, CCo:).</p>
</section>

</page>
