<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-access-gmail-pop-account" xml:lang="es">

  <info>
    <desc>Cómo configurar una cuenta POP de GMail.</desc>
    
    <link type="guide" xref="index#common-mail-problems"/>
    <link type="guide" xref="google-services"/>
    <link type="seealso" xref="mail-account-manage-pop"/>

    <revision pkgversion="3.11.92" version="0.2" date="2014-03-23" status="review"/>
    <credit type="author">
      <name its:translate="no">April Gonzales</name>
      <email its:translate="no">loonycookie@gmail.com</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>



<title>Acceder a una cuenta POP de GMail a través de Evolution</title>

<p>Siga estos pasos para configurar su cuenta de correo POP de Gmail en Evolution:</p>

<steps>
<item><p>Inicie sesión en su cuenta de GMail.</p></item>
<item><p>Vaya a <guiseq><gui>Configuración</gui><gui>Reenvío y correo POP/IMAP</gui></guiseq>. Consulte la sección Descarga de correo POP.</p></item>
<item><p>Active la caracerística de descarga de correo POP seleccionando uno de los botones de radio que corresponde con una de estas opciones:</p>
    <list>
    <item><p>Habilitar POP para todos los mensajes (incluso si ya se han descargado)</p></item>
    <item><p>Habilitar POP para los mensajes que se reciban a partir de ahora</p></item>
    </list>
</item>
<item><p>Especifique los otros ajustes requeridos por esta característica de GMail.</p></item>
<item><p>Para saber la configuración de la cuenta de Gmail pulse en <gui>Instrucciones de configuración</gui>. Elija <gui>Quiero activar POP</gui> y seleccione <gui>Otros</gui>.</p></item>
<item><p>En su cliente de Evolution, vaya a <guiseq><gui>Editar</gui><gui>Preferencias</gui><gui>Cuentas de correo</gui></guiseq>. Pulse <gui style="button">Añadir</gui>.</p></item>
<item><p>Proporcione la información requerida. Para la configuración de la cuenta, vaya al paso 5.</p></item>
</steps>
</page>
