<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-receiving-options-unix-mbox-spool-file" xml:lang="es">

  <info>
    <desc>Opciones de recepción para el archivo spool mbox estándar de Unix.</desc>

    <link type="guide" xref="mail-receiving-options#local-account-server-types"/>
    <link type="guide" xref="mail-account-manage-unix-mbox-spool-file#receiving-email"/>
    <revision pkgversion="3.12.9" version="0.4" date="2015-02-15" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

  <title>Opciones de recepción para el archivo spool mbox estándar de Unix</title>

<section id="receiving-email-unix-mbox-spool-file">
<title>Recepción de correo</title>

<p>En la página <gui>Recepción de correo</gui> (accesible a través de <guiseq><gui>Editar</gui><gui>Preferencias</gui><gui>Cuentas de correo</gui><gui style="button">Editar</gui><gui>Recepción de correo</gui></guiseq>):</p>

<list>
<item><p>Elija el campo pulsando en el botón junto a <gui>Ruta</gui> en la sección <gui>Configuración</gui>. Esto abrirá una ventana del selector de archivos.</p></item>
</list>

</section>

<section id="receiving-options-unix-mbox-spool-file">
<title>Opciones de recepción</title>

<p>En la página <gui>Recepción de correo</gui> (accesible a través de <guiseq><gui>Editar</gui><gui>Preferencias</gui><gui>Cuentas de correo</gui><gui style="button">Editar</gui><gui>Recepción de correo</gui></guiseq>):</p>

<list>
<item><p>Si quiere que Evolution compruebe automáticamente si hay correo nuevo, seleccione la opción <gui>Comprobar si hay mensajes nuevos cada … minutos</gui> y seleccione la frecuencia en minutos.</p></item>
<item><p>Si quiere que los <link xref="mail-filters">Filtros</link> se usen automáticamente para los correos nuevos en su Bandeja de entrada, active <gui>Aplicar filtros a los mensajes nuevos en la bandeja de entrada</gui>.</p></item>
</list>

</section>

</page>
