<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="mail-composer-custom-header-lines" xml:lang="es">

  <info>
    <desc>Usar campos personalizados en la cabecera de mensajes editados.</desc>

    <link type="guide" xref="index#mail-composing-advanced"/>

    <revision pkgversion="3.0.2" version="0.2" date="2011-07-30" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- http://library.gnome.org/users/evolution/2.32/usage-mail-getnsend-send.html.en#b1a5azam -->
 </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>Cabeceras personalizadas</title>

<p>Puede añadir líneas de cabeceras arbitrarias en los correos salientes.</p>

<section id="managing">
<title>Activar y gestionar cabeceras personalizadas</title>
<p>Para configurar el complemento Cabecera personalizada:</p>
<steps>
<item><p>Seleccione <guiseq><gui>Editar</gui><gui>Complementos</gui></guiseq>.</p></item>
<item><p>Actíve <gui>Cabecera personalizada</gui>.</p></item>
<item><p>Pulse la pestaña <gui>Configuración</gui>.</p></item>
<item><p>Puede añadir, editar o quitar los campos de cabeceras. Para cada campo de cabecera que añada puede especificar las claves y los valores. La clave se usa como el título de la cabecera personalizada. Puede introducir múltiples valores para las claves. Debe usar un punto y coma para separar cada valor que introduzca.</p></item>
</steps>
</section>

<section id="inserting">
<title>Insertar cabeceras personalizadas en un correo</title>
<steps>
<item><p>Pulse <guiseq><gui>Nuevo</gui><gui>Mensaje de correo</gui></guiseq> o pulse <keyseq><key>Mayús</key><key>Ctrl</key><key>M</key></keyseq> para abrir la ventana del editor de correos.</p></item>
<item><p>Seleccione <guiseq><gui>Insertar</gui><gui>Cabeceras personalizadas</gui></guiseq>.</p>
<p>En la ventana <gui>Cabeceras personalizadas del correo-e</gui> puede ver todos campos de cabeceras y valores que puede añadir.</p></item>
<item><p>Establezca los valores para los campos de cabecera usando la lista desplegable.</p></item>
<item><p>Pulse <gui style="button">Aceptar</gui>.</p></item>
</steps>
</section>

</page>
