<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-filters-actions" xml:lang="es">

  <info>
    <desc>Acciones disponibles para configurar un filtro.</desc>

    <link type="seealso" xref="mail-filters"/>

    <revision pkgversion="3.0.2" version="0.2" date="2011-08-25" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mail-organize-filters.html.en#usage-mail-org-filters-new -->
 </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        
    
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

  <title>Acciones disponibles para filtros</title>

<list>
<item><p>Mover a la carpeta:</p>
<p>Mueve el mensaje dentro de la carpeta que especifique.</p></item>

<item><p>Copar a la carpeta:</p>
<p>Pone una copia del mensaje en la carpeta que especifique.</p></item>

<item><p>Eliminar:</p>
<p>Marca el mensaje para eliminarlo. Sigue siendo posible recuperar el mensaje de nuevo, al menos hasta que seleccione Purgar el correo.</p></item>

<item><p>Parar de procesar:</p>
<p>Seleccione esto si quiere que el resto de filtros pasen por alto este mensaje. Note que sólo los filtros listados después de esta regla en particular, se ignorarán.</p></item>

<item><p>Establecer etiqueta:</p>
<p>Añade una etiqueta al correo.</p></item>

<item><p>Asignar color:</p>
<p>Marca el mensaje con un color de su elección.</p></item>

<item><p>Asignar puntuación:</p>
<p>Asigna al mensaje una puntuación numérica.</p></item>

<item><p>Ajustar puntuación:</p>
<p>Cambia la puntuación numérica por la cantidad que establezca.</p></item>

<item><p>Poner estado:</p>
<p>Establece el estado del mensaje. El estado puede ser Respondió a, Borrador, Importante, Leído, o SPAM.</p></item>

<item><p>Quitar estado:</p>
<p>Si el mensaje tiene un estado, lo elimina. Si no tiene establecido un estado, no hace nada.</p></item>

<item><p>Pitar:</p>
<p>Hace que el sistema pite.</p></item>

<item><p>Reproducir un sonido:</p>
<p>Seleccione un archivo de sonido para que Evolution lo reproduzca.</p></item>

<item><p>Ejecutar programa:</p>
<p>Evolution ejecutar una aplicación.</p></item>

<item><p>Encauzar al programa:</p>
<p>Envía el mensaje al programa que elija. No se espera que devuelva ningún valor. Esta característica se puede usar para crear entradas automáticas en una web desde mensajes de correo o para realizar procesados posteriores adicionales que no estén soportados por Evolution.</p></item>

<item><p>Reenviar a:</p>
<p>Reenvía el correo a otra dirección de correo-e.</p></item>

</list>
</page>
