<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-recognized-thread-related-headers" xml:lang="es">

  <info>
    <desc>Qué cabeceras relacionadas con conversaciones reconoce Evolution.</desc>
    
    <link type="guide" xref="index#common-mail-problems"/>

    <revision pkgversion="2.28.3" version="0.1" date="2010-10-16" status="review"/>
    <credit type="author">
      <name its:translate="no">April Gonzales</name>
      <email its:translate="no">loonycookie@gmail.com</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>Cabeceras relacionadas con conversaciones reconocidas por Evolution</title>

<p>Evolution soporta las siguientes cabeceras:</p>
<list>
<item><p>Referencias («References»)</p></item>
<item><p>En respuesta a («In-Reply-To»)</p></item>
</list>


<p>Microsoft es propietaria de las cabeceras <gui>Thread-*</gui> y no están soportadas.</p>
</page>
