<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-composer-html-rule" xml:lang="es">

  <info>
    <desc>Insertar una línea horizontal en el editor de correo.</desc>
    <link type="guide" xref="mail-composer-html#formatting-options-html"/>

    <revision pkgversion="3.5.90" version="0.4" date="2012-08-16" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mail-getnsend-send.html.en#bsait2c -->
 </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>Insertar una regla en HTML</title>

<p>Puede insertar una línea horizontal en el correo (en la posición actual del cursor) para ayudarle a dividir dos secciones:</p>
<steps>
<item><p>Pulse <guiseq><gui>Insertar</gui><gui>Regla…</gui></guiseq> en la barra de menú.</p></item>
<item><p>Seleccione la anchura, tamaño y la alineación.</p></item>
<item><p>Seleccione <gui>Enrollada</gui> si lo desea.</p></item>
<item><p>Pulse <gui>Cerrar</gui>.</p></item>
</steps>

<p>Alternativamente, puede usar el icono <media type="image" its:translate="no" src="./figures/html-composer-insert-rule.png"/> en la segunda barra, debajo de la línea del <gui>Asunto</gui>.</p>

</page>
