<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-composer-plain-text" xml:lang="es">

  <info>
    <desc>Cambiar la alineación de la tipografía y el formato del párrafo en el editor de correo.</desc>
    <link type="guide" xref="mail-composer-html#formatting-options-plain"/>

    <revision pkgversion="3.5.90" version="0.1" date="2012-08-16" status="draft"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mail-getnsend-send.html.en#usage-mail-getnsend-send-html -->
 </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>Formatear en texto plano</title>

     <p>Las herramientas de formateo de texto se encuentran en la barra de herramientas debajo de la línea del <gui>Asunto</gui>, También aparecen en los menús <gui>Insertar</gui> y <gui>Formato</gui>.</p>
     <p>Los iconos de la barra de herramientas se explican con consejos que aparecen cuando mantiene el ratón sobre los botones</p>

<section id="headers-and-lists">
 <title>Cabeceras y listas:</title>
 <p>En la parte izquierda de la barra superior puede elegir el estilo de texto predeterminado, <gui>Normal</gui> <gui>Cabecera 1</gui> hasta <gui>Cabecera 6</gui> para tamaños variables de la cabecera, desde grande (1) hasta pequeño (6). Otros estilos incluyen el <gui>Preformato</gui>, para usar la etiqueta de HTML para bloques de texto preformateados, y tres tipos de topos para las listas.</p>
 <p>Por ejemplo, en lugar de usar asteriscos para marcar una lista de puntos, puede usar el estilo <gui>Lista de topos</gui> desde el menú desplegable de estilos. Evolution distintos estilos para las listas de topos y maneja varios niveles de sangría y de ajuste para las palabras.</p>
</section>

<section id="alignment">
      <title>Alineación:</title>
      <p>Situado junto a la lista desplegable de Cabeceras y Listas, los tres iconos de párrafo deberían ser familiares para los usuarios de procesadores de textos. El que está más a la izquierda alinea el texto a la izquierda, el del centro, lo centra y el de la derecha lo alinea hacia el lado derecho.</p>
</section>

<section id="indentation-rules">
      <title>Reglas de sangrado:</title>
      <p>El botón con la flecha que apunta a la izquierda reducirá la sangría de un párrafo y el de la derecha la aumentará.</p>
</section>

</page>
