<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="memos-usage-add-memo" xml:lang="es">

  <info>
    <desc>Añadir una nota a su lista de notas.</desc>
    
    <link type="guide" xref="memos-usage"/>

    <revision pkgversion="3.0.2" version="0.1" date="2011-08-01" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/b15iirao.html.en -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>Añadir una nota</title>

<steps>
<item><p>Pulse <guiseq><gui>Archivo</gui><gui>Nuevo</gui><gui>Nota</gui></guiseq> o pulse <keyseq><key>Mayús</key><key>Ctrl</key><key>O</key></keyseq>.</p></item>
<item><p>Seleccione una lista de notas en la lista desplegable de <gui>Listas</gui>.</p></item>
<item><p>Introduzca la información de la nota.</p></item>
<item><p>Pulse el botón <gui style="button">Guardar</gui> o <guiseq><gui>Archivo</gui><gui>Guardar</gui></guiseq>.</p></item>
</steps>

<p>Si simplemente quiere añadir rápidamente una nota introduciendo un resumen puede entrar directamente en la lista de notas.</p>

<p>También puede definir una <link xref="using-categories">categoría</link> o una <link xref="calendar-classifications">clasificación</link> para la nota, o añadir un adjunto.</p>

<section id="shared-memos">
<title>Notas compartidas</title>

<p>Las notas compartidas son como mensajes de correo excepto que están planificados para aparecer un día concreto del calendario. Puede usar las notas compartidas para mostrar vacaciones, días festivos, días de pago, cumpleaños y demás. Las notas compartidas se emplazan en su Calendario en la fecha que especifique. No se emplazan en su Buzón de correo o en el buzón de correo de ningún otro usuario.</p>

<p>Para enviar una nota compartida,</p>
<steps>
<item><p>Pulse <guiseq><gui>Archivo</gui><gui>Nuevo</gui><gui>Nota compartida</gui></guiseq>, o pulse <keyseq><key>Mayús</key><key>Ctrl</key><key>H</key></keyseq>.</p></item>
<item><p>Seleccione el nombre de la cuenta del Organizador de la lista desplegable proporcionada junto al campo <gui>Organizador</gui>.</p></item>
<item><p>En el campo <gui>Para</gui> escriba un nombre de usuario, después pulse <key>Intro</key>. Repita la operación para añadir usuarios adicionales.</p></item>
<item><p>Seleccione la lista de tareas (bajo <gui>Lista</gui>) en la que quiere crear la entrada.</p></item>
<item><p>Escriba un breve resumen en el campo <gui>Resumen</gui>.</p></item>
<item><p>En el campo <gui>Fecha de inicio</gui> escriba la fecha en la que esta nota compartida debería aparecer en los calendarios de los destinatarios.</p></item>
<item><p>Pulse el botón <gui style="button">Guardar</gui> o <guiseq><gui>Archivo</gui><gui>Guardar</gui></guiseq>.</p></item>
</steps>
</section>

</page>
