<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="memos-usage-delete-memo" xml:lang="es">

  <info>
    <desc>Elimiinar una nota de su lista de notas.</desc>
    
    <link type="guide" xref="memos-usage"/>

    <revision pkgversion="3.0.2" version="0.1" date="2011-08-01" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>Eliminar una nota</title>

<p>Si quiere eliminar una nota de su lista de notas, pulse con el botón derecho del ratón sobre la nota y seleccione <gui>Eliminar</gui> o pulse sobre la nota y pulse después <gui>Eliminar</gui> en la barra de herramientas o pulse <guiseq><gui>Editar</gui><gui>Eliminar nota</gui></guiseq>.</p>

</page>
