<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tasks-usage-edit-task" xml:lang="es">

  <info>
    <desc>Editar una tarea en su lista de tareas.</desc>
    
    <link type="guide" xref="tasks-usage"/>

    <revision pkgversion="3.0.2" version="0.1" date="2011-08-01" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2005, 2006</mal:years>
    </mal:credit>
  </info>

<title>Editar una tarea</title>

<p>Si quiere modificar una tarjeta que ya existe en su lista de tareas,</p>

<steps>
<item><p>Pulse dos veces en la tarea que quiera editar, en la lista de tareas, o púlsela con el botón derecho y elija <gui>Abrir tarea</gui>.</p></item>
<item><p>Edite la información de la tarea.</p></item>
<item><p>Pulse el botón <gui style="button">Guardar</gui> o <guiseq><gui>Archivo</gui><gui>Guardar</gui></guiseq>.</p></item>
</steps>

</page>
