<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="gameplay" xml:lang="en-GB">

  <info>
    <link type="guide" xref="index#play"/>
    <revision pkgversion="3.5.4" version="0.2" date="2012-07-26" status="final"/>
   <credit type="author">
    <name>Chris Beiser</name>
    <email>ctbeiser@gmail.com</email>
   </credit>
   <credit type="editor">
     <name>Tiffany Antopolski</name>
     <email>tiffany.antopolski@gmail.com</email>
   </credit>
   <credit type="editor">
     <name>Ekaterina Gerasimova</name>
     <email>kittykat3756@gmail.com</email>
   </credit>
   <license>
     <p>Creative Commons Share Alike 3.0</p>
   </license>
  </info>

  <title>Basic gameplay</title>

  <p><app>Mahjongg</app> is played by matching two identical tiles per turn. A tile is
  eligible for matching if no part of another tile is lying directly on it, and
  it has a free long edge on either the left or the right. You win by removing
  all tiles, and you are scored by the amount of time it takes you to do so.
  </p>

  <p>There are many different <link xref="map">tile layouts</link> to choose
  from.</p>

  <p>To match two tiles:</p>

  <steps>
    <item>
      <p>Click on the a tile you want to match. If it is an eligible tile, it
      will be highlighted.</p>
    </item>
    <item>
      <p>Click on a matching tile. If it is a truly a matching tile, both
      tiles will vanish.</p>
    </item>
  </steps>

  <section id="usage-video">
  <title>Video demonstration</title>

  <media its:translate="no" type="video" mime="application/ogg" src="figures/mahjongg-video.ogv"><p its:translate="yes">Video of gameplay</p></media>

  </section>
</page>
