<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="glossary" xml:lang="ru">

  <info>
    <link type="guide" xref="concepts"/>

    <revision pkgversion="3.8" date="2013-02-26" status="stub"/>
    <revision pkgversion="3.9" version="0.1" date="2013-06-13" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Аруна Санкаранараянан (Aruna Sankaranarayanan)</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>

    <desc>A list of basic terms used.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Vasiliy Faronov</mal:name>
      <mal:email>qvvx@yandex.ru</mal:email>
      <mal:years>2008. </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Stas Solovey</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  </info>

  <title>Glossary</title>

  <p><app>Passwords and Keys</app> helps you to generate and manage tokens that
  can be used to protect your files and communication. Here are some basic
  terms that you will encounter while reading this help:</p>

  <terms>
    <item>
    <title>Шифрование</title>
      <p>Encryption is the process of making your important files and data
      unreadable to anyone but the intended recipient. When you encrypt your
      data, it becomes a scrambled sequence of numbers and letters.  Encryption
      is done by someone who is sending a protected file, or sending a message
      in a protected conversation.</p>
    </item>
    <item>
    <title>Алгоритм</title>
      <p>An algorithm is a sequence of steps used to encrypt or decrypt your
      data.</p>
    </item>
    <item>
    <title>Decryption</title>
      <p>Decryption is the process of retrieving the original text from the
      encrypted message or file. It is done by the receiver of the protected
      file or communication. Encrypted messages cannot be understood without
      decrypting them first.</p>
    </item>
    <item>
    <title>Plaintext</title>
      <p>Any data or file that is not encrypted, and can therefore be read by
      anyone who can access it, is called plaintext.</p>
    </item>
    <item>
      <title>Ключ</title>
      <p>A key is used to encrypt and decrypt files and communication. A key
      may also be used to login to a remote computer. Some types of keys are
      <link xref="index#pgp-keys">PGP keys</link> and
      <link xref="index#ssh-keys">SSH keys</link>.</p>
    </item>
    <item>
    <title>Keyring</title>
      <p>A keyring is a collection of passwords or keys.</p>
    </item>
  </terms>

</page>
