<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="introduction" xml:lang="ru">

  <info>
    <link type="guide" xref="index" group="#first"/>

    <revision version="0.1" date="2011-10-23" status="stub"/>
    <revision pkgversion="3.9" version="0.1" date="2013-06-24" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Джим Кэмпбелл (Jim Campbell)</name>
      <email its:translate="no">jwcampbell@gmail.com</email>
      <years>2013</years>
    </credit>

    <credit type="author copyright">
      <name>Аруна Санкаранараянан (Aruna Sankaranarayanan)</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>

    <desc>Use <app>Passwords and Keys</app> to create and manage PGP and SSH
    keys and to save passwords that are difficult to remember.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Vasiliy Faronov</mal:name>
      <mal:email>qvvx@yandex.ru</mal:email>
      <mal:years>2008. </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Stas Solovey</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  </info>

  <title>Введение</title>

  <p>Welcome to the <app>Passwords and Keys</app> help guide.
  <app>Passwords and Keys</app> creates and stores security tokens, helping to
  keep your information secure on your computer, and secure when you send
  information over a network.</p>
  <p>Using <app>Passwords and Keys</app>, you can:</p>

  <list>
    <item>
      <p>Copy and <link xref="passwords-stored-create">save</link> passwords
      that are difficult to remember. To group related passwords,
      <link xref="keyring-create">create keyrings</link>.</p>
    </item>
    <item>
      <p><link xref="pgp-create">Create</link> and
      <link xref="index#pgp-keys">manage</link> PGP keys.</p>
    </item>
    <item>
      <p><link xref="ssh-create">Create</link> and
      <link xref="index#ssh-keys">manage</link> SSH keys.</p>
    </item>
  </list>

</page>
