<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="key-servers-add" xml:lang="ru">

  <info>
    <link type="guide" xref="index#pgp-keys"/>
    <link type="seealso" xref="pgp-sync"/>

    <revision version="0.1" date="2011-10-23" status="stub"/>
    <revision pkgversion="3.9" date="2013-08-18" status="draft"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Аруна Санкаранараянан (Aruna Sankaranarayanan)</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="editor copyright">
      <name>Хашем Насарат (Hashem Nasarat)</name>
      <email its:translate="no">hashem@riseup.net</email>
      <years>2014</years>
    </credit>

    <desc>Make additions to the list of keyservers in
    <app>Passwords and Keys</app></desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Vasiliy Faronov</mal:name>
      <mal:email>qvvx@yandex.ru</mal:email>
      <mal:years>2008. </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Stas Solovey</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  </info>

  <title>Add a keyserver</title>
    <p><app>Passwords and Keys</app> have the following keyservers listed by default:</p>

    <list>
      <item>
        <p>hkp://pool.sks-keyservers.net</p>
      </item>
      <item>
        <p>ldap://keyserver.pgp.com</p>
      </item>
    </list>

  <steps>
    <title>To add a keyserver</title>
    <item>
      <p>Select <guiseq><gui style="menu">Edit</gui>
      <gui style="menuitem">Preferences</gui></guiseq></p>
    </item>
    <item>
      <p>Press the <gui style="button">Add</gui> button.</p>
    </item>
    <item>
      <p>In the new dialog, select the appropriate <gui>Key Server Type</gui>.
      Key servers are identified by the protocol they use to communicate. Look
      for the first few letters in the Internet URL of your key server to
      identify its type.</p>
    </item>
    <item>
      <p>In the <gui style="input">Host</gui> field, paste the Internet URL of
      your key server. Consult the documentation for the key server you're
      adding to see if it operates on a non-standard port. If so, enter the
      port after the ':'. If you're unsure, leave the text box after the ':'
      blank.</p>
    </item>
    <item>
      <p>Press <gui style="button">OK</gui> to finish.</p>
    </item>
  </steps>

</page>
