<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="keyring-change-default" xml:lang="ru">

  <info>
    <link type="guide" xref="index#passwords"/>

    <revision pkgversion="3.10" date="2013-08-25" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Аруна Санкаранараянан (Aruna Sankaranarayanan)</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>

    <desc>Save new passwords to a different keyring by default.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Vasiliy Faronov</mal:name>
      <mal:email>qvvx@yandex.ru</mal:email>
      <mal:years>2008. </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Stas Solovey</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  </info>

  <title>Change the default keyring</title>

  <p>When you
  <link xref="passwords-stored-create">add a new password</link>, it is
  normally added to the default keyring. If you want to add it to a different
  keyring, you can chose another one while adding the new password, but you can
  also change the default keyring. The default keyring is normally the
  <gui>Login</gui> keyring.</p>

  <steps>
    <title>To change the default keyring:</title>
    <item>
      <p>Select your choice for the default keyring from the list of
      keyrings under <gui>Passwords</gui> on the left side panel.</p>
    </item>
    <item>
      <p>Right click on the selected keyring and select <gui>Set as
      default</gui>.</p>
    </item>
  </steps>

  <note style="info">
    <p>Passwords to some GNOME applications are stored automatically by
    <app>Passwords and Keys</app> in the <gui>Login</gui> keyring because it is
    the default keyring. When you change the default keyring, any new passwords
    created for GNOME applications will be stored in the new default keyring
    while GNOME application passwords created before the change will remain in
    the <gui>Login</gui> keyring.</p>
  </note>

</page>
