<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:ui="http://projectmallard.org/ui/1.0/" type="topic" style="task" id="pgp-create" xml:lang="ru">

  <info>
    <link type="guide" xref="index#pgp-keys" group="#first"/>

    <revision version="0.5" date="2013-02-16" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Джим Кэмпбелл (Jim Campbell)</name>
      <email its:translate="no">jwcampbell@gmail.com</email>
      <years>2013</years>
    </credit>

    <credit type="author copyright">
      <name>Аруна Санкаранараянан (Aruna Sankaranarayanan)</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>

    <credit type="editor copyright">
      <name>Хашем Насарат (Hashem Nasarat)</name>
      <email its:translate="no">hashem@riseup.net</email>
      <years>2014</years>
    </credit>

    <desc>Create and use GnuPG keys for encrypting and signing emails.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Vasiliy Faronov</mal:name>
      <mal:email>qvvx@yandex.ru</mal:email>
      <mal:years>2008. </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Stas Solovey</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  </info>

  <title>Create PGP keys</title>

  <p>To make a new PGP key:</p>

  <steps>
    <item>
      <p>Select <guiseq><gui>File</gui><gui>New…</gui></guiseq>.</p>
    </item>
    <item>
      <p>Select <gui>PGP Key</gui> from the list and press
      <gui style="button">Continue</gui>.</p>
    </item>
    <item>
      <p>Enter your full name in the <gui>Full Name</gui> field.</p>
    </item>
    <item>
      <p>Optionally, add your email address and a comment to describe the
      key.</p>
    </item>
    <item>
      <p>Press <gui>Create</gui>.</p>
    </item>
    <item>
      <p>In the password dialog, enter a password for the key. Retype the
      password to confirm your choice.</p>
    </item>
    <item>
      <p>Press <gui style="button">OK</gui> to finish.</p>
    </item>
  </steps>

  <p><app>Passwords and Keys</app> will take some time to generate your key.
  While your key is being created, move your mouse around, press some keys
  on your keyboard, or browse the web. This will help <app>Passwords and
  Keys</app> to create a truly random key. The key will be listed under
  <gui>GnuPG keys</gui>.</p>

  <note style="tip">
    <p>The <gui>Full Name</gui>, <gui>Email Address</gui> and
    <gui>Comment</gui> details of a GnuPG key are called the
    <link xref="pgp-userid">user ID</link> of the key.</p>
  </note>

<section id="advanced" ui:expanded="false">
  <title>Advanced PGP key options</title>

  <p>Expand the <gui>Advanced key options</gui> panel to choose custom values
  for key type, key strength and key expiration date.</p>

  <terms>
    <item>
    <title>Key type</title>
      <p>Depending on your needs, create keys that can be used for signing only
      or for both encryption and signing. The RSA and DSA-Elgamal algorithms
      generate equally secure keys.</p>
    </item>
    <item>
    <title>Key Strength</title>
      <p>The key strength is measured in terms of the size of the key in bits.
      It is difficult and more time consuming to break a strong key, but strong
      keys will slow down the encryption and signing process. You should choose
      your key strength in <app>Passwords and Keys</app> depending on how long
      you want to use the key. A small key is sufficient for short term use
      while a large key is more suitable for long term use.</p>
    </item>
    <item>
    <title>Срок истечения</title>
      <p>When a key expires, <link xref="pgp-expired">certain actions no longer
      work</link>. In <app>Passwords and Keys</app>, you can
      either set your key to <gui style="checkbox">Never Expire</gui>, or
      select an expiration date and time for it.</p>
      <p>It is recommended that you set an expiration date in case you lose
      access to the key. Even if your key expires, you can
      <link xref="pgp-expiration-change"> change the expiration to a later date</link>.</p>
    </item>
  </terms>

</section>

</page>
