<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="flip-rotate" xml:lang="en-GB">

  <info>
    <link type="guide" xref="index#edit"/>
    <desc>Horizontal/vertical, clockwise/counter-clockwise</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  </info>

<title>Flip or rotate pictures</title>

<p>If your pictures are the wrong way up or back-to-front, you can flip or 
rotate them so that they look right.</p>

<section id="flip">
<title>Flip a picture</title>
<steps>
 <item><p>Click <gui>Edit</gui>.</p></item>
 <item><p>Select either <gui>Flip Horizontal</gui> or <gui>Flip Vertical</gui>.</p></item>
 <item>
  <p>If you want to keep the picture flipped in this way, click <guiseq><gui>Image</gui><gui>Save</gui></guiseq>.</p>
  <p>Otherwise, don't save the picture and it will be returned to its original orientation the next time you open it.</p>
 </item>
</steps>
</section>

<section id="rotate">
<title>Rotate a picture</title>
<steps>
 <item><p>Click <gui>Edit</gui>.</p></item>
 <item><p>Select either <gui>Rotate Clockwise</gui> or <gui>Rotate
Counter-clockwise</gui>.</p></item>
 <item>
  <p>If you want to keep the picture rotated in this way, click <guiseq><gui>Image</gui><gui>Save</gui></guiseq>.</p>
  <p>Otherwise, don't save the picture and it will be returned to its original orientation the next time you open it.</p>
 </item>
</steps>

<p>You can use the tools in the <link xref="toolbar">toolbar</link> to do this 
instead. You can also use the keyboard shortcuts:</p>

<table>
  <tr>
    <td><p>Rotate Clockwise</p></td>
    <td><p><keyseq><key>Ctrl</key><key>R</key></keyseq></p></td>
  </tr>
  <tr>
    <td><p>Rotate Counter-clockwise</p></td>
    <td><p><keyseq><key>Ctrl</key><key>Shift</key><key>R</key></keyseq></p></td>
  </tr>
</table>

</section>
</page>
