<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="addremove" xml:lang="fr">
  <info>
    <revision version="14.04" date="2013-12-26" status="review"/>

    <link type="guide" xref="index" group="addremove"/>
    <title role="trail" type="link">Ajouter/supprimer des logiciels</title>

    <credit type="author">
      <name>L'équipe de documentation d'Ubuntu</name>
    </credit>

    <desc><link xref="addremove-install">Installer</link>, <link xref="addremove-remove">supprimer</link>, <link xref="addremove-sources">dépôts supplémentaires</link>…</desc>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Ajouter &amp; supprimer des logiciels</title>
  <links type="topic" style="2column"/>

</page>
