<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-calibrationtargets" xml:lang="fr">

  <info>

    <link type="guide" xref="color#calibration"/>

    <desc>Utiliser des cibles pour étalonner les scanners et appareils photos.</desc>

    <revision version="13.10" date="2013-09-07" status="review"/>
    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Quels types de cibles sont pris en charge ?</title>

  <p>Les cibles suivantes sont prises en charge :</p>

  <list>
    <item><p>CMP DigitalTarget</p></item>
    <item><p>ColorChecker 24</p></item>
    <item><p>ColorChecker DC</p></item>
    <item><p>ColorChecker SG</p></item>
    <item><p>i1 RGB Scan 14</p></item>
    <item><p>LaserSoft DC Pro</p></item>
    <item><p>QPcard 201</p></item>
    <item><p>IT8.7/2</p></item>
  </list>

  <note style="tip">
    <p>Vous pouvez acheter des cibles de marques connues comme KODAK, X-Rite et LaserSoft dans différents magasins en ligne.</p>
    <p>Vous pouvez aussi acheter des cibles chez <link href="http://www.targets.coloraid.de/">Wolf Faust</link> à un prix très raisonnable.</p>
  </note>

</page>
