<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="contacts-connect" xml:lang="fr">

  <info>
    <link type="guide" xref="contacts"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>

    <revision pkgversion="3.8" date="2013-04-27" status="draft"/>
    <revision version="13.10" date="2013-09-07" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Envoyer du courriel, discuter avec, ou appeler un contact.</desc>
  </info>

  <title>Connexion avec vos contacts</title>

  <p>Pour envoyer un courriel, discuter avec, ou appeler quelqu'un dans <app>Contacts</app> :</p>

  <steps>
    <item>
      <p>Sélectionnez un contact depuis votre liste de contacts.</p>
    </item>
    <item>
      <p>Appuyez sur le <gui>Détail</gui> que vous souhaitez utiliser. Par exemple, pour envoyer un courriel à votre contact, appuyez sur l'adresse électronique.</p>
    </item>
    <item>
      <p>L'application correspondante sera lancée en utilisant les détails du contact.</p>
    </item>
  </steps>

</page>
