<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="keyboard-osk" xml:lang="fr">
  <info>
    <link type="guide" xref="keyboard" group="a11y"/>
    <link type="guide" xref="a11y#mobility" group="keyboard"/>

    <revision pkgversion="3.7.1" version="0.3" date="2012-11-16" status="outdated"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author">
      <name>Jeremy Bicha</name>
      <email>jbicha@ubuntu.com</email>
    </credit>
    <credit type="author">
       <name>Julita Inca</name>
       <email>yrazes@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <desc>Utiliser un clavier visuel pour saisir du texte en cliquant sur des boutons avec la souris.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Utilisation d'un clavier visuel</title>

  <p>Si vous n'avez pas de clavier connecté à votre ordinateur, ou si vous ne souhaitez pas l'utiliser, vous pouvez activer la fonction <em>clavier visuel</em> pour saisir du texte.</p>

  <steps>
   <item><p>Cliquez sur l'icône tout à droite de la barre de menu et sélectionnez <gui>Paramètres système…</gui>.</p></item>
   <item><p>Ouvrez <gui>Accès universel</gui> et choisissez l'onglet <gui>Saisie</gui>.</p></item>
   <item><p>Activez le bouton <gui>Clavier visuel</gui> pour l'afficher.</p>
   </item>
  </steps>

</page>
