<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="power" xml:lang="fr">
<info>
    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>

    <revision pkgversion="3.8" date="2013-02-26" status="review"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <credit type="author">
      <name>Natalia Ruz</name>
      <email>nruz@alumnos.inf.utfsm.cl</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="power-suspend">Veille</link>, <link xref="power-batterylife">économies d'énergie</link>, <link xref="shell-exit#shutdown">mise hors tension</link>, <link xref="power-whydim">rétroéclairage de l'écran</link>…</desc>

</info>

<title>Énergie &amp; batterie</title>

<section id="battery" style="2column">
  <title>Paramètres de la batterie</title>
</section>

<section id="problems" style="linklist nodesc">
  <info>
    <title type="link">Problèmes d'énergie</title>
    <link type="guide" xref="hardware#problems"/>
    <desc>Résoudre les problèmes relatifs à l'énergie et aux batteries.</desc>
  </info>
  <title>Problèmes</title>
</section>

</page>
