<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="prefs-display" xml:lang="fr">
  <info>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <link type="guide" xref="prefs"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc><link xref="look-background">Arrière-plan</link>, <link xref="look-resolution">taille et rotation</link>, <link xref="display-dimscreen">luminosité</link>…</desc>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Affichage &amp; écran</title>

</page>
