<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="sharing" xml:lang="fr">
  <info>

    <link type="guide" xref="net" group="#sharing"/>

    <desc><link xref="sharing-desktop">partage de bureau</link>, <link xref="files-share">partage de fichiers</link>…</desc>

    <revision version="14.04" date="2014-04-03" status="review"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>L'équipe de documentation d'Ubuntu</name>
      <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Partage</title>

</page>
