<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="ui" id="shell-overview" xml:lang="fr">

  <info>

    <link type="guide" xref="index" group="shell-overview"/>

    <title role="trail" type="link">Bureau</title>

    <desc><link xref="unity-introduction">Introduction</link>, <link xref="shell-keyboard-shortcuts">raccourcis clavier</link>, <link xref="shell-windows">fenêtres</link>…</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-10-23" status="outdated"/>
    <credit type="author">
      <name>Projet de documentation GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Bureau, applications &amp; fenêtres</title>

<links type="topic" style="2column"/>

<section id="desktop" style="2column">
 <title>Le bureau</title>
</section>

<section id="apps" style="2column">
 <title>Applications et fenêtres</title>
</section>

</page>
