<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="startup-applications" xml:lang="fr">

  <info>
    <link type="guide" xref="shell-overview#apps"/>
    <link type="guide" xref="prefs"/>
    <desc>Choisissez les applications à démarrer lorsque vous vous connectez.</desc>

    <revision version="14.10" date="2014-09-13" status="review"/>

    <credit type="author">
      <name>L'équipe de documentation d'Ubuntu</name>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Applications au démarrage</title>

  <p>Vous pouvez définir quelles applications devraient être lancées à la connexion, en plus des applications de démarrage par défaut configurées sur le système.</p>

  <steps>
    <item>
      <p>Utilisez le <link xref="unity-dash-intro">Tableau de bord</link> pour trouver et ouvrir <gui>Applications au démarrage</gui>. Vous pouvez également appuyer sur <keyseq><key>Alt</key><key>F2</key></keyseq> et exécuter la commande <cmd>gnome-session-properties</cmd>.</p>
    </item>
    <item>
      <p>Appuyez sur <gui>Ajouter</gui> et entrez la commande à exécuter à la connexion (le nom et le commentaire sont facultatifs). Par exemple, pour que Firefox démarre automatiquement, il suffit de saisir <cmd>firefox</cmd> dans le champ <gui>Commande</gui> et de confirmer avec <gui>Ajouter</gui>.</p>
    </item>
  </steps>

  <note>
    <p>Vous pouvez soit saisir la commande, soit cliquer sur le bouton <gui>Parcourir...</gui> et sélectionner une commande. Les applications dont le démarrage est automatique sont généralement situées dans le dossier <code>/usr/bin</code>.</p>
  </note>

</page>
