<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="unity-launcher-change-size" xml:lang="fr">
  <info>
    <link type="guide" xref="unity-launcher-intro#launcher-customizing" group="#last"/>

    <revision version="13.10" date="2013-10-23" status="review"/>

    <credit type="author">
      <name>L'équipe de documentation d'Ubuntu</name>
    </credit>

    <desc>Rendre les icônes de la barre de lanceurs plus grandes ou plus petites.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Changer la taille des icônes de la barre de lanceurs</title>

  <p>Vous pouvez diminuer la taille des icônes de la barre de lanceurs pour permettre d'en afficher plus. Ou vous pouvez agrandir les icônes de la barre de lanceurs pour qu'il soit plus facile de cliquer dessus.</p>

  <steps>
    <item>
     <p>Cliquez sur l'icône tout à droite de la barre de menu et sélectionnez <gui>Paramètres système…</gui>.</p>
    </item>
    <item>
     <p>Cliquez sur <gui>Apparence</gui>.</p>
    </item>
    <item>
      <p>Déplacez le curseur <gui>Taille des icônes du lanceur</gui> pour augmenter ou diminuer la taille des icônes du lanceur.</p>
      <note><p>La taille par défaut des icônes du <gui>lanceur</gui> est <em>48</em>.</p></note>
    </item>
  </steps>

</page>
