<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="unity-dash-friends" xml:lang="fr">
  <info>
    <link type="guide" xref="unity-dash-intro#dash-lenses"/>
    <link type="seealso" xref="unity-dash-intro#dash-lenses"/>

    <desc>Parcourez les messages provenant de vos comptes sur les médias sociaux.</desc>

    <revision version="13.10" date="2013-10-22" status="outdated"/>

    <credit type="author">
      <name>Jeremy Bicha</name>
      <email>jbicha@ubuntu.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Moteur de recherche Amis</title>

  <p>Le moteur de recherche Amis est la sixième lentille après l'accueil du Tableau de bord dans la <gui>barre de lentilles</gui> et est représentée par une bulle de texte. Le moteur de recherche Amis vous donne accès à vos comptes de réseaux sociaux.</p>

  <p>Vous pouvez utiliser les touches <keyseq><key>Super</key><key>G</key></keyseq> pour ouvrir le Tableau de bord directement à l'icône du moteur de recherche Amis.</p>

  <note><p>La lentille sera vide jusqu'à ce que vous entriez vos informations d'identification dans <link xref="accounts">Comptes en ligne</link>.</p></note>

<section id="dash-apps-previews">
  <title>Aperçus</title>

  <p>Faites un clic droit sur un résultat de recherche pour ouvrir un <gui>aperçu</gui>. L'aperçu vous donne plus d'informations et vous permet d'« Aimer » ou de repartager des publications.</p>

</section>

<section id="dash-apps-filters">
  <title>Filtres</title>

  <p>Cliquez sur <gui>Filtrer les résultats</gui> pour filtrer par compte.</p>

</section>

</page>
