<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="wacom-left-handed" xml:lang="fr">

  <info>
    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>Mettre la tablette Wacom sur <gui>Orientation pour gaucher</gui>.</desc>
    <link type="guide" xref="wacom"/>
    <revision pkgversion="3.5.5" version="0.1" date="2012-08-15" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

  </info>

  <title>Utilisation de la tablette avec la main gauche</title>

  <p>Certaines tablettes possèdent des boutons sur le côté. La tablette peut être tournée de 180 degrés afin de positionner ces boutons pour les gauchers. Pour changer l'orientation pour les gauchers :</p>

<steps>
  <item><p>Cliquez sur l'icône la plus à droite de la <gui>barre de menu</gui> et sélectionnez <gui>Paramètres système…</gui>.</p></item>
  <item><p>Ouvrez <gui>Tablette graphique Wacom</gui>.</p>
     <note style="tip"><p>Si aucune tablette n'est détectée, il est écrit <gui>Veuillez connecter ou allumer votre tablette Wacom</gui>.</p></note>
  </item>
  <item><p>Basculez l'interrupteur <gui>Orientation pour gaucher</gui> sur <gui>ON</gui>.</p></item>
</steps>

</page>
