<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task a11y" id="a11y-bouncekeys" xml:lang="it">

  <info>
    <link type="guide" xref="a11y#mobility" group="keyboard"/>
    <link type="guide" xref="keyboard" group="a11y"/>

    <revision pkgversion="3.8.0" date="2013-03-13" status="candidate"/>
    <revision pkgversion="3.9.92" date="2013-09-18" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email its:translate="no">philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <desc>Ignorare la pressione ravvicinata dello stesso tasto.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Luca Ferretti</mal:name>
      <mal:email>lferrett@gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Flavia Weisghizzi</mal:name>
      <mal:email>flavia.weisghizzi@ubuntu.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>Attivare i tasti rimbalzati</title>

  <p>Attivare i <em>tasti rimbalzati</em> per ignorare la pressione ravvicinata dei tasti. Questa funzionalità può risultare utile alle persone con tremori alle mani che causano la pressione ripetuta di un tasto.</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Universal Access</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Universal Access</gui> to open the panel.</p>
    </item>
    <item>
      <p>Press <gui>Typing Assist (AccessX)</gui> in the <gui>Typing</gui>
      section.</p>
    </item>
    <item>
      <p>Switch <gui>Bounce Keys</gui> to <gui>ON</gui>.</p>
    </item>
  </steps>

  <note style="tip">
    <title>Attivare e disattivare rapidamente i tasti rimbalzati</title>
    <p>È possibile attivare e disattivare questa funzione facendo clic sulla <link xref="a11y-icon">icona accesso universale</link> nella barra superiore e selezionando <gui>Tasti rimbalzati</gui>. L'icona accessibilità è visibile quando sono state abilitate una o più impostazioni nel pannello <gui>Accesso universale</gui>.</p>
  </note>

  <p>Usare il controllo scorrevole <gui>Ritardo di accettazione</gui> per modificare l'attesa di registrazione della successiva pressione del tasto. Selezionare <gui>Avviso sonoro quando un tasto è rifiutato</gui> affinché venga emesso un suono ogni volta che la pressione di un tasto viene rifiutata perché avvenuta in troppo poco tempo rispetto alla pressione precedente.</p>

</page>
