<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:if="http://projectmallard.org/if/1.0/" type="guide" style="task" version="1.0 if/1.0" id="bluetooth-connect-device" xml:lang="it">

  <info>
    <link type="guide" xref="bluetooth"/>
    <link type="seealso" xref="sharing-bluetooth"/>
    <link type="seealso" xref="bluetooth-remove-connection"/>

    <revision pkgversion="3.8" date="2013-05-16" status="review"/>
    <revision pkgversion="3.10" date="2013-11-09" status="review"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.13" date="2014-09-22" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Jim Campbell</name>
      <email its:translate="no">jwcampbell@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Paul W. Frields</name>
      <email its:translate="no">stickster@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Associare dispositivi Bluetooth.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Luca Ferretti</mal:name>
      <mal:email>lferrett@gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Flavia Weisghizzi</mal:name>
      <mal:email>flavia.weisghizzi@ubuntu.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>Connettere il computer a un dispositivo Bluetooth</title>

  <p>Before you can use a Bluetooth device like a mouse or a headset, you first
  need to connect your computer to the device. This is also called
  <em>pairing</em> the Bluetooth devices.</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Bluetooth</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Bluetooth</gui> to open the panel.</p>
    </item>
    <item>
      <p>Make sure Bluetooth is enabled: the switch at the top should be set to
      <gui>ON</gui>. With the panel open and the switch <gui>ON</gui>, your
      computer will begin searching for devices.</p>
    </item>
    <item>
      <p>Make the other Bluetooth device
      <link xref="bluetooth-visibility">discoverable or visible</link> and
      place it within 5-10 meters (about 16-33 feet) of your computer.</p>
    </item>
    <item>
      <p>Click the device in the <gui>Devices</gui> list. The panel for the
      device will open.</p>
    </item>
    <item>
      <p>If required, confirm the PIN on your other device. The device should
      show you the PIN you see on your computer screen. Confirm the PIN on the
      device (you may need to click <gui>Pair</gui> or <gui>Confirm</gui>),
      then click <gui>Confirm</gui> on the computer.</p>
      <p>Nella maggior parte dei casi è necessario terminare l'inserimento entro 20 secondi circa, altrimenti la connessione non viene effettuata. In questo caso, ritornare all'elenco dei dispositivi e ripartire nuovamente.</p>
    </item>
    <item>
      <p>The entry for the device in the <gui>Devices</gui> list will show a
      <gui>Connected</gui> status.</p>
    </item>
    <item>
      <p>To edit the device, click on it in the <gui>Device</gui> list. You
      will see a panel specific to the device. It may display additional
      options applicable to the type of device to which you are connecting.</p>
    </item>
    <item>
      <p>Close the panel once you have changed the settings.</p>
    </item>
  </steps>

  <media its:translate="no" type="image" src="figures/bluetooth-menu.png" style="floatend">
    <p its:translate="yes">L'icona Bluetooth sulla barra superiore</p>
  </media>
  <p>When one or more Bluetooth devices are connected, the Bluetooth icon
  appears in the system status area.</p>

</page>
