<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="net-wireless-troubleshooting-initial-check" xml:lang="it">

  <info>
    <link type="next" xref="net-wireless-troubleshooting-hardware-info"/>
    <link type="guide" xref="net-wireless-troubleshooting"/>

    <revision pkgversion="3.4.0" date="2012-03-05" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-10" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Collaboratori del wiki della documentazione di Ubuntu</name>
    </credit>
    <credit type="author">
      <name>Progetto documentazione di GNOME</name>
      <email its:translate="no">gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Assicurarsi che le impostazioni di rete basilari siano corrette e prepararsi per i successivi pochi passaggi per la risoluzione dei problemi.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Luca Ferretti</mal:name>
      <mal:email>lferrett@gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Flavia Weisghizzi</mal:name>
      <mal:email>flavia.weisghizzi@ubuntu.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>Risoluzione dei problemi relativi alle reti senza fili</title>
  <subtitle>Eseguire un controllo iniziale della connessione</subtitle>

  <p>In questo passaggio vengono controllate alcune informazioni elementari relative alla connessione di rete senza fili. Ciò è necessario per assicurarsi che il problema con la rete non sia causato da motivi relativamente semplici come una connessione WiFi spenta e per prepararsi ai successivi pochi passaggi per la risoluzione dei problemi.</p>

  <steps>
    <item>
      <p>Assicurarsi che il computer portatile non sia collegato a Internet tramite una connessione <em>via cavo</em>.</p>
    </item>
    <item>
      <p>Se si dispone di un adattatore WiFi esterno (come un adattatore USB o una scheda PCMCIA collegata al computer), assicurarsi che sia saldamente inserito nel connettore adatto.</p>
    </item>
    <item>
      <p>Se la scheda WiFi è <em>dentro</em> il computer, assicurarsi che il suo interruttore (se in dotazione) sia acceso: i computer portatili spesso sono dotati di interruttori WiFi che possono essere attivati mediante una combinazione da tastiera.</p>
    </item>
    <item>
      <p>Click the system status area on the top bar and select
      <gui>Wi-Fi</gui>, then select <gui>Wi-Fi Settings</gui>. Make sure that
      <gui>Wi-Fi</gui> is set to <gui>ON</gui>. You should also check that
      <link xref="net-wireless-airplane">Airplane Mode</link> is <em>not</em>
      switched on.</p>
    </item>
    <item>
      <p>Open the Terminal, type <cmd>nmcli device</cmd> and press
      <key>Enter</key>.</p>
      <p>This will display information about your network interfaces and
      connection status. Look down the list of information and see if there is
      an item related to the wireless network adapter. If the state is
      <code>connected</code>, it means that the adapter is working and connected
      to your wireless router.</p>
    </item>
  </steps>

  <p>Se è stata stabilita la connessione al router WiFi, ma non è possibile accedere a Internet, probabilmente il router potrebbe non essere stato configurato correttamente o il provider di servizio Internet (ISP) potrebbe avere problemi tecnici. Controllare il manuale d'installazione del router e la guida dell'ISP per assicurarsi che le impostazioni siano corrette o contattare l'ISP per supporto.</p>

  <p>If the information from <cmd>nmcli device</cmd> did not indicate that you were
  connected to the network, click <gui>Next</gui> to proceed to the next
  portion of the troubleshooting guide.</p>

</page>
