<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing" xml:lang="it">

  <info>
    <link type="guide" xref="hardware"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>
      <link xref="printing-setup">Local setup</link>,
      <!--
      <link xref="printing-setup-networked">networked setup</link>,
      -->
      <link xref="printing-order">order and collate</link>,
      <link xref="printing-2sided">two-sided and multi-page</link>…
    </desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Luca Ferretti</mal:name>
      <mal:email>lferrett@gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Flavia Weisghizzi</mal:name>
      <mal:email>flavia.weisghizzi@ubuntu.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

<title>Stampa</title>

<section id="setup" style="2column">
  <info>
    <title type="link" role="trail">Configurazione</title>
  </info>
  <title>Configurare una stampante</title>
</section>

<section id="paper" style="2column">
  <info>
    <title type="link" role="trail">Dimensioni e disposizioni</title>
  </info>
  <title>Diverse dimensioni della carta e disposizioni</title>
</section>

<section id="problems" style="2column">
  <info>
    <link type="guide" xref="hardware#problems"/>
    <desc>Undetected printers, paper jams, print-outs that look wrong…</desc>
  </info>
  <title>Problemi con la stampante</title>
</section>

</page>
