<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" id="clock-calendar" xml:lang="ru">

  <info>
    <link type="guide" xref="clock"/>
    <link type="guide" xref="shell-overview#desktop"/>

    <desc>Отобразите ваши события в календаре наверху экрана.</desc>

    <revision pkgversion="3.8.0" date="2013-03-09" status="outdated"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <credit type="author">
      <name>Проект документирования GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

 <title>События календаря</title>

<p>Встроенное приложение <app>Календарь</app> позволяет управлять встречами и событиями в вашем календаре. До пяти из них, на протяжении четырёх недель, будут отображаться при щелчке на часах в <gui>панели меню</gui>.</p>

<note><p>Интеграция встреч в календарь также поддерживается устанавливаемым отдельно приложением для работы с почтой и календарём, которое называется <app>Evolution</app>.</p></note>

<section id="launch-calendar-application">
  <title>Запуск приложения «Календарь»</title>
<p>Встречами и событиями можно управлять во встроенном приложении <app>Календарь</app></p>

<steps>
  <item><p>Щёлкните на значке <gui>главного меню</gui> в <link xref="unity-launcher-intro">панели запуска</link>.</p></item>
  <item><p>Наберите <input>календарь</input> в поле поиска , чтобы найти приложение <app>Календарь</app>.</p></item>
  <item><p>Щёлкните на значке приложения <gui>Календарь</gui>.</p></item>
</steps>

<p>Можно также набрать <input>gnome-calendar</input> в приложении <app>Терминал</app>.</p>
</section>


</page>
