<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-whatisprofile" xml:lang="ru">

  <info>
    <link type="guide" xref="color#profiles"/>
    <desc>Цветовой профиль — это простой файл, который отражает цветовое пространство или цветочувствительность устройства.</desc>

    <revision version="13.10" date="2013-09-07" status="review"/>
    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Что такое цветовой профиль?</title>

  <p>Цветовой профиль — это набор данных, который характеризует или устройство, например проектор, или цветовое пространство, такое как sRGB.</p>
  <p>Большинство цветовых профилей существуют в виде профилей ICC и представляют собой небольшие файлы с расширениями <input>.ICC</input> или <input>.ICM</input>.</p>
  <p>Цветовые профили могут быть встроены в изображения для указания данных цветового охвата. Благодаря этому пользователи увидят те же цвета на разных устройствах.</p>
  <p>Каждое обрабатывающее цвет устройство должно иметь свой собственный профиль ICC, и когда это достигается, говорят, что система совершает <em>непрерывный процесс управления цветом</em>. С таким типом процесса можно быть уверенным, что цвета не будут утеряны или изменены.</p>

</page>
