<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="disk-partitions" xml:lang="ru">
  <info>
    <link type="guide" xref="disk"/>


    <credit type="author">
      <name>Проект документирования GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <desc>Что такое тома и разделы. Управление ими с помощью дисковой утилиты.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

 <title>Управление томами и разделами</title>

  <p>Термин <em>том</em> используется для описания устройств хранения, таких как жёсткий диск. Поскольку можно разделить устройство хранения на части, то этот термин можно применять и к <em>частям</em> системы хранения данных на этом устройстве. Компьютер открывает доступ к устройству хранения через вашу файловую систему с помощью процесса, называемого <em>монтированием</em>. Монтировать можно жёсткие диски, USB-накопители, диски DVD-RW, SD-карты и другие носители. Если том уже смонтирован, можно читать с него (и, возможно, записывать на него) файлы.</p>

  <p>Часто смонтированный том называется <em>разделом</em>, хотя это не обязательно одно и то же. Понятие «раздел» относится к <em>физической</em> области хранения данных на отдельном диске. Но поскольку после монтирования раздела можно получить доступ к его файлам, то раздел можно считать томом. Попробуйте представить себе том как вывеску, как доступную «витрину» технически «подсобных» разделов и дисков.</p>

<section id="manage">
 <title>Просмотр и управление томами и разделами с помощью дисковой утилиты</title>

  <p>Можно проверить и изменить ваши компьютерные тома хранения с помощью дисковой утилиты.</p>

<steps>
 <item>
  <p>Откройте <gui>главное меню</gui> и запустите приложение <app>Дисковая утилита</app>.</p>
 </item>
 <item>
  <p>В области окна <gui>Устройства хранения</gui> найдутся жёсткие диски, приводы CD/DVD и другие физические устройства. Щёлкните на устройстве, которое требуется просмотреть.</p>
 </item>
 <item>
  <p>В правой части окна область под названием <gui>Тома</gui> показывает разбивку томов и разделов, присутствующих на выбранном устройстве. Здесь же содержатся разные инструменты, используемые для управления этими томами.</p>
  <p>Будьте осторожны: этими утилитами можно полностью стереть данные на вашем диске.</p>
 </item>
</steps>

  <p>Ваш компьютер, скорее всего, имеет по крайней мере один <em>первичный</em> раздел и один раздел <em>подкачки</em>. Раздел подкачки используется операционной системой для управления памятью и почти никогда не монтируется. На первичном разделе содержится ваша операционная система, приложения, настройки и личные файлы. Эти файлы могут быть распределены и по нескольким разделам для безопасности и удобства.</p>

  <p>Один из первичных разделов должен содержать информацию, используемую вашим компьютером для запуска, или <em>загрузки</em>. Поэтому его иногда называют загрузочным разделом или загрузочным диском. Чтобы определить, является ли диск загрузочным, посмотрите на его <gui>Флаги раздела</gui> в дисковой утилите. Внешние носители, такие как USB-накопители и компакт-диски, тоже могут содержать загрузочный раздел.</p>

</section>

</page>
