<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="documents" xml:lang="ru">

  <info>
    <credit type="author copyright">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Команда документации Ubuntu</name>
      <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>
    <desc>Наведите порядок в документах, хранящихся на вашем компьютере или созданных в сети.</desc>
    <link type="guide" xref="files#documents"/>
    <revision pkgversion="3.5.90" date="2012-08-31" status="review"/>
    <revision version="14.04" date="2014-03-06" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Документы</title>

  <p><app>Документы</app> — это приложение GNOME, позволяющее отображать, систематизировать и печатать документы, находящиеся на компьютере или созданные удалённо с помощью <em>Google Docs</em> или <em>SkyDrive</em>.</p>

 <section id="view" style="2column">
    <title>Просмотр, сортировка и поиск</title>
 </section>

 <section id="print" style="2column">
    <title>Отбор, систематизация, печать</title>
 </section>

 <section id="question" style="2column">
    <title>Вопросы</title>
 </section>
</page>
