<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documents-filter" xml:lang="ru">

  <info>
    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>Выберите какие документы отображать.</desc>
    <link type="guide" xref="documents#view"/>
    <revision pkgversion="3.5.90" date="2012-09-05" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Отбор документов</title>

  <p>Щёлкните кнопку <media type="image" src="figures/go-down.png">Раскрыть</media> рядом с полем <link xref="documents-search">поиска</link>, чтобы ограничить область поиска следующими категориями:</p>

  <list>
    <item><p><em>Источники</em> — Локальные, Google, SkyDrive или Все.</p></item>
    <item><p><em>Тип</em> — Коллекции, Документы PDF, Презентации, Таблицы, Текстовые документы или Все.</p></item>
    <item><p>Заголовок, Автор или Все.</p></item>
  </list>

  <note style="tip"><p>Для того чтобы <gui>Google</gui> или <gui>SkyDrive</gui> появились в списке фильтров, необходимо настроить Google или Windows Live в <link xref="accounts-add">сетевых учётных записях</link>.</p>
  </note>

</page>
