<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="files-open" xml:lang="ru">

  <info>
    <link type="guide" xref="files" group="more"/>

    <revision pkgversion="3.6.0" version="0.2" date="2012-09-30" status="review"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <desc>Откройте файлы в приложении, не используемом по умолчанию для этого типа файлов. Приложение по умолчанию тоже можно изменить.</desc>

    <credit type="author">
      <name>Cristopher Thomas</name>
      <email>crisnoh@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Открытие файлов в других приложениях</title>

<p>Если выполнить двойной щелчок на файле в менеджере файлов, он откроется в приложении по умолчанию для этого типа файлов. Можно открыть его в другом приложении, выполнить поиск приложений в Интернете или задать приложение по умолчанию для всех файлов такого типа.</p>

<p>Чтобы открыть файл в другом приложении, щёлкните его правой кнопкой мыши и выберите необходимое приложение из списка. Если необходимое приложение отсутствует, щёлкните <gui>Открыть в другой программе...</gui>. По умолчанию менеджер файлов отображает в списке только ассоциированные с файлом приложения. Чтобы просмотреть все приложения на вашем компьютере, щёлкните <gui>Показать другие приложения</gui>.</p>

<p>Если найти необходимое приложение не удаётся, можно выполнить поиск других приложений, щёлкнув <gui>Искать приложения в Интернете</gui>. Менеджер файлов произведёт поиск в сети пакетов, содержащих приложения для работы с файлами такого типа.</p>

<section id="default">
  <title>Изменение приложения по умолчанию</title>
  <p>Приложение, используемое по умолчанию для открытия файлов заданного типа можно изменить. Это позволит открывать файл в предпочитаемом вами приложении, дважды щёлкнув на нём. Например, можно заставить открываться ваш любимый музыкальный проигрыватель при двойном щелчке на MP3-файле.</p>

  <steps>
    <item><p>Выберите файл того типа, для которого нужно изменить используемое по умолчанию приложение. Например, чтобы изменить приложение для открытия MP3-файлов, выберите файл с расширением <file>.mp3</file>.</p></item>
    <item><p>Щёлкните файл правой кнопкой мыши и выберите <gui>Свойства</gui>.</p></item>
    <item><p>Перейдите на вкладку <gui>Открывать в программе</gui>.</p></item>
    <item><p>Выберите необходимое приложение и щёлкните <gui>Установить по умолчанию</gui>. Менеджер файлов по умолчанию отображает только те приложения, которые ассоциированы с этим типом файла. Для просмотра всех приложений на вашем компьютере щёлкните <gui>Показать другие приложения</gui>.</p>
    <p>Если среди <gui>Других приложений</gui> есть приложение, которое необходимо иногда использовать, но не требуется назначать по умолчанию, — выберите его и щёлкните <gui>Добавить</gui>. Оно будет добавлено в <gui>Рекомендуемые приложения</gui>. После этого можно использовать это приложение, щёлкнув правой кнопкой мыши на файле и выбрав его из списка.</p></item>
  </steps>

  <p>Это действие изменит используемое по умолчанию приложение не только для выбранного файла, но и для всех файлов данного типа.</p>

</section>

</page>
