<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="problem" id="hardware-problems-graphics" xml:lang="ru">
  <info>

    <revision version="13.10" date="2013-09-12" status="review"/>

    <link type="guide" xref="hardware#problems"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>Устранение неполадок с экраном и графикой.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Проблемы с экраном</title>

<p>Большинство неисправностей с экраном связано с драйверами графических карт или настройками экрана. Какая из перечисленных ниже тем характеризует вашу неисправность?</p>

</page>
