<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:ui="http://projectmallard.org/experimental/ui/" type="topic" style="task" id="keyboard-shortcuts-set" xml:lang="ru">
  <info>
    <link type="guide" xref="keyboard"/>
    <link type="seealso" xref="shell-keyboard-shortcuts"/>

    <credit type="author">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="author">
       <name>Julita Inca</name>
       <email>yrazes@gmail.com</email>
    </credit>

    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Установите или измените комбинации клавиш в настройках <gui>Клавиатуры</gui>.</desc>
  </info>

  <title>Установка комбинаций клавиш</title>

<p>Чтобы изменить, какую клавишу или клавиши нужно нажимать в комбинации клавиш:</p>

  <steps>
    <item>
    <p>Щёлкните самый правый значок на панели меню и выберите <gui>Параметры системы</gui>.</p></item>
    <item><p>Откройте <gui>Клавиатуру</gui> и выберите вкладку <gui>Комбинации клавиш</gui>.</p>
    </item>
    <item>
      <p>Выберите категорию в левой панели окна, а желаемое действие — в правой. Описание текущей комбинации изменится на <gui>Новая комбинация клавиш…</gui></p>
    </item>
    <item>
      <p>Введите желаемую комбинацию клавиш или нажмите <key>Backspace</key> для очистки поля.</p>
    </item>
  </steps>

<section id="custom">
<title>Пользовательские комбинации клавиш</title>

<p>Чтобы создать вашу собственную комбинацию клавиш:</p>

  <steps>
    <item>
      <p>Выберите <gui>Дополнительные комбинации клавиш</gui> в левой панели окна и щёлкните на кнопке <key>+</key> (или щёлкните на кнопке <key>+</key> в любой категории). Появится окно <gui>Дополнительные комбинации клавиш</gui>.</p>
    </item>
    <item>
      <p>Введите <gui>Название</gui> для описания комбинации клавиш и <gui>Команду</gui> для запуска приложения, затем щёлкните <gui>Применить</gui>. Например, если нужна комбинация клавиш для открытия Rhythmbox, то назвать её можно <input>Музыка</input> и использовать команду <input>rhythmbox</input>.</p>
    </item>
    <item>
      <p>Щёлкните на надписи <gui>Отключено</gui> в только что добавленной строке. Когда надпись изменится на <gui>Новая комбинация клавиш…</gui>, введите желаемую комбинацию.</p>
    </item>
  </steps>
 <p>Команда, имя которой вводится, должна быть действующей системной командой. Можно проверить, что команда работает, открыв Терминал и набрав её имя там. У команды, открывающей приложение, название может быть совсем не таким, как у самого приложения.</p>

 <p>Если требуется изменить команду, связанную с пользовательской комбинацией клавиш, дважды щёлкните <em>название</em> комбинации. Откроется окно <gui>Дополнительные комбинации клавиш</gui>, где можно отредактировать команду.</p>
</section>

</page>
