<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="mouse" xml:lang="ru">
<info>
    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>
    <desc><link xref="mouse-lefthanded">Управление мышью левой рукой</link>, <link xref="mouse-sensitivity">скорость и чувствительность</link>, <link xref="mouse-touchpad-click">щелчки и прокрутка на сенсорной панели</link>…</desc>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-10-22" status="review"/>

    <credit type="author">
        <name>Tiffany Antopolski</name>
        <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
</info>

<title>Мышь</title>
<links type="topic" style="2column"/>

<section id="problems" style="2column">
  <info>
    <title type="link">Типичные проблемы с мышью</title>
    <title type="link" role="trail">Типичные неполадки</title>
  </info>
  <title>Типичные неполадки</title>
</section>

<section id="tips" style="2column">
 <info>
   <title type="link">Подсказки по использованию мыши</title>
   <title type="link" role="trail">Подсказки</title>
 </info>
 <title>Подсказки</title>
</section>
</page>
