<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="music-cantplay-drm" xml:lang="ru">
  <info>
    <link type="guide" xref="media#music"/>

    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Проект документирования GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <desc>Поддержка формата этого файла может быть не установлена, или музыка может быть «защищена от копирования».</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Я не могу воспроизвести музыку, приобретённую в сетевом музыкальном магазине</title>

<p>Если загрузить какую-то музыку из сетевого магазина, можно обнаружить, что она не воспроизводится на вашем компьютере, особенно если приобретали её, пользуясь компьютером под управлением Windows или Mac OS, а потом скопировали её.</p>

<p>Это может произойти из-за того, что формат полученных аудио-файлов не распознаётся компьютером. Чтобы воспроизвести композицию, требуется установленная поддержка соответствующих аудио-форматов — например, если нужно проигрывать MP3-файлы, то необходимо установить поддержку MP3. Если поддержки такого аудио-формата нет, то появится сообщение при попытке воспроизвести композицию. Сообщение должно также содержать инструкции, как установить поддержку такого формата, необходимую для проигрывания композиции.</p>

<p>Если поддержка аудио-формата музыкальной композиции установлена, но проиграть композицию всё равно нельзя, — возможно, она <em>защищена от копирования</em> техническими средствами защиты авторских прав (известными также как <em>DRM restricted</em>). DRM — это способ ограничения, определяющий, кому можно воспроизводить композицию и, если вам разрешат, — на каких устройствах. Решает это компания, продающая музыку, а не вы. По всей видимости воспроизвести музыкальный файл с ограничениями DRM не получится — обычно требуется специальное программное обеспечение от поставщика для проигрывания файлов с ограничениями DRM, но оно часто не поддерживается в Linux.</p>

<p>Узнать больше о DRM можно на сайте <link href="http://www.eff.org/issues/drm">Electronic Frontier Foundation</link>.</p>

</page>
