<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-manual" xml:lang="ru">
  <info>
    <link type="guide" xref="net-wired"/>
    <link type="guide" xref="net-wireless"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>Введите сами параметры сети, если они не присваиваются автоматически.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Ручная настройка сетевых параметров</title>

<p>Если ваша сеть автоматически не присваивает настройки сети вашему компьютеру, можно ввести их самостоятельно. Эта статья подразумевает, что правильные данные для выполнения настройки уже известны. Если это не так, возможно, придётся обратиться к администратору вашей сети или посмотреть настройки маршрутизатора или коммутатора.</p>

<steps>
  <title>Чтобы вручную задать параметры сети:</title>
 <item>
  <p>Щёлкните <gui>индикатор сети</gui> на панели меню, затем щёлкните <gui>Изменить соединения...</gui>.</p>
 </item>
 
 <item>
  <p>Выберите сетевое соединение, которое необходимо настроить вручную. Например, если подключение к сети осуществляется с помощью кабеля, обратите внимание на вкладку <gui>Проводные</gui>.</p>
 </item>

 <item>
  <p>Выберите соединение, которое нужно изменить, щёлкнув на нём, затем щёлкните <gui>Изменить</gui>.</p>
 </item>

 <item>
  <p>Перейдите на вкладку <gui>Параметры IPv4</gui> и измените <gui>Способ настройки</gui> на <gui>Вручную</gui>.</p>
 </item>

 <item>
  <p>Щёлкните <gui>Добавить</gui> и введите <em>IP-адрес</em>, <em>маску сети</em> и <em>IP-адрес шлюза по умолчанию</em> в соответствующие столбцы списка <gui>«Адреса»</gui>. Нажимайте <key>Enter</key> или <key>Tab</key> после набора каждого адреса.</p>
  <p>Эти три адреса должны быть IP-адресами, то есть состоять из четырёх чисел, разделённых точками (например: 123.45.6.78).</p>
 </item>

 <item>
  <p>Введите IP-адреса DNS-серверов, которые необходимо использовать, разделив их запятыми.</p>
 </item>

 <item>
  <p>Щёлкните <gui>Сохранить</gui>. Если соединение с сетью не установлено, подключитесь к ней, щёлкнув индикатор сети на панели меню. Проверьте правильность настройки, попытавшись, например, посетить веб-сайт или просмотреть файлы на общем ресурсе сети.</p>
 </item>

</steps>

</page>
