<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="ui" id="net-wireless-edit-connection" xml:lang="ru">
  <info>
    <link type="guide" xref="net-wireless" group="first"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>Узнайте, что означают параметры беспроводного соединения в окне настройки.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <its:rules xmlns:its="http://www.w3.org/2005/11/its" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" xlink:type="simple" xlink:href="gnome-help.its"/>
  </info>

<title>Изменение беспроводного соединения</title>

<p>В этом разделе описываются все доступные для изменения настройки при редактировании беспроводного соединения. Чтобы изменить соединение, щёлкните <gui>индикатор сети</gui> на панели меню и выберите <gui>Изменить соединения</gui>.</p>

<note>
 <p>Большинство сетей будут работать нормально, если оставить настройки по умолчанию, поэтому вам, вероятно, не потребуется что-либо менять. Многие из представленных здесь настроек нужны для того, чтобы лучше управлять более сложными сетями.</p>
</note>

<section id="available">
 <title>Доступно всем пользователям / Подключаться автоматически</title>
 <terms>
  <item>
   <title><gui>Подключаться автоматически</gui></title>
   <p>Включите эту опцию, если необходимо, чтобы компьютер автоматически пытался подключиться к этой беспроводной сети, как только окажется в радиусе её действия.</p>
   <p>Если компьютер находится в зоне действия нескольких сетей, для которых установлено автоматическое подключение, то он будет подключаться к первой указанной на вкладке <gui>Беспроводные</gui> в окне <gui>Сетевые соединения</gui>. Компьютер не будет отключаться от одной доступной сети для подключения к другой, только что появившейся в зоне действия.</p>
  </item>

  <item>
   <title><gui>Доступно всем пользователям</gui></title>
   <p>Включите эту опцию, если необходим доступ к этой беспроводной сети всем пользователям компьютера. Если для подключения к сети требуется <link xref="net-wireless-wepwpa">пароль WEP или WPA</link> и эта опция включена, то ввести пароль нужно только один раз. Все остальные пользователи вашего компьютера смогут подключаться к сети, даже не зная пароля.</p>
   <p>Если эта опция включена, то для изменения любых параметров этой сети необходимо быть <link xref="user-admin-explain">администратором</link>. Возможно потребуется ввести ваш пароль администратора.</p>
  </item>
 </terms>
</section>

<section id="wireless">
 <title>Беспроводные</title>
 <terms>
  <item>
   <title><gui>SSID</gui></title>
   <p>Это название беспроводной сети, к которой выполняется подключение, известное как <em>Service Set Identifier</em>. Не меняйте его, если только не изменилось название беспроводной сети (например, при изменении настроек беспроводного маршрутизатора или базовой станции).</p>
  </item>

  <item>
   <title><gui>Режим</gui></title>
   <p>Позволяет указать, подключаетесь ли вы к сети <gui>Инфраструктура</gui> (в которой компьютеры соединяются с центральной базовой станцией или маршрутизатором) или к <gui>Ad-hoc</gui> сети (в которой нет базовой станции, а компьютеры в сети подключаются друг к другу). Для большинства сетей используется режим «инфраструктура», однако, можно <link xref="net-wireless-adhoc">создать и свою собственную ad-hoc сеть</link>.</p>
   <p>Если выбрать <gui>Ad-hoc</gui>, то можно увидеть ещё два параметра — <gui>Диапазон</gui> и <gui>Канал</gui>. Они определяют в каком диапазоне частот будет работать беспроводная ad-hoc сеть. Некоторые компьютеры способны работать лишь в определённых диапазонах (например, только <gui>A</gui> или только <gui>B/G</gui>), так что, возможно, потребуется выбрать тот диапазон, который смогут использовать все компьютеры в ad-hoc сети. В людных местах несколько беспроводных сетей могут использовать один и тот же канал, что может замедлить соединение, поэтому можно изменить и используемый вами канал.</p>
  </item>

  <item>
   <title><gui>BSSID</gui></title>
   <p>Это <em>Basic Service Set Identifier</em>. SSID (см. выше) — это сетевое имя, предназначенное для чтения людьми, а BSSID — это имя, понимаемое компьютером (это строка из букв и цифр, которая должна быть уникальной для беспроводной сети). Если <link xref="net-wireless-hidden">сеть скрыта</link>, то у неё не будет SSID, но будет BSSID.</p>
  </item>

  <item>
   <title><gui>MAC-адрес устройства</gui></title>
   <p><link xref="net-macaddress">MAC-адрес</link> — это код, идентифицирующий сетевое устройство (например, беспроводную сетевую карту, Ethernet-карту или маршрутизатор). Каждое устройство, которое можно подключить к сети, имеет уникальный MAC-адрес, присвоенный ему на фабрике.</p>
   <p>Этот параметр позволяет изменять MAC-адрес вашей сетевой карты.</p>
  </item>

  <item>
   <title><gui>Клонированный MAC-адрес</gui></title>
   <p>Ваше сетевое устройство (беспроводная карта) может выдавать себя за устройство с другим MAC-адресом. Это удобно, если есть устройство или служба, взаимодействующая только с определёнными MAC-адресами (например, широкополосный кабельный модем). Если указать такой MAC-адрес в поле <gui>клонированный MAC-адрес</gui>, то устройство или служба будет считать настоящим клонированный MAC-адрес вашего компьютера.</p>
  </item>

  <item>
   <title><gui>MTU</gui></title>
   <p>Этот параметр изменяет <em>Maximum Transmission Unit</em> — максимальный размер порции данных, которые могут быть переданы по сети. Когда файлы посылаются по сети, данные разбиваются на мелкие порции (или пакеты). Оптимальное значение MTU для вашей сети будет зависеть от вероятности потери пакетов (из-за «шумов» в соединении) и от скорости соединения. Как правило, не требуется изменять этот параметр.</p>
  </item>

 </terms>
</section>

<section id="security">
 <title>Защита беспроводной сети</title>
 <terms>
  <item>
   <title><gui>Безопасность</gui></title>
   <p>Определяет, какой тип <em>шифрования</em> используется в вашей беспроводной сети. Зашифрованные соединения помогают защитить беспроводное подключение от перехвата данных, поэтому другие люди не смогут «подслушивать» и видеть, какие веб-сайты вы посещаете, и т. п.</p>
   <p>Некоторые типы шифрования надёжней других, но могут не поддерживаться устаревшим сетевым оборудованием. Обычно для подключения необходимо вводить пароль, более сложные типы защиты могут требовать также ввода имени пользователя и цифрового «сертификата». Подробнее о распространённых типах шифрования в беспроводных сетях см. в разделе <link xref="net-wireless-wepwpa"/>.</p>
  </item>
 </terms>
</section>

<section id="ipv4">
 <title>Параметры IPv4</title>

 <p>Используйте эту вкладку для ввода информации, такой как IP-адрес вашего компьютера и какие DNS-серверы он должен использовать. Измените <gui>Профиль</gui> для выбора различных способов получения или задания этой информации.</p>
 <p>Доступны следующие профили:</p>
 <terms>
  <item>
   <title><gui>Автоматически (DHCP)</gui></title>
   <p>Получение информации об IP-адресе и используемом DNS-сервере от <em>сервера DHCP</em>. Сервер DHCP — это компьютер (или другое устройство, например, маршрутизатор), подключённый к сети, и определяющий, какие сетевые настройки должен иметь компьютер, — когда вы впервые подключаетесь к сети, то вам автоматически присваиваются соответствующие настройки. Большинство сетей используют DHCP.</p>
  </item>

  <item>
   <title><gui>Автоматически (DHCP, только адрес)</gui></title>
   <p>Если выбрать этот профиль, то компьютер получит свой IP-адрес от сервера DHCP, но остальные настройки (например, используемый DNS-сервер) потребуется указать вручную.</p>
  </item>

  <item>
   <title><gui>Вручную</gui></title>
   <p>Выберите этот профиль, если предпочитаете самостоятельно указывать все настройки соединения, в том числе какой IP-адрес должен использовать компьютер.</p>
  </item>

  <item>
   <title><gui>Только Link-Local</gui></title>
   <p><em>Link-Local</em> — это способ соединения компьютеров между собой по сети без использования сервера DHCP или ручного определения IP-адреса и другой информации. Если подключиться к сети Link-Local, то компьютеры такой сети сами определяют для себя, какие IP-адреса использовать, и так далее. Это удобно для временного соединения нескольких компьютеров вместе для обмена информацией друг с другом.</p>
  </item>

  <item>
   <title><gui>Отключено</gui></title>
   <p>Этот профиль отключает сетевое соединение и не позволяет подключаться к нему. Заметьте, что <gui>IPv4</gui> и <gui>IPv6</gui> считаются различными соединениями, хотя в обоих используется одна и та же сетевая карта. Если одно из них включено, то при желании второе можно отключить.</p>
  </item>

 </terms>
</section>

<section id="ipv6">
 <title>Параметры IPv6</title>
 <p>Эти параметры аналогичны параметрам на вкладке <gui>IPv4</gui>, за исключением того, что относятся к новому стандарту IPv6. Самые современные сети используют IPv6, но на сегодняшний момент IPv4 всё ещё остаётся более распространённым.</p>
</section>

</page>
