<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="net-antivirus" xml:lang="ru">

  <info>
    <link type="guide" xref="net-security"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision version="16.04" date="2016-03-14" status="review"/>

    <desc>Вирусов для Linux мало, поэтому антивирусное программное обеспечение вам, скорее всего, не понадобится.</desc>

    <credit type="author">
      <name>Проект документирования GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <credit type="author">
      <name>Команда документации Ubuntu</name>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Нужно ли мне антивирусное программное обеспечение?</title>

<p>Если вы привыкли к Windows или Mac OS, вы, вероятно, привыкли и к постоянно работающему антивирусному программному обеспечению. Антивирусное программное обеспечение работает в фоновом режиме, постоянно проверяя компьютер на наличие вирусов, которые могли бы заразить ваш компьютер и вызвать проблемы.</p>

<p>Антивирусное программное обеспечение существует и для Linux, но вам, вероятно, не потребуется его использовать. Вирусы, поражающие Linux, всё ещё очень редки. Некоторые утверждают, что поскольку Linux не так широко распространён в качестве операционной системы, то никто и не пишет вирусы для него. Другие доказывают, что Linux по своей природе более безопасен, и уязвимости защиты, которые вирусы могли бы использовать, ликвидируются очень быстро.</p>

<p>Независимо от причины, вирусы для Linux настолько редки, что в настоящий момент вам действительно не нужно беспокоиться.</p>

<p>If you want to be extra-safe, or if you want to check for viruses in files that you are passing between yourself
and people using Windows and Mac OS, you can still install anti-virus software. Check in <app>Ubuntu Software</app>
where a number of applications are available.</p>

</page>
