<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task 2column" id="net-email" xml:lang="ru">

  <info>
    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision version="13.10" date="2013-09-15" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <link type="guide" xref="net"/>

    <desc><link xref="net-default-email">Почтовый клиент по умолчанию</link></desc>

    <credit type="author">
      <name>Команда документации Ubuntu</name>
    </credit>

    <credit type="author">
      <name>Проект документирования GNOME</name>
    </credit>
  </info>

<title>Электронная почта и почтовые программы</title>

</page>
