<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="net-wireless-noconnection" xml:lang="ru">
  <info>
    <link type="guide" xref="net-wireless"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>Ещё раз проверьте пароль, попробуйте использовать ключ доступа вместо пароля, выключите и снова включите беспроводную карту...</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Я ввёл правильный пароль, но подключиться не удалось</title>

<p>При уверенности, что <link xref="net-wireless-wepwpa">пароль беспроводной сети</link> введён правильно, но подключиться к сети не удаётся, попробуйте сделать следующее:</p>

<list>
 <item>
  <p>Проверьте ещё раз, что у вас правильный пароль</p>
  <p>Пароли чувствительны к регистру (имеет значение, есть ли в них прописные или строчные буквы), поэтому проверьте, не введена ли одна из букв не в том регистре.</p>
 </item>

 <item>
  <p>Используйте шестнадцатеричный или ASCII ключ доступа</p>
  <p>Вводимый пароль может быть представлен по-другому — в виде строки символов в шестнадцатеричном виде (цифрами 0-9 и буквами a-f), называемой ключом доступа. Каждый пароль имеет эквивалентный ключ доступа. Если известен как и ключ доступа, так и пароль или кодовая фраза, попробуйте вместо пароля ввести ключ доступа. Убедитесь, что при запросе пароля выбрана соответствующая настройка <gui>защиты беспроводной сети</gui>, (например, выбран <gui>WEP 40/128-битный ключ</gui> для ввода 40-символьного ключа доступа при WEP-шифровании соединения).</p>
 </item>

 <item>
  <p>Попробуйте отключить беспроводную сетевую карту и включить её снова</p>
  <p>Иногда беспроводные карты не отвечают или испытывают незначительные проблемы, что означает, что они не будут подключаться. Попробуйте отключить и снова включить карту для сброса её состояния — для дополнительной информации см. <link xref="net-wireless-troubleshooting"/>.</p>
 </item>

 <item>
  <p>Проверьте, что используете соответствующую защиту беспроводной сети</p>
  <p>При запросе ввода пароля доступа к беспроводной сети можно выбирать используемый тип защиты беспроводной сети. Убедитесь, что выбран тот тип, который используется маршрутизатором или беспроводной базовой станцией​​. Такой тип защиты должен применяться по умолчанию, но иногда, по некоторым причинам, это не так. Если не известно, какой он на самом деле, попробуйте подобрать другие настройки методом проб и ошибок.</p>
 </item>

 <item>
  <p>Убедитесь, что беспроводная карта хорошо поддерживается</p>
  <p>Некоторые беспроводные карты поддерживаются не очень хорошо. Они сообщают, что беспроводное соединение установлено, но на самом деле карта не может подключиться к сети из-за недостатков в драйвере. Изучите возможность получения другого драйвера беспроводной карты или необходимость выполнения некоторых дополнительных настроек (например, установки другой <em>прошивки</em>). Для дополнительной информации см. <link xref="net-wireless-troubleshooting"/>.</p>
 </item>

</list>

</page>
