<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="unity-dash-video" xml:lang="ru">
  <info>
    <link type="guide" xref="unity-dash-intro#dash-lenses"/>
    <link type="seealso" xref="unity-dash-intro#dash-lenses"/>

    <desc>Найдите и воспроизведите видео на компьютере или из Интернета.</desc>

    <revision version="13.10" date="2013-10-23" status="outdated"/>

    <credit type="author">
      <name>Jeremy Bicha</name>
      <email>jbicha@ubuntu.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Линза видео</title>

  <p>Линза видео — это третья линза после домашней на <gui>панели линз</gui>, она представлена значком киноплёнки. Линза видео обеспечивает доступ к вашим видео или к видео, доступным в сети.</p>

  <p>Из главного меню можно даже приобрести видео или взять его напрокат.</p>

  <p>Чтобы открыть главное меню сразу на линзе видео, можно нажать <keyseq><key>Super</key><key>V</key></keyseq>.</p>


<section id="dash-apps-previews">
  <title>Подробности</title>

  <p>Щёлкните правой кнопкой мыши на результате поиска, чтобы открыть <gui>подробности</gui> с детальной информацией о видео.</p>

</section>

<section id="dash-apps-filters">
  <title>Фильтры</title>

  <p>Щёлкните <gui>Отфильтровать результаты</gui>, чтобы выбрать видео по источнику.</p>

</section>

</page>
