<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="unity-dash-intro" xml:lang="ru">
  <info>
    <link type="guide" xref="index" group="unity-dash-intro"/>
    <link type="guide" xref="shell-overview#desktop"/>

    <desc>Главное меню — это верхняя кнопка на панели запуска.</desc>

    <revision version="13.10" date="2013-10-23" status="outdated"/>

    <credit type="author">
      <name>Jeremy Bicha</name>
      <email>jbicha@ubuntu.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Главное меню — поиск приложений, файлов, музыки и многого другого</title>

  <media type="image" src="figures/unity-dash-sample.png" style="floatend floatright">
    <p>Поиск в Unity</p>
  </media>

  <p><gui>Главное меню</gui> позволяет выполнять поиск приложений, файлов, музыки и видео, а также показывает недавно использовавшиеся элементы. Несомненно, вы найдёте удобным это свойство главного меню, особенно если когда-либо работали над таблицей или редактировали изображение и забыли, куда сохранили результаты.</p>

  <p>Чтобы начать работу с <gui>главным меню</gui>, щёлкните верхний значок на <link xref="unity-launcher-intro">панели запуска</link>. На этом значке изображён логотип Ubuntu. Чтобы ещё быстрее попасть в главное меню, просто нажмите клавишу <key xref="windows-key">Super</key>.</p>

  <p>Чтобы скрыть <gui>главное меню</gui>, щёлкните значок снова, либо нажмите <key>Super</key> или <key>Esc</key>.</p>

<section id="dash-home">
  <title>Поиск любой информации из домашней линзы</title>

  <p>Первое, что вы увидите, открыв главное меню, — это домашняя линза. Если ничего не набирать и никуда не щёлкать, то домашняя линза покажет недавно использовавшиеся приложения и файлы.</p>
  <p>И для приложений, и для файлов отобразится только один ряд результатов. Если результатов больше, то для их просмотра можно щёлкнуть <gui>Показать ещё … результатов</gui>.</p>

  <p>Чтобы что-то найти, просто начните печатать, и автоматически будут появляться подходящие результаты поиска из других установленных линз.</p>

  <p>Щёлкните на результате, чтобы открыть его, или нажмите <key>Enter</key> для открытия первого элемента в списке.</p>

</section>

<section id="dash-lenses">
  <title>Линзы</title>

  <p>Линзы позволят сфокусировать результаты главного меню, отбросив результаты из других линз.</p>

  <p>Доступные линзы можно увидеть на <gui>панели линз</gui> — тёмной полоске в нижней части главного меню.</p>

  <p>Для переключения между различными линзами щёлкните подходящий значок или нажмите <keyseq><key>Ctrl</key><key>Tab</key></keyseq>.</p>

</section>

<section id="dash-filters">
  <title>Фильтры</title>

  <p>Фильтры позволяют сузить результаты поиска ещё больше.</p>

  <p>Щёлкните <gui>Отфильтровать результаты</gui> для выбора фильтров. Возможно, придётся щёлкнуть заголовок фильтра, например <gui>Источники</gui>, чтобы увидеть доступные варианты.</p>

</section>

<section id="dash-previews">
  <title>Подробности</title>

  <p>Если щёлкнуть правой кнопкой мыши на результате поиска, то откроются <gui>подробности</gui> с дополнительной информацией о результате.</p>

  <p>Чтобы закрыть подробности, щёлкните на свободном месте или нажмите <key>Esc</key>.</p>

</section>

</page>
