<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="unity-launcher-intro" xml:lang="ru">
  <info>
    <link type="guide" xref="index" group="unity-launcher-intro"/>
    <link type="guide" xref="shell-overview#desktop" group="#first"/>

    <desc>Панель запуска находится слева на вашем экране.</desc>

    <revision version="13.10" date="2013-10-23" status="outdated"/>

    <credit type="author">
      <name>Команда документации Ubuntu</name>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Используйте панель запуска для запуска приложений</title>

<media type="image" src="figures/unity-launcher-apps.png" style="floatstart floatleft">
  <p>Значки панели запуска</p>
</media>

  <p><gui>Панель запуска</gui> — один из ключевых компонентов рабочего стола Unity. После входа в систему она появляется вдоль левой стороны экрана. Панель запуска предоставляет быстрый доступ к приложениям, рабочим местам, съёмным носителям и корзине.</p>

   <p>Если нужное приложение присутствует в панели запуска, можно щёлкнуть на значке этого приложения, и оно будет запущено.</p>

  <p>Чтобы узнать больше о панели запуска, изучите любой из посвящённых ей разделов справки ниже.</p>

<section id="launcher-using">
  <title>Использование панели запуска</title>
</section>

<!--
  <section id="launcher-basics">
    <title>Launcher Basics</title>
    <comment><p>
      Launcher appearance
      Launcher accordion effect
    </p></comment>
  </section>
-->

  <section id="launcher-customizing" style="2column">
    <title>Настройка панели запуска</title>
  </section>

</page>
