<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="unity-launcher-shapes" xml:lang="ru">
  <info>
    <link type="guide" xref="unity-launcher-intro#launcher-using"/>

    <revision version="13.10" date="2013-10-23" status="outdated"/>

    <credit type="author">
      <name>Jeremy Bicha</name>
      <email>jbicha@ubuntu.com</email>
    </credit>

    <desc>Треугольники показывают запущенные в данный момент приложения.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Что означают различные формы и цвета значков панели запуска?</title>

  <p>При запуске приложения значок на панели запуска пульсирует. Так Ubuntu сообщает, что приложение начинает работать. Это удобно, поскольку некоторые приложения запускаются сразу, а другим требуется какое-то время для начала работы.</p>

  <p>После того, как приложение запустится, с левой и правой стороны его значка на панели запуска появятся маленькие <em>белые треугольнички</em>. Если у приложения открыто несколько окон, с левой стороны его значка появляются дополнительные треугольнички (т.е. два треугольничка означают два открытых окна приложения, три треугольничка — три окна). Если у приложения открыто более трёх окон, отображаться будут только три треугольничка.</p>

    <note style="tip"><p>У приложений, не запущенных в настоящий момент, рамка значка панели запуска полупрозрачная. Если приложение работает, рамка его значка заполнена цветом.</p></note>

<section id="launcher-notifications">
  <title>Уведомления</title>

  <p>Если приложение хочет привлечь ваше внимание, чтобы уведомить о чём-то (например, о завершении загрузки), значок панели запуска начнёт покачиваться и накаляться, и цвет белого треугольника станет <em>голубым</em>. Щёлкните значок панели запуска для отклонения уведомления.</p>

  <p>Приложения могут также отображать <em>числа</em> на своём значке в панели запуска. Программы обмена сообщениями используют числа для уведомления о количестве непрочитанных сообщений. <gui>Центр обновлений</gui> использует их для информации о количестве доступных обновлений.</p>

  <p>И наконец, приложения могут использовать <em>индикатор выполнения</em>, чтобы уведомить о длительности процесса, без необходимости держать в поле зрения окно приложения.</p>

</section>

</page>
