<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="user-forgottenpassword" xml:lang="ru">

  <info>
    <link type="guide" xref="user-accounts#passwords"/>
    <desc>Продвинутые методы сброса вашего пароля</desc>
    <revision version="13.10" date="2013-10-23" status="outdated"/>
    <credit type="author">
      <name>Проект документирования GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Я забыл свой пароль!</title>
  <p>Важно выбрать не только <link xref="user-goodpassword">безопасный и стойкий пароль</link>, но также такой, который можно запомнить. Если пароль для входа в систему забыт, попробуйте предпринять следующие шаги для его сброса.</p>
  <note style="important">
  <p>Если домашний каталог зашифрован, то сбросить забытый пароль нельзя.</p>
  </note>
  <p>Если нужно просто сменить свой пароль, см. <link xref="user-changepassword"/>.</p>

  <links type="section"/>

  <section id="reset-password-grub2"><title>Сброс пароля с помощью Grub</title>
     <steps>
         <item>
           <p>Перезагрузите компьютер и удерживайте <key>Shift</key> во время загрузки для входа в меню Grub.</p>
           <note style="tip">
           <p>Если компьютер использует многовариантную загрузку, и при загрузке выбирается операционная система для работы, меню Grub должно появиться без необходимости удержания <key>Shift</key>.</p>
           </note>
           <note>
           <p>Если не удаётся войти в загрузочное меню Grub, и из-за этого нельзя выбрать загрузку в режиме восстановления, можно <link xref="user-forgottenpassword#live-cd">использовать live CD для сброса вашего пароля пользователя</link>.</p>
           </note>
          </item>
          <item>
           <p>Нажмите клавишу со стрелкой вниз, чтобы выделить строку, заканчивающуюся словами "recovery mode", затем нажмите <key>Enter</key>.</p>
          </item>
          <item>
           <p>Начнётся процесс загрузки компьютера. Через некоторое время появится <gui>Меню восстановления</gui> (Recovery Menu). С помощью клавиши со стрелкой вниз выберите <gui>root</gui> и нажмите <key>Enter</key>.</p>
          </item>
          <item>
           <p>После символа <cmd>#</cmd> наберите:</p>
           <p><cmd>passwd <var>имя_пользователя</var></cmd>, где <var>имя_пользователя</var> — это учётная запись, пароль для которой меняется.</p>
          </item>
          <item>
           <p>Будет предложено ввести новый пароль UNIX и подтвердить его.</p>
          </item>
          <item>
           <p>Затем наберите:</p>
           <p># <cmd>reboot</cmd></p>
          </item>
     </steps>
     <p>После успешного входа в систему нельзя получить доступ к вашей связке ключей (ведь старый пароль забыт). Это означает, что все сохранённые пароли для беспроводной сети, учётных записей jabber, и т. п. будут теперь недоступны. Потребуется <link xref="#delete-keyring">удалить старую связку ключей</link> и создать новую.</p>
  </section>
    <section id="live-cd"><title>Сброс пароля с использованием Live CD или USB</title>
     <steps>
         <item>
           <p>Выполните загрузку с Live CD или USB.</p>
          </item>
          <item>
           <p>Смонтируйте ваш диск.</p>
          </item>
          <item>
           <p>Нажмите <keyseq><key>Alt</key><key>F2</key></keyseq> для запуска окна <gui>Выполнить команду</gui>.</p>
          </item>
          <item>
           <p>Наберите <cmd>gksu nautilus</cmd> для запуска менеджера файлов с привилегиями суперпользователя.</p>
           <note style="tip">
           <!-- Translators: do not translate the word "home". -->
           <p>Проверить, тот ли диск только что смонтирован, можно, щёлкнув на папке <gui> home </gui> этого диска, а затем на папке с вашим именем пользователя.</p>
           </note>
          </item>
          <item>
           <p>Перейдите в корневой каталог смонтированного диска. Затем перейдите в каталог <gui>etc</gui>.</p>
           <p>Найдите файл 'shadow' и сделайте его резервную копию:</p>
           <steps>

           <item><p>Щёлкните правой кнопкой мыши на файле shadow и выберите <gui>Копировать</gui>.</p></item>
           <item><p>Затем щёлкните правой кнопкой на пустом месте и выберите <gui>Вставить</gui>.</p></item>

           <item><p><link xref="files-rename">Переименуйте</link> резервную копию в "shadow.bak".</p></item>
           </steps>
          </item>


          <item>
           <p>Откройте исходный файл "shadow" в текстовом редакторе.</p>
          </item>

          <item>
           <p>Найдите имя пользователя, пароль для которого забыт. Он будет выглядеть примерно так (символы после двоеточия могут быть разными):</p>
           <p>имя_пользователя:$1$2abCd0E или</p>
            <p>имя_пользователя:$1$2abCd0E:13721a:0:99999:7:::</p>
          </item>
          <item>
           <p>Удалите символы, расположенные между первым и вторым двоеточиями. Это удалит пароль для этой учётной записи.</p>
           <p>Сохраните файл, закройте все программы и перезагрузите компьютер без использования live CD или USB.</p>
          </item>
          <item>
           <p>После перезагрузки системы, щёлкните ваше имя на панели меню. Откройте <gui>Учётные записи</gui> и сбросьте ваш пароль.</p>
          </item>
          <item>
          <p>В поле <gui>Текущий пароль</gui> ничего не вводите, поскольку ваш текущий пароль пустой. Просто щёлкните <gui>Авторизоваться</gui> и введите новый пароль.</p>
          </item>

     </steps>
     <p>После успешного входа в систему нельзя получить доступ к вашей связке ключей (ведь старый пароль забыт). Это означает, что все сохранённые пароли для беспроводной сети, учётных записей jabber, и т. п. будут теперь недоступны. Потребуется <link xref="#delete-keyring">удалить старую связку ключей</link> и создать новую.</p>
  </section>


  <section id="delete-keyring">
    <title>Удаление связки ключей</title>

    <note style="warning"><p>Это действие удалит все сохранённые пароли для беспроводной сети, учётных записей в программах обмена сообщениями и др. Делайте это только тогда, когда невозможно вспомнить пароль, использованный для связки ключей.</p></note>

  <steps>
   <item><p>Перейдите в вашу домашнюю папку, набрав «дом» (без кавычек) в <gui>главном меню</gui>.</p></item>
   <item><p>Нажмите <keyseq><key>Ctrl</key><key>h</key></keyseq> (или щёлкните <guiseq><gui>Вид</gui><gui>Показать скрытые файлы</gui></guiseq>.)</p></item>
   <item><p>Выполните двойной щелчок на папке <file>~/.local/share</file>.</p></item>
   <item><p>Выполните двойной щелчок на папке keyrings.</p></item>
   <item><p>Удалите все файлы, находящиеся в папке keyrings.</p></item>
   <item><p>Перезагрузите компьютер.</p></item>
 </steps>
<p>После перезагрузки и входа в систему будет предложено ввести пароль для беспроводной сети.</p>
  </section>

</page>
