<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="user-goodpassword" xml:lang="ru">

  <info>
    <credit type="author">
      <name>Проект документирования GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <desc>Используйте более длинные и сложные пароли.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="user-accounts#passwords"/>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="14.04" date="2013-10-24" status="candidate"/>
  </info>

  <title>Выберите надёжный пароль</title>

  <note style="important">
    <p>Выберите пароль, который достаточно легко запомнить, а другим, включая компьютерные программы, очень сложно угадать.</p>
  </note>

  <p>Выбор надёжного пароля поможет поддерживать компьютер в безопасности. Если ваш пароль легко угадать, кто-нибудь сможет подобрать его и получить доступ к вашей личной информации.</p>
  <p>Для систематических попыток угадывания вашего пароля люди могут использовать и компьютеры, так что даже тот пароль, который человеку трудно угадать, может быть очень легко взломан компьютерной программой. Вот несколько советов по выбору хорошего пароля:</p>

  <list>
    <item>
      <p>Используйте в пароле смесь заглавных и строчных букв, цифр, символов и пробелов. Это затруднит подбор пароля. Чем больше разнообразие символов, из которых может состоять пароль, тем больше возможных комбинаций придётся проверить тому, кто пытается угадать ваш пароль.</p>
      <note>
        <p>Неплохой способ выбора пароля — взять первые буквы каждого слова из фразы, которую вы можете легко запомнить. Это может быть название фильма, книги, песни или музыкального альбома. Например, «Flatland: A Romance of Many Dimensions» превратится в F:ARoMD,  faromd или f: aromd.</p>
      </note>
    </item>
    <item>
      <p>Сделайте свой пароль настолько длинным, насколько это возможно. Чем больше в нём символов, тем дольше человек или компьютер будет его угадывать.</p>
    </item>
    <item>
      <p>Не используйте слова, которые можно найти в обычном словаре какого-либо языка. Их взломщики паролей проверяют в первую очередь. Самое распространённое в качестве пароля слово «password» (пароль) — такие пароли даже человек сможет угадать очень быстро!</p>
    </item>
    <item>
      <p>Не используйте личную информацию, такую как даты, номерные знаки автомобилей или имена членов семьи.</p>
    </item>
    <item>
      <p>Не используйте имена существительные.</p>
    </item>
    <item>
      <p>Выберите пароль, который можно набрать быстро, чтобы уменьшить вероятность того, что кто-нибудь сможет подсмотреть, какие клавиши вы нажимали во время его набора.</p>
      <note style="tip">
        <p>Никогда нигде не записывайте пароли. Их могут найти!</p>
      </note>
    </item>
    <item>
      <p>Используйте разные пароли для разных задач.</p>
    </item>
    <item>
      <p>Используйте разные пароли для разных учётных записей.</p>
      <p>При использовании одного и того же пароля для всех своих учётных записей любой, кто угадает пароль, получит доступ сразу ко всем вашим учётным записям.</p>
      <p>Запомнить множество паролей бывает достаточно сложно. Возможно, будет проще использовать один общий пароль для малозначащих задач (например, для веб-сайтов), а разные пароли для важных (например, для вашего банковского счёта в Интернете или для электронной почты), хотя это и не так безопасно, как использование разных паролей для каждой задачи.</p>
    </item>
    <item>
      <p>Регулярно меняйте ваши пароли.</p>
    </item>
  </list>

</page>
