<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="wacom-left-handed" xml:lang="ru">

  <info>
    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>Попробуйте <gui>Настроить под левую руку</gui> планшет Wacom.</desc>
    <link type="guide" xref="wacom"/>
    <revision pkgversion="3.5.5" version="0.1" date="2012-08-15" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

  </info>

  <title>Управление планшетом левой рукой</title>

  <p>У некоторых графических планшетов кнопки расположены только на одной стороне. Чтобы левшам было удобнее нажимать на кнопки, планшет можно развернуть на 180 градусов. Чтобы изменить ориентацию планшета для использования левшами:</p>

<steps>
  <item><p>Щёлкните самый правый значок на <gui>панели меню</gui> и выберите <gui>Параметры системы</gui>.</p></item>
  <item><p>Откройте <gui>Планшет Wacom</gui>.</p>
     <note style="tip"><p>Если планшет не обнаружен, появится запрос <gui>Подключите или включите планшет Wacom</gui>.</p></note>
  </item>
  <item><p>Включите переключатель <gui>Настроить под левую руку</gui> в положение <gui>ON</gui>.</p></item>
</steps>

</page>
