<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="pref-user-input" xml:lang="ru">

  <info>
    <revision pkgversion="3.14" date="2014-10-23" status="review"/>
    <link type="guide" xref="index#preferences"/>

    <credit type="author copyright">
      <name>Екатерина Герасимова (Ekaterina Gerasimova)</name>
      <email>kittykat3756@gmail.com</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Do not send user input to the application running in the
    terminal.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Сергей В. Миронов</mal:name>
      <mal:email>sergo@bk.ru</mal:email>
      <mal:years>2007.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юлия Дронова</mal:name>
      <mal:email>juliette.tux@gmail.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>

  <title>Disable user input</title>

  <p>You can prevent user input into the terminal from being passed to the
  application which is currently running in the terminal. This will prevent any
  keypresses, mouse clicks and mouse movement from affecting the application.
  You will still be able to interact with the terminal itself using the
  keyboard for scrolling and your mouse for selecting text. You will also be
  able to copy selected text from the terminal, but you will not be able to
  paste text into the terminal.</p>

  <p>To use the read only mode:</p>

  <steps>
    <item>
      <p>Right click in the <app>Terminal</app> window or select
      the <gui style="menu">Terminal</gui> menu.</p>
    </item>
    <item>
      <p>Select <gui style="menuitem">Read-Only</gui> so that it is checked.</p>
    </item>
  </steps>

  <p>You can disable the read only mode by unchecking
  <gui style="menuitem">Read-Only</gui>.</p>

</page>
