<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="task" id="pref-bell" xml:lang="ru">

  <info>
    <revision version="0.1" date="2013-02-17" status="candidate"/>
    <link type="guide" xref="index#preferences"/>
    <link type="guide" xref="profile"/>

    <credit type="author copyright">
      <name>С. Синдху (Sindhu S)</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Екатерина Герасимова (Ekaterina Gerasimova)</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Майкл Хилл (Michael Hill)</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Включить звуковые сигналы в <app>Терминале</app></desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Сергей В. Миронов</mal:name>
      <mal:email>sergo@bk.ru</mal:email>
      <mal:years>2007.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юлия Дронова</mal:name>
      <mal:email>juliette.tux@gmail.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>

  <title>Настроить звуковой сигнал</title>

  <p><app>Терминал</app> может проигрывать звуковой сигнал для определённых событий в своих окнах и вкладках. Например, сигнал будет звучать при нажатии клавиши<key>Tab</key> во время автодополнения команд, когда команда закончила выполнение, или когда команда выводит ошибку, предупреждение или уведомление.</p>

  <p>Чтобы получать звуковые уведомления для данных событий:</p>
  <steps>
    <item>
      <p>Выберите <guiseq><gui style="menu">Правка</gui> <gui style="menuitem"> Параметры профиля</gui> <gui style="tab">Общие</gui></guiseq>.</p>
    </item>
    <item>
      <p>Выберите <gui style="checkbox">Звуковой сигнал Терминала</gui></p>
    </item>
    <item>
      <p>Настройка будет сохранена автоматически. Для выхода из диалогового окна настроек нажмите <gui style="button">Закрыть</gui>.</p>
    </item>
  </steps>

  <note style="tip">
    <p>Чтобы прослушать звуковой сигнал, производимый системой, нажмите <keyseq><key>Ctrl</key><key>G</key></keyseq>.</p>
  </note>

</page>
