<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="accounts-remove" xml:lang="pt-BR">

	<info>
		<credit type="author">
			<name>Michael Hill</name>
			<email>mdhillca@gmail.com</email>
		</credit>

		<credit type="editor">
			<name>Greg Beam</name>
			<email>ki7mt@yahoo.com</email>
		</credit>

		<link type="guide" xref="accounts"/>
		<link type="seealso" xref="accounts-disable-service"/>
    <revision pkgversion="3.10.2" version="0.1" date="2014-01-08" status="review"/>
		<revision version="14.04" date="2014-01-08" status="review"/>
		<include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

		<desc>
			Remove online account services
		</desc>
	</info>

	<title>Exclua uma conta</title>

	<steps>
		<item>
			<p>Clique no ícone mais à direita da <gui>barra de menu</gui> e selecione <gui>Configurações do sistema</gui>.</p>
		</item>

		<item>
			<p>Select <gui>Online Accounts</gui>.
			</p>
		</item>

    <item>
      <p>
        From the left windowpane, select the account you wish to remove.
      </p>
    </item>

    <item>
      <p>Clique no botão <gui> Remover Conta </gui> na parte inferior direita da janela.</p>

  <note style="tip">
    <p>
      Removing the selection from <app>Online Accounts</app> in no way affects
			the account from your service provider.
    </p>
  </note>
    </item>

    <item>
      <p>Clique em <gui>Remover</gui>.</p>
    </item>
  </steps>

  <note style="tip">
    <p>
      Instead of deleting the account completely, you can <link xref="accounts-disable-service">restrict the service</link> from being
			accessed by your desktop.
    </p>
  </note>
</page>
