<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="question" version="1.0 if/1.0" id="color-virtualdevice" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="color#profiles"/>
    <link type="seealso" xref="color-why-calibrate"/>
    <desc>Um dispositivo virtual é um dispositivo de cores gerenciadas que não está conectado ao computador.</desc>

    <revision version="13.10" date="2013-09-07" status="review"/>
    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>O que é um dispositivo virtual de cores gerenciadas?</title>

  <p>Um dispositivo virtual é um dispositivo com cores gerenciadas que não está conectado ao computador. Exemplos deles incluem:</p>

  <list>
    <item><p>Uma loja virtual de revelação digital, onde as fotos são recebidas pela internet, impressas e enviadas a você</p></item>
    <item><p>Fotos de uma câmera digital armazenadas em um cartão de memória</p></item>
  </list>

<if:choose>
<if:when test="platform:unity">
  <p>Para criar um perfil virtual para uma câmera digital basta arrastar e soltar um dos arquivos de imagem para <guiseq><gui>Configurações do sistema</gui> <gui>Cor</gui></guiseq>. Você pode, então, <link xref="color-assignprofiles">atribuir perfis</link> para ela como qualquer outro dispositivo ou mesmo <link xref="color-calibrate-camera">calibrá-la</link>.</p>
</if:when>
  <p>Para criar um perfil virtual para uma câmera digital basta arrastar e soltar um dos arquivos de imagem para <guiseq><gui>Configurações do sistema</gui> <gui>Cor</gui></guiseq>. Você pode, então, <link xref="color-assignprofiles">atribuir perfis</link> para ela como qualquer outro dispositivo ou mesmo <link xref="color-calibrate-camera">calibrá-la</link>.</p>
</if:choose>

</page>
