<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task 2column" id="net-problem" xml:lang="pt-BR">

  <info>
    <revision pkgversion="3.4.0" date="2012-02-21" status="final"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <link type="guide" xref="net"/>

    <desc><link xref="net-wireless-troubleshooting">Resolvendo problemas de rede sem fio</link>, <link xref="net-wireless-find">descobrindo sua rede wifi</link>…</desc>

    <credit type="author">
      <name>O Time de documentação do Ubuntu</name>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Problemas na rede</title>

</page>
