<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-install-moonlight" xml:lang="pt-BR">
  <info>
    <link type="guide" xref="net-browser"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>Alguns sites usam Silverlight para mostrar páginas da web. O plug-in Moonlight permite visualizar essas páginas.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Instale o plug-in do Silverlight</title>

<p>O <app>Silverlight</app> é um <em>plug-in</em> para o seu navegador que permite a você assistir vídeos e usar páginas interativas em alguns sites. Alguns sites não irão funcionar sem o Silverlight.</p>

<p>Se você visualizar acessar um site que utiliza o Silverlight mas não tiver o plug-in instalado, você provavelmente verá uma mensagem lhe dizendo isto. Esta mensagem deve ter instruções dizendo a você como obter o plug-in, mas essas instruções podem não ser adequadas para o seu navegador de Internet ou a sua versão do Linux.</p>

<p>Se você quiser visualizar sites que utilizam o Silverlight, você deve instalar o plug-in <em>Moonlight</em> como alternativa. Esta é uma versão livre e de código aberto do Silverlight que funciona no Linux.</p>


<p>Por favor, acesse o <link href="http://www.go-mono.com/moonlight/">site do Moonlight</link> para mais informações e instruções de instalação.</p>

</page>
