<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-chat-social" xml:lang="pt-BR">
  <info>
    <link type="guide" xref="net-chat"/>

    <revision version="13.10" date="2013-09-18" status="review"/>

    <credit type="author">
      <name>Time de documentação do Ubuntu</name>
    </credit>

    <desc>Poste no <em>Twitter</em>, <em>Facebook</em> e outros sites de redes sociais diretamente da sua área de trabalho</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Rede social a partir da área de trabalho</title>

  <p>
    With Ubuntu you can post to your favorite social networking sites from your
    desktop. Ubuntu uses the <app>Friends</app> scope to allow you to
    organize your social networking sites in one place, and to post updates
    from the <gui>Me Menu</gui> without opening any website.
  </p>

  <p>Para configurar suas contas de redes sociais:</p>
  <steps>

    <item><p>
      Open the <link xref="unity-menubar-intro">System menu</link> on the right hand side of the menu bar and select "System Settings...".
    </p></item>

    <item><p>Escolha <gui>Contas on-line</gui></p></item>

    <item><p>Escolha o site da rede social que deseja configurar e clique em <gui>Adicionar conta...</gui></p></item>

    <item><p>Clique em <gui>Autorizar</gui> e insira suas configurações de conta para aquele site e siga as instruções</p></item>

  </steps>

  <p>
    You can now view your social networking messages from the <link xref="unity-menubar-intro">
    Messaging menu</link> 
    on the right hand side of the menu bar, in the <gui>Broadcast</gui> section.
    Click on any of the items in that section to open <gui>Friends</gui> scope
    and to read or post messages to your social network.
  </p>

</page>
