<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="power" xml:lang="pt-BR">
<info>
    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>

    <revision pkgversion="3.8" date="2013-02-26" status="review"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <credit type="author">
      <name>Natalia Ruz</name>
      <email>nruz@alumnos.inf.utfsm.cl</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>
      <link xref="power-suspend">Suspend</link>,
      <link xref="power-batterylife">energy savings</link>,
      <link xref="shell-exit#shutdown">power off</link>,
      <link xref="power-whydim">screen dimming</link>…
    </desc>

</info>

<title>Energia e bateria</title>

<section id="battery" style="2column">
  <title>Configurações de bateria</title>
</section>

<section id="problems" style="linklist nodesc">
  <info>
    <title type="link">Problemas com a alimentação de energia</title>
    <link type="guide" xref="hardware#problems"/>
    <desc>Resolução de problemas com energia e baterias.</desc>
  </info>
  <title>Problemas</title>
</section>

</page>
