<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="sound-alert" xml:lang="pt-BR">
  <info>
    <link type="guide" xref="media#sound"/>

   <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc>Escolha o som a ser reproduzido para mensagens, defina o volume do alerta ou desative sons de alerta.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Escolha ou desative o som de alerta</title>

  <p>Seu computador irá reproduzir um simples som de alerta para certos tipos de mensagens e eventos. Você pode escolher diferentes sons para os alertas, definir o volume do alerta independentemente do volume do sistema ou desabilitar sons de alerta por completo.</p>

  <steps>
    <item><p>Clique no <gui>menu de som</gui> na <gui>barra de menu</gui> e clique em <gui>Configurações de som</gui>.</p></item>
    <item><p>Na aba <gui>Efeitos de som</gui>, selecione um som de alerta. Cada som será reproduzido quando você clicar nele para que possa ouvir como ele soa.</p></item>
  </steps>

  <p>Use a barra deslizante de volume na aba <gui>Efeitos de som</gui> pra configurar o volume de cada som de alerta. Isso não afetará o volume de suas músicas, filmes ou outros arquivos de som.</p>

  <p>Para desabilitar os sons de alerta completamente, basta selecionar <gui>Mudo</gui> próximo do <gui>Volume de saída</gui>.</p>
</page>
