<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="unity-launcher-change-size" xml:lang="pt-BR">
  <info>
    <link type="guide" xref="unity-launcher-intro#launcher-customizing" group="#last"/>

    <revision version="13.10" date="2013-10-23" status="review"/>

    <credit type="author">
      <name>Time de documentação do Ubuntu</name>
    </credit>

    <desc>Faça os ícones do lançador ficarem maiores ou menores.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Modificar o tamanho dos ícones do lançador</title>

  <p>Você pode colocar os ícones do Lançador menores para permitir que mais itens se encaixem no Lançador. Ou você talvez queira deixar os ícones do Lançador maiores, de modo que fiquem mais fácil pra clicar.</p>

  <steps>
    <item>
     <p>Clique no ícone mais à direita na barra de menu e selecione <gui>Configurações do sistema</gui>.</p>
    </item>
    <item>
     <p>Clique em <gui>Aparência</gui>.</p>
    </item>
    <item>
      <p>Deslize a barra <gui>Tamanho do ícone do lançador</gui> para aumentar ou diminuir o tamanho dos ícones do <gui>Lançador</gui>.</p>
      <note><p>O tamanho padrão dos ícones do <gui>Lançador</gui> é <em>48</em>.</p></note>
    </item>
  </steps>

</page>
