<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="unity-shopping" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="unity-dash-intro"/>
    <link type="seealso" xref="unity-dash-intro#dash-home"/>

    <desc>Resultados online tornam o Painel mais eficiente e ajudam a financiar o desenvolvimento do Ubuntu.</desc>

    <revision version="14.04" date="2014-04-03" status="review"/>
    <credit type="author">
      <name>Jeremy Bicha</name>
      <email>jbicha@ubuntu.com</email>
    </credit>
    <credit type="editor">
       <name>Time de documentação do Ubuntu</name>
       <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Por que existem links de compras no Painel?</title>

<p>In addition to helping you find apps or files on your computer, the 
<gui>Dash</gui> can also show you related online results for your searches. 
Online sources include Amazon.com and dozens of other online sources.</p>

<p>Quando você compra uma música ou algum produto a partir dessas fontes, a Canonical recebe uma pequena parte dos lucros em troca de direcionar mais negócios para essas lojas. A Canonical, empresa que criou e continua a apoiar o projeto Ubuntu, usa esse dinheiro para fazer o Ubuntu ainda melhor.</p>

<p>By default, the inclusion of online search results is turned off.</p>

<section id="enable-shopping">
  <title>Turn on online search results</title>

  <p>If you want to receive online search suggestions, you can 
  enable this feature through the <gui>Security &amp; Privacy</gui> system setting.</p>

<steps>

  <item><p>Click the <gui>system menu</gui> at the far right of the <gui>menu bar</gui> and 
  select <gui>System Settings</gui>.</p></item>

  <item><p>Open <gui>Security &amp; Privacy</gui> and select the <gui>Search</gui> tab.</p></item>

  <item><p>Switch on <gui>Include online search results</gui>.</p></item>


</steps>
</section>

</page>
