<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="unity-dash-video" xml:lang="pt-BR">
  <info>
    <link type="guide" xref="unity-dash-intro#dash-lenses"/>
    <link type="seealso" xref="unity-dash-intro#dash-lenses"/>

    <desc>Encontre e reproduza vídeos de seu computador ou da Internet.</desc>

    <revision version="13.10" date="2013-10-23" status="outdated"/>

    <credit type="author">
      <name>Jeremy Bicha</name>
      <email>jbicha@ubuntu.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Lente de vídeo</title>

  <p>The video lens is the third lens after the Dash home on the
    <gui>lens bar</gui> and is represented by a film strip. The video lens
    gives you access to your videos or videos available online.</p>

  <p>Você poderá ainda comprar ou alugar vídeos a oartir do Painel.</p>

  <p>Você pode usar <keyseq><key>Super</key><key>V</key></keyseq> para abrir o Painel diretamente na lente de vídeos.</p>


<section id="dash-apps-previews">
  <title>Pré-visualizações</title>

  <p>Clique com o botão direito em um resultado da pesquisa para abrir uma <gui>pré-visualização</gui> com mais informações sobre o vídeo.</p>

</section>

<section id="dash-apps-filters">
  <title>Filtros</title>

  <p>Clique em <gui>Filtrar resultados</gui> para filtrar por fonte de vídeo.</p>

</section>

</page>
