<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="txt-select-text" xml:lang="de">

  <info>
    <revision pkgversion="3.8" date="2013-03-03" status="review"/>
    <revision pkgversion="3.14.2" date="2015-01-28" status="review"/>
    <link type="guide" xref="index#textoutput"/>
    <link type="guide" xref="profile"/>
    <link type="seealso" xref="txt-copy-paste"/>

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013, 2015</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Wählen Sie einzelne Worte oder Zeilen im Terminal.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jan Arne Petersen</mal:name>
      <mal:email>jap@gnome.org</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008-2010, 2012-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2012, 2013, 2014, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2014, 2015</mal:years>
    </mal:credit>
  </info>

  <title>Textauswahl</title>

  <p>Sie können ein Wort oder einen Satz in der Terminal-Ausgabe wählen, oder eine rechteckige Auswahl markieren:</p>

  <terms>
    <item>
      <title>Ein Wort markieren</title>
      <p>Klicken Sie zweimal auf das Wort.</p>
    </item>
    <item>
      <title>Eine Zeile markieren</title>
      <p>Klicken sie dreifach auf die Zeile.</p>
    </item>
    <item>
      <title>Eine rechteckige Auswahl tätigen</title>
      <p>Halten Sie die <key>Strg</key>-Taste gedrückt. Klicken und halten Sie die linke Maustaste und ziehen Sie die Maus.</p>
    </item>
  </terms>

  <note style="tip">
    <p>Wenn Sie im <app>Terminal</app> eine Anwendung starten, die Mauseingaben annimmt, müssen sie die <key>Umschalt</key>-Taste verwenden, damit das <app>Terminal</app> die Mauseingabe abfängt.</p>
  </note>

</page>
