<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="keyboard-shortcuts" xml:lang="fr">

  <info>
   <link type="guide" xref="index#advanced"/>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <credit type="author copyright">
      <name>Chris Beiser</name>
      <email>ctbeiser@gmail.com</email>
      <years>2011</years>
    </credit>
    <credit type="editor">
     <name>Tiffany Antopolski</name>
     <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Paternité-Partage des Conditions Initiales à l'Identique 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2007-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2007-2008</mal:years>
    </mal:credit>
  </info>

<title>Raccourcis clavier</title>
<p>Voici une liste des raccourcis clavier que vous pouvez utiliser dans Sudoku.</p>

<section id="starting-restarting">
	<title>Démarrage et arrêt</title>
	<table frame="all" rules="cols" shade="rows">
		<tr>
			<td><p>Nouvelle partie</p></td>
			<td><p><keyseq><key>Ctrl</key><key>N</key></keyseq></p></td>
		</tr>
		<tr>
			<td><p>Réinitialiser le jeu</p></td>
			<td><p><keyseq><key>Ctrl</key><key>B</key></keyseq></p></td>
		</tr>
		<tr>
			<td><p>Fermer la fenêtre du Sudoku</p></td>
			<td><p><keyseq><key>Ctrl</key><key>W</key></keyseq></p></td>
		</tr>
	</table>
</section>
<section id="helpers">
	<title>Astuces et notes</title>
	<table frame="all" rules="cols" shade="rows">
		<tr>
			<td><p>Astuce</p></td>
			<td><p><keyseq><key>Ctrl</key><key>H</key></keyseq></p></td>
		</tr>
		<tr>
			<td><p>Activer le suivi des coups</p></td>
			<td><p><keyseq><key>Ctrl</key><key>T</key></keyseq></p></td>
		</tr>
		<tr>
			<td><p>Effacer les notes du haut de la cellule</p></td>
			<td><p><keyseq><key>Ctrl</key><key>J</key></keyseq></p></td>
		</tr>
		<tr>
			<td><p>Effacer les notes du bas de la cellule</p></td>
			<td><p><keyseq><key>Ctrl</key><key>K</key></keyseq></p></td>
		</tr>
		<tr>
			<td><p>Ajouter un nombre dans les notes supérieures d'une cellule</p></td>
			<td><p><keyseq><key>Ctrl</key><key>nombre</key></keyseq></p></td>
		</tr>
		<tr>
			<td><p>Retirer un nombre dans les notes supérieures d'une cellule</p></td>
			<td><p><keyseq><key>Alt</key><key>nombre</key></keyseq></p></td>
		</tr>
	</table>
</section>
<section id="other">
	<title>Autres</title>
	<table frame="all" rules="cols" shade="rows">
		<tr>
			<td><p>Imprimer la grille affichée</p></td>
			<td><p><keyseq><key>Ctrl</key><key>P</key></keyseq></p></td>
		</tr>
		<tr>
			<td><p>Annuler</p></td>
			<td><p><keyseq><key>Ctrl</key><key>Z</key></keyseq></p></td>
		</tr>
		<tr>
			<td><p>Rétablir</p></td>
			<td><p><keyseq><key>Ctrl</key><key>Maj</key><key>Z</key></keyseq></p></td>
		</tr>
		<tr>
			<td><p>Ouvrir le manuel d'aide</p></td>
			<td><p><key>F1</key></p></td>
		</tr>
		<tr>
			<td><p>Basculer en mode plein écran</p></td>
			<td><p><key>F11</key></p></td>
		</tr>
	</table>
</section>
<!--/page-->
</page>
