<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="print-blank-puzzles" xml:lang="fr">
  <info>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <link type="guide" xref="index#print"/>
    <credit type="editor copyright">
      <years>2011</years>
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Paternité-Partage des Conditions Initiales à l'Identique 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2007-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2007-2008</mal:years>
    </mal:credit>
  </info>

<title>Impression de sudokus vierges</title>
    
<p>Pour imprimer une ou des grilles vierges :</p>

 <steps>
 <item><p>Cliquez sur <guiseq><gui>Jeu</gui><gui>Imprimer plusieurs sudokus</gui></guiseq>.</p>
</item>
 <item><p>Sélectionnez le nombre total de sudokus à imprimer dans le menu déroulant.</p></item>
 <item><p>Sélectionnez le nombre total de sudokus par page dans le menu déroulant suivant.</p></item>
 <item><p>Sélectionnez les niveaux de difficultés des grilles que vous voulez imprimer.</p></item>
 <item><p>Par défaut, les grilles que vous avez déjà résolues ne sont pas imprimées. Si cela ne vous gêne pas de refaire les mêmes grilles, sélectionnez <gui>Inclure des grilles déjà résolues dans la liste des grilles à imprimer</gui> dans la section <gui>Détails</gui>.</p></item>
 <item><p>Les grilles qui sont imprimées ne sont pas marquées comme résolues par défaut. Vous pouvez choisir <gui>Marquer les grilles comme résolues après impression</gui> dans la section <gui>Détails</gui>.</p></item>
 </steps>


</page>
