<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="basics" xml:lang="pt-BR">
  <info>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <link type="guide" xref="index#play"/>
    <credit type="author copyright">
      <name>Chris Beiser</name>
      <email>ctbeiser@gmail.com</email>
      <years>2011</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

<title>Basics</title>
<p>Sudoku can be played using the keyboard, the mouse,
 or any combination of the two.</p>

<section id="keyboard">
<title>Using the keyboard</title>
<list>
  <item><p>To select a cell, use the arrow keys to move the blue outline onto it.</p></item>
  <item><p>To put a number in a cell, select the cell, and then press the number.</p></item>
  <item><p>To remove a number from a cell, select the cell, and then press the <key>Delete</key> key, the <key>Backspace</key>, or the <key>0</key> key.</p></item>
</list>
</section>


<section id="mouse">
<title>Using the mouse</title>
<list>
	<item><p>To select a cell, move your mouse over it and click.</p></item>
	<item><p>To put a number in a selected cell, click on the center of the cell, and then click on the number you wish to input.</p></item>
	<item><p>To remove a number from a selected cell, click in the center of the cell and then click <gui>Clear</gui>.</p></item>
	<!--item><p>To add a note to a cell:</p>
		<list type="numbered">
			<item><p>Select it.</p></item>
			<item><p>Click on the top or bottom of the cell.</p></item>
			<item><p>Type the the note with the keyboard.</p></item>
			<item><p>Click anywhere outside the text box.</p></item>
		</list>
	</item>
	<item><p>To remove notes from a cell:</p>
		<list type="numbered">
			<item><p>Select it.</p></item>
			<item><p>Click on the notes.</p></item>
			<item><p>Press the <key>Backspace</key> key on your keyboard.</p></item>
			<item><p>Click anywhere outside of the text box.</p></item>
		</list>
	</item-->
</list>
</section>
</page>
