<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="notes" xml:lang="pt-BR">
  <info>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
   <link type="guide" xref="index#tips"/>
    <credit type="author copyright">
      <name>Thomas Hinkle</name>
      <email>tmhinkle@gmail.com</email>
      <years>2011</years>
    </credit>
    <credit type="editor">
      <name>Chris Beiser</name>
      <email>ctbeiser@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

<title>Notas</title>
<p>Notes, or pencilmarks, can be added to any cell. They allow you to mark possible values for a cell, or store other data that might help you. Notes will store all characters in order, but will remove repetitions of characters.</p> 

<p>To add notes to a cell:</p>

<steps>
  <item><p>Select the cell</p></item>
  <item><p>Click on the part of a cell that is above the line that appears when you hover over it. Alternatively, type <key>N</key>.</p></item>
  <item><p>Type your notes</p></item>
  <item><p>Press <key>Enter</key> or click outside of the text box.</p></item>
</steps>

<note><p>You can also take notes in the bottom of the cell by clicking in the bottom of the cell or by typing <key>M</key>. However, this area is used when you click <link xref="hints">Show All Possible Numbers</link>. If you plan to use this area, you should not use <gui>Show All Possible Numbers</gui>.</p></note>

<note><p>You can add a number to the notes at the top of the square by typing <keyseq><key>Ctrl</key><key>1</key></keyseq> through <keyseq><key>Ctrl</key><key>9</key></keyseq></p></note>
</page>
