<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="save-resume" xml:lang="pt-BR">

  <info>
   <link type="guide" xref="index#play"/>
    
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <credit type="author copyright">
      <name>Thomas Hinkle</name>
      <email>tmhinkle@gmail.com</email>
      <years>2011</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

<title>Save and resume</title>
    
<section id="save">
<title>Saving your game</title>
 <p>
  Your games are saved automatically every few minutes and whenever you change games or close the application.
 </p>
</section>
<section id="resume">
<title>Resuming your game</title>
<p>
Whenever you start <app>Sudoku</app> or click <gui>New</gui>, your saved games will be listed in the puzzle selection screen. You will see a miniature image of the saved puzzle, the date you last played it, and how long you have played it. To open the puzzle, just double click on it.</p>
    <p>If you'd like to stop playing one game and begin another, just select <gui>New</gui> and begin your new game.
</p>

<figure>
  <desc>Resuming previous games.</desc>
  <media type="image" mime="image/png" src="figures/resuming.png" width="400"/>
</figure>
</section>

</page>
