<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="keyring-lock" xml:lang="de">

  <info>
    <link type="guide" xref="index#passwords"/>

    <revision version="0.1" date="2011-06-17" status="stub"/>
    <revision pkgversion="3.9" version="0.1" date="2013-07-23" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Aruna Sankaranarayanan</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>

    <desc>Sperren Sie Ihre Passwort-Schlüsselbunde und schützen Sie diese mit einem Passwort, um den Zugriff auf die darin enthaltenen Passwörter einzuschränken.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2014, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Ihre Schlüsselbunde sperren</title>

  <p>Speichern Sie Ihre Passwörter zur sicheren Verwahrung in einem passwortgeschützten Schlüsselbund. Wenn ein solcher passwortgeschützter Schlüsselbund gesperrt ist, so werden die darin hinterlegten Passwörter verborgen, bis er mit dem richtigen Passwort <link xref="keyring-unlock">entsperrt</link> wird.</p>

  <note style="tip">
    <p>Schützen Sie Ihren Schlüsselbund mit einem Passwort, wenn Sie ihn <link xref="keyring-create">erstellen</link>.</p>
  </note>

  <steps>
    <title>So sperren Sie Ihren Schlüsselbund:</title>
    <item>
      <p>Wählen Sie in der linken Seitenleiste unter <gui>Passwörter</gui> aus der Liste der Schlüsselbünde den Bund, den Sie sperren wollen.</p>
    </item>
    <item>
      <p>Klicken Sie mit der rechten Maustaste auf den gewählten Schlüsselbund und wählen Sie <gui>Sperren</gui>, oder klicken Sie auf das Symbol des geöffneten Schlosses neben dem Namen des Passwort-Schlüsselbunds.</p>
    </item>
  </steps>

</page>
