<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="pgp-userid" xml:lang="de">
  <info>
    <link type="guide" xref="index#pgp-keys"/>

    <revision version="0.1" date="2011-10-23" status="stub"/>
    <revision pkgversion="3.9" version="0.1" date="2013-06-27" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Aruna Sankaranarayanan</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>

    <desc>So erstellen Sie Schlüssel mit sinnvollen Benutzerkennungen und fügen Sie neue Benutzerkennung hinzu oder entfernen diese.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2014, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Was ist eine Benutzerkennung?</title>

  <p>Beim Erstellen eines Schlüssels geben Sie Ihren Namen, Ihre E-Mail-Adresse und eine Schlüsselbeschreibung ein. Diese Informationen bilden zusammen die Benutzerkennung. Dritte können Ihren Schlüssel mit einer sinnvoll erstellten Benutzerkennung leicht erkennen, wenn sie Ihren Schlüssel <link xref="pgp-retrieve-remote">abrufen</link> oder <link xref="pgp-import">importieren</link>. Es ist wichtig, die Informationen während der Erstellung korrekt anzugeben.</p>

  <section id="add-remove" style="2column">
    <title>Benutzerkennungen hinzufügen und entfernen</title>
  </section>

</page>
