<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="rules" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="index#play"/>
    <link type="seealso" xref="flags"/>
    <revision version="0.1" date="2012-08-12" status="review"/>

    <credit type="author copyright">
      <name>Baptiste Mille-Mathias</name>
      <email>baptistem@gnome.org</email>
      <years>2011</years>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2012</years>
    </credit>

  </info>


  <title>Game rules</title>

  <p>The aim of <app>Mines</app> is to clear the minefield without detonating
  any of the mines.</p>

  <steps>
    <item>
      <p>Start by choosing one of the three default board sizes, or by
      selecting a custom board.</p>
    </item>
    <item>
      <p>The game begins with the board covered in tiles. Click on any tile to
      uncover it. You will reveal:</p>
      <list>
        <item>
	  <p>A colored number, which represent the number of mines in the
	  adjacent tiles. This will help you deduce where the mines are so that
	  you can mark them with <link xref="flags">flags</link>.</p>
        </item>
        <item>
	  <p>A blank tile, which means there are no mines under any of the
	  adjacent tiles.</p>
        </item>
        <item>
	  <p>A mine, which will detonate and end the game.</p>
	</item>
      </list>
    </item>
    <item>
      <p>Repeat the previous step until you have uncovered all the tiles which
      do not have mines underneath them.</p>
    </item>
  </steps>

  <p>If you complete the game quickly enough, you will be added to the <link xref="high-scores">high scores</link> list.</p>

</page>
