<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="commands_bookmarks" xml:lang="es">
  <info>
    <link type="next" xref="commands_live_regions"/>
    <link type="guide" xref="commands#reviewing_screen_contents"/>
    <link type="seealso" xref="howto_bookmarks"/>
    <title type="sort">4. Marcadores</title>
    <title type="link">Marcadores</title>
    <desc>Comandos para marcar y obtener objetos</desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>
  <title>Comandos de marcadores</title>
  <p><app>Orca</app> proporciona varios comandos que se pueden usar para guardar como «marcador» un objeto dado, con el propósito de volver a él más tarde.</p>
  <list>
    <item>
      <p>Guardar un marcador en el espacio numerado: <keyseq><key>Modificador de Orca</key><key>Alt</key><key>1</key></keyseq>-<key>6</key></p>
    </item>
    <item>
      <p>Guardar los marcadores definidos para la aplicación o página: <keyseq><key>Modificador de Orca</key><key>Alt</key><key>B</key></keyseq></p>
    </item>
    <item>
      <p>Ir a un marcador específico, numerado: <keyseq><key>Modificador de Orca</key><key>1</key></keyseq>-<key>6</key></p>
    </item>
    <item>
      <p>Ir al anterior marcador para la aplicación o página: <keyseq><key>Modificador de Orca</key><key>Mayús</key><key>B</key></keyseq></p>
    </item>
    <item>
      <p>Ir al siguiente marcador de la aplicación o de la página: <keyseq><key>Modificador de Orca</key><key>B</key></keyseq></p>
    </item>
  </list>
</page>
