<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="introduction" xml:lang="es">

  <info>
    <link type="guide" xref="index"/>
    <revision version="3.3" date="2011-10-30" status="review"/>
    <desc>Introducción al <app>Registro de sucesos de GNOME</app>.</desc>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@googlemail.com</email>
    </credit>

    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2005, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@openshine.com</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  </info>

  <title>Introducción</title>

  <p><application>Visor de archivos de sucesos</application> es un visor gráfico, con menús que puede usar para ver y monitorizar los archivos de registro del sistema. El <application>Visor de archivos de sucesos</application> viene con unas pocas funciones que le pueden ayudar a gestionar sus registros, incluyendo un monitor de registros y un visor de estadísticas de registros.</p>

  <p>El <application>Visor de archivos de sucesos</application> es útil si es nuevo en la administración de sistemas porque proporciona una manera de ver sus registros más amigable y fácil que un simple visor de texto. También es útil para los administradores con mas experiencia, ya que incorpora un monitor que le permite vigilar continuamente los registros cruciales.</p>

  <note style="tip">
    <p><application>Visor de archivos de sucesos</application> es útil sólo para aquellos que tengan acceso a los registros del sistema, lo que generalmente requiere acceso como administrador.</p>
  </note>

  <figure>
    <title> </title>
    <media type="image" mime="image/png" src="figures/log-viewer-main.png"/>
  </figure>

</page>
