<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task a11y" id="a11y-braille" xml:lang="zh-CN">
  <info>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <desc>使用 <app>Orca</app> 屏幕阅读器在盲文显示机上显示。</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="a11y#vision" group="blind"/>
    <link type="seealso" xref="a11y-screen-reader"/>
    <revision version="13.10" date="2013-10-25" status="review"/>
  </info>

  <title>使用盲文阅读屏幕</title>

  <p>GNOME 提供了 <app>Orca</app> 屏幕阅读器以在可刷新的盲文显示器上显示用户界面。根据不同的安装方式，Orca 可能没有安装。点击 <link href="apt:gnome-orca">安装 Orca</link> 来安装，然后参考 <link href="help:gnome-orca">Orca 帮助</link> 来获取更详细的信息。</p>

</page>
