<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task a11y" id="a11y-contrast" xml:lang="zh-CN">
  <info>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <desc>让屏幕上的窗口和按钮层次分明，以便更好地区分它们。</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="a11y#vision" group="lowvision"/>
    <link type="seealso" xref="display-dimscreen"/>
    <revision pkgversion="3.7.1" version="0.3" date="2012-11-16" status="outdated"/>
    <revision version="13.10" date="2013-10-25" status="review"/>
  </info>

  <title>调整对比度</title>

  <p>您可以调整窗口和按钮的对比度来让它们更加清晰。这个功能和<link xref="display-dimscreen">改变整个屏幕亮度</link>不一样，它只改变<em>用户界面</em>部分的设置。</p>

  <steps>
    <item>
      <p>单击顶部<gui>菜单栏</gui>最右侧的图标，选择<gui>系统设置</gui>。</p>
    </item>
    <item>
      <p>打开<gui>辅助功能</gui>，选择<gui>视觉</gui>标签。</p>
    </item>
    <item>
      <p>将 <gui>高对比度</gui> 切换到<gui>开启</gui>状态。</p>
    </item>
  </steps>

</page>
