<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="bluetooth" xml:lang="zh-CN">
<info>
  <link type="guide" xref="hardware"/>

  <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

  <credit type="author">
    <name>Shaun McCance</name>
    <email>shaunm@gnome.org</email>
  </credit>

  <desc><link xref="bluetooth-connect-device">连接</link>，<link xref="bluetooth-send-file">发送文件</link>，<link xref="bluetooth-turn-on-off">开启与关闭</link>…</desc>

  <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
</info>

<title>蓝牙</title>

<p>蓝牙是一个无线传输协议。您可以通过蓝牙协议将外置设备连接到您的电脑。蓝牙在耳机、键盘、鼠标等设备上有着广泛的使用。您也可以使用蓝牙 <link xref="bluetooth-send-file">发送文件</link>，例如从电脑向手机传送信息。</p>

<section id="problems">
  <info>
    <title type="link">蓝牙问题</title>
    <link type="guide" xref="hardware#problems"/>
  </info>
  <title>问题</title>
</section>

</page>
