<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-whatisprofile" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="color#profiles"/>
    <desc>色彩配置文件是一个表述色彩空间或设备响应的简单文件。</desc>

    <revision version="13.10" date="2013-09-07" status="review"/>
    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>什么是色彩配置文件？</title>

  <p>色彩配置文件是一组描述设备(如投影仪)或色彩空间(如 sRGB)特征的数据。</p>
  <p>大多数色彩配置文件采用 ICC 配置文件的形式，这是一种带有 <input>.ICC</input> 或 <input>.ICM</input> 文件扩展名的小文件。</p>
  <p>色彩配置文件可嵌入图像以指明数据的色域范围。这可以确保用户在不同设备上看到相同颜色。</p>
  <p>处理颜色的每一台设备都应具有自己的 ICC 配置文件，实现这一点后，系统即被认定拥有<em>端到端色彩管理工作流程</em>。有了这种工作流程，您就可以确信颜色不会丢失或修改。</p>

</page>
