<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-missingvcgt" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="color#problems"/>
    <link type="seealso" xref="color-gettingprofiles"/>
    <desc>全屏颜色校正修改所有窗口的所有屏幕颜色。</desc>

    <revision version="13.10" date="2013-09-07" status="review"/>
    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>缺少全屏颜色校正的信息？</title>
  <p>不幸的是，很多由厂商提供的 ICC 配置文件都不包含全屏颜色校正所需的信息。这些配置文件依然可以为应用程序用以颜色补偿，但您将不能看到您屏幕更改的所有颜色。</p>
  <p>为了创建包含全部校准和特征分析数据的显示器配置文件，您需要使用一个特别的颜色测量仪器，称作色度计或光谱仪。</p>

</page>
