<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-canshareprofiles" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="color#calibration"/>
    <link type="seealso" xref="color-whatisprofile"/>
    <desc>共享色彩配置文件绝不是个好主意，因为硬件在随时间不断变化。</desc>
    <revision version="13.10" date="2013-09-07" status="review"/>
    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>我可以共享我的色彩配置文件吗？</title>

  <p>您自己创建的色彩配置文件是特定于您校准的硬件和光照条件的。使用数百小时的 DreamColor LP2480zx 和下一序列号使用了一千小时的类似显示器就有很大不同。</p>
  <p>这意味着，如果您与他人共享您的色彩配置文件，您可能使他们<em>更接近</em>校准值，但要说他们的显示器已校准却只是一种误导。</p>
  <p>除非团队中的每个人在同样的室内光照条件下查看和修改图片，否则与与人分享您自己的特定环境下所使用的色彩配置文件几乎没有什么意义。</p>

  <note style="warning">
    <p>您应认真检查从厂商网站下载或为您创建的配置文件的再发布条件。</p>
  </note>

</page>
