<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documents-filter" xml:lang="zh-CN">

  <info>
    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>选择要显示的文档。</desc>
    <link type="guide" xref="documents#view"/>
    <revision pkgversion="3.5.90" date="2012-09-05" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>文档过滤器</title>

  <p>点击 <link xref="documents-search">搜索</link>栏旁边的 <media type="image" src="figures/go-down.png">向下</media> 按钮，在这些类别中限制搜索的范围：</p>

  <list>
    <item><p><em>来源</em>：本地、Google、SkyDrive 或全部。</p></item>
    <item><p><em>类型</em>：集合、PDF 文档、演示文稿、电子表格、文本文档或者所有。</p></item>
    <item><p>标题，作者或全部。</p></item>
  </list>

  <note style="tip"><p>为了让<gui> Google </gui>或 <gui>SkyDrive</gui> 出现在过滤器列表中，需要配置 Google 或 Windows Live 作为一个<link xref="accounts-add">在线帐号</link>。</p>
  </note>

</page>
