<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documents-search" xml:lang="zh-CN">

  <info>
    <credit type="author copyright">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>通过标题或作者找到您的文档。</desc>
    <link type="guide" xref="documents#view"/>
    <revision pkgversion="3.5.90" date="2012-09-05" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>搜索文件</title>

  <p>在<app>文档</app>中开始搜索：</p>

  <list>
   <item><p>按 <keyseq><key> Ctrl </key><key> F </key></keyseq>键。</p></item>
   <item><p>点击放大镜图标。</p></item>
   <item><p>开始输入。文档将通过标题或作者进行匹配。</p></item>
  </list>

  <note style="tip"><p>您可以通过点击 <media type="image" src="figures/go-down.png">向下</media>按钮，选择不同的<link xref="documents-filter">过滤器</link>来限制或筛选搜索结果。</p>
  </note>

</page>
