<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="guide" style="task" version="1.0 if/1.0" id="files" xml:lang="zh-CN">
  <info>

    <link type="guide" xref="index" group="files"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Ubuntu 文档团队</name>
      <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>

    <title type="link" role="trail">文件</title>

    <revision version="13.10" date="2013-10-23" status="review"/>
    <desc><link xref="files-search">搜索</link>，<link xref="files-delete">删除文件</link>，<link xref="files#backup">备份</link>，<link xref="files#removable">可移动驱动器</link>，<link xref="files#documents">文档</link>…</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>文件、文件夹和搜索</title>

<media type="image" src="figures/nautilus.png" style="floatend floatright" if:test="!target:mobile">
  <p><app>Nautilus</app> 文件管理器</p>
</media>

<links type="topic" style="linklist nodesc bold">
  <title>常见任务</title>
</links>

<links type="topic" groups="more" style="linklist nodesc bold">
  <title>更多主题</title>
</links>

<section id="removable">
  <title>可移动驱动器和外部磁盘</title>
  <links type="topic" style="2column"/>
</section>

<section id="backup">
  <title>备份</title>
  <links type="topic" style="2column"/>
</section>

<section id="documents">
  <title>文档</title>
  <links type="topic" style="2column"/>
</section>

<section id="faq">
  <title>提示和问题</title>
  <links type="topic" style="2column"/>
</section>

</page>
