<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="keyboard-osk" xml:lang="zh-CN">
  <info>
    <link type="guide" xref="keyboard" group="a11y"/>
    <link type="guide" xref="a11y#mobility" group="keyboard"/>

    <revision pkgversion="3.7.1" version="0.3" date="2012-11-16" status="outdated"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author">
      <name>Jeremy Bicha</name>
      <email>jbicha@ubuntu.com</email>
    </credit>
    <credit type="author">
       <name>Julita Inca</name>
       <email>yrazes@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <desc>通过使用鼠标点击屏幕键盘来输入文字。</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>使用屏幕键盘</title>

  <p>如果您的电脑上没有接入键盘，或者不喜欢使用键盘，您可以打开<em>屏幕键盘</em>来输入文字。</p>

  <steps>
   <item><p>单击菜单栏最右侧的图标，选择<gui>系统设置</gui>。</p></item>
   <item><p>打开<gui>辅助功能</gui>，选择<gui>输入</gui>标签。</p></item>
   <item><p>开启<gui>输入助手</gui>以显示屏幕键盘。</p>
   </item>
  </steps>

</page>
