<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="mouse" xml:lang="zh-CN">
<info>
    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>
    <desc><link xref="mouse-lefthanded">左手习惯</link>、<link xref="mouse-sensitivity">速度和灵敏度</link> 和 <link xref="mouse-touchpad-click">触摸板的点击和滚动</link>…</desc>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-10-22" status="review"/>

    <credit type="author">
        <name>Tiffany Antopolski</name>
        <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
</info>

<title>鼠标</title>
<links type="topic" style="2column"/>

<section id="problems" style="2column">
  <info>
    <title type="link">常见鼠标问题</title>
    <title type="link" role="trail">常见问题</title>
  </info>
  <title>常见问题</title>
</section>

<section id="tips" style="2column">
 <info>
   <title type="link">鼠标</title>
   <title type="link" role="trail">提示</title>
 </info>
 <title>提示</title>
</section>
</page>
