<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-wireless-troubleshooting" xml:lang="zh-CN">
  <info>
    <link type="guide" xref="net-wireless" group="first"/>
    <link type="guide" xref="hardware#problems" group="first"/>
    <link type="next" xref="net-wireless-troubleshooting-initial-check"/>

    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Ubuntu 文档 wiki 撰稿人</name>
    </credit>

    <credit type="author">
      <name>GNOME 文档项目</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <desc>确定和解决无线连接问题</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>无线网络故障排除程序</title>

<p>这是一个手把手的调试指南，帮助您查找并解决无线问题。如果您无法连接到无线网络，请尝试以下指导。</p>

<p>我们将通过以下步骤将您的计算机连接到 Internet：</p>
  <list style="numbered compact">
    <item><p>执行初始检查</p></item>
    <item><p>收集硬件相关信息</p></item>
    <item><p>检查硬盘</p></item>
    <item><p>尝试连接到无线路由器</p></item>
    <item><p>对调制解调器和路由器进行检查</p></item>
  </list>
  <p>要开始操作，请单击页面右上角的<em>下一步</em>链接。此链接及后续页面上的类似链接将带领您完成本指南中的各个步骤。</p>

<note>
 <title>使用命令行</title>
 <p>该指南中的一些指令要求您输入命令到 <em>命令行</em> (终端)。您可以在 <gui>Dash</gui> 中找到终端应用程序。</p>
 <p>如果您不熟悉使用命令行，请不要担心，这个指南将在每一步给出详细的指导。您只需记住，所有命令都是区分大小写的，所以输入的命令必须和这个指南中显示的<em>完全</em>一样，最后要在输入命令的最后按下<key>回车</key>执行。</p>
</note>

</page>
