<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-install-java-plugin" xml:lang="zh-CN">
  <info>
    <link type="guide" xref="net-browser"/>

    <revision version="13.10" date="2013-10-23" status="outdated"/>
    
    <credit type="author">
      <name>Ubuntu 文档团队</name>
    </credit>

    <desc>调整您的浏览器以与需要 Java 的网站相兼容。</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>安装 Java 浏览器插件</title>
<p>有些网站使用 <em>Java</em>  程序，需要安装 Java 插件才能运行。</p>

<p><link href="apt:icedtea6-plugin">安装 icedtea6-plugin 软件包</link>以在浏览器中查看 Java 程序。</p>

</page>
