<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="power-nowireless" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="power#problems"/>
    <link type="guide" xref="net-problem"/>
    <link type="seealso" xref="power-suspendfail"/>

    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <desc>有些无线设备可解决计算机置于挂起模式时无法再次正常被唤醒的问题。</desc>
    <credit type="author">
      <name>GNOME 文档项目</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>我在唤醒计算机时丢失无线网络</title>

<p>如果您挂起了计算机或者它休眠了，你可能会发现恢复之后，无限网络不工作了。如果无线设备的 <link xref="hardware-driver">驱动</link> 不支持某些节能功能。一般的原因就是这些无线连接在恢复时没能正确地打开。</p>

<p>尝试关闭无线适配器，然后再重新打开。</p>
<steps>
  <item>
    <p>单击面板最右侧的图标，选择<gui>系统设置</gui>。</p>
  </item>
  <item>
    <p>打开<gui>网络</gui>并选中<gui>无线</gui>标签页。</p>
  </item>
  <item>
    <p>尝试关闭无线适配器，然后再重新打开。</p>
  </item>
  <item>
    <p>如果无线仍然不能工作，打开<gui>飞行模式</gui>再关闭</p>
  </item>
</steps>

<p>如果此操作无效，您需要重启计算机以使无线网络恢复工作。</p>

</page>
