<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="ui" id="shell-overview" xml:lang="zh-CN">

  <info>

    <link type="guide" xref="index" group="shell-overview"/>

    <title role="trail" type="link">桌面</title>

    <desc><link xref="unity-introduction">简介</link>，<link xref="shell-keyboard-shortcuts">键盘快捷键</link>，<link xref="shell-windows">窗口</link>…</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-10-23" status="outdated"/>
    <credit type="author">
      <name>GNOME 文档项目</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>桌面、应用和窗口</title>

<links type="topic" style="2column"/>

<section id="desktop" style="2column">
 <title>桌面</title>
</section>

<section id="apps" style="2column">
 <title>应用程序和窗口</title>
</section>

</page>
