<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="sound-alert" xml:lang="zh-CN">
  <info>
    <link type="guide" xref="media#sound"/>

   <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc>选择要对消息播放的声音，设置警告音量，或者禁用警告声。</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>选择或禁用警告音</title>

  <p>针对特定类型的信息和事件，您的计算机会播放一个简单的警报声。您可以为警报选择不同的音效片段，独立设置您系统音量中的警报音量，或完全禁用警报声。</p>

  <steps>
    <item><p>单击<gui>顶部面板</gui>中的<gui>声音菜单</gui>并单击<gui>声音设置</gui>。</p></item>
    <item><p>在<gui>声音效果</gui>标签页中，选择警告音效。单击每个音效时该声音就会播放，所以您可以进行预听。</p></item>
  </steps>

  <p>使用<gui>声音效果</gui>标签页中的音量滑块以设置警告声的音量。这不会影响您的音乐、电影和其他音频的播放音量。</p>

  <p>要完全禁用警报声，选择<gui>静音</gui>即可。</p>
</page>
