<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="startup-applications" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="shell-overview#apps"/>
    <link type="guide" xref="prefs"/>
    <desc>选择登录时要启动的应用程序。</desc>

    <revision version="14.10" date="2014-09-13" status="review"/>

    <credit type="author">
      <name>Ubuntu 文档团队</name>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>启动应用程序</title>

  <p>您可以设置登录系统时，额外启动的以及系统默认自动启动的应用程序。</p>

  <steps>
    <item>
      <p>使用 <link xref="unity-dash-intro">Dash</link> 搜索并打开 <gui>启动应用程序首选项</gui>。或者您可以输入<keyseq><key>Alt</key><key>F2</key></keyseq>，并执行<cmd>gnome-session-properties</cmd>命令。</p>
    </item>
    <item>
      <p>单击<gui>添加</gui>并输入启动程序命令（名称和注释是可选的）。例如，添加火狐为自启动程序，在 <gui>命令</gui> 输入框内输入<cmd>firefox</cmd> 并点击 <gui>添加</gui>确认。</p>
    </item>
  </steps>

  <note>
    <p>您可以输入命令，也可以点击<gui>浏览...</gui>按钮，并选择命令。自启动应用程序一般位于 <code>/usr/bin</code> 文件夹。</p>
  </note>

</page>
