<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="unity-launcher-menu" xml:lang="zh-CN">
  <info>
    <link type="guide" xref="unity-launcher-intro#launcher-using"/>

    <revision version="14.10" date="2014-09-14" status="review"/>

    <credit type="author">
      <name>Stephen M. Webb</name>
      <email>stephen@ubuntu.com</email>
    </credit>

    <desc>右键单击启动器图标即可显示动作菜单。</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>启动器图标菜单</title>

  <p>在启动器图标上右键点击将会调出动作菜单。可用的动作以来图标是否已经锁定到启动器，如果是应用图标也与其是否运行有关，此外还有图标自身特别的功能。可用的动作可能包括如下。</p>
  <list>
    <item><p>启动应用程序或打开文档、文件夹或设备</p></item>
    <item><p>如果图标已被固定在启动器上，您可以将其解锁（请参考 <link xref="shell-apps-favorites"/>）</p></item>
    <item><p>如果图标尚未固定在启动器上，您可以将其固定 (see <link xref="shell-apps-favorites"/>)</p></item>
    <item><p>如果应用程序正在运行，您可以关闭它们</p></item>
    <item><p>如果一个应用程序打开了多个窗口，您可以在窗口之间进行切换</p></item>
    <item><p>一些应用程序自带特别的快速操作选项，例如打开新文档，或打开新窗口</p></item>
  </list>

</page>
