<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="user-admin-problems" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="user-accounts#privileges"/>

    <desc>如果您拥有管理员特权，您仅能执行类似安装应用程序这样的操作。</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author">
      <name>GNOME 文档项目</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>管理限制导致的问题</title>

  <p>您可能经历过因为您没有<link xref="user-admin-explain">管理特权</link>而产生的问题。一些操作需要您拥有管理员特权，以便工作，如：</p>

<list>
 <item>
  <p>连接至一些网络或无线网络</p>
 </item>
 <item>
  <p>查看插入到计算机的可移动硬盘的目录，或者不同磁盘分区的目录(例如，如果您拥有 Windows 分区)</p>
 </item>
 <item>
  <p>安装新的应用程序</p>
 </item>
</list>

  <p>您可<link xref="user-admin-change">更改拥有管理员特权的人员</link>。</p>

</page>
