<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="gedit-plugins-doc-stats" xml:lang="pt-BR">

<info>
  <link type="guide" xref="gedit-plugin-guide#gedit-default-plugins"/>
  <revision pkgversion="3.8" date="2013-02-24" status="review"/>
  <credit type="author">
    <name>Daniel Neel</name>
    <email>dneelyep@gmail.com</email>
  </credit>
  <credit type="author">
    <name>Jim Campbell</name>
    <email>jcampbell@gnome.org</email>
  </credit>
  <desc>View document statistics.</desc>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wagner Luís de Araújo Menezes Macêdo</mal:name>
      <mal:email>wagnerluis1982@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Pedro Vaz de Mello de Medeiros</mal:name>
      <mal:email>pedrovmm@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leonardo Ferreira Fontenelle</mal:name>
      <mal:email>leonardof@gnome.org</mal:email>
      <mal:years>2007, 2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Vladimir Melo</mal:name>
      <mal:email>vmelo@gnome.org</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fabricio Godoy</mal:name>
      <mal:email>skarllot@gmail.com</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Krix Apolinário</mal:name>
      <mal:email>krixapolinario@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>José Carlos Menezes</mal:name>
      <mal:email>jcmenezes.91@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Ferreira</mal:name>
      <mal:email>rafael.f.f1@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013, 2014.</mal:years>
    </mal:credit>
  </info>

<title>Estatísticas do documento</title>

  <p>O plug-in <em>Estatísticas do documento</em> mostra a você várias estatísticas sobre o documento atual. Para habilitar esse plug-in, selecione <guiseq><gui style="menu">gedit</gui><gui style="menuitem">Preferências</gui><gui>Plug-ins</gui><gui>Estatísticas do documento</gui></guiseq>.</p>

<section id="using-doc-stats">
  <title>Usando as estatísticas do documento</title>

  <p>Assim que o plug-in estiver habilitado, use-o selecionando <guiseq><gui>Ferramentas</gui><gui>Estatísticas do documento</gui></guiseq>. A janela irá exibir as informações estatísticas sobre seu documento, incluindo o número de palavras, linhas, caracteres, caracteres não espaçados, e o tamanho do seu arquivo em bytes.</p>

  <p>Você também pode usar <em>Estatísticas do documento</em> para mostrar-lhe informações sobre apenas uma parte do documento. Para fazer isso, use o ponteiro do mouse para selecionar a parte do texto que você deseja examinar, em seguida, selecione <guiseq><gui>Ferramentas</gui><gui>  Estatísticas do documento</gui></guiseq>.O <app>gedit</app> irá exibir informações para o todo o documento e para a parte do texto que você destacou.</p>
</section>

</page>
