<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="gedit-plugins-sort" xml:lang="pt-BR">

<info>
  <link type="guide" xref="gedit-plugin-guide#gedit-default-plugins"/>
  <revision pkgversion="3.8" date="2013-02-24" status="review"/>
  <credit type="author">
    <name>Daniel Neel</name>
    <email>dneelyep@gmail.com</email>
  </credit>
  <credit type="author">
    <name>Jim Campbell</name>
    <email>jcampbell@gnome.org</email>
  </credit>
  <credit type="editor">
    <name>Sindhu S</name>
    <email>sindhus@live.in</email>
  </credit>
  <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  <desc>Sort lines of text into alphabetical order.</desc>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wagner Luís de Araújo Menezes Macêdo</mal:name>
      <mal:email>wagnerluis1982@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Pedro Vaz de Mello de Medeiros</mal:name>
      <mal:email>pedrovmm@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leonardo Ferreira Fontenelle</mal:name>
      <mal:email>leonardof@gnome.org</mal:email>
      <mal:years>2007, 2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Vladimir Melo</mal:name>
      <mal:email>vmelo@gnome.org</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fabricio Godoy</mal:name>
      <mal:email>skarllot@gmail.com</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Krix Apolinário</mal:name>
      <mal:email>krixapolinario@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>José Carlos Menezes</mal:name>
      <mal:email>jcmenezes.91@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Ferreira</mal:name>
      <mal:email>rafael.f.f1@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013, 2014.</mal:years>
    </mal:credit>
  </info>

<title>Ordenar</title>

  <p>O plug-in <gui>Ordenar</gui> arruma linhas selecionadas do texto em ordem alfabética.</p>

  <note style="warning">
    <p>Você não pode usar o recurso <gui>Desfazer</gui> para corrigir uma operação <gui>Ordenar</gui>, por isso recomendamos que você salve o arquivo imediatamente antes de efetuar o ordenamento. Se você cometer um erro com a ordenação, você pode reverter para a versão salva anteriormente do arquivo selecionando <guiseq> <gui>Arquivo</gui><gui>Reverter</gui></guiseq>.</p>
</note>

  <section id="enable-sort">
    <title>Habilitando o plug-in Ordenar</title>

    <p>Para habilitar o plug-in <app>Ordenar</app>:</p>

    <steps>
      <item>
        <p>Selecione <guiseq><gui style="menu">gedit</gui> <gui style="menuitem">Preferências</gui> <gui style="tab">Plug-ins</gui></guiseq>.</p>
      </item>
      <item>
        <p>Selecione <gui style="menuitem">Ordenar</gui> para habilitar o plug-in.</p>
      </item>
    </steps>

  </section>

  <section id="using-sort">
    <title>Usando o plug-in de Ordenação</title>

    <p>Para usar o plug-in <gui>Ordenar</gui>:</p>

    <steps>
      <item>
        <p>Arraste e destaque as linhas desejadas no texto.</p>
      </item>
      <item>
        <p>Selecione <guiseq><gui style="menu">Editar</gui> <gui style="menuitem">Ordenar</gui></guiseq>.</p>
      </item>
      <item>
        <p>A janela de <gui>Ordenar</gui> será aberta, permitindo-lhe escolher entre várias opções de ordenação:</p>
        <list>
          <item>
            <p><gui>Inverter ordem</gui> irá organizar o texto em ordem alfabética inversa.</p>
          </item>
          <item>
            <p><gui>Remover duplicadas</gui> irá remover os valores duplicados da lista.</p>
          </item>
          <item>
            <p><gui>Ignorar maiúsculas/minúsculas</gui> irá ignorar diferença entre maiúsculas/minúsculas.</p>
            <note style="tip">
              <p>Para que a ordenação ignore os caracteres no início das linhas, defina o primeiro caractere a ser usado para ordenação na caixa de incremento <gui>Iniciar na coluna</gui>.</p>
            </note>
          </item>
        </list>
      </item>
      <item>
        <p>Para efetuar a operação de ordenação, clique no botão <gui>Ordenar</gui>.</p>
      </item>
    </steps>
  </section>

</page>
