<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="exporting-data-mail" xml:lang="zh-CN">

  <info>
    <desc>How to export mail data from <app>Evolution</app>.</desc>

    <link type="guide" xref="exporting-data"/>

    <revision pkgversion="3.0.2" version="0.4" date="2013-04-20" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  </info>

<title>Exporting mail data</title>

<p>To save an email to a file in <link href="https://en.wikipedia.org/wiki/Mbox">mbox</link> format, select an email and click <guiseq><gui>File</gui><gui>Save as mbox…</gui></guiseq> or right-click on the message and click <gui>Save as mbox…</gui>.</p>

<p>The same steps apply to save a complete mail folder, but you have to mark all messages in it first.</p>
<p>You can select all messages in a folder by clicking <guiseq><gui>Edit</gui><gui>Select All</gui></guiseq> or pressing <keyseq><key>Ctrl</key><key>A</key></keyseq>.</p>

</page>
