<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="mail-composer-mail-signatures" xml:lang="zh-CN">

  <info>
    <desc>Using email signatures at the bottom of a message you send.</desc>
    
    <link type="guide" xref="index#mail-composing"/>

    <revision pkgversion="3.13.90" version="0.3" date="2015-03-09" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  </info>


<title>Working with email signatures</title>

<p>A signature consists of one or more lines of text (or even a picture) that will be added at the end of an email that you send. It can contain contact information or other things. A signature always begins with two dashes and a space (<code>-- </code>).</p>
<note style="tip"><p>The term "signature" is also differently used in terms of <link xref="mail-encryption">encryption</link>.</p></note>
</page>
<!-- TODO: The two dashes and a space signature delimiter can be disabled via dconf in org.gnome.evolution.mail.composer-no-signature.delim but don't really want to advertise that -->
