<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-encryption-s-mime-signing-encrypting" xml:lang="zh-CN">

  <info>
    <desc>Signing or encrypting messages via S/MIME that you send.</desc>

    <link type="guide" xref="mail-encryption#s-mime"/>

    <revision pkgversion="3.13.90" version="0.3" date="2015-03-09" status="draft"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/encryption.html.en#bsqbdkv -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  </info>

  <title>Signing or encrypting messages</title>

<p>After you have <link xref="mail-encryption-s-mime-manage">added your certificate</link>, you can sign or encrypt a message by selecting <guiseq><gui>Options</gui><gui>S/MIME Sign</gui></guiseq> or <gui>S/MIME Encrypt</gui> from the message composer menu or clicking the corresponding toolbar icon.</p>
<note style="tip"><p>邮件的主题不会被加密。所以，切勿在主题中填写敏感信息。</p></note>

<p>给每封邮件添加签名或加密：</p>
<steps>
<item><p>Select <guiseq><gui>Edit</gui><gui>Preferences</gui><gui>Mail Accounts</gui></guiseq>.</p></item>
<item><p>Select the mail account to encrypt the messages in.</p></item>
<item><p>Click <gui style="button">Edit</gui>.</p></item>
<item><p>Click the <gui>Security</gui> tab.</p></item>
<item><p>In the <gui>Secure MIME (S/MIME)</gui> section, click <gui style="button">Select</gui> next to <gui>Signing Certificate</gui> and specify the path to your signing certificate, or click <gui style="button">Select</gui> next to <gui>Encryption Certificate</gui> and specify the path to your encryption certificate.</p></item>
<item><p>选择合适的选项。</p></item>
<item><p>Click <gui style="button">OK</gui>.</p></item>
</steps>
</page>
