<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-receiving-options-exchange-ews" xml:lang="zh-CN">

  <info>
    <desc>Receiving options for Exchange Web Services accounts.</desc>

    <link type="guide" xref="mail-receiving-options#corporate-server-types"/>
    <link type="guide" xref="mail-account-manage-microsoft-exchange-evo-ews#receiving-email"/>
    <revision pkgversion="3.12.9" version="0.3" date="2015-02-15" status="draft"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  </info>

  <title>Exchange Web Services receiving options</title>

<section id="receiving-email-exchange-ews">
<title>接收电子邮件</title>

<p>On the <gui>Receiving Email</gui> page (accessible via <guiseq><gui>Edit</gui><gui>Preferences</gui><gui>Mail Accounts</gui><gui style="button">Edit</gui><gui>Receiving Email</gui></guiseq>):</p>

<list>
<item><p>Enter your username for that server.</p></item>
<item><p>Either manually enter the Host URL and OAB URL, or click <gui style="button">Fetch URL</gui> which will ask you for your password and then try to automatically fill in the values.</p>
<note style="tip"><p>If you are in an organizational environment, you may want to contact your system administrator for more information.</p></note></item>
<item><p>Select your authentication type in the Authentication list, or click <gui style="button">Check for Supported Types</gui> to have Evolution check for supported authentication mechanisms. Some servers do not announce the authentication mechanisms they support, so clicking this button is not a guarantee that available mechanisms actually work.</p></item>
</list>

</section>

<section id="receiving-options-exchange-ews">
<title>接收选项</title>

<p>On the <gui>Receiving Options</gui> page (accessible via <guiseq><gui>Edit</gui><gui>Preferences</gui><gui>Mail Accounts</gui><gui style="button">Edit</gui><gui>Receiving Options</gui></guiseq>):</p>

<list>
<item><p>If you want Evolution to check automatically for new messages, click the <gui>Check for new messages every … minutes</gui> option and select the frequency in minutes.</p></item>
<item><p>You can also define if Evolution checks for new messages in all folders.</p></item>
<item><p>If you would like to have a copy of the address book on the server for offline access to it, enable <gui>Cache offline address book</gui> and click <gui style="button">Fetch list</gui>. Afterwards, select the address book from the available options.</p></item>
<item><p>Select if you want <link xref="mail-filters">filters</link> to be automatically applied on mail that you receive, if <link xref="mail-spam-marking">spam</link> should be automatically filtered, and if <link xref="mail-working-offline">mail on the server should be synchronized with your local copy for offline access to it</link>.</p></item>
</list>

</section>

</page>
