<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-search-folders-add" xml:lang="zh-CN">

  <info>
    <desc>Setting up a search folder.</desc>
    
    <link type="guide" xref="mail-search-folders"/>

    <revision pkgversion="3.0.2" version="0.1" date="2011-07-30" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mail-organize-vfolders.html.en -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  </info>

<title>创建搜索文件夹</title>

<steps>
<item><p>Click <guiseq><gui>Edit</gui><gui>Search Folders</gui></guiseq>, or click <guiseq><gui>Message</gui><gui>Create Rule</gui></guiseq> and select the criterion the search folder will be based on, or if you have run a search, click <guiseq><gui>Search</gui><gui>Create Search Folder From Search…</gui></guiseq>.</p></item>
<item><p>Click <gui style="button">Add</gui>.</p></item>
<item><p>Enter a name in the <gui>Rule name</gui> field.</p></item>
<item><p>Define the conditions for the rule. For each condition, you first select which part of the message will be checked and then define the comparison.</p><p>For more information on the available conditions see <link xref="mail-search-folders-conditions">Available Search Folder conditions</link>.</p></item>
<item><p>If you want to define multiple conditions, define under <gui>Find items</gui> if any or if all conditions have to apply, and click <gui style="button">Add Condition</gui> and repeat the previous step.</p></item>
<item><p>Select which folders will be used for the search folder in the section <gui>Search Folder Sources</gui>. Options are:</p>
<list>
  <item><p>全部本地文件夹：</p>
  <p>使用所有本地文件夹作为搜索文件夹来源，包括选中的单独文件夹。</p></item>

  <item><p>全部活动远程文件夹：</p>
  <p>远程文件夹在您连接到对应的服务器时被认为是活动的；您必须连接到您的邮件服务器才能让搜索文件夹包含远程的邮件以及选中的单独文件夹。</p></item>

  <item><p>所有本地和活动的远程文件夹：</p>
  <p>使用使用本地和远程活动的文件夹作为搜索文件夹的来源，包括选中的独立文件夹。</p></item>

  <item><p>仅指定的文件夹：</p>
  <p>Uses individual folders for the search folder source. In this case, click the <gui style="button">Add</gui> to select folders.</p></item>
</list>
</item>
<item><p>Click <gui style="button">OK</gui>.</p></item>
</steps>

</page>
