<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="translate" xml:lang="de">

  <info>
   <link type="guide" xref="index#get-involved"/>

    <revision pkgversion="3.5.5" version="0.1" date="2012-08-12" status="review"/>
    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
     <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <license>
       <p>Creative Commons Share Alike 3.0</p>
     </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Florian Purucker</mal:name>
      <mal:email>florian@purucker.net</mal:email>
      <mal:years>2007.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008, 2012, 2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2012, 2013, 2014,2015.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

<title>Beim Übersetzen helfen</title>
<p>Die Benutzeroberfläche und die Dokumentation der <app>GNOME Spiele</app> werden von einer weltweiten Gemeinschaft aus Freiwilligen übersetzt. Sie sind herzlich eingeladen, sich daran zu beteiligen.</p>
<p>Übersetzungen stehen noch für <link href="http://l10n.gnome.org/module/gnome-mines/">zahlreiche Sprachen</link> aus.</p>
<p>Um mit der Übersetzung zu beginnen, müssen Sie zunächst <link href="http://l10n.gnome.org">ein Konto erstellen</link> und einem <link href="http://l10n.gnome.org/teams/">Übersetzungsteam</link> für Ihre Sprache beitreten. So erhalten Sie die Möglichkeit, neue Übersetzungen hochzuladen.</p>

<p>Sie können mit GNOME-Übersetzern im <link href="https://cbe003.chat.mibbit.com/?url=irc%3A%2F%2Firc.gnome.org%2Fi18n">IRC</link> chatten. Die Teilnehmer in diesem Kanal sind über die ganze Welt verstreut, so dass Sie aufgrund der unterschiedlichen Zeitzonen nicht unbedingt sofort eine Antwort erhalten werden.</p>
<p>Alternativ können Sie das Internationaliserungsteam über dessen <link href="http://mail.gnome.org/mailman/listinfo/gnome-i18n">Mailingliste</link> kontaktieren.</p>
</page>
