<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="backup-check" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="files#backup"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>

    <credit type="author">
      <name>GNOME 文档项目</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>David King</name>
      <email>davidk@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>检查您的备份是否成功。</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>检查您的备份</title>

  <p>当您完成备份后，应当确保备份是成功的。如果备份未正常结束，您可能会丢失重要数据，因为备份中可能会缺少某些文件。</p>

   <p>When you use <app>Files</app> to copy or move files, the computer checks
   to make sure that all of the data transferred correctly. However, if you are
   transferring data that is very important to you, you may want to perform
   additional checks to confirm that your data has been transferred
   properly.</p>

  <p>您可以对目标媒体中复制过来的文件和文件夹，进行一次额外地检查，以确保传输过来的文件和文件夹有效，从而确认复制操作是成功的。</p>

  <note style="tip"><p>如果要定期备份大量的数据，您会发现使用专门的备份程序会更方便，比如 <app>Déjà Dup</app>，这样的程序比单纯复制更高效和可靠。</p></note>

</page>
