<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="get-involved" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="more-help"/>
    <desc>怎样或者上哪儿报告这些帮助主题中的错误？</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>
  <title>参加志愿者社区以改善本指南</title>

  <section id="bug-report">
   <title>报告错误或者提出建议</title>
   <p>这份帮助文档是由社区志愿者编写的，也欢迎您的加入，如果您发现里面有错误(比如拼写错误，应当改写的操作说明)，您可以发送一份<em>缺陷报告</em>，要发送一份报告，请访问：<link href="https://bugzilla.gnome.org/">bugzilla.gnome.org</link>。</p>
   <p>您需要注册用户，然后可以发送报告，通过邮箱接收它的更新状态。如果您还没有帐号，点击创建新帐号 <gui>New Account</gui> 链接来创建一个。</p>
   <p>如果您已有帐号，登录后点击 <guiseq><gui>File a Bug</gui><gui>Core</gui><gui>gnome-user-docs</gui></guiseq>。在报告缺陷之前，请您先阅读写作指导：<link href="https://bugzilla.gnome.org/page.cgi?id=bug-writing.html">bug writing guidelines</link>，请先访问此<link href="https://bugzilla.gnome.org/browse.cgi?product=gnome-user-docs">链接</link>，查看是否已有类似的报告存在。</p>
   <p>填写报告时，在 <gui>Component</gui> 菜单中，选择一个组件。如果您的报告是针对本文档，那么就选择 <gui>gnome-help</gui> 组件，如果您不确定是哪一个组件，请选择“常规” <gui>general</gui>。</p>
   <p>如果是请求没有凶信的帮助主题内容，在 <gui>Severity</gui> 菜单选择 <gui>enhancement</gui> 项，填写内容描述，然后点 <gui>Commit</gui> 提交。</p>
   <p>您的报告会有一个 ID 号，接受处理后会更新状态。感谢您对 GNOME 完善的帮助。</p>
   </section>

   <section id="contact-us">
   <title>联系我们</title>
   <p>您可以发送<link href="mailto:gnome-doc-list@gnome.org">邮件</link>到 GNOME 文档列表，了解如何加入文档项目组。</p>
   </section>
</page>
