<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:ui="http://projectmallard.org/ui/1.0/" type="topic" style="task" version="1.0 ui/1.0" id="keyboard-shortcuts-set" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="keyboard"/>
    <link type="seealso" xref="shell-keyboard-shortcuts"/>

    <revision pkgversion="3.8.0" version="0.3" date="2013-03-23" status="review"/>
    <revision pkgversion="3.9.92" date="2013-10-11" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.17.90" date="2015-08-30" status="candidate"/>

    <credit type="author">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Julita Inca</name>
      <email its:translate="no">yrazes@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Juanjo Marín</name>
      <email its:translate="no">juanj.marin@juntadeandalucia.es</email>
    </credit>
    <credit type="editor">
      <name>Shobha Tyagi</name>
      <email its:translate="no">tyagishobha@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <desc>在<gui>键盘</gui>设置项中定义或修改键盘快捷键。</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>设置键盘快捷键</title>

<p>要改变键盘快捷键的设置：</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Keyboard</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Keyboard</gui> to open the panel.</p>
    </item>
    <item>
      <p>Select the <gui>Shortcuts</gui> tab.</p>
    </item>
    <item>
      <p>Select a category in the left pane, and the row for the desired action
      on the right. The current shortcut definition will change to
      <gui>New accelerator…</gui></p>
    </item>
    <item>
      <p>按下想要设置的快捷键，或者按<key>退格键</key>清除。</p>
    </item>
  </steps>


<section id="defined">
<title>预定义的快捷键</title>
  <p>有许多定义好的快捷键可以被更改，按组排列如下：</p>

<table rules="rows" frame="top bottom" ui:expanded="false">
<title>启动器</title>
  <tr>
	<td><p>启动帮助浏览器</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>启动计算器</p></td>
	<td><p>计算器</p></td>
  </tr>
  <tr>
	<td><p>启动邮件客户端</p></td>
	<td><p>邮件</p></td>
  </tr>
  <tr>
	<td><p>启动网页浏览器</p></td>
	<td><p>互联网</p></td>
  </tr>
  <tr>
	<td><p>主文件夹</p></td>
	<td><p>浏览器</p></td>
  </tr>
  <tr>
	<td><p>搜索</p></td>
	<td><p>搜索</p></td>
  </tr>
</table>

<table rules="rows" frame="top bottom" ui:expanded="false">
<title>导航</title>
  <tr>
	<td><p>将窗口移至工作区 1</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>将窗口移至工作区 2</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>将窗口移至工作区 3</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>将窗口移至工作区 4</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>将窗移至左边的工作区</p></td>
	<td><p><keyseq><key>Shift</key><key>Ctrl</key><key>Alt</key><key>←</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>将窗口移至右侧工作区</p></td>
	<td><p><keyseq><key>Shift</key><key>Ctrl</key><key>Alt</key><key>→</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>将窗口移至上面的工作区</p></td>
	<td><p><keyseq><key>Shift</key><key xref="keyboard-key-super">Super</key>
  <key>Page Up</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>将窗口移至下面的工作区</p></td>
	<td><p><keyseq><key>Shift</key><key>Super</key><key>Page Down</key></keyseq>
  </p></td>
  </tr>
  <tr>
	<td><p>切换应用程序</p></td>
	<td><p><keyseq><key>Super</key><key>Tab</key></keyseq></p></td>
  </tr>
  <tr>
  <td><p>Switch windows</p></td>
  <td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>切换同一应用程序的窗口</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>切换系统控制</p></td>
	<td><p><keyseq><key>Ctrl</key><key>Alt</key><key>Tab</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>直接切换窗口</p></td>
	<td><p><keyseq><key>Alt</key><key>Esc</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>直接切换同一应用的窗口</p></td>
	<td><p><keyseq><key>Alt</key><key>F6</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>直接切换系统控制</p></td>
	<td><p><keyseq><key>Ctrl</key><key>Alt</key><key>Esc</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>隐藏所有正常窗口</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>切换至工作区 1</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>切换至工作区 2</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>切换至工作区 3</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>切换至工作区 4</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>移动到左侧工作区</p></td>
	<td><p><keyseq><key>Ctrl</key><key>Alt</key><key>←</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>移动到右侧工作区</p></td>
	<td><p><keyseq><key>Ctrl</key><key>Alt</key><key>→</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>移动到上面的工作区</p></td>
	<td><p><keyseq><key>Super</key><key>Page Up</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>移动到下面的工作区</p></td>
	<td><p><keyseq><key>Super</key><key>Page Down</key></keyseq></p></td>
  </tr>
</table>

<table rules="rows" frame="top bottom" ui:expanded="false">
<title>屏幕截图</title>
  <tr>
	<td><p>屏幕抓图</p></td>
	<td><p><key>打印</key></p></td>
  </tr>
  <tr>
	<td><p>对窗口截图</p></td>
	<td><p><keyseq><key>Alt</key><key>Print</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>对选定区域截图</p></td>
	<td><p><keyseq><key>Shift</key><key>Print</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>复制截图到剪贴板</p></td>
	<td><p><keyseq><key>Ctrl</key><key>Print</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>复制窗口截图到剪贴板</p></td>
	<td><p><keyseq><key>Ctrl</key><key>Alt</key><key>Print</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>复制选区截图到剪贴板</p></td>
	<td><p><keyseq><key>Shift</key><key>Ctrl</key><key>Print</key></keyseq></p></td>
  </tr>
  <tr>
  <td><p>Record a screencast</p></td>
  <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>Alt</key><key>R</key>
  </keyseq></p></td>
  </tr>
</table>

<table rules="rows" frame="top bottom" ui:expanded="false">
<title>声音和媒体</title>
  <tr>
	<td><p>静音</p></td>
	<td><p>音频静音</p></td>
  </tr>
  <tr>
	<td><p>降低音量</p></td>
	<td><p>降低音频音量</p></td>
  </tr>
  <tr>
	<td><p>增大音量</p></td>
	<td><p>增大音频音量</p></td>
  </tr>
  <tr>
	<td><p>启动媒体播放器</p></td>
	<td><p>音乐媒体</p></td>
  </tr>
  <tr>
	<td><p>播放(或者 播放/暂停）</p></td>
	<td><p>播放音频</p></td>
  </tr>
  <tr>
	<td><p>暂停播放</p></td>
	<td><p>暂停音频</p></td>
  </tr>
  <tr>
	<td><p>停止播放</p></td>
	<td><p>停止音频</p></td>
  </tr>
  <tr>
	<td><p>上一曲目</p></td>
	<td><p>上一音频</p></td>
  </tr>
  <tr>
	<td><p>下一曲目</p></td>
	<td><p>下一音频</p></td>
  </tr>
  <tr>
	<td><p>弹出</p></td>
	<td><p>弹出</p></td>
  </tr>
</table>

<table rules="rows" frame="top bottom" ui:expanded="false">
<title>系统</title>
  <tr>
	<td><p>显示运行命令提示符</p></td>
	<td><p>按组合键 <keyseq><key>Alt</key><key>F2</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>显示活动概览</p></td>
	<td><p><keyseq><key>Alt</key><key>F1</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>注销</p></td>
	<td><p><keyseq><key>Ctrl</key><key>Alt</key><key>Delete</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>锁定屏幕</p></td>
	<td><p><keyseq><key>Super</key><key>L</key></keyseq></p></td>
  </tr>
  <tr>
  <td><p>Show the message tray</p></td>
  <td><p><keyseq><key>Super</key><key>M</key></keyseq></p></td>
  </tr>
  <tr>
  <td><p>Focus the active notification</p></td>
  <td><p><keyseq><key>Super</key><key>N</key></keyseq></p></td>
  </tr>
  <tr>
  <td><p>Show all applications</p></td>
  <td><p><keyseq><key>Super</key><key>A</key></keyseq></p></td>
  </tr>
  <tr>
  <td><p>Open the application menu</p></td>
  <td><p><keyseq><key>Super</key><key>F10</key></keyseq></p></td>
  </tr>
</table>

<table rules="rows" frame="top bottom" ui:expanded="false">
<title>Typing</title>
  <tr>
  <td><p>Switch to next input source</p></td>
  <td><p><keyseq><key>Super</key><key>Space</key></keyseq></p></td>
  </tr>

  <tr>
  <td><p>Switch to previous input source</p></td>
  <td><p>禁用</p></td>
  </tr>
  <tr>
  <td><p>Modifiers-only switch to next source</p></td>
  <td><p>禁用</p></td>
  </tr>
  <tr>
  <td><p>Compose Key</p></td>
  <td><p>禁用</p></td>
  </tr>
  <tr>
  <td><p>Alternative Characters Key</p></td>
  <td><p>禁用</p></td>
  </tr>
</table>

<table rules="rows" frame="top bottom" ui:expanded="false">
<title>辅助功能</title>
  <tr>
	<td><p>开关屏幕缩放</p></td>
	<td><p><keyseq><key>Alt</key><key>Super</key><key>8</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>放大</p></td>
  <td><p><keyseq><key>Alt</key><key>Super</key><key>=</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>缩小</p></td>
  <td><p><keyseq><key>Alt</key><key>Super</key><key>-</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>开关屏幕阅读器</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>开关屏幕键盘</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>增大文本字号</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>减小文本字号</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>高对比度开或关</p></td>
	<td><p>禁用</p></td>
  </tr>
</table>

<table rules="rows" frame="top bottom" ui:expanded="false">
<title>窗口</title>
  <tr>
	<td><p>激活窗口菜单</p></td>
	<td><p><keyseq><key>Alt</key><key>空格</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>切换全屏模式</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>切换最大化状态</p></td>
	<td><p><keyseq><key>Alt</key><key>F10</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>最大化窗口</p></td>
	<td><p><keyseq><key>Super</key><key>↑</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>恢复窗口</p></td>
  <td><p><keyseq><key>Super</key><key>↓</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>切换阴影状态</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>关闭窗口</p></td>
	<td><p><keyseq><key>Alt</key><key>F4</key></keyseq></p></td>
  </tr>
  <tr>
  <td><p>Hide window</p></td>
  <td><p><keyseq><key>Super</key><key>H</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>移动窗口</p></td>
	<td><p><keyseq><key>Alt</key><key>F7</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>改变窗口大小</p></td>
	<td><p><keyseq><key>Alt</key><key>F8</key></keyseq></p></td>
  </tr>
  <tr>
	<td><p>窗口在单一还是所有工作区显示</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>如果窗口被其他窗口遮盖，则提升它，否则降低它</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>将窗口提升至其它窗口之上</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>将窗口降低至其它窗口之下</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>垂直最大化窗口</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
	<td><p>水平最大化窗口</p></td>
	<td><p>禁用</p></td>
  </tr>
  <tr>
  <td><p>在左半边查看</p></td>
  <td><p><keyseq><key>Super</key><key>←</key></keyseq></p></td>
  </tr>
  <tr>
  <td><p>在右半边查看</p></td>
  <td><p><keyseq><key>Super</key><key>→</key></keyseq></p></td>
  </tr>
</table>

</section>

<section id="custom">
<title>自定义快捷键</title>

  <p>To create your own application keyboard shortcut in the
  <app>Keyboard</app> settings:</p>

  <steps>
    <item>
      <p>Click the <gui style="button">+</gui> button. The <gui>Custom
      Shortcut</gui> window will appear.</p>
    </item>
    <item>
      <p>Type a <gui>Name</gui> to identify the shortcut, and a
      <gui>Command</gui> to run an application, then click <gui>Add</gui>.
      For example, if you wanted the shortcut to open <app>Rhythmbox</app>, you
      could name it <input>Music</input> and use the <input>rhythmbox</input>
      command.</p>
    </item>
    <item>
      <p>Click <gui>Disabled</gui> in the row that was just added. When it
      changes to <gui>New accelerator…</gui>, hold down the desired shortcut
      key combination.</p>
    </item>
  </steps>

  <p>The command name that you type should be a valid system command. You can
  check that the command works by opening a Terminal and typing it in there.
  The command that opens an application cannot have the same name as the
  application itself.</p>

  <p>如果您想要改变快捷键对应的命令，双击快捷键的<em>名字</em>，然后在弹出的<gui>编辑快捷键</gui>窗口中编辑命令。</p>

</section>

</page>
