<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="net-install-flash" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="net-browser"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email its:translate="no">philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>您需要安装 Flash 来查看一些视频网站和交互性网页，比如像  YouTube。</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>安装 Flash 插件</title>

  <p><app>Flash</app> 是一种 Web 浏览器<em>插件</em>，使您可以在有些网站上观看视频和使用交互式 Web 页面。没有 Flash，有些网站无法正常运行。</p>

  <p>如果您没有安装 Flash 插件，在访问包含 Flash 的网站时，将会收到一条相关的提示信息。许多网站里可以免费下载到绝大多数浏览器的 Flash 插件(但没有开源)。绝大多数 Linux 发行版包含 Flash 安装包，您也可以通过软件包管理器来安装它。</p>

  <steps>
    <title>如果软件包管理器中的 Flash 可用：</title>
    <item>
      <p>打开包管理器，搜索 <input>flash</input>。</p>
    </item>
    <item>
      <p>查找 <gui>Adobe Flash plug-in</gui>、<gui>Adobe Flash Player</gui> 或类似的，然后选中安装。</p>
    </item>
    <item>
      <p>如果您打开有浏览器窗口，请关闭它们后再安装。当您完成安装，打开浏览器时，Flash 插件应当会自动识别，然后就可以访问 Flash 页面了。</p>
    </item>
  </steps>

  <steps>
    <title>如果包管理器中的 Flash <em>不</em>可用：</title>
    <item>
      <p>点击进入 <link href="http://get.adobe.com/flashplayer">Flash Player 下载页面</link>，应当能够自动检测出您的操作系统和浏览器。</p>
    </item>
    <item>
      <p>点击<gui>选择要下载的版本</gui>，然后选择适合您 Linux 发行版的类型，如果您不清楚用哪一个，可以选择 <file>.tar.gz</file>。</p>
    </item>
    <item>
      <p>访问 <link href="http://kb2.adobe.com/cps/153/tn_15380.html">installation instructions for Flash</link> 以获得更多如何为您的浏览器安装 Flash 的资料。</p>
    </item>
  </steps>

<section id="alternatives">
  <title>开源的 Flash 替代</title>

  <p>开源的 Flash 替代不多，有些地方比 Flash 插件好(比如控制声音回放上)，其他地方都比不上 Flash 插件(比如不能显示一些复杂的 Flash 页面)。</p>

  <p>如果对 Flash 播放器不满意，或者您想尽可能在计算机上多使用开源软件，则您可以尝试其中某款软件。下面提供了几个选项：</p>

  <list style="compact">
    <item>
      <p>LightSpark</p>
    </item>
    <item>
      <p>Gnash</p>
    </item>
  </list>

</section>

</page>
