<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="printing-setup" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="printing#setup" group="#first"/>
    <link type="seealso" xref="printing-setup-default-printer" group="#first"/>

    <revision pkgversion="3.10.2" date="2013-11-03" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="final"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email its:translate="no">philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Jim Campbell</name>
      <email its:translate="no">jcampbell@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Paul W. Frields</name>
      <email its:translate="no">stickster@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email its:translate="no">shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>安装一个连接好的打印机。</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>安装本地打印机</title>

  <p>Your system can recognize many types of printers automatically once
  they are connected. Most printers are connected with a USB cable that
  attaches to your computer.</p>

  <note style="tip">
    <p>You do not need to select whether you want to install a network or local
    printer now. They are listed in one window.</p>
  </note>

  <steps>
    <item>
      <p>确保打印机电源已经打开。</p>
    </item>
    <item>
      <p>正确连接打印机和电脑，您会看到屏幕上系统搜索驱动，您会被要求验证权限以安装它们。</p>
    </item>
    <item>
      <p>A message will appear when the system is finished installing the
      printer. Select <gui>Print Test Page</gui> to print a test page, or
      <gui>Options</gui> to make additional changes in the printer setup.</p>
    </item>
  </steps>

  <p>If your printer was not set up automatically, you can add it in the
  printer settings:</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Printers</gui>.</p>
    </item>
    <item>
      <p>点<gui>打印机</gui>。</p>
    </item>
    <item>
      <p>点击右上角的<gui>解锁</gui>按钮，然后输入您的密码。</p>
    </item>
    <item>
      <p>Click the <gui>+</gui> button.</p>
    </item>
    <item>
      <p>In the pop-up window, select your new printer. Click
      <gui>Add</gui>.</p>
    </item>
  </steps>

  <p>If your printer does not appear in the Add a New Printer window, you may
  need to install print drivers.</p>

  <p>在您安装打印机后，可能想要<link xref="printing-setup-default-printer">更改默认打印机</link>。</p>

</page>
