<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing-booklet" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="printing#paper"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>怎样用 A4纸或信封大小的纸，打印一个文件册、多页小册子</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>打印小册子</title>

  <p>您可以将 PDF 文档打印成小册子。</p>

  <p>如果您是从 <app>LibreOffice</app> 文档打印小册子，首先要导出为 PDF 文档，点菜单<guiseq><gui>文件</gui><gui>导出为 PDF…</gui></guiseq>，确保文档有4倍以上页面的内容(4,、8,、12、16...)。您可能要添加上三页空白页。</p>

  <p>如果您的 PDF 文档页数不是4的倍数，您可以添加合适的空白页(1、2或3)，使它成为4的倍数，操作如下：</p>

  <steps>
    <item>
      <p>创建一个 <app>LibreOffice</app> 文档，根据需要添加几页(1-3)空白页。</p>
    </item>
    <item>
      <p>导出空白页为 PDF 文档，点菜单<guiseq><gui>文件</gui><gui>导出为 PDF…</gui></guiseq>。</p>
    </item>
    <item>
      <p>用 <app>PDF-Shuffler</app>  或 <app>PDF Mod</app>合并空白页到您的 PDF 文档中，把空白页放在最后。</p>
    </item>
  </steps>

  <p>选择使用的打印类型，如下：</p>

</page>
