<?xml version="1.0" encoding="UTF-8"?>


<!--
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This file incorporates work covered by the following license notice:
 *
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements. See the NOTICE file distributed
 *   with this work for additional information regarding copyright
 *   ownership. The ASF licenses this file to you under the Apache
 *   License, Version 2.0 (the "License"); you may not use this file
 *   except in compliance with the License. You may obtain a copy of
 *   the License at http://www.apache.org/licenses/LICENSE-2.0 .
 -->
	
<helpdocument version="1.0">
<meta>
<topic id="textshared05err_htmlxml" indexer="exclude" status="PUBLISH">
<title id="tit" xml-lang="fr">Page d'aide non trouvée</title>
<filename>/text/shared/05/err_html.xhp</filename>
</topic>
<history>
<created date="2003-10-31T00:00:00">Sun Microsystems, Inc.</created>
</history>
</meta>
<body>
<paragraph role="heading" id="hd_id3146957" xml-lang="fr" level="1" l10n="U" oldref="1">Page d'aide introuvable.</paragraph>
<paragraph role="paragraph" id="par_id3147088" xml-lang="fr" l10n="U" oldref="2">Impossible de trouver la page d'aide sélectionnée. Les données suivantes peuvent être utiles pour identifier les erreurs :</paragraph>
<paragraph role="paragraph" id="par_id3143268" xml-lang="fr" l10n="U" oldref="3">ID de l'aide : <emph><help-id-missing/></emph></paragraph>
<paragraph role="paragraph" id="par_idN10681" xml-lang="fr" l10n="NEW">Vous pouvez installer les modules d'aide manquants à l'aide du programme d'installation.</paragraph>
<paragraph role="paragraph" id="par_id3150541" xml-lang="fr" l10n="U" oldref="16">Pour revenir à la page précédente, cliquez sur <image id="img_id3148946" src="res/sc06301.png" width="0.222inch" height="0.222inch"><alt id="alt_id3148946">Icône</alt></image><emph>Précédent</emph>.</paragraph>
</body>
</helpdocument>
