<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" its:version="1.0" type="topic" style="task" id="restore-lost" xml:lang="pt-BR">
<info>
  <desc>Restaurar um arquivo que não está mais presente</desc>
  <link type="guide" xref="index#restore"/>
</info>
<title>Restaurando um arquivo perdido</title>
<steps>
  <item><p>Navegue até a pasta contendo o arquivo que você perdeu.</p></item>
  <item><p>Clique em <guiseq><gui style="menuitem">Arquivo</gui><gui style="menuitem">Restaurar arquivos ausentes…</gui></guiseq>.</p></item>
  <item><p>Quando a janela <gui>Restaurar</gui> aparecer, ela irá procurar por arquivos que estão na cópia de segurança, mas não estão mais na pasta.</p></item>
  <item><p>Quando você vir aparecer o arquivo que pretende restaurar, selecione-o e clique em <gui style="button">Avançar</gui>.</p></item>
  <item><p>Reveja as suas escolhas e clique em <gui style="button">Restaurar</gui>.</p></item>
</steps>
<note style="advanced"><p>Você pode restaurar arquivos perdidos também pela linha de comando, se você se lembra quais eram os seus nomes:</p>
  		                 <screen><span its:translate="no">deja-dup --restore </span>ARQUIVO1 ARQUIVO2</screen></note>
</page>
