<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="files-removedrive" xml:lang="de">

  <info>
    <link type="guide" xref="files#removable"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>

    <revision pkgversion="3.6.0" version="0.2" date="2012-10-08" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Hängen oder werfen Sie einen USB-Speicherstick, eine CD, DVD oder ein anderes Gerät aus.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hendrik Knackstedt</mal:name>
      <mal:email>hendrik.knackstedt@t-online.de</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2011-2015.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011-2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  </info>

  <title>Ein externes Laufwerk sicher entfernen</title>

  <p>Wenn Sie ein externes Speichergerät wie einen USB-Stick verwenden, sollten Sie es sicher entfernen, bevor Sie es ausstecken. Wenn Sie es einfach nur ausstecken, riskieren Sie, dass Sie das Gerät gerade in dem Moment entfernen, in dem eine Anwendung darauf zugreift, wodurch einige Ihrer Dateien verloren gehen oder zerstört werden könnten. Wenn Sie einen optischen Datenträger wie eine CD oder DVD verwenden, können Sie dieselben Schritte befolgen, um die CD/DVD aus dem Laufwerk auszuwerfen.</p>

  <steps>
    <title>So werfen Sie einen Wechseldatenträger aus:</title>
    <item>
      <p>From the <gui xref="shell-introduction#activities">Activities</gui> overview,
      open <app>Files</app>.</p>
    </item>
    <item>
      <p>Suchen Sie nach dem Gerät in der Seitenleiste. Es sollte sich ein kleines Auswerfen-Symbol neben dem Namen befinden. Klicken Sie auf dieses Symbol, um das Gerät zu entfernen oder auszuwerfen.</p>
      <p>Alternativ klicken Sie mit der rechten Maustaste auf den Namen des Gerätes in der Seitenleiste und wählen Sie <gui>Auswerfen</gui>.</p>
    </item>
  </steps>

  <section id="remove-busy-device">
    <title>Ein in Verwendung befindliches Laufwerk sicher entfernen</title>

  <p>Wenn irgendeine der Dateien auf dem Gerät offen ist und von einer Anwendung verwendet wird, können Sie das Gerät nicht sicher entfernen. Ein Fenster teilt Ihnen mit, dass <gui>das Laufwerk verwendet wird</gui>. So entfernen Sie das Gerät sicher:</p>

  <steps>
    <item><p>Klicken Sie auf <gui>Abbrechen</gui>.</p></item>
    <item><p>Schließen Sie alle Dateien auf dem Gerät.</p></item>
    <item><p>Klicken Sie auf das Auswurfsymbol, um das Gerät sicher auszuwerfen oder sicher zu entfernen.</p></item>
    <item><p>Alternativ klicken Sie mit der rechten Maustaste auf den Namen des Gerätes in der Seitenleiste und wählen Sie <gui>Auswerfen</gui>.</p></item>
  </steps>

  <note style="warning"><p>Sie können auch <gui>Trotzdem aushängen</gui> wählen, um das Gerät zu entfernen, ohne die Dateien zu schließen. Dies kann zu Fehlern in den Anwendungen führen, die diese Dateien geöffnet haben.</p></note>

  </section>

</page>
