<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="tip" id="help-mailing-list" xml:lang="de">

  <info>
    <link type="guide" xref="more-help"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-07" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email its:translate="no">tiffany@antopolski.com</email>
    </credit>
    <credit type="author">
      <name>Baptiste Mille-Mathias</name>
      <email its:translate="no">baptiste.millemathias@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Support per E-Mail anfordern.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hendrik Knackstedt</mal:name>
      <mal:email>hendrik.knackstedt@t-online.de</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2011-2015.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011-2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  </info>

  <title>Mailingliste</title>

  <p>Mailing-Listen sind E-Mail-basierte Diskussionen. Sie können um Support ansuchen, indem Sie die GNOME-Mailinglisten verwenden. Fast jede GNOME-Anwendung hat ihre eigene Mailingliste. Die vollständige Übersicht aller Mailinglisten finden Sie unter <link href="http://mail.gnome.org/mailman/listinfo"/>.</p>

  <note>
    <p>Sie müssen sich möglicherweise erst bei der Mailingliste registrieren, bevor Sie eine E-Mail an diese versenden dürfen.</p>
  </note>

  <p>Die in den Mailinglisten vorgegebene Sprache ist Englisch. Es gibt Anwendermailinglisten für andere Sprachen. Zum Beispiel <sys>gnome-de</sys> für Deutschsprachige oder <sys>gnome-cl-list</sys> für alles, was mit Chile zusammenhängt.</p>

</page>
