<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="music-player-newipod" xml:lang="de">
  <info>
    <link type="guide" xref="media#music"/>


    <credit type="author">
      <name>GNOME-Dokumentationsprojekt</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <desc>Brandneue iPods müssen zunächst mit der iTunes-Software eingerichtet werden, bevor Sie sie verwenden können.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hendrik Knackstedt</mal:name>
      <mal:email>hendrik.knackstedt@t-online.de</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2011-2015.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011-2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  </info>

<title>Mein neuer iPod funktioniert nicht</title>

<p>Wenn Sie einen neuen iPod besitzen, der noch nie an einen Rechner angeschlossen wurde, wird er von einem Linux-Rechner nicht richtig erkannt. Das liegt daran, dass ein iPod erst einmal mit <app>iTunes</app> eingerichtet und aktualisiert werden muss, einer Software, die nur unter Windows und Mac OS läuft.</p>

<p>Um Ihren iPod einzurichten, installieren Sie iTunes auf einem Windows- oder Mac-Rechner und schließen Sie ihn an. Sie werden durch einige Schritte geleitet, um ihn einzurichten. Wenn Sie nach dem <gui>Datenträgerformat</gui> gefragt werden, wählen Sie <gui>MS-DOS (FAT)</gui>, <gui>Windows</gui> oder Ähnliches. Das andere Format (HFS/Mac) funktioniert unter Linux nicht so gut.</p>

<p>Sobald die Einrichtung abgeschlossen ist, sollte der iPod normalerweise funktionieren, wenn Sie ihn mit einem Linux-Rechner verbinden.</p>

</page>
