<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" id="net-antivirus" xml:lang="de">

  <info>
    <link type="guide" xref="net-security"/>
    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>GNOME-Dokumentationsprojekt</name>
      <email its:translate="no">gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Es gibt nur wenige Linux-Viren, also brauchen Sie wahrscheinlich keine Anti-Virus-Software.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hendrik Knackstedt</mal:name>
      <mal:email>hendrik.knackstedt@t-online.de</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2011-2015.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011-2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  </info>

  <title>Benötige ich Anti-Virus-Software?</title>

  <p>Wenn Sie Windows oder Mac OS gewohnt sind, sind Sie es wahrscheinlich auch gewohnt, ständig eine Anti-Virus-Software laufen zu haben. Anti-Virus-Software läuft im Hintergrund und sucht ständig nach Computerviren, die auf Ihren Rechner gelangen und Probleme verursachen könnten.</p>

  <p>Anti-virus software does exist for Linux, but you probably don't need to
  use it. Viruses that affect Linux are still very rare. Some argue that this
  is because Linux is not as widely used as other operating systems, so no one
  writes viruses for it. Others argue that Linux is intrinsically more secure,
  and security problems that viruses could make use of are fixed very
  quickly.</p>

  <p>Was auch immer der Grund sein mag, Linux-Viren sind derart selten, dass Sie sich momentan deswegen keine Sorgen machen müssen.</p>

  <p>Wenn Sie auf Nummer sicher gehen wollen oder wenn Sie Dateien auf Viren überprüfen wollen, die Sie an Personen weitergeben, die Windows oder Mac OS verwenden, können Sie immer noch eine Anti-Virus-Software installieren. Suchen Sie in der Paketverwaltung oder im Internet danach – es gibt eine Reihe von Anwendungen dafür.</p>

</page>
