<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:ui="http://projectmallard.org/ui/1.0/" type="topic" style="tip" version="1.0 ui/1.0" id="shell-keyboard-shortcuts" xml:lang="de">

  <info>
    <link type="guide" xref="tips"/>
    <link type="guide" xref="keyboard"/>
    <link type="guide" xref="shell-overview#apps"/>
    <link type="seealso" xref="keyboard-key-super"/>

    <revision pkgversion="3.8.0" version="0.4" date="2013-04-23" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>

    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Bewegen in der Arbeitsumgebung mit der Tastatur.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hendrik Knackstedt</mal:name>
      <mal:email>hendrik.knackstedt@t-online.de</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2011-2015.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011-2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  </info>

<title>Nützliche Tastenkombinationen</title>

<p>Hier finden Sie einen Überblick über Tastenkombinationen, die Ihnen helfen können, Ihre Arbeitsumgebung und Anwendungen effizienter nutzen zu können. Falls Sie überhaupt keine Maus oder andere Zeigegeräte verwenden können, finden Sie im Abschnitt <link xref="keyboard-nav"/> weitere Informationen über die reine Tastaturnavigation in Benutzeroberflächen.</p>

<table rules="rows" frame="top bottom" ui:expanded="true">
<title>Bewegen in der Arbeitsumgebung</title>
  <tr xml:id="alt-f1">
    <td><p><keyseq><key>Alt</key><key>F1</key></keyseq> oder die <key xref="keyboard-key-super">Super</key>-Taste</p></td>
    <td><p>Wechseln Sie zwischen der <gui>Aktivitäten</gui>-Übersicht und der Arbeitsfläche. Geben Sie in der Übersicht Text ein, um unmittelbar nach Anwendungen, Kontakten und Dokumenten zu suchen.</p></td>
  </tr>
  <tr xml:id="alt-f2">
    <td><p><keyseq><key>Alt</key><key>F2</key></keyseq></p></td>
    <td><p>Schnellstartfenster (zum schnellen Ausführen von Befehlen)</p></td>
  </tr>
  <tr xml:id="super-tab">
    <td><p><keyseq><key>Super</key><key>Tab</key></keyseq></p></td>
    <td><p><link xref="shell-windows-switching">Schneller Wechsel zwischen Fenstern</link>. Halten Sie die <key>Umschalttaste</key> gedrückt, um die Wechselrichtung umzukehren.</p></td>
  </tr>
  <tr xml:id="super-tick">
    <td><p><keyseq><key>Super</key><key>`</key></keyseq></p></td>
    <td>
      <p>Wechsel zwischen Fenstern der gleichen Anwendung, oder aus der gewählten Anwendung nach <keyseq><key>Super</key><key>Tabulator</key></keyseq>.</p>
      <p>Dieses Tastenkürzel bezieht sich auf das <key>`</key>-Zeichen auf US-Tastaturen, wo die <key>`</key>-Taste sich oberhalb der <key>Tabulatortaste</key> befindet. Auf allen anderen Tastaturen besteht dieses Tastenkürzel aus <key>Alt</key> und der Taste oberhalb von <key>Tabulator</key>, was auch immer es ist.</p>
    </td>
  </tr>
  <tr xml:id="ctrl-alt-tab">
    <!-- To be updated to <key>Tab</key> in the future. -->
    <td><p><keyseq><key>Strg</key><key>Alt</key><key>Tab</key></keyseq></p></td>
    <td>
      <p>Give keyboard focus to the top bar. In the <gui>Activities</gui>
      overview, switch keyboard focus between the top bar, dash, windows
      overview, applications list, search field, and message tray. Use the
      arrow keys to navigate.</p>
    </td>
  </tr>
  <tr xml:id="super-a">
    <td><p><keyseq><key>Super</key><key>A</key></keyseq></p></td>
    <td><p>Die Liste der Anwendungen anzeigen.</p></td>
  </tr>
  <tr xml:id="super-updown">
    <td><p>Durch Drücken von <keyseq><key>Super</key><key>Bild auf</key></keyseq> und <keyseq><key>Super</key><key>Bild ab</key></keyseq>.</p></td>
    <td><p><link xref="shell-workspaces-switch">Zwischen Arbeitsflächen wechseln</link>.</p></td>
  </tr>
  <tr xml:id="super-shift-updown">
    <td><p><keyseq><key>Super</key><key>Umschalttaste</key><key>Bild auf</key></keyseq> und <keyseq><key>Super</key><key>Umschalttaste</key><key>Bild ab</key></keyseq></p></td>
    <td><p><link xref="shell-workspaces-movewindow">Das aktuelle Fenster auf eine andere Arbeitsfläche verschieben.</link></p></td>
  </tr>
  <tr xml:id="ctrl-alt-Del">
    <td><p><keyseq><key>Strg</key><key>Alt</key><key>Löschtaste</key></keyseq></p></td>
    <td><p><link xref="shell-exit">Ausschalten</link>.</p></td>
  </tr>
  <tr xml:id="ctrl-alt-l">
    <td><p><keyseq><key>Super</key><key>L</key></keyseq></p></td>
    <td><p><link xref="shell-exit#lock-screen">Den Bildschirm sperren.</link></p></td>
  </tr>
  <tr xml:id="super-m">
    <td><p><keyseq><key>Super</key><key>M</key></keyseq></p></td>
    <td><p>Open <link xref="shell-notifications#messagetray">the message
    tray</link>. Press <keyseq><key>Super</key><key>M</key></keyseq> again or
    <key>Esc</key> to close.</p></td>
  </tr>
</table>

<table rules="rows" frame="top bottom" ui:expanded="false">
<title>Häufig verwendete Tastenkürzel zum Bearbeiten</title>
  <tr>
    <td><p><keyseq><key>Strg</key><key>A</key></keyseq></p></td>
    <td><p>Allen Text oder Objekte einer Liste wählen.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Strg</key><key>X</key></keyseq></p></td>
    <td><p>Ausgewählten Text oder ausgewählte Objekte in die Zwischenablage verschieben (ausschneiden).</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Strg</key><key>C</key></keyseq></p></td>
    <td><p>Ausgewählten Text oder ausgewählte Objekte in die Zwischenablage kopieren.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Strg</key><key>V</key></keyseq></p></td>
    <td><p>Den Inhalt der Zwischenablage einfügen.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Strg</key><key>Z</key></keyseq></p></td>
    <td><p>Die letzte Aktion rückgängig machen.</p></td>
  </tr>
</table>

<table rules="rows" frame="top bottom" ui:expanded="false">
<title>Bildschirmfotos</title>
  <tr>
    <td><p><key>Druck</key></p></td>
    <td><p><link xref="screen-shot-record#screenshot">Ein Bildschirmfoto aufnehmen.</link></p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Alt</key><key>Druck</key></keyseq></p></td>
    <td><p><link xref="screen-shot-record#screenshot">Ein Bildschirmfoto eines Fensters aufnehmen.</link></p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Umschalttaste</key><key>Druck</key></keyseq></p></td>
    <td><p><link xref="screen-shot-record#screenshot">Nehmen Sie ein Bildschirmfoto eines Fensters auf.</link> Der Zeiger verwandelt sich in ein Fadenkreuz. Klicken und ziehen Sie, um einen Bereich zu markieren.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Strg</key><key>Alt</key><key>Umschalttaste</key><key>R</key></keyseq></p></td>
    <td><p><link xref="screen-shot-record#screencast">Die Aufnahme eines Bildschirmmitschnitts starten oder beenden.</link></p></td>
  </tr>
</table>

</page>
