<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="accounts-remove" xml:lang="de">

	<info>
		<credit type="author">
			<name>Michael Hill</name>
			<email>mdhillca@gmail.com</email>
		</credit>

		<credit type="editor">
			<name>Greg Beam</name>
			<email>ki7mt@yahoo.com</email>
		</credit>

		<link type="guide" xref="accounts"/>
		<link type="seealso" xref="accounts-disable-service"/>
    <revision pkgversion="3.10.2" version="0.1" date="2014-01-08" status="review"/>
		<revision version="14.04" date="2014-01-08" status="review"/>
		<include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

		<desc>Online-Kontodienste entfernen</desc>
	</info>

	<title>Entfernen eines Kontos</title>

	<steps>
		<item>
			<p>Klicken Sie auf das Symbol ganz rechts in der <gui>Menüleiste</gui> und wählen Sie <gui>Systemeinstellungen</gui>.</p>
		</item>

		<item>
			<p>Wählen Sie <gui>Online-Konten</gui>.</p>
		</item>

    <item>
      <p>Klicken Sie in der linken Fensterseite auf das Konto, das Sie entfernen möchten.</p>
    </item>

    <item>
      <p>Klicken Sie auf die Schaltfläche <gui>Konto entfernen</gui> unten rechts im Fenster.</p>

  <note style="tip">
    <p>Das Entfernen der Auswahl aus den <app>Online-Konten</app> wirkt sich in keiner Weise auf das Konto bei Ihrem Dienstanbieter aus.</p>
  </note>
    </item>

    <item>
      <p>Klicken Sie auf <gui>Entfernen</gui>.</p>
    </item>
  </steps>

  <note style="tip">
    <p>Anstelle das ganze Konto zu löschen, können Sie auch <link xref="accounts-disable-service">den Dienst einschränken</link>, so dass von Ihrer Arbeitsfläche aus nicht mehr darauf zugegriffen werden kann.</p>
  </note>
</page>
