<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="hardware" xml:lang="de">
  <info>

    <revision version="13.10" date="2013-09-12" status="review"/>

    <link type="guide" xref="index" group="hardware"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <title type="link" role="trail">Hardware</title>

    <desc><link xref="hardware#problems">Geräteprobleme</link>, <link xref="printing">Drucker</link>, <link xref="power">Energieeinstellungen</link>, <link xref="color">Farbverwaltung</link>, <link xref="bluetooth">Bluetooth</link>, <link xref="disk">Festplatten</link> …</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Hardware und Treiber</title>

<links type="topic" style="toronto"/>

<links type="topic" style="linklist" groups="more">
  <title>Weitere Themen</title>
</links>

<section id="problems" style="2column">
  <info>
    <title type="link" role="trail">Probleme</title>
    <title type="link">Hardware-Probleme</title>
  </info>
 <title>Häufig auftretende Probleme</title>
 <links type="topic" style="linklist"/>
</section>

</page>
