<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="keyboard-cursor-blink" xml:lang="de">
  <info>
    <link type="guide" xref="a11y#vision" group="lowvision"/>
    <link type="guide" xref="keyboard"/>

    <revision pkgversion="3.8.0" version="0.3" date="2013-03-13" status="candidate"/>
    <revision version="13.10" date="2013-09-12" status="review"/>

    <desc>Den Tastaturzeiger blinken lassen und einstellen, wie schnell er blinkt.</desc>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
       <name>Natalia Ruz Leiva</name>
       <email>nruz@alumnos.inf.utfsm.cl</email>
    </credit>
    <credit type="author">
       <name>Julita Inca</name>
       <email>yrazes@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Den Tastaturzeiger blinken lassen</title>

  <p>Wenn es Ihnen schwerfällt, den Tastaturzeiger in einem Textfeld zu erkennen, können Sie ihn blinken lassen, um ihn leichter zu finden.</p>

  <steps>
    <item>
     <p>Klicken Sie auf das Symbol ganz rechts in der Menüleiste und wählen Sie <gui>Systemeinstellungen</gui>.</p>
    </item>
    <item><p>Klicken Sie unter <gui>Hardware</gui> auf <gui>Tastatur</gui>.</p>
    </item>
    <item><p>Wählen Sie <gui>Blinkender Zeiger in Textfeldern</gui>.</p></item>
    <item>
     <p>Verwenden Sie den Schieberegler <gui>Geschwindigkeit</gui>, um einzustellen, wie schnell der Zeiger blinken soll.</p>
    </item>
  </steps>

</page>
