<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="media" xml:lang="de">
  <info>

    <revision version="13.10" date="2013-10-22" status="review"/>

    <link type="guide" xref="index" group="media"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc><link xref="media#photos">Digitalkameras</link>, <link xref="media#music">iPods</link>, <link xref="media#videos">Videos abspielen</link> …</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Ton, Video und Bilder</title>

<section id="sound" style="2column">
 <info>
   <title type="sort">Ton</title>
   <title type="link" role="trail">Ton</title>
   <title type="link" role="topic">Ton</title>
   <desc><link xref="sound-volume">Lautstärke</link>, <link xref="sound-usespeakers">Lautsprecher und Kopfhörer</link>, <link xref="sound-usemic">Mikrofone</link> …</desc>
   <link type="guide" xref="prefs"/>
 </info>
 <title>Grundlegendes zum Ton</title>
</section>

<section id="music" style="2column">
 <info><title type="link">Musik und Wiedergabeprogramme</title></info>
 <title>Musik und tragbare Wiedergabegeräte</title>
</section>

<section id="photos" style="2column">
 <info><title type="link">Fotos</title></info>
 <title>Fotos und digitale Kameras</title>
</section>

<section id="videos" style="2column">
 <info><title type="link">Videos</title></info>
 <title>Videos und Video-Kameras</title>
</section>

</page>
