<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="net-wired" xml:lang="de">

  <info>
    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <link type="guide" xref="net"/>

    <desc><link xref="net-wired-connect">Kabelgebundene Internetverbindungen</link>, <link xref="net-fixed-ip-address">Statische IP-Adressen</link> …</desc>

    <credit type="author">
      <name>Das Ubuntu-Dokumentations-Team</name>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Kabelverbindungen</title>

</page>
