<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="shell-windows-tiled" xml:lang="de">

  <info>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <desc>Zwei Fenster nebeneinander maximieren.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="shell-windows#working-with-windows"/>
    <revision pkgversion="3.4.0" date="2012-02-19" status="final"/>
    <revision pkgversion="3.4.0" date="2012-03-14" status="candidate"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
  </info>

<title>Fenster anordnen</title>

<p>Sie können ein Fenster nur auf der linken oder rechten Bildschirmseite maximieren, wodurch Sie zwei Fenster nebeneinander platzieren und so schnell zwischen diesen wechseln können.</p>

<p>Um ein Fenster an einen Bildschirmrand zu maximieren, halten Sie die linke Maustaste auf der Titelleiste gedrückt und ziehen Sie es an die linke oder rechte Seite, bis der halbe Bildschirm hervorgehoben wird.  Wenn Sie die Tastatur verwenden, halten Sie <key>Strg</key> und <key><link xref="windows-key">Super</link></key> und drücken Sie <key>←</key> oder <key>→</key>.</p>

<!-- Disable this line since neither of these actually work 100%
<p>To restore a window to its original size, drag it away from the side of
the screen, or use the same keyboard shortcut you used to maximize.</p>
-->

<note style="tip">
  <p>Halten Sie die Taste <key>Alt</key> gedrückt und ziehen Sie irgendwo in einem Fenster, um es zu verschieben.</p>
</note>

</page>
