<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="user-changepicture" xml:lang="de">

  <info>
    <link type="guide" xref="user-accounts#manage"/>
    <desc>Fügen Sie Ihr Foto den Anmelde- und Benutzerbildschirmen hinzu.</desc>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author">
      <name>GNOME-Dokumentationsprojekt</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Ändern des Fotos für den Anmeldebildschirm</title>

  <p>Wenn Sie sich anmelden oder den Benutzer wechseln, sehen Sie eine Liste aller Benutzer mitsamt deren Benutzerbildern. Für Ihr Bild können Sie eines der bereitgestellten oder ein eigenes Foto verwenden. Oder Sie benutzen Ihre Webcam und nehmen ein ganz neues Bild auf.</p>

  <steps>
  <item><p>Klicken Sie auf das Symbol ganz links in der <gui>Menüleiste</gui> und wählen Sie <gui>Systemeinstellungen</gui>.</p></item>
  <item><p>Öffnen Sie <gui>Benutzer</gui>.</p></item>
    <item><p>Klicken Sie auf das Bild neben Ihrem Namen. Eine Galerie mit einer Übersicht an mitgelieferten Anmeldebildern wird angezeigt. Wenn Ihnen eines davon gefällt, klicken Sie darauf um es für sich zu nutzen.</p></item>
      <item><p>Wenn Sie lieber ein Bild verwenden möchten, welches Sie bereits auf Ihrem Rechner haben, klicken Sie auf <gui>Nach weiteren Bildern suchen</gui>.</p></item>
  </steps>
</page>
