<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="edit-straighten" xml:lang="es">
      
    <info>
        <link type="guide" xref="index#edit"/>
        <desc>Enderezar una foto tal que su horizonte aparezca nivelado.</desc>
        
   	<link type="next" xref="edit-undo"/>
    </info>
    
    	<title>Enderezar fotos</title>
    	
<p>The straighten tools allows photos to be leveled and straightened. The straighten tool is only available in full-window or fullscreen mode. </p>

 <steps>
     <item>
      <p>Click <gui>Straighten</gui>. The straighten slider will appear. Alternatively, use the keyboard shortcut <keyseq><key>Ctrl</key><key>A</key></keyseq>.</p>
     </item>
     <item>
      <p>Arrastre el control deslizante para conseguir el grado que quiera de enderezamiento.</p>
     </item>
     <item>
      <p>Pulse <gui>Aceptar</gui> cuando haya acabado.</p>
     </item>
 </steps>

</page>
