<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="introduction" xml:lang="ru">

  <info>
    <link type="guide" xref="index" group="#first"/>
    <revision version="0.1" date="2011-12-19" status="stub"/>
    <revision pkgversion="3.4" date="2012-02-20" status="review"/>
    <revision pkgversion="3.10" date="2012-07-24" status="review"/>

    <credit type="author copyright">
      <name>Юлита Инка (Julita Inca)</name>
      <email its:translate="no">yrazes@gmail.com</email>
    </credit>
    <credit type="author copyright editor">
      <name>Екатерина Герасимова (Ekaterina Gerasimova)</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Майкл Хилл (Michael Hill)</name>
      <email its:translate="no">mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><app>Disk Usage Analyzer</app> is an application which shows you your use of storage space using graphs.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Yuri Myasoedov</mal:name>
      <mal:email>omerta13@yandex.ru</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Василий Фаронов</mal:name>
      <mal:email>qvvx@yandex.ru</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Алексей Кабанов</mal:name>
      <mal:email>ak099@mail.ru</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Станислав Соловей</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>Введение</title>

  <p><app>Disk Usage Analyzer</app> is a graphical application for analysing
  storage device usage. It can be used to scan multiple local or remote storage
  devices, including hard disks, SSDs, USB sticks, digital cameras and memory
  cards. <app>Disk Usage Analyzer</app> can scan either the
  <link xref="scan-file-system">whole file system</link>,
  <link xref="scan-home">your <file>Home</file> directory</link>,
  <link xref="scan-folder">a specified folder</link> or
  <link xref="scan-remote">a remote directory</link>.</p>

  <p>С помощью полученных результатов можно определить, какие папки можно <link href="help:file-roller">заархивировать</link>, <link href="help:gnome-help/files-delete">удалить</link> или <link href="help:gnome-help/files-copy">переместить</link>, чтобы освободить место. Также можно оценить, сколько места понадобится для <link href="help:gnome-help/backup-how">резервного копирования</link> определённых папок.</p>

</page>
