<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="scan-home" xml:lang="ru">

  <info>
    <link type="guide" xref="index#scan"/>
    <revision version="0.1" date="2011-12-19" status="stub"/>
    <revision version="0.1" date="2011-12-20" status="review"/>
    <revision pkgversion="3.8" date="2013-07-20" status="review"/>

    <credit type="author copyright">
      <name>Юлита Инка (Julita Inca)</name>
      <email its:translate="no">yrazes@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>Екатерина Герасимова (Ekaterina Gerasimova)</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Майкл Хилл (Michael Hill)</name>
      <email its:translate="no">mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Scan all of your personal files that are on your computer.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Yuri Myasoedov</mal:name>
      <mal:email>omerta13@yandex.ru</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Василий Фаронов</mal:name>
      <mal:email>qvvx@yandex.ru</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Алексей Кабанов</mal:name>
      <mal:email>ak099@mail.ru</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Станислав Соловей</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

  <title>Сканирование <file>домашней папки</file></title>

  <p>The <file>Home</file> folder is where most files are located for most
  users because default settings are often set to save or copy files
  into subdirectories within it. This includes downloads from the internet,
  documents which you work on and photos from your camera. Normally, one
  <file>Home</file> folder exists for each user on the computer.</p>

  <steps>
    <item>
      <p>Select your <gui>Home folder</gui> in the list of <gui>Devices and
      locations</gui>.</p>
    </item>
  </steps>

</page>
