<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="tip" id="backup-why" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="files#backup"/>
    <title type="link" role="trail">Cópias de segurança</title>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>

    <credit type="author">
      <name>Projeto de documentação do GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Por que, do que, onde e como fazer cópias de segurança.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rodolfo Ribeiro Gomes</mal:name>
      <mal:email>rodolforg@gmail.com</mal:email>
      <mal:years>2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Ferreira</mal:name>
      <mal:email>rafael.f.f1@gmail.com</mal:email>
      <mal:years>2012, 2013, 2014.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>João Santana</mal:name>
      <mal:email>joaosantana@outlook.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>

<title>Fazendo cópias de segurança dos seus arquivos importantes</title>

  <p>Fazer <em>cópia de segurança</em> dos seus arquivos significa exatamente isso: gerar uma cópia dele para guardar/reaproveitar para caso os arquivos originais se tornem inutilizáveis devido à perda ou corrupção. Essas cópias podem ser usadas para restaurar os dados originais em caso de perda. Elas deveriam ser armazenadas em um dispositivo diferente daquele dos arquivos originais. Por exemplo, você pode usar uma unidade USB, um disco rígido externo, um CD/DVD ou um serviço externo.</p>

  <p>A melhor forma de fazer cópia de segurança é fazê-las regularmente, mantendo as cópias fora do ambiente e (possivelmente) criptografadas.</p>

<links type="topic" style="2column"/>

</page>
