<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:e="http://projectmallard.org/experimental/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" style="task" xml:lang="pt-BR">

<info>
    <desc>Um guia para os usuários do ambiente GNOME 3</desc>

    <title type="link">Ajuda do GNOME</title>
    <title type="text">Ajuda do GNOME</title>
    <title role="trail" type="link"><media its:translate="no" type="image" mime="image/png" src="figures/gnome.png"><span its:translate="yes">Ajuda</span></media></title>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rodolfo Ribeiro Gomes</mal:name>
      <mal:email>rodolforg@gmail.com</mal:email>
      <mal:years>2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Ferreira</mal:name>
      <mal:email>rafael.f.f1@gmail.com</mal:email>
      <mal:years>2012, 2013, 2014.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>João Santana</mal:name>
      <mal:email>joaosantana@outlook.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>

<title><media its:translate="no" type="image" src="figures/yelp-icon-big.png"><span its:translate="yes">logo do Yelp</span></media> Ajuda do GNOME</title>

<links type="topic" groups="#gs"/>

<links type="topic" groups="#first"/>

<links type="topic" style="toronto" groups="        shell-overview        net media files        prefs hardware        a11y tips more-help"/>
</page>
