<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="media" xml:lang="pt-BR">
  <info>

    <link type="guide" xref="index" group="media"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc><link xref="media#photos">Câmeras digitais</link>, <link xref="media#music">iPods</link>, <link xref="media#photos">editando fotos</link>, <link xref="media#videos">reproduzindo vídeos</link>…</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rodolfo Ribeiro Gomes</mal:name>
      <mal:email>rodolforg@gmail.com</mal:email>
      <mal:years>2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Ferreira</mal:name>
      <mal:email>rafael.f.f1@gmail.com</mal:email>
      <mal:years>2012, 2013, 2014.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>João Santana</mal:name>
      <mal:email>joaosantana@outlook.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>

<title>Som, vídeo &amp; imagens</title>

<section id="sound" style="2column">
 <info>
   <title type="sort">Som</title>
   <title type="link" role="trail">Som</title>
   <title type="link" role="topic">Som</title>
   <desc><link xref="sound-volume">Volume</link>, <link xref="sound-usespeakers">alto-falantes e fones</link>, <link xref="sound-usemic">microfones</link>…</desc>
   <link type="guide" xref="prefs"/>
 </info>
 <title>Som básico</title>
</section>

<section id="music" style="2column">
 <info><title type="link">Música e reprodutores</title></info>
 <title>Música e reprodutores portáteis de áudio</title>
</section>

<section id="photos" style="2column">
 <info><title type="link">Fotos</title></info>
 <title>Fotos e câmeras digitais</title>
</section>

<section id="videos" style="2column">
 <info><title type="link">Vídeos</title></info>
 <title>Vídeos e câmeras de vídeo</title>
</section>

</page>
