<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-composer-html-rule" xml:lang="en-GB">

  <info>
    <desc>Insert a horizontal line in the mail composer.</desc>
    <link type="guide" xref="mail-composer-html#formatting-options-html"/>

    <revision pkgversion="3.5.90" version="0.4" date="2012-08-16" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mail-getnsend-send.html.en#bsait2c -->
 </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    
  </info>

<title>Inserting a Rule in HTML</title>

<p>You can insert a horizontal line into the email (at the current position of the cursor) to help divide two sections:</p>
<steps>
<item><p>Click <guiseq><gui>Insert</gui><gui>Rule…</gui></guiseq> in the menubar.</p></item>
<item><p>Select width, size, and alignment.</p></item>
<item><p>Select <gui>Shaded</gui> if wanted.</p></item>
<item><p>Click <gui>Close</gui>.</p></item>
</steps>

<p>Alternately, you can also use the <media type="image" its:translate="no" src="./figures/html-composer-insert-rule.png"/> icon in the second bar below the <gui>Subject</gui> line.</p>

</page>
