<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-receiving-options-unix-mbox-spool-directory" xml:lang="en-GB">

  <info>
    <desc>Receiving options for standard Unix mbox spool directory accounts.</desc>

    <link type="guide" xref="mail-receiving-options#local-account-server-types"/>
    <link type="guide" xref="mail-account-manage-unix-mbox-spool-directory#receiving-email"/>
    <revision pkgversion="3.12.9" version="0.3" date="2015-02-15" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  </info>

  <title>Standard Unix mbox spool directory receiving options</title>

<section id="receiving-email-unix-mbox-spool-directory">
<title>Receiving E-mail</title>

<p>On the <gui>Receiving Email</gui> page (accessible via <guiseq><gui>Edit</gui><gui>Preferences</gui><gui>Mail Accounts</gui><gui style="button">Edit</gui><gui>Receiving Email</gui></guiseq>):</p>

<list>
<item><p>Choose the directory by clicking on the button next to <gui>Path</gui> in the <gui>Configuration</gui> section. Some default folders are available in the list. If the directory is not among those folders, choose the last option <gui>Other…</gui>. This will open a directory chooser window.</p></item>
</list>

</section>

<section id="receiving-options-unix-mbox-spool-directory">
<title>Receiving Options</title>

<p>On the <gui>Receiving Options</gui> page (accessible via <guiseq><gui>Edit</gui><gui>Preferences</gui><gui>Mail Accounts</gui><gui style="button">Edit</gui><gui>Receiving Options</gui></guiseq>):</p>

<list>
<item><p>If you want <link xref="mail-filters">Filters</link> to be automatically used for new messages in your inbox, enable <gui>Apply filters to new messages in Inbox</gui>.</p></item>
</list>

</section>

</page>
