<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-several-pop-accounts" xml:lang="en-GB">

  <info>
    <desc>How to split and sort mail when using more than one local account.</desc>
    
    <link type="guide" xref="index#common-mail-problems"/>
    <link type="seealso" xref="mail-organizing"/>
    <link type="seealso" xref="mail-receiving-options-pop"/>

    <revision pkgversion="3.5.3" version="0.2" date="2012-06-16" status="draft"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  </info>

<title>Separating POP mail for more than one account</title>

<p>It is not possible to have separate accounts in the accounts and folder list pane. Evolution only has one unique inbox for incoming email.</p>
<p>You can either use IMAP instead of POP, or move incoming emails into different folders by <link xref="mail-folders">creating folders</link> and <link xref="mail-filters">creating filters</link>: Create a new folder and create two subfolders (for incoming and for sent mail of that account). Now set up an incoming filter via <guiseq><gui>Edit</gui><gui>Message Filters…</gui><gui style="button">Add</gui></guiseq> to move incoming mail to the incoming folder by filtering on the recipient's address and set up an outgoing filter to move outgoing mail to the sent folder by filtering on the sender's address.</p>

<!-- https://bugzilla.gnome.org/show_bug.cgi?id=273944 -->

</page>
