<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="howto_the_orca_modifier" xml:lang="fr">
  <info>
    <link type="guide" xref="index#getting_started"/>
    <link type="next" xref="howto_learn_modes"/>
    <title type="sort">4. La touche de modification d'Orca</title>
    <desc>Une touche qui fonctionne comme <key>Maj</key>, <key>Ctrl</key> et <key>Alt</key></desc>
    <credit type="author">
      <name>Joanmarie Diggs</name>
      <email>joanied@gnome.org</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Laurent Coudeur</mal:name>
      <mal:email>laurentc@iol.ie</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2011-12</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2011, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mickael Albertus</mal:name>
      <mal:email>mickael.albertus@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>
  <title>La touche de modification d'Orca</title>
  <p>Orca dispose d'une touche de modification spéciale qui fonctionne comme <key>Maj</key>, <key>Ctrl</key> et <key>Alt</key>. Elle est conçue spécialement pour exécuter des commandes d'<app>Orca</app> sans introduire de conflits avec l'application que vous utilisez.</p>
  <p>Selon que vous utilisez un agencement de clavier portable ou un agencement de bureau d'<app>Orca</app>, la « Touche de modification d'Orca » sera :</p>
  <list>
    <item>
      <p>Si vous utilisez l'agencement ordinateur portable, la touche de modification d'Orca par défaut est <key>Verr. maj.</key></p>
    </item>
    <item>
      <p>Si vous utilisez l'agencement ordinateur de bureau, les Touches de modifications d'Orca par défaut sont à la fois les touches <key>Inser</key> et <key>Inser du pavé numérique</key>, cette dernière étant la même touche que le <key>0 du pavé numérique</key>.</p>
    </item>
  </list>
  <p>Si vous souhaitez conserver votre agencement de clavier actuel et sélectionner une autre touche de modification, vous pouvez le faire en suivant les étapes ci-dessous :</p>
  <steps>
    <title>Modification du Touche de modification d'Orca</title>
    <item>
      <p>Appuyez sur <keyseq><key>Touche de modification d'Orca</key><key>Barre d'espace</key></keyseq> pour accéder à la boîte de dialogue <link xref="preferences">Préférences d'Orca</link>.</p>
    </item>
    <item>
      <p>Allez dans l'onglet <gui>Raccourcis clavier</gui>.</p>
    </item>
    <item>
      <p>Allez dans la liste déroulante <gui>Touche(s) de modification du lecteur d'écran</gui>.</p>
    </item>
    <item>
      <p>Déplacez-vous sur la touche de modification souhaitée. Les options disponibles sont :</p>
      <list>
        <item><p>Inser, PN_Inser</p></item>
        <item><p>PN_Inser</p></item>
        <item><p>Inser</p></item>
        <item><p>Verr. maj.</p></item>
      </list>
    </item>
    <item><p>Cliquez sur le bouton <gui>Appliquer</gui>.</p></item>
  </steps>
</page>
