<page xmlns="http://projectmallard.org/1.0/"
      xmlns:if="http://projectmallard.org/if/1.0/"
      type="topic" style="task" version="1.0 if/1.0"
      id="disk-capacity">
  <info>
    <link type="guide" xref="disk"/>

    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Natalia Ruz Leiva</name>
      <email>nruz@alumnos.inf.utfsm.cl</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <revision pkgversion="3.4.3" date="2012-06-15" status="review"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <desc>Use <gui>Disk Usage Analyzer</gui> or <gui>System Monitor</gui> to
    check space and capacity.</desc>
    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>
  </info>

<title>Check how much disk space is left</title>

  <p>You can check how much disk space is left with <app>Disk Usage Analyzer</app>
 or <app>System Monitor</app>.</p>

<section id="disk-usage-analyzer">
<title>Check with Disk Usage Analyzer</title>

  <p>To check the free disk space and disk capacity using
 <app>Disk Usage Analyzer</app>:</p>

<list>
 <item>
<if:choose>
<if:when test="platform:unity">
  <p>Open the <app>Disk Usage Analyzer</app> application from the
 <gui>Dash</gui>. The window will display the <gui>Total file system capacity</gui>
  and <gui>Total file system usage</gui>.</p>
</if:when>
  <p>Open the <app>Disks</app> application from the <gui>Activities</gui>
  overview. The window will display the <gui>Total file system capacity</gui>
  and <gui>Total file system usage</gui>.</p>
</if:choose>
 </item>
 <item>
  <p>Click one of the toolbar buttons to choose to <gui>Scan Home</gui>,
   <gui>Scan filesystem</gui>, <gui>Scan a folder</gui>, or <gui>Scan a remote
   folder</gui>.</p>
 </item>
</list>
  <p>The information is displayed according to <gui>Folder</gui>, <gui>Usage</gui>,
  <gui>Size</gui> and <gui>Contents</gui>. See more details in
  <link href="help:baobab"><app>Disk Usage Analyzer</app></link>.</p>

</section>

<section id="system-monitor">

<title>Check with System Monitor</title>

  <p>To check the free disk space and disk capacity with <app>System Monitor</app>:</p>

<steps>
 <item>
<if:choose>
<if:when test="platform:unity">
  <p>Open the <app>System Monitor</app> application from the  <gui>Dash</gui>.</p>
</if:when>
  <p>Open the <app>System Monitor</app> application from the <gui>Activities</gui>
  overview.</p>
</if:choose>
 </item>
 <item>
  <p>Select the <gui>File Systems</gui> tab to view the system's partitions and
  disk space usage.  The information is displayed according to <gui>Total</gui>,
  <gui>Free</gui>, <gui>Available</gui> and <gui>Used</gui>.</p>
 </item>
</steps>
</section>

<section id="disk-full">

<title>What if the disk is too full?</title>

  <p>If the disk is too full you should:</p>

 <list>
  <item>
   <p>Delete files that aren't important or that you won't use anymore.</p>
  </item>
  <item>
   <p>Make <link xref="backup-why">backups</link> of the important files that
   you won't need for a while and delete them from the hard drive.</p>
  </item>
 </list>
</section>

</page>
