<page xmlns="http://projectmallard.org/1.0/"
      type="topic" style="task"
      id="documents-select">

  <info>
    <credit type="author copyright">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>
      Use selection mode to select more than one document or collection.
    </desc>
    <link type="guide" xref="documents#print" />
    <revision pkgversion="3.5.90" date="2012-09-05" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>
  </info>

  <title>Selecting documents</title>

  <comment>
    <cite date="2012-02-20" href="mailto:yrazes@gmail.com">Julita Inca</cite>
    <p>This assumes the reader knows how to sort their documents.
    By the end of this page, the reader will be able to explain how selection
    mode works</p>
  </comment>

  <p>From <app>Documents</app> selection mode you can open, print, view or make
   collections of your documents. To use selection mode:</p>

  <steps>
    <item><p>Click the <gui>✓</gui> button.</p></item>
    <item><p>Select one or more documents or collections. The button bar appears
     with the actions that are valid for your selection.</p></item>
  </steps>

  <section id="selection-mode">

  <title>Selection mode actions</title>

  <p>After selecting one or more documents you can:</p>

  <list>
    <item><p>Open with Document Viewer (folder icon).</p></item>
    <item><p>Print (printer icon): print a document (only available when a
     single document is selected).</p></item>
    <item><p>Organize (plus icon): create a collection of documents.</p></item>
    <item><p>Properties (wrench icon): display the properties of a document
     (only available when a single document is selected).</p></item>
    <item><p>Delete (trash icon): delete one or more collections.</p></item>
  </list>
  </section>
</page>
