<page xmlns="http://projectmallard.org/1.0/"
      xmlns:if="http://projectmallard.org/if/1.0/"
      type="topic" style="task" version="1.0 if/1.0"
      id="files-browse">


  <info>
    <link type="guide" xref="files" group="#first"/>
    <link type="seealso" xref="files-copy"/>
    <desc>Manage and organize files with the file manager.</desc>

    <revision pkgversion="3.5.92" version="0.2" date="2012-09-16" status="review"/>
    <revision version="14.04" date="2014-02-20" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ubuntu Documentation Team</name>
    </credit>
    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>
  </info>

<title>Browse files and folders</title>

<comment>
	<p>This page is a feature overview. There should be a greater visual
	separation between features. Small illustrative figures should be used
	to display these features where appropriate, and video demonstrations of
	some of the features might be useful too. Explain how you can add things to
	the sidebar (link to a topic or explain it here).</p>
</comment>

<p>Use the <app>Files</app> file manager to browse and organize the files on
your computer. You can also use it to manage files on storage devices (like
external hard disks), on <link xref="nautilus-connect">file servers</link>, and
on network shares.</p>

<p>To start the file manager, open <app>Files</app> in the <gui>Launcher</gui>.
You can also search for files and folders with the <gui>Dash</gui> in the
same way you would <link xref="unity-dash-intro#dash-home">search
for applications</link>. They will appear under the heading
<gui>Files and Folders</gui>.</p>

<section id="files-view-folder-contents">
  <title>Exploring the contents of folders</title>

<p>In the file manager, double-click any folder to view its contents,
and double-click any file to open it with the default application for
that file. You can also right-click a folder to open it in a new tab
or new window.</p>

<p>The <em>path bar</em> above the list of files and folders shows you which
folder you're viewing, including the parent folders of the current folder.
Click a parent folder in the path bar to go to that folder. Right-click any
folder in the path bar to open it in a new tab or window, copy or move it, or
access its properties.</p>

<p>If you want to quickly skip to a file in the folder you're viewing,
start typing its name. A search box will appear at the top of the window and
the first file which matches your search will be highlighted. Press the
down arrow key, or scroll with the mouse, to skip to the next file that matches
your search.</p>

<p>You can quickly access common places from the <em>sidebar</em>. If you do
not see the sidebar, click the
<media type="image" src="figures/go-down.png">down</media> button in the toolbar
and pick <gui>Show Sidebar</gui>. You can add bookmarks to folders that you use
often and they will appear in the sidebar. Use the <gui>Bookmarks</gui> menu to
do this, or simply drag a folder into the sidebar.</p>

</section>
</page>
