<page xmlns="http://projectmallard.org/1.0/"
      type="guide" style="task"
      id="keyboard">
  <info>

    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>

    <revision version="14.04" date="2014-03-07" status="review"/>

    <desc>
      <link xref="keyboard-layouts">Input sources</link>,
      <link xref="keyboard-cursor-blink">cursor blinking</link>,
      <link xref="windows-key">super key</link>,
      <link xref="a11y#mobility">keyboard accessibility</link>…
    </desc>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
       <name>Ubuntu Documentation Team</name>
       <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>
    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>
  </info>

<title>Keyboard</title>

<links type="topic" groups="i18n" style="linklist">
  <title>Region &amp; Language</title>
</links>

<links type="topic" groups="a11y" style="linklist">
  <title>Universal access</title>
</links>

<links type="topic" groups="first default last" style="linklist">
  <title>Other topics</title>
</links>

</page>
