<page xmlns="http://projectmallard.org/1.0/"
  type="topic"
  style="task"
  id="mouse-lefthanded">
<info>
    <link type="guide" xref="mouse"/>

    <revision pkgversion="3.8.0" version="0.3" date="2013-03-13" status="candidate"/>
    <revision version="13.10" date="2013-10-22" status="review"/>

    <desc>Reverse the left and right mouse buttons in the mouse settings.</desc>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>
</info>

<title>Use your mouse left-handed</title>

<p>You can swap the behavior of the left and right buttons on your
mouse or touchpad to make it more comfortable for left-handed use.</p>

<steps>
  <item><p>Click the icon at the very right of the <gui>menu bar</gui> and select <gui>System Settings</gui>.</p></item>
  <item><p>Open <gui>Mouse &amp; Touchpad</gui>.</p></item>
  <item><p>In the <gui>General</gui> section, switch <gui>Primary button</gui>
  to <gui>Right</gui>.</p></item>
</steps>

<note><p>This setting will affect both your mouse and touchpad,
as well as any other pointing device.</p></note>

</page>
