<page xmlns="http://projectmallard.org/1.0/"
      type="topic" style="task"
      id="net-default-browser">
  <info>
    <link type="guide" xref="net-browser"/>

    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <desc>Change the default web browser by going to <gui>Details</gui> in the <gui>System Settings</gui>.</desc>
    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>
  </info>

<title>Change which web browser websites are opened in</title>

<p>When you click a link to a web page in any application, a web browser will automatically open up to that page. If you have more than one browser installed, however, the page may not open up in the browser you wanted it to open in. To fix this, change the default web browser:</p>

<steps>
 <item>
  <p>Click the icon at the very right of the <gui>menu bar</gui> and select <gui>System Settings</gui>.</p>
 </item>

 <item>
  <p>Open <gui>Details</gui> and choose <gui>Default Applications</gui> from the list on the left side of the window.</p>
 </item>

 <item>
  <p>Choose which web browser you would like links to be opened in by changing the <gui>Web</gui> option.</p>
 </item>
</steps>

<p>When you open up a different web browser, it might tell you that it's not the default browser any more. If this happens, click the <gui>Cancel</gui> button (or similar) so that it doesn't try to set itself as the default browser again.</p>

</page>
