<page xmlns="http://projectmallard.org/1.0/"
      type="topic" style="problem"
      id="session-screenlocks">

  <info>
    <link type="guide" xref="prefs-display"/>
    <link type="guide" xref="hardware-problems-graphics"/>
    <revision pkgversion="3.8" version="0.3" date="2013-03-09" status="candidate"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <desc>Change how long to wait before locking the screen in the
    <gui>Brightness &amp; Lock</gui> settings.</desc>
    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>
  </info>

<title>The screen locks itself too quickly</title>

  <p>If you leave your computer for a few minutes, the screen will automatically
 lock itself so you have to enter your password to start using it again. This is
 done for security reasons (so no one can mess with your work if you leave the
 computer unattended), but it can be annoying if the screen locks itself too
 quickly.</p>

  <p>To wait a longer period before the screen is automatically locked:</p>

  <steps>
    <item><p>Click the icon at the very right of the <gui>menu bar</gui> and select <gui>System Settings</gui>.</p></item>
    <item><p>Click <gui>Brightness &amp; Lock</gui>.</p></item>
    <item><p>Change the value in the <gui>Lock screen after</gui> drop-down list.</p></item>
  </steps>

<note style="tip">
 <p>If you don't ever want the screen to lock itself automatically, switch
 <gui>Lock</gui> off.</p>
</note>

</page>