<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="bonustiles" xml:lang="de">

  <info>
    <link type="guide" xref="index#play"/>
    <revision pkgversion="3.12" date="2014-02-26" status="candidate"/>

    <credit type="author">
      <name>Rashi Aswani</name>
      <email its:translate="no">aswanirashi19@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak47@gmx.net</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Bonuskacheln</title>

  <p>Es gibt acht Bonuskacheln: Vier Blumen und vier Jahreszeiten. Die Gruppe der Blumen besteht aus blauen Wintermotiven im Thema »Postmodern« und gelben Symbolen im Thema »Smooth«. Die Gruppe der Jahreszeiten besteht aus gelben Frühlingsmotiven im Thema »Postmodern« und schwarzen Symbolen im Thema »Smooth«. Gleiche Bonuskacheln werden für das Thema »Postmodern« gesucht und Bonuskacheln mit den selben Symbolfarben werden für das Thema »Smooth« gesucht. </p>

  <p>Unten sind einige der übereinstimmenden Bonuskacheln im Thema »Smooth« gezeigt:</p>

  <figure>
    <title>Bonuskacheln</title>
    <media type="image" mime="image/png" its:translate="no" src="figures/black-symbol.png"/>
    <media type="image" mime="image/png" its:translate="no" src="figures/yellow-symbol.png"/>
  </figure>

</page>
