<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="misc-key-backup" xml:lang="fr">

  <info>
    <link type="guide" xref="index#pgp-keys"/>
    <link type="guide" xref="index#ssh-keys"/>

    <revision pkgversion="3.14" date="2014-10-06" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Aruna Sankaranarayanan</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>

    <credit type="editor copyright">
      <name>Hashem Nasarat</name>
      <email its:translate="no">hashem@riseup.net</email>
      <years>2014</years>
    </credit>

    <desc>Conserver une copie de vos clés sur un périphérique externe.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Myriam Economou</mal:name>
      <mal:email>myriam.economou@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title>Sauvegarde de vos clés en sécurité</title>

  <p>Il est toujours recommandé d'enregistrer une copie de vos clés sur un périphérique de mémoire externe comme une clé USB. Ce périphérique doit être verrouillé et placé dans un endroit sûr. De cette façon, vous aurez toujours une copie de vos clés si votre ordinateur tombe en panne ou si vos données sont altérées.</p>

  <steps>
    <title>Sauvegarde de vos clés :</title>
    <item>
      <p>Exporter vos fichiers de clés :</p>
      <steps>
        <item><p><link xref="pgp-export">Exporter vos clés PGP</link>.</p></item>
        <item><p><link xref="ssh-export">Exporter vos clés SSH</link>.</p></item>
      </steps>
    </item>
    <item>
      <p>Copier les fichiers exportés sur un disque externe.</p>
    </item>
  </steps>
</page>
