<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="formats" xml:lang="de">

    <info>
        <link type="guide" xref="index"/>
        <desc>Shotwell supports JPEG, PNG, TIFF, BMP and RAW photo files as well as video files.</desc>
        
        <link type="next" xref="running"/>
    </info>

	<title>Supported photo and video formats</title>

   <p>Shotwell supports JPEG, PNG, TIFF, BMP and <link type="guide" xref="other-raw">RAW</link> photo files. Shotwell does not yet support other graphics format such as GIF.</p>

<p>Shotwell's RAW format support is currently limited. When you view a RAW photo, you are actually viewing a JPEG derived from the RAW photo, not the RAW image itself. Additionally, the RAW editing pipeline is not fully 16-bit - you can only export edited photos as 8-bit files. All supported formats can be used for export (JPEG, PNG, TIFF, BMP).</p>

<p>For more information about RAW-format photos in Shotwell, please see
the <link type="guide" xref="other-raw">RAW</link> section.
</p>

<p>Shotwell also supports video files in any format supported by the GStreamer media library on the system where
Shotwell is running.  This typically includes the following formats among others:</p>
<list>
<item><p>Container formats: Ogg, QuickTime, MP4, AVI.</p></item>
<item><p>Codecs: Theora, Quicktime, MPEG-4, Motion JPEG.  <em>Note that some operating systems may not include all
codecs listed here due to legal or licensing restrictions.</em></p></item>
</list>

<p>Shotwell supports both photos and videos, but for simplicity, this documentation uses just the term "photos"
in most places.  Many operations in Shotwell apply to both photos and videos, however.  In particular, events,
flagging, rating, tagging, and publishing work both for photos and for videos.</p>

</page>
