<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="import-file" xml:lang="de">

    <info>
        <link type="guide" xref="index#import"/>
        <desc>Import photos that are already saved on your computer.</desc>
        
        <link type="next" xref="import-f-spot"/>
    </info>

	<title>Importing from your hard disk</title>

    <p>To import photo files from your hard disk into Shotwell, just drag them from your file browser into the Shotwell window.</p>
    
    <p>Alternatively, click <guiseq><gui>File</gui><gui>Import From Folder</gui></guiseq> and select the folder containing the photos you want to import.</p>
    
    <p>Shotwell will ask whether you want to copy the photo files to your library folder (usually this is the <file>Pictures</file> folder in your home directory) or to import them in place without copying the files.</p>
    
    <p>If you hold down <key>Ctrl</key> while dragging photos in, Shotwell will copy the photos into your library folder without prompting.  Similarly, if you hold down <keyseq><key>Ctrl</key><key>Shift</key></keyseq> while dragging photos in, Shotwell will import the photos without copying them.</p>

    <p>Once the import is complete, you can select <gui>Last Import</gui> in the sidebar to see all photos successfully imported. The Events list will also show new entries for the dates corresponding to the imported photos.</p>

</page>
