<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="import-memorycard" xml:lang="de">

    <info>
        <link type="guide" xref="index#import"/>
        <desc>Import photos from a digital camera's memory card.</desc>
        
        <link type="next" xref="import-file"/>
    </info>

	<title>Importing from a memory card</title>

<p>To import photos from a camera memory card:</p>

<steps>
 <item>
  <p>Put the card into your card reader. Make sure the card reader is plugged in to the computer and switched on.</p>
 </item>
 <item>
  <p>The card reader and card should be detected automatically.</p>
 </item>
 <item>
  <p>Follow the instructions for <link xref="import-file">importing photos from your hard disk</link>. If you click <guiseq><gui>File</gui><gui>Import From Folder</gui></guiseq>, the memory card should be visible as a folder in the side bar of the file selection window.</p>
 </item>
</steps>

<p>Shotwell can import photos from any memory card that is compatible with your card reader.</p>

<p>If the card is not detected automatically, your card reader may not have been recognized. Try unplugging it and then plugging it in again. If that doesn't work, you should still be able to import photos by <link xref="import-camera">connecting your camera directly to the computer</link>, though.</p>

</page>
