<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="title" xml:lang="de">

    <info>
        <link type="guide" xref="index#organize"/>
        <desc>Betiteln Ihrer Fotos</desc>
        
        <link type="next" xref="event"/>
    </info>

	<title>Titel</title>

<p>The <guiseq><gui>View</gui><gui>Titles</gui></guiseq> checkbox toggles the display of titles
beneath each photo.  By default, a photo's title is its filename.</p>

<p>To change a photo's title,
select the photo and click <guiseq><gui>Photos</gui><gui>Edit Title</gui></guiseq>, or press <key>F2</key>.</p>

</page>
