<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="share-export" xml:lang="de">

    <info>
        <link type="guide" xref="index#share"/>
        <desc>Copy photos out of Shotwell so you can put them somewhere else.</desc>
        
        <link type="next" xref="share-print"/>
    </info>

	<title>Fotos exportieren</title>

<p>To export photos from Shotwell via drag and drop, drag the photos from Shotwell onto
a file manager window or your desktop. The new files will be full-sized copies of
the photos in your library.</p>

<p>
Alternatively, select a set of photos and choose the <guiseq><gui>File</gui><gui>Export</gui></guiseq> command or press <keyseq><key>Shift</key><key>Ctrl</key><key>E</key></keyseq>, which exports photos while letting you fine-tune the size and dimensions of your photo files.
A window will appear allowing you to make several choices:
</p>

<list>
<item><p>Ein Exportformat.</p>
<list>
<item><p>Choose <gui>Unmodified</gui> to export photos in their original format without
any edits made in Shotwell.  RAW photos will be exported in their original RAW format.</p></item>
<item><p>Choose <gui>Current</gui> to export photos including edits made in Shotwell.  RAW photos will be
exported in JPEG format if you have edited them in Shotwell, and otherwise in their original RAW format.</p></item>
<item><p>
Or you can choose a particular image format (JPEG, PNG, TIFF, BMP) to be used for exporting.  Any edits made in
Shotwell will be included, and Shotwell will convert photos to the destination format.
</p></item>
</list>
</item>
<item><p>The image quality for exporting (Low, Medium, High, or Maximum).</p></item>
<item><p>A scaling constraint (which means how Shotwell will decide to scale the photos down), and the desired pixel size.</p></item>
<item><p>The option whether you like to export metadatas such as tags or ratings. This can help to save your privacy if you have geolocation tags or tags which shouldn't be seen by anyone.</p></item>
</list>

<p>If selected, Shotwell will write tags, titles, and other metadata to the new files.</p>

</page>
