<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="formats-save" xml:lang="fr">

  <info>
    <link type="guide" xref="index#edit"/>
    <desc>JPEG, PNG, BMP et autres.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
  <credit type="author">
    <name>Tiffany Antopolski</name>
    <email>tiffany.antopolski@gmail.com</email>
  </credit>
  <credit type="editor">
    <name>Fabiana Simões</name>
    <email>fabianapsimoes@gmail.com</email>
  </credit>
  <license>
   <p>Creative Commons Share Alike 3.0</p>
  </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2006-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Vincent Untz</mal:name>
      <mal:email>vuntz@gnome.org</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alain Lojewski</mal:name>
      <mal:email>allomervan@gmail.com</mal:email>
      <mal:years>2011-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sébastien Seguin</mal:name>
      <mal:email>seb24b@free.fr</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2011-12</mal:years>
    </mal:credit>
  </info>

 <title>Formats pris en charge pour l'enregistrement d'images</title>
  <p>Le visionneur d'images est capable d'enregistrer des images dans les formats d'image suivants :</p>
  <list>
   <item><p>JPEG/JPG</p></item>
   <item><p>PNG</p></item>
   <item><p>BMP</p></item>
   <item><p>TIFF</p></item>
  </list>
  <note><p>Il est possible d'enregistrer dans d'autres formats d'images en fonction de la configuration du système.</p></note>
</page>
