<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="index" xml:lang="ru">

  <info>
    <desc>Справка по Программе просмотра изображений «Глаз GNOME».</desc>
    <title type="link" role="trail"><media its:translate="no" type="image" src="figures/eog-trail.png"/></title>
    <title type="link">Программа просмотра изображений «Глаз GNOME»</title>
    <title type="text">Программа просмотра изображений «Глаз GNOME»</title>
    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Василий Фаронов &lt;qvvx@yandex.ru&gt;, 2007Алексей Кабанов</mal:name>
      <mal:email>ak099@mail.ru</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

<title><media type="image" its:translate="no" src="figures/eog-logo.png">Eye of GNOME logo</media>
Eye of GNOME Image Viewer</title>
<section id="viewing" style="2column">
    <title>Просмотр изображений</title>
</section>

<section id="edit" style="2column">
    <title>Редактирование изображений</title>
</section>

<section id="printing" style="2column">
    <title>Печать изображений</title>
</section>

<section id="plugins">
    <title>Дополнительные возможности</title>
    <links type="topic" style="2column" groups="first"/>
</section>
<section id="advanced" style="2column">
    <title>Прочее</title>
</section>

<section id="faq" style="2column">
    <title>Часто задаваемые вопросы</title>
</section>

<section id="tips" style="2column">
    <title>Полезные советы</title>
</section>

<section id="get-involved" style="2column">
    <title>Принять участие</title>
</section>
</page>
