<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="hints" xml:lang="en-GB">
  <info>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <link type="guide" xref="index#tips"/>
    <credit type="editor copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

<title>Hints</title>
<p>
  To show possible values for all cells click:
</p>
<p>
  <guiseq><gui>Settings</gui><gui>Show Possible Numbers</gui></guiseq>. 
</p>

<p>
  To ask Sudoku to show a cell that is easy to fill:
</p>

<list>
<item><p>
   Click <guiseq><gui>Tools</gui><gui>Hint</gui></guiseq>, or <gui>Hint</gui> in the <link xref="toolbar">toolbar</link>.
</p></item>
</list>

<note><p>
  These features work based on the logical possibilities given the current board and not work by looking at the solution. This means that if you made an error in an earlier move, these features may show incorrect possible values. 
</p></note> 


<note>
<p> 
  A cell which usually has only one possible solution based on the current state of the board is outlined with flashing red.  In the case of a puzzle that has no cells that have only one possible solution, a cell with two possible solutions or the least amount of possible solutions will be highlighted. Clicking <gui>Hint</gui> multiple times may not always point you to the same cell.
</p>
</note>

<p>
  You can edit the possible numbers by clicking in the bottom of the cell.
</p>

<note style="tip">
<p>
 These features can make easy puzzles too easy, so you should use this mode sparingly.
</p>
</note>


<p>
 <media type="image" src="figures/possible-numbers.png" width="500"/> 
</p>

</page>
