<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="index" xml:lang="en-GB">
  <info>
    <title type="link" role="trail"><media type="image" src="figures/logo.png" its:translate="no"/></title>
    <title type="link">GNOME Sudoku</title>
    <title type="text">GNOME Sudoku</title>

    <revision pkgversion="3.4" date="2012-03-08" status="final"/>
    <revision pkgversion="3.15.2" date="2014-01-08" status="final"/>

    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2015</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Learn to play GNOME Sudoku, a logic-based puzzle game in which a grid
    must be filled with the correct numbers.</desc>

  </info>

  <title>
    <media type="image" src="figures/logo32.png" its:translate="no"/>
    GNOME Sudoku
  </title>

  <p>GNOME Sudoku is a logic-based number-placement puzzle in which a 9×9
  square must be filled with the correct digits. The unique puzzles can be
  played on screen or <link xref="index#print">printed</link>.  If you do not
  have time to finish a game, you can <link xref="save-resume#resume">resume</link> it any time, as well as replay any
  game you've already won.</p>

   <section id="play" style="2column">
    <title>Game Play</title>
   </section>

   <section id="tips" style="2column">
    <title>Useful tips</title>
   </section>

   <section id="print" style="2column">
    <title>Printing</title>
   </section>

   <section id="advanced" style="2column">
    <title>Advanced</title>
   </section>

   <section id="get-involved" style="2column">
    <title>Get Involved</title>
   </section>
</page>
