<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="print-inprogress-game" xml:lang="en-GB">

  <info>
   <link type="guide" xref="index#print"/>
    
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

<title>Print your game</title>
 <p>
  You can print the sudoku are playing to a file or to a printer. 
 </p>
 <p>
  To print the sudoku you are currently playing:
 </p>
 <steps>
  <item><p>
    Click <guiseq><gui>Game</gui><gui>Print</gui></guiseq>. 
  </p></item>
  <item><p>
    Select your printer.
 </p></item>
  <item><p>
     Click <gui>Print</gui>.
  </p></item>
 </steps>
 <note><p>
   If you don't have a printer in the list, see <link href="https://help.gnome.org/users/gnome-help/stable/printing-setup.html" xref="help:gnome-help/printing-setup">Set up a local printer</link>.
  </p></note>

</page>
