<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="hints" xml:lang="ru">

  <info>
    <link type="guide" xref="index#tips"/>
    <revision pkgversion="3.5.4" version="0.2" date="2012-07-26" status="final"/>
    <credit type="author">
      <name>Chris Beiser</name>
      <email>ctbeiser@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

  <title>Hints</title>

  <p><gui>Hint</gui> highlights two tiles that can be matched. If you have
  already selected one tile, it will show a match for that piece if one
  exists.</p>

  <p><gui>Hint</gui> can be accessed by clicking
  <guiseq><gui>Mahjongg</gui><gui>Hint</gui></guiseq>. Alternatively, use the
  <gui>Hint</gui> button in the header bar, or press
  <keyseq><key>Ctrl</key><key>H</key></keyseq>.</p>

  <note>
    <p><gui>Hint</gui> can make <app>Mahjongg</app> too easy, and should be used
    sparingly.</p>
    <p>There is a 30-second penalty for each use of the "hint" option.</p>
  </note>

  <section id="hints-video">
    <title>Video demonstration</title>
    <media its:translate="no" type="video" width="500" mime="application/ogg" src="figures/hints-video.ogv">
    <tt:tt xmlns:tt="http://www.w3.org/ns/ttml" its:translate="yes">
     <tt:body>
      <tt:div begin="1s" end="5s">
       <tt:p>
         You can use <gui>Hints</gui> to help you find identical tiles.
       </tt:p>
      </tt:div>
      <tt:div begin="5s" end="10s">
       <tt:p>
         Press <keyseq><key>Ctrl</key><key>H</key></keyseq>.
       </tt:p>
      </tt:div>
      <tt:div begin="10s" end="14s">
       <tt:p>
         There is a 30 s penalty for each use of this option.
       </tt:p>
      </tt:div>
     </tt:body>
    </tt:tt>
    </media>
  </section>
</page>
