<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="2column task" id="index" xml:lang="es">

  <info>
    <revision version="0.1" date="2013-03-02" status="candidate"/>
    <title type="link">Terminal</title>
    <title type="text">Terminal</title>

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email its:translate="no">sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="editor">
      <name>Jim Campbell</name>
      <email its:translate="no">jwcampbell@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Configurar y usar el emulador de terminal altamente personalizable de GNOME.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@gnome.org</mal:email>
      <mal:years>2001-2006</mal:years>
    </mal:credit>
  </info>

  <title><media type="image" mime="image/png" its:translate="no" src="figures/gnome-terminal-icon.png">
    </media> Ayuda de la Terminal</title>

  <section id="getting-started" style="2column">
    <title>Primeros pasos</title>
  </section>

 <section id="textoutput" style="2column">
    <title>Trabajar con texto</title>
  </section>

 <section id="appearance" style="2column">
    <title>Personalizar la apariencia</title>
  </section>

  <section id="preferences" style="2column">
    <title>Personalizar el comportamiento</title>
  </section>

  <section id="advanced" style="2column">
    <title>Configuración avanzada</title>
  </section>

  <section id="troubleshooting" style="2column">
    <title>Resolución de problemas</title>
  </section>

</page>
