<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="a11y task" id="a11y-visualalert" xml:lang="pt">
  <info>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <desc>Ativar os alertas visuais a piscar ecrã ou janela quando um som de alerta for emitido.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="a11y#sound"/>
    <link type="seealso" xref="sound-alert"/>
    <revision pkgversion="3.7.1" version="0.3" date="2012-11-10" status="outdated"/>
    <revision version="13.10" date="2013-10-25" status="review"/>
  </info>

  <title>Piscar o ecrã para os sons de alerta</title>

  <p>O seu computador irá reproduzir um som de alerta simples para certas mensagens e eventos. Se tiver dificuldade em ouvir esses sons, pode ter todo o ecrã ou a janela ativa a piscar visualmente sempre que o som de alerta for emitido.</p>

  <p>Também pode ser útil se estiver num ambiente onde necessita que o seu computador fique em silêncio, como numa biblioteca (ver <link xref="Sons de Alerta"/> para aprender a retirar o som de alerta).</p>

  <steps>
    <item>
      <p>Clique no ícone à direita na <gui>barra de menus</gui> e selecione <gui>Definições do sistema</gui></p>
    </item>
    <item>
      <p>
        Open <gui>Universal Access</gui> and select the <gui>Hearing</gui> tab.
      </p>
    </item>
    <item>
      <p>Alterar <gui>Altertas Visuais</gui> on. Selecione se deseja que todo o ecrã ou apenas o título da janela ativa pisque.</p>
    </item>
  </steps>

</page>
