<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="tip" id="backup-why" xml:lang="pt">

  <info>
    <link type="guide" xref="files#backup"/>
    <desc>O porquê, o quê, onde e como dos backups.</desc>
    <title type="link" role="trail">Cópias de segurança</title>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <credit type="author">
      <name>Projeto de Documentação do GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Faça backup de seus arquivos importantes</title>

  <p>O <em>backup</em> dos seus arquivos significa simplesmente fazer uma cópia dos mesmo para um local seguro. Isto é feito no caso dos arquivos originais se tornarem inutilizáveis devido a uma perda ou em caso de corrupção dos mesmo. Estas cópias podem ser usados ​​para restaurar os dados originais em caso de perda. As cópias devem ser armazenados em um dispositivo diferente dos arquivos originais. Por exemplo, pode usar uma pen USB, um disco rígido externo, um CD/DVD, ou um serviço fora do local.</p>

  <p>A melhor maneira de fazer um backup de seus arquivos é fazê-lo com regularidade, e mantendo as cópias fora do local e (se possível) encriptadas.</p>

<links type="topic" style="2column"/>

</page>
