<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="color-assignprofiles" xml:lang="pt">

  <info>
    <link type="guide" xref="color"/>
    <link type="seealso" xref="color-whatisprofile"/>
    <link type="seealso" xref="color-why-calibrate"/>
    <desc>Veja em <guiseq><gui>Configurações do Sistema</gui><gui>Cor</gui></guiseq> para poder alterar a estas opção.</desc>

    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Como fazer para atribuir perfis aos dispositivos?</title>

<if:choose>
<if:when test="platform:unity">
  <p>Abra <guiseq><gui>Configurações do Sistema</gui><gui>Cor</gui></guiseq> e clique no dispositivo que deseja adicionar um perfil.</p>
</if:when>
  <p>Abra <guiseq><gui>Configurações do Sistema</gui><gui>Cor</gui></guiseq> e clique no dispositivo que deseja adicionar um perfil.</p>
</if:choose>
  <p>Ao clicar em <gui>Adicionar perfil</gui> pode selecionar um perfil existente ou importar um novo arquivo.</p>
  <p>Cada dispositivo pode ter vários perfis atribuídos a ele mesmo, mas apenas um perfil pode ser o perfil <em>padrão</em>. O perfil padrão é usado quando não há nenhuma informação adicional para permitir que um perfil seja escolhido automaticamente. Um exemplo desta seleção automática seria se fosse criado um perfil para papel brilhante e um outro para papel comum.</p>

  <figure>
    <desc>Pode fazer um perfil padrão, alterando através do botão de seleção.</desc>
    <media type="image" mime="image/png" src="figures/color-profile-default.png"/>
  </figure>

  <p>Se o hardware de calibração estiver ligado ao botão <gui>Calibrar...</gui> irá criar um novo perfil.</p>

</page>
