<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documents-viewgrid" xml:lang="pt">

  <info>
    <credit type="author">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>

    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>

		<credit type="editor">
			<name>Greg Beam</name>
			<email>ki7mt@yahoo.com</email>
			<years>2014</years>
		</credit>

    <link type="guide" xref="documents#view"/>
    <revision pkgversion="3.8.2" date="2014-01-13" status="review"/>
    <revision version="14.04" date="2014-01-13" status="review"/>
		<include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

		<desc>Alterar o modo como os documentos são apresentados.</desc>

  </info>

  <title>Visualizar ficheiros em lista ou em grelha</title>

  <p>Os documentos e as coleções estão representadas em <gui>Grelhas</gui> por omissão. Para visualizar em formato de <gui>Lista</gui>:</p>
   <steps>
    <item>
      <p>Vá à barra de cima e clique no programa <app>Documentos</app> para visualizar o menu da app.</p>
    </item>
    <item>
      <p>Clique na <gui>Lista</gui> da seção <gui>Ver como</gui>.</p>
    </item>
  </steps>

  <note style="tip"><p>List view has columns displaying the document type and
   date modified, and whether it's stored locally, or in <app>Google Docs</app>
   or <em>SkyDrive</em>.</p>
  </note>

  <p>Carregue em <gui>Grelha</gui> no menu da app para voltar para o formato por omissão.</p>

</page>
