<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="sharing" xml:lang="pt">
  <info>

    <link type="guide" xref="net" group="#sharing"/>

    <desc>
      <link xref="sharing-desktop">Desktop sharing</link>,
      <link xref="files-share">Share files</link>…
    </desc>

    <revision version="14.04" date="2014-04-03" status="review"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Equipa de documentação do Ubuntu</name>
      <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Sharing</title>

</page>
