<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="sharing-desktop" xml:lang="pt">
  <info>
    <link type="guide" xref="sharing"/>

    <revision pkgversion="3.8.2" version="0.3" date="2013-05-09" status="review"/>
    <revision version="14.04" date="2014-03-06" status="review"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Equipa de documentação do Ubuntu</name>
      <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>

    <desc>Let other people view and interact with your desktop using VNC.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Share your desktop</title>

  <p>You can let other people view and control your desktop from another computer
 with a desktop viewing application. Configure <app>Desktop Sharing</app> to
 allow others to access your desktop and set the security preferences.</p>

  <steps>
    <item>
      <p>In the <gui>Dash</gui>, open <app>Desktop Sharing</app>.</p>
    </item>
    <item>
      <p>To let others view your desktop, select
 <gui>Allow other users to view your desktop</gui>. This means that other
 people will be able to attempt to connect to your computer and view what's
 on your screen.</p>
    </item>
    <item>
      <p>To let others interact with your desktop, select
 <gui>Allow other users to control your desktop</gui>. This may allow the
 other person to move your mouse, run applications, and browse files
 on your computer, depending on the security settings which you are currently
 using.</p>
    </item>
  </steps>

  <section id="security">
  <title>Security</title>

  <p>It is important that you consider the full extent of what each security
 option means before changing it.</p>
  <terms>
    <item>
      <title>Confirm access to your machine</title>
      <p>If you want to be able to choose whether to allow someone to access
 your desktop, select <gui>You must confirm each access to this machine</gui>.
 If you disable this option, you will not be asked whether you want to allow
 someone to connect to your computer.</p>
      <note style="tip">
        <p>This option is enabled by default.</p>
      </note>
    </item>
    <item>
      <title>Activar palavra-chave</title>
      <p>To require other people to use a password when connecting to your
 desktop, select <gui>Require the user to enter this password</gui>. If you do
 not use this option, anyone can attempt to view your desktop.</p>
      <note style="tip">
        <p>This option is disabled by default, but you should enable it and set
 a secure password.</p>
      </note>
    </item>
    <item>
      <title>Allow access to your desktop over the Internet</title>
      <p>If your router supports UPnP Internet Gateway Device Protocol and it is
 enabled, you can allow other people who are not on your local network to view
 your desktop. To allow this, select <gui>Automatically configure UPnP router to
 open and forward ports</gui>. Alternatively, you can configure your router
 manually.</p>
      <note style="tip">
        <p>This option is disabled by default.</p>
      </note>
    </item>
  </terms>
  </section>

  <section id="notification-icon">
  <title>Show notification area icon</title>
  <p>To be able to disconnect someone who is viewing your desktop, you need to
 enable this option. If you select <gui>Always</gui>, this icon will be visible
 regardless of whether someone is viewing your desktop or not.</p>
    <note style="warning">
      <p>If this option is disabled, it is possible for someone to connect to
 your desktop without your knowledge, depending on the security settings.</p>
    </note>
  </section>

</page>
