<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="sound-alert" xml:lang="pt">
  <info>
    <link type="guide" xref="media#sound"/>

   <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc>Choose the sound to play for messages, set the alert
    volume, or disable alert sounds.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Choose or disable the alert sound</title>

  <p>Your computer will play a simple alert sound for certain types of
  messages and events. You can choose different sound clips for alerts,
  set the alert volume independently of your system volume, or disable
  alert sounds entirely.</p>

  <steps>
    <item><p>Click the <gui>sound menu</gui> in the <gui>menu bar</gui> and click <gui>Sound Settings</gui>.</p></item>
    <item><p>On the <gui>Sound Effects</gui> tab, select an alert sound. Each sound
    will play when you click on it so you can hear how it sounds.</p></item>
  </steps>

  <p>Use the volume slider on the <gui>Sound Effects</gui> tab to set
  the volume of the alert sound. This won't affect the volume of your
  music, movies, or other sound files.</p>

  <p>To disable alert sounds entirely, just select <gui>Mute</gui> next to 
  <gui>Alert volume</gui>.</p>
</page>
