<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="tips-specialchars" xml:lang="pt">
  <info>
    <link type="guide" xref="tips"/>
    <link type="seealso" xref="keyboard-layouts"/>

    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>
    <revision version="14.10" date="2014-09-14" status="review"/>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Equipa de documentação do Ubuntu</name>
    </credit>

    <desc>Type characters not found on your keyboard, including
    foreign alphabets, mathematical symbols, and dingbats.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Enter special characters</title>

  <p>You can enter and view thousands of characters from most of the 
  world's writing systems, even those not found on your keyboard. This 
  page lists some different ways you can enter special characters.</p>

  <links type="section">
    <title>Methods to enter characters</title>
  </links>

  <section id="charmap">
    <title>Mapa de caracteres</title>
    <p>GNOME comes with a character map application that allows you to 
    browse all the characters in Unicode. Use the character map to find 
    the character you want, and then copy and paste it to wherever you 
    need it.</p>
    <p>You can find <app>Character Map</app> in the <gui>Dash</gui>.
    For more information on the character map, see the
    <link href="help:gucharmap">Character Map Manual</link>.</p>
  </section>

  <section id="ctrlshiftu">
    <title>Code points</title>
    <p>You can enter any Unicode character using only your keyboard with 
    the numeric code point of the character. Every character is identified 
    by a four-character code point. To find the code point for a 
    character, find the character in the character map application and 
    look in the status bar or the <gui>Character Details</gui> tab. The 
    code point is the four characters after <gui>U+</gui>.</p>

    <p>To enter a character by its code point, press
    <keyseq><key>Ctrl</key><key>Shift</key><key>U</key></keyseq>, type the
    four-character code point, and press <key>Enter</key>. If you 
    often use characters that you can't easily access with other methods, 
    you might find it useful to memorize the code point for those 
    characters so you can enter them quickly.</p>
  </section>

  <section id="sources">
    <title>Input sources</title>
    <p>You can make your keyboard behave like the keyboard for another 
    language, regardless of the letters printed on the keys. You can even 
    switch between different input sources using an icon in the menu 
    bar. To learn how, see <link xref="keyboard-layouts"/>.</p>
  </section>

</page>
