<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task a11y" id="a11y-braille" xml:lang="en-GB">
  <info>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <desc>Use the <app>Orca</app> screen reader with a refreshable Braille display.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="a11y#vision" group="blind"/>
    <link type="seealso" xref="a11y-screen-reader"/>
    <revision version="13.10" date="2013-10-25" status="review"/>
  </info>

  <title>Read screen in Braille</title>

  <p>GNOME provides the <app>Orca</app> screen reader to display the user interface on a refreshable Braille display. Depending on how you installed GNOME, you might not have Orca installed. <link href="apt:gnome-orca">Install Orca</link>, then refer to the <link href="help:gnome-orca">Orca Help</link> for more information.</p>

</page>
