<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="addremove-install-synaptic" xml:lang="en-GB">

  <info>
    <credit type="author">
      <name>Ubuntu Documentation Team</name>
    </credit>

		<credit type="editor">
      <name>Greg Beam</name>
      <email>ki7mt@yahoo.com</email>
    </credit>

    <link type="guide" xref="addremove"/>
    <revision pkgversion="0.80.4" version="0" date="2014-01-11" status="review"/>
		<revision version="16.04" date="2016-03-13" status="review"/>
                <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Synaptic is a powerful but complicated software management alternative to <app>Ubuntu Software</app>.</desc>
  </info>

  <title>Use Synaptic for more advanced software management</title>

  <p><app>Synaptic Package Manager</app> is more powerful and can do some software management tasks which <app>Ubuntu Software</app> can't. Synaptic's interface is more complicated and doesn't support newer <app>Ubuntu Software</app> features like ratings and reviews and therefore isn't recommended for use by those new to Ubuntu.</p>

  <p>Synaptic isn't installed by default, but you can <link href="apt:synaptic">install</link> it from the Ubuntu package archive.</p>

  <section id="install-software-with-synaptic">
    <title>Install software with Synaptic</title>
    <steps>
      <item>
        <p>Open Synaptic from the <gui>Dash</gui> or the <gui>Launcher</gui>. You will need to enter your password in the <gui>Authenticate</gui> window.</p>
      </item>
      <item>
        <p>Click <gui>Search</gui> to search for an application, or click <gui>Sections</gui> and look through the categories to find one.</p>
      </item>
      <item>
        <p>Right-click the application that you want to install and select <gui>Mark for Installation</gui>.</p>
      </item>
      <item>
        <p>If you are asked to mark additional changes, click <gui>Mark</gui>.</p>
      </item>
      <item>
        <p>Select any other applications that you would like to install.</p>
      </item>
      <item>
        <p>Click <gui>Apply</gui>, and then click <gui>Apply</gui> in the window that appears. The applications that you chose will be downloaded and installed.</p>
      </item>
    </steps>

    <p>For more information about using <app>Synaptic</app>, consult the <link href="https://help.ubuntu.com/community/SynapticHowto">Synaptic How To</link>.</p>

  </section>

</page>
