<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="color" xml:lang="en-GB">
  <info>
    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>

    <revision version="13.10" date="2013-09-07" status="review"/>
    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="color-whyimportant">Why is this important</link>, <link xref="color#profiles">Colour profiles</link>, <link xref="color#calibration">How to calibrate a device</link>…</desc>

  </info>

  <title>Colour management</title>

  <section id="profiles" style="2column">
    <title>Colour profiles</title>
  </section>

  <section id="calibration" style="2column">
    <title>Calibration</title>
  </section>

  <section id="problems" style="2column">
    <title>Problems</title>
  </section>

</page>
