<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-gettingprofiles" xml:lang="en-GB">

  <info>
    <link type="guide" xref="color#profiles"/>
    <link type="seealso" xref="color-why-calibrate"/>
    <link type="seealso" xref="color-whatisprofile"/>
    <link type="seealso" xref="color-missingvcgt"/>
    <desc>Colour profiles are provided by vendors and can be generated yourself.</desc>

    <revision version="13.10" date="2013-09-07" status="review"/>
    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Where do I get colour profiles?</title>

  <p>The best way to get profiles is to generate them yourself, although this does require some initial outlay.</p>
  <p>Many manufacturers do try to provide colour profiles for devices, although sometimes they are wrapped up in <em>driver bundles</em> which you may need to download, extract and then search for the colour profiles.</p>
  <p>Some manufacturers do not provide accurate profiles for the hardware and the profiles are best avoided. A good clue is to download the profile, and if the creation date is more than a year before the date you bought the device then it's likely dummy data generated that is useless.</p>

  <p>See <link xref="colour-why-calibrate"/> for information on why vendor-supplied profiles are often worse than useless.</p>

</page>
