<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="get-involved" xml:lang="en-GB">

  <info>
    <link type="guide" xref="more-help"/>
    <link type="seealso" xref="report-ubuntu-bug"/>
    <desc>How and where to report problems with these help topics.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-09-12" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>
  <title>Participate to improve this guide</title>


<p>This help system is created by a volunteer community. You are welcome to participate. If you notice a problem with these help pages (like typos, incorrect instructions or topics that should be covered but aren't), you can file a <em>bug report</em>.</p>

 <p>To file a bug, press <keyseq><key>Alt</key><key>F2</key></keyseq> and type <input>ubuntu-bug ubuntu-docs</input>. Press <gui>Enter</gui> to begin the bug collection process.</p>

 <p>See the <link xref="report-ubuntu-bug">Ubuntu bug reporting instructions</link> for more information about how to file your bug.</p>

 <p>Thanks for helping make the Ubuntu Help better!</p>
</page>
