<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="music-player-notrecognized" xml:lang="en-GB">
  <info>
    <link type="guide" xref="media#music"/>
    <link type="seealso" xref="music-player-newipod"/>

    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <desc>Add a <input>.is_audio_player</input> file to tell your computer that it's an audio player.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Why isn't my audio player recognised when I plug it in?</title>

<p>If your audio player (MP3 player etc.) is plugged in to the computer but you can't see it in your music organiser application, it may not have been properly recognised as an audio player.</p>

<p>Try unplugging the player and then plugging it in again. If that doesn't help, <link xref="files-browse">open the file manager</link>. You should see the player listed under <gui>Devices</gui> in the sidebar - click it to open the folder for the audio player. Now, click <guiseq><gui>File</gui><gui>New Document</gui><gui>Empty Document</gui></guiseq>, type <input>.is_audio_player</input> and press <key>Enter</key> (the period and underscores are important, and it should be all lower-case). This file tells your computer to recognise the device as an audio player.</p>

<p>Now, find the audio player in the file manager sidebar and eject it (right-click and click <gui>Eject</gui>). Unplug it, then plug it back in. This time it should have been recognised as an audio player by your music organiser. If not, try closing the music organiser and then re-opening it.</p>

<note>
 <p>These instructions won't work for iPods and some other audio players. They should work if your player is a <em>USB Mass Storage</em> device, though; it should say in its manual if it is.</p>
</note>

<note>
 <p>When you look in the audio player folder again, you won't see the <input>.is_audio_player</input> file. This is because the period in the file's name tells the file manager to hide the file. You can check that it is still there by clicking <guiseq><gui>View</gui><gui>Show Hidden Files</gui></guiseq>.</p>
</note>

</page>
