<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-install-flash" xml:lang="en-GB">
  <info>
    <link type="guide" xref="net-browser"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision version="16.04" date="2016-03-14" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>You may need to install Flash to be able to view websites like YouTube, which display videos and interactive web pages.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Install the Flash plug-in</title>

<p><app>Flash</app> is a <em>plug-in</em> for your web browser that allows you to watch videos and use interactive web pages on some websites. Some websites will not work without Adobe Flash.</p>

<p>If you do not have Flash installed, you will probably see a message telling you so when you visit a website that needs it. Flash is available as a free (but not open-source) download for most web browsers.</p>

<steps>
 <title>How to install Flash</title>
 <item>
  <p>Click <link href="apt:flashplugin-installer">this link</link> to launch an install option window.</p>
 </item>
 <item>
  <p>If you choose to install Flash, click <gui>Install</gui>.</p>
 </item>
 <item>
  <p>If you have any web browser windows open, close them and then re-open them. The web browser should detect that Flash is installed when you open it again, and you should now be able to view websites using Flash.</p>
 </item>
</steps>

<section id="alternatives">
 <title>Open-source alternatives to Flash</title>
 <p>A handful of free, open-source alternatives to Flash are available. These tend to work better than the Flash plug-in in some ways (for example, by handling sound playback better), but worse in others (for example, by not being able to display some of the more complicated Flash pages on the web).</p>
 <p>You might like to try one of these if you are dissatisfied with the Flash player, or if you would like to use as much open-source software as possible on your computer. Here are a few of the options:</p>
 <list>
  <item><p><link href="apt:browser-plugin-gnash">Gnash</link></p></item>
  <item><p><link href="apt:browser-plugin-lightspark">LightSpark</link></p></item>
 </list>
</section>

</page>
