<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task 2column" id="net-wireless" xml:lang="en-GB">

  <info>
    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <link type="guide" xref="net" group="#first"/>
    <link type="seealso" xref="net-general"/>
    <link type="seealso" xref="net-problem"/>

    <desc><link xref="net-wireless-connect">Connect to wifi</link>, <link xref="net-wireless-hidden">Hidden networks</link>, <link xref="net-wireless-edit-connection">Edit connection settings</link>, <link xref="net-wireless-disconnecting">Disconnecting</link>…</desc>

    <credit type="author">
      <name>The Ubuntu Documentation Team</name>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Wireless Networking</title>

</page>
