<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" id="shell-apps-favorites" xml:lang="en-GB">

  <info>
    <link type="seealso" xref="unity-dash-intro#dash-home"/>
    <link type="guide" xref="shell-overview#apps"/>
    <link type="guide" xref="unity-launcher-intro#launcher-customizing" group="#first"/>

    <desc>Add, move, or remove frequently-used program icons on the Launcher.</desc>

    <revision pkgversion="3.6.0" version="0.2" date="2012-10-14" status="review"/>
    <revision version="13.10" date="2013-10-23" status="outdated"/>

    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Ubuntu Documentation Project</name>
      <email>ubuntu-doc@list.ubuntu.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Change which applications show in the Launcher</title>

<p>To add an application to the <link xref="unity-launcher-intro">Launcher</link> for quick access:</p>
 <list>
  <item><p>Drag the application's icon from the <link xref="unity-dash-intro">Dash</link> onto the Launcher.</p></item>
  <item>
   <p>Alternatively, when an application is running, right click on the application icon and select <gui>Lock to Launcher</gui>.</p>
  </item>
  </list>

<p>The Launcher icon order can be changed by dragging an icon off of the Launcher, and then back onto it in the desired location.</p>

<p>To remove an application icon from the Launcher, right click on the application icon and select <gui>Unlock from Launcher</gui>.</p>

</page>
