<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="user-changepicture" xml:lang="en-GB">

  <info>
    <link type="guide" xref="user-accounts#manage"/>
    <desc>Add your photo to the login and user screens.</desc>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Change your login screen photo</title>

  <p>When you log in or switch users, you will see a list of users with their login photos. You can change your photo to a stock image or an image of your own. You can even take a new login photo with your webcam.</p>

  <steps>
  <item><p>Click the icon at the far right of the <gui>menu bar</gui> and select <gui>System Settings</gui>.</p></item>
  <item><p>Open <gui>User Accounts</gui>.</p></item>
    <item><p>Click the picture next to your name. A drop-down gallery will be shown with some stock login photos. If you like one of them, click it to use it for yourself.</p></item>
      <item><p>If you'd rather use a picture you already have on your computer, click <gui>Browse for more pictures</gui>.</p></item>
  </steps>
</page>
