<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="video-dvd-restricted" xml:lang="en-GB">

  <info>
    <link type="guide" xref="media#videos" group="#last"/>
    <link type="seealso" xref="video-dvd"/>
    
    <desc>Most commercial DVDs are encrypted and will not play without decryption software.</desc>
    
    <revision version="16.04" date="2016-04-23" status="review"/>
    <credit type="author">
      <name>Ubuntu Documentation Project</name>
      <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>How do I enable restricted codecs to play DVDs?</title>

<p>DVD support cannot be provided by default in Ubuntu due to legal and technical restrictions. Most commercial DVDs are encrypted and so require the use of decryption software in order to play them.</p>

<section id="fluendo">
 <title>Use Fluendo to legally play DVDs</title>
 <p>You can buy a commercial DVD decoder that can handle copy protection from <link href="apt:fluendo-dvd">Fluendo</link>. It works with Linux and should be legal to use in all countries.</p>
</section>

<section id="restricted">
 <title>Use alternative decryption software</title>

 <note style="warning"><p>In some countries, the use of the below unlicensed decryption software is not permitted by law. Verify that you are within your rights to use it.</p></note>

 <steps>
  <item><p>Install <link href="apt:libdvdnav4">libdvdnav4</link>, <link href="apt:libdvdread4">libdvdread4</link>, <link href="apt:gstreamer1.0-plugins-bad">gstreamer1.0-plugins-bad</link>, <link href="apt:gstreamer1.0-plugins-ugly">gstreamer1.0-plugins-ugly</link>, and <link href="apt:libdvd-pkg">libdvd-pkg</link>.</p></item>
  <item><p>Open the Dash and launch a <app>Terminal</app>.</p></item>
  <item><p>Run the command</p>
    <p><cmd its:translate="no">sudo dpkg-reconfigure libdvd-pkg</cmd></p>
    <p>and confirm in order to install <em>libdvdcss2</em>.</p>
  </item>
</steps>
</section>
</page>
