<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="video-sending" xml:lang="en-GB">

  <info>
    <link type="guide" xref="media#videos"/>
    <desc>Check that they have the right video codecs installed.</desc>
    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Other people cannot play the videos I made</title>

  <p>If you made a video on your Linux computer and sent it to someone using Windows or Mac OS, you may find that they have problems playing the video.</p>

  <p>To be able to play your video, the person you sent it to must have the right <em>codecs</em> installed. A codec is a little piece of software that knows how to take the video and display it on the screen. There are lots of different video formats and each requires a different codec to play it back. You can check which format your video is by doing:</p>
<list>
    <item><p>Open the <link xref="files-browse">file manager</link>.</p></item>
    <item><p>Right-click on video file and select <gui>Properties</gui>.</p></item>
    <item><p>Go to the <gui>Audio/Video</gui> tab and look at which <gui>codec</gui> is listed under <gui>Video</gui>.</p></item>
</list>

  <p>Ask the person having problems with playback if they have the right codec installed. They may find it helpful to search the web for the name of the codec plus the name of their video playback application. For example, if your video uses the <em>Theora</em> format and you have a friend using Windows Media Player to try and watch it, search for "theora windows media player". You will often be able to download the right codec for free if it's not installed.</p>

  <p>If you can't find the right codec, try the <link href="http://www.videolan.org/vlc/">VLC media player</link>. It works on Windows and Mac OS as well as Linux, and supports a lot of different video formats. Otherwise, try converting your video into a different format. Most video editors are able to do this, and specific video converter applications are available. Check <app>Ubuntu Software</app> to see what's available.</p>

<note>
  <p>There are a few other problems which might prevent someone from playing your video. The video could have been damaged when you sent it to them (sometimes big files aren't copied across perfectly), they could have problems with their video playback application, or the video may not have been created properly (there could have been some errors when you saved the video).</p>
</note>

</page>
