<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-follow-up-flag" xml:lang="ru">

  <info>
    <desc>Using flags to remind you of actions.</desc>
    
    <link type="guide" xref="mail-organizing#advanced"/>

    <revision pkgversion="3.0.2" version="0.1" date="2011-08-01" status="candidate"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/stable/usage-mail-organize-columns.html.en#usage-mail-organize-columns-followup -->
 </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  </info>

<title>Follow up flags for emails</title>

<p>To make sure you do not forget about a message, you can use the follow-up feature.</p>
<steps>
<item><p>Выберите одно или несколько сообщений.</p></item>
<item><p>Щёлкните правой кнопкой на одном из сообщений.</p></item>
<item><p>Click <gui>Mark for Follow Up…</gui>.</p></item>
</steps>
<p>You can also do this by selecting the message(s) and clicking <guiseq><gui>Message</gui><gui>Mark as</gui><gui>Follow Up…</gui></guiseq> or by pressing <keyseq><key>Shift</key><key>Ctrl</key><key>G</key></keyseq>.</p>

<p>A window opens to allow you to set the type of flag and the due date.</p>

<p>The flag itself is the action you want to remind yourself about, such as Call, Forward and Reply.</p>

<p>After you have added a flag, you can mark it as complete or remove it entirely by right-clicking the message and clicking either <gui>Flag Completed</gui> or <gui>Clear Flag</gui>.</p>

<p>When you read a flagged message, its flag status is displayed at the top, before the message headers. An overdue message might tell you "Overdue: Call by April 07, 2012, 5:00 PM."</p>

<p>Flags can help you organize your work in a number of ways. For example, you might <link xref="mail-change-columns-in-message-list">add a Flag Status column</link> to your message list and sort that way. Alternately, you could create a <link xref="mail-search-folders">search folder</link> that displays all your flagged messages, then clear the flags when you're done, so the search folder contains only messages with upcoming deadlines.</p>

<note style="tip"><p>If you prefer a simpler way to remind yourself about messages, you can mark them as important by right-clicking the message, then click <gui>Mark as Important</gui>, or by selecting <guiseq><gui>Message</gui><gui>Mark as</gui><gui>Important</gui></guiseq> from the menubar.</p></note>

</page>
