<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-composer-forward-as-attachment" xml:lang="ru">

  <info>
    <desc>How to forward a message with its attachments.</desc>
    
    <link type="guide" xref="index#common-mail-problems"/>
    <link type="seealso" xref="mail-composer-forward"/>

    <revision pkgversion="2.30.2" version="0.2" date="2010-12-08" status="draft"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  </info>

<title>Forwarding a message with its attachments</title>

<p>Click <guiseq><gui>Message</gui><gui>Forward as…</gui></guiseq> and choose <gui>Attachment</gui>, so the forwarded email and also its attachments get attached to the email you want to send.</p>

<note style="tip">
<p>If you want to have this setting by default, set <guiseq><gui>Edit</gui><gui>Preferences</gui><gui>Composer Preferences</gui><gui>Forward Style</gui></guiseq> to <gui>Attachment</gui>.</p>
</note>
</page>
