<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-receiving-options-local-delivery" xml:lang="ru">

  <info>
    <desc>Receiving options for Local delivery accounts.</desc>

    <link type="guide" xref="mail-receiving-options#local-account-server-types"/>
    <link type="guide" xref="mail-account-manage-local-delivery#receiving-email"/>
    <revision pkgversion="3.1.90" version="0.3" date="2011-08-25" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  </info>

  <title>Local delivery receiving options</title>

<section id="receiving-email-local-delivery">
<title>Получение почты</title>

<p>On the <gui>Receiving Email</gui> page (accessible via <guiseq><gui>Edit</gui><gui>Preferences</gui><gui>Mail Accounts</gui><gui style="button">Edit</gui><gui>Receiving Email</gui></guiseq>):</p>

<list>
<item><p>Choose the file by clicking on the button next to <gui>File</gui> in the <gui>Configuration</gui> section. This will open a file chooser window.</p></item>
</list>

</section>

<section id="receiving-options-local-delivery">
<title>Параметры получения</title>

<p>On the <gui>Receiving Options</gui> page (accessible via <guiseq><gui>Edit</gui><gui>Preferences</gui><gui>Mail Accounts</gui><gui style="button">Edit</gui><gui>Receiving Options</gui></guiseq>):</p>

<list>
<item><p>If you want Evolution to check automatically for new messages, click the <gui>Check for new messages every … minutes</gui> option and select the frequency in minutes.</p></item>
</list>

</section>

</page>
