<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="offline" xml:lang="ru">

  <info>
    <desc>Make Evolution mail be online again.</desc>
    
    <link type="guide" xref="index#common-other-problems"/>
    <link type="seealso" xref="mail-working-offline"/>

    <revision pkgversion="3.13.4" version="0.4" date="2015-02-15" status="final"/>
    <credit type="author">
      <name its:translate="no">Brian Grohe</name>
      <email its:translate="no">grohe43@gmail.com</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Patrick O'Callaghan</name>
    </credit>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  </info>
<title>Why is Evolution's mail component offline?</title>
<p>You may have started Evolution with the <cmd>--offline</cmd> commandline option to enforce offline mode.</p>

<p>If this is not the case and Evolution normally works but has suddenly stopped connecting to your mail accounts, you may have unintentionally clicked on the connection icon in the lower left corner. When connected, the icon resembles a pair of sockets joined together. If the sockets are open, there is no connection to your mail accounts (and the <gui style="button">Send/Receive</gui> button is grayed out). Click on the icon to change its state.</p>

<p>If the problem persists and you are sure you have not clicked the icon, but you can still reach the network from other apps on your system (browsers, FTP, SSH, ping etc.) it may be that your network connection is not properly configured. For more information please take a look at the <link xref="help:gnome-help/net-problem" href="https://help.gnome.org/users/gnome-help/stable/net-problem">Desktop help</link> or seek help from your distribution support forums, mailing lists etc.</p>

<!-- from https://bugzilla.gnome.org/show_bug.cgi?id=728604 -->
<p>If you want to force Evolution to be in online mode, make sure that Evolution is not running and open a <app>Terminal</app> window and type the following command:</p>
     <p><cmd its:translate="no">
         GIO_USE_NETWORK_MONITOR=base evolution
     </cmd></p>

<note style="warning"><p>Evolution's forced offline mode only refers to mail and does not apply to contacts and calendars.</p></note>

</page>
