<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="problems-reporting-bugs" xml:lang="ru">

  <info>
    <desc>How to report mistakes in the application.</desc>

    <link type="guide" xref="index#tracking-down-problems"/>
    <link type="seealso" xref="problems-debug-how-to"/>

    <revision pkgversion="3.3.91" version="0.6" date="2012-02-29" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  </info>

  <title>How to report bugs</title>

<p>If you do not need help for configuration but you are sure that you have found a mistake or wrong behavior in the Evolution software, or if you want to request a feature, you can file a report in the <link href="http://bugzilla.gnome.org">GNOME bug tracking system</link>. Note that this requires registration first. Please try to avoid filing duplicates and check the <link href="https://bugzilla.gnome.org/page.cgi?id=bug-writing.html">bug writing guidelines</link> first.</p><p>Also note that GNOME distributions sometimes introduce their own changes in Evolution that are not included in GNOME Evolution. This is hard to recognize for users but if you are aware of it please file a bug report in <link href="https://wiki.gnome.org/Bugsquad/TriageGuide/NonGnome#Bug_trackers_for_distributions">the bug tracker of your GNOME distribution</link> instead.</p>

<p>When reporting bugs exact information is welcome as it makes it easier for others to reproduce and fix the issue. If possible please include information such as the Evolution version (under <guiseq><gui>Help</gui><gui>About</gui></guiseq>), your distribution, and exact steps to reproduce the problem, click by click. See the <link href="https://bugzilla.gnome.org/page.cgi?id=bug-writing.html">Bug Writing Guidelines</link> for more information.</p>

</page>
