<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="tasks-usage-edit-task" xml:lang="ru">

  <info>
    <desc>Editing a task in your task list.</desc>
    
    <link type="guide" xref="tasks-usage"/>

    <revision pkgversion="3.0.2" version="0.1" date="2011-08-01" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  </info>

<title>Editing a Task</title>

<p>If you want to change a task that already exists in your task lists,</p>

<steps>
<item><p>Double-click on the task that you want to edit in the list of tasks, or right-click on the task and click <gui>Open Task</gui>.</p></item>
<item><p>Edit the task information.</p></item>
<item><p>Click the <gui style="button">Save</gui> button, or <guiseq><gui>File</gui><gui>Save</gui></guiseq>.</p></item>
</steps>

</page>
