<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task a11y" id="a11y-slowkeys" xml:lang="en-CA">
  <info>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <desc>
      Have a delay between a key being pressed and that letter appearing on the 
      screen.
    </desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="a11y#mobility" group="keyboard"/>
    <link type="guide" xref="keyboard" group="a11y"/>
    <revision pkgversion="3.8.0" version="0.3" date="2013-03-13" status="candidate"/>
    <revision version="13.10" date="2013-10-25" status="review"/>
  </info>

  <title>
    Turn on slow keys
  </title>

  <p>
    Turn on <em>slow keys</em> if you would like there to be a delay between 
    pressing a key and that letter being displayed on the screen. This means 
    that you have to hold down each key you want to type for a little while 
    before it appears. Use slow keys if you accidentally press several keys at a 
    time when you type, or if you find it difficult to press the right key on 
    the keyboard first time.
  </p>

  <steps>
    <item>
      <p>
        Click the icon at the very right of the <gui>menu bar</gui> and select 
        <gui>System Settings</gui>.
      </p>
    </item>
    <item>
      <p>
        Open <gui>Universal Access</gui> and select the <gui>Typing</gui> tab.
      </p>
    </item>
    <item>
      <p>
        Switch <gui>Slow Keys</gui> on.
      </p>
    </item>
  </steps>

  <note style="tip">
    <title>
      Quickly turn slow keys on and off
    </title>
    <p>
      Under <gui>Enable by Keyboard</gui>, select <gui>Turn on accessibility 
      features from the keyboard</gui> to turn slow keys on and off from the 
      keyboard. When this option is selected, you can press and hold 
      <key>Shift</key> for eight seconds to enable or disable slow keys.
    </p>
  </note>

  <p>
    Use the <gui>Acceptance delay</gui> slider to control how long you have to 
    hold a key down for it to register.
  </p>

  <p>
    You can have your computer make a sound when you press a key, when a key 
    press is accepted, or when a key press is rejected because you didn't hold 
    the key down long enough.
  </p>

</page>
