<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="backup-where" xml:lang="en-CA">

  <info>
    <link type="guide" xref="backup-why"/>
    <desc>Advice on where to store your backups and what type of storage device
    to use.</desc>
    <title type="sort">c</title>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="14.04" date="2014-04-03" status="review"/>

    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Where to store your backup</title>

  <p>You should store backup copies of your files somewhere separate from your
 computer - on an external hard disk, for example. That way, if the computer
 breaks, the backup will still be intact. For maximum security, you shouldn't
 keep the backup in the same building as your computer. If there is a fire or
 theft, both copies of the data could be lost if they are kept together.</p>

  <p>It is important to choose an appropriate <em>backup medium</em>, too. You
 need to store your backups on a device that has sufficient disk capacity for
 all of the backed-up files.</p>

   <list style="compact">
    <title>Local and remote storage options</title>
    <item>
      <p>USB memory key (low capacity)</p>
    </item>
    <item>
     <p>Writable CDs or DVDs (low/medium capacity)</p>
    </item>
    <item>
      <p>External hard disk (typically high capacity)</p>
    </item>
    <item>
      <p>Internal disk drive (high capacity)</p>
    </item>
    <item>
      <p>Network-connected drive (high capacity)</p>
    </item>
    <item>
      <p>File/backup server (high capacity)</p>
    </item>
    <item>
     <p>Online backup service (<link href="http://aws.amazon.com/s3/">Amazon 
     S3</link>, for example; capacity depends on price)</p>
    </item>
   </list>

  <p>Some of these options have sufficient capacity to allow for a backup of
 every file on your system, which is also known as a <em>complete system 
 backup</em>.</p>
</page>
