<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="backup-how" xml:lang="en-CA">

  <info>
    <link type="guide" xref="backup-why"/>
    <desc>Use Déjà Dup (or some other backup application) to make copies 
    of your valuable files and settings to protect against loss.</desc>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-10-23" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit>
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>How to back up</title>

  <p>The recommended way of backing up your files and settings is to let a 
  backup application manage the backup process for you. A number of 
  different backup applications are available, like 
  <app>Déjà Dup</app>.</p>

  <p>The help for your chosen backup application will walk you through 
  setting your preferences for the backup, as well as how to restore your 
  data.</p>

  <p>An alternative option is to <link xref="files-copy">copy your 
  files</link> to a safe location, such as an external hard drive, another 
  computer on the network, or a USB drive. Your 
  <link xref="backup-thinkabout">personal files</link> and settings are 
  usually in your Home folder, so you can copy them from there.</p>

  <p>The amount of data you can back up is limited by the size of the 
  storage  device. If you have the room on your backup device, it is best 
  to back up the entire Home folder with the following exceptions:</p>

<list>
 <item><p>Files that are already backed up somewhere else, such as to a 
 CD, DVD, or other removable media.</p></item>
 <item><p>Files that you can recreate easily. For example, if you are a
 programmer, you don't have to back up the files that get produced when 
 you compile your programs. Instead, just make sure that you back up the 
 original source files.</p></item>
 <item><p>Any files in the Trash folder. Your Trash folder can be found in
 <file>~/.local/share/Trash</file>.</p></item>
</list>

</page>
