<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="contacts-add-remove" xml:lang="en-CA">

  <info>
    <link type="guide" xref="contacts"/>
    <revision pkgversion="3.5.5" date="2012-08-13" status="review"/>
    <revision pkgversion="3.8" date="2013-04-27" status="review"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <credit type="author">
      <name>Lucie Hankey</name>
      <email its:translate="no">ldhankey@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Add or remove a contact in the local address book.</desc>

  </info>

<title>Add or remove a contact</title>

  <p>To add a contact:</p>

  <steps>
    <item>
      <p>Press <gui style="button">New</gui>.</p>
    </item>
    <item>
      <p>In the <gui>New contact</gui> window, enter the contact name and the
      desired information. Click on the menu next to each field to choose
      <gui>Work</gui>, <gui>Home</gui> or <gui>Other</gui>.</p>
    </item>
    <item>
      <p>Press <gui style="button">Create Contact</gui>.</p>
    </item>
  </steps>

  <p>To remove a contact:</p>

  <steps>
    <item>
      <p>Select the contact from your contact list.</p>
    </item>
    <item>
      <p>Press <gui style="button">Edit</gui> in the top-right corner of
      <app>Contacts</app>.</p>
    </item>
    <item>
      <p>Press <gui style="button">Remove Contact</gui>.</p>
    </item>
  </steps>

</page>
