<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="files-tilde" xml:lang="en-CA">

  <info>
    <link type="guide" xref="files#faq"/>
    <link type="seealso" xref="files-hidden"/>
    <desc>These are backup files. They are hidden by default.</desc>

    <revision pkgversion="3.6.0" version="0.2" date="2012-09-28" status="review"/>
    <revision version="13.10" date="2013-09-12" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>What is a file with a "~" at the end of its name?</title>

  <p>Files with a "~" at the end of their names (for example,
 <file>example.txt~</file>) are automatically created backup copies of documents
 edited in the <app>gedit</app> text editor or other applications. It is
 safe to delete them, but there's no harm to leave them on your computer.</p>

  <p>These files are hidden by default. If you are seeing them, that is because
 you either selected <gui>Show Hidden Files</gui> (in the
 <media type="image" src="figures/go-down.png">down</media> menu of the
 <app>Files</app> toolbar) or pressed
 <keyseq><key>Ctrl</key><key>H</key></keyseq>. You can hide them again by
 repeating either of these steps.</p>

  <p>These files are treated in the same way as normal hidden files. See
 <link xref="files-hidden"/> for advice on dealing with hidden files.</p>

</page>
