<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="hardware-cardreader" xml:lang="en-CA">

  <info>
    <link type="guide" xref="media#photos"/>
    <link type="guide" xref="hardware#problems"/>

    <desc>Troubleshoot media card readers</desc>

    <revision version="13.10" date="2013-09-12" status="review"/>

    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Media card reader problems</title>

<p>Many computers contain readers for SD (Secure Digital), MMC (MultiMediaCard), SmartMedia, Memory Stick, CompactFlash, and other storage media
cards. These should be automatically detected and <link xref="disk-partitions">mounted</link>. Here are some
troubleshooting steps if they are not:</p>

<steps>
<item>
<p> Make sure that the card is put in correctly. Many cards look as though they are
upside down when correctly inserted. Also make sure that the card is firmly seated
in the slot; some cards, especially CompactFlash, require a small amount of force to insert
correctly. (Be careful not to push too hard! If you come up against something solid,
do not force it.)</p>
</item>

<item>
<p> Open <app>Files</app> by using the <gui>Dash</gui>. Does the inserted
 card appear in the <gui>Devices</gui> list in the left sidebar? Sometimes the card appears in this list but is not mounted; click it once to mount. (If the sidebar is not visible, press <key>F9</key> or click
 <guiseq><gui>View</gui><gui> Sidebar</gui><gui> Show Sidebar</gui></guiseq>.)
</p>
</item>

<item>
<p>If your card does not show up in the sidebar, click <guiseq><gui>Go</gui><gui>Computer</gui></guiseq>.
If your card reader is correctly configured, the reader should come up as a drive
when no card is present, and the card itself when the card has been mounted (see the picture below).</p>
</item>

<item>
<p>If you see the card reader but not the card, the problem may be with the card itself.
Try a different card or check the card on a different reader if possible.</p>
</item>
</steps>

<p>If no cards or drives are available in the <gui>Computer</gui> folder,
it is possible that your card reader does not work with Linux due to driver issues.
If your card reader is internal (inside the computer instead of sitting outside)
this is more likely. The best solution is to directly connect your device
(camera, cell phone, etc.) to a USB port on the computer. USB external card
readers are also available, and are far better supported by Linux.</p>

</page>
