<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-install-moonlight" xml:lang="en-CA">
  <info>
    <link type="guide" xref="net-browser"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>Some websites use Silverlight to display web pages. The Moonlight plug-in lets you view these pages.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Install the Silverlight plug-in</title>

<p><app>Silverlight</app> is a <em>plug-in</em> for your web browser which allows you to watch videos and use interactive web pages on some websites. Some websites won't work without Silverlight.</p>

<p>If you view a Silverlight-enabled website but don't have the plug-in installed, you will probably see a message telling you so. This message should have instructions telling you how to get the plug-in, but these instructions might not be suitable for your web browser or version of Linux.</p>

<p>If you want to view Silverlight-enabled websites, you should install the <em>Moonlight</em> plug-in instead. This is a free, open-source version of Silverlight which runs on Linux.</p>


<p>Please see the <link href="http://www.go-mono.com/moonlight/">Moonlight website</link> for more information and installation instructions.</p>

</page>
