<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task 2column" id="net" xml:lang="en-CA">

  <info>

    <revision version="13.10" date="2013-09-15" status="review"/>

    <link type="guide" xref="index" group="net"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>



    <desc>
      <link xref="net-wireless">Wireless</link>,
      <link xref="net-wired">wired</link>,
      <link xref="net-problem">connection problems</link>,
      <link xref="net-browser">web browsing</link>,
      <link xref="net-email">email accounts</link>,
      <link xref="net-chat">instant messaging</link>…
    </desc>
<!--
    chat…
-->
<!--
    <desc>
      <link xref="net#problems">Connection problems</link>,
      <link xref="net#wireless">wireless</link>,
      <link xref="net#wired">wired</link>,
      <link xref="net#sharing">sharing files</link>,
      <link xref="net#security">security</link>,
      <link xref="net#security">anti-virus</link>…
    </desc>

-->

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Networking, web, email &amp; chat</title>
<links type="topic" style="toronto"/>

</page>
