<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing" xml:lang="en-CA">

  <info>
    <link type="guide" xref="hardware"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <desc>
      <link xref="printing-setup">Local setup</link>,
      <!--
      <link xref="printing-setup-networked">networked setup</link>,
      -->
      <link xref="printing-order">order and collate</link>,
      <link xref="printing-2sided">two-sided and multi-page</link>…
    </desc>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Printing</title>

<section id="setup" style="2column">
  <info>
    <title type="link" role="trail">Setup</title>
  </info>
 <title>Set up a printer</title>
</section>

<section id="paper" style="2column">
  <info>
    <title type="link" role="trail">Sizes and layouts</title>
  </info>
 <title>Different paper sizes and layouts</title>
</section>

<section id="problems" style="2column">
 <info>
  <link type="guide" xref="hardware#problems"/>
  <desc>Undetected printers, paper jams, print-outs that look wrong…</desc>
 </info>
 <title>Printer problems</title>
</section>

</page>
