<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="problem" id="sound-broken" xml:lang="en-CA">

  <info>
    <link type="guide" xref="media#sound" group="#first"/>
    <link type="guide" xref="hardware#problems"/>
    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-10-23" status="review"/>    
    <desc>Troubleshoot problems like having no sound or having poor sound quality.</desc>

    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Sound problems</title>

<p>There are a number of ways for sound playback to break on your computer. Which of the topics below best describes the problem you are experiencing?</p>

</page>
