<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="sound-nosound" xml:lang="en-CA">

  <info>
    <link type="guide" xref="sound-broken"/>

    <desc>Check that it's not muted, that cables are plugged in properly, and
 that the sound card is detected.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>I can't hear any sounds on the computer</title>

  <p>If you can't hear any sounds on your computer, for example when you try to
 play music, try these troubleshooting steps to see if you can fix the problem.</p>

<section id="mute">
 <title>Make sure that the sound is not muted</title>
 <p>Click the <gui>sound menu</gui> on the menu bar (it looks like a speaker) and make sure
 that the sound is not muted or turned down.</p>
 <p>Some laptops have mute switches or keys on their keyboards—try pressing
 that key to see if it unmutes the sound.</p>
 <p>You should also check that you haven't muted the application that you're
 using to play sound (e.g. your music player or movie player). The application
 may have a mute or volume button in its main window, so check that. Also, click
 the sound menu on the menu bar and choose <gui>Sound Settings</gui>. When the
 <gui>Sound</gui> window appears, go to the <gui>Applications</gui> tab and
 check that your application is not muted.</p>
</section>

<section id="speakers">
 <title>Check that the speakers are turned on and connected properly</title>
 <p>If your computer has external speakers, make sure that they are turned on
 and that the volume is turned up. Make sure that the speaker cable is securely
 plugged into the "output" audio socket on the back of the computer. This socket
 is usually light green in color.</p>

 <p>Some sound cards are able to switch which socket they use for output (to the
 speakers) and input (from a microphone, for instance). The output socket may be
 different when running Linux than on Windows or Mac OS. Try connecting the
 speaker cable to the different audio sockets on the computer in turn to see if
 that works.</p>

 <p>A final thing to check is that the audio cable is securely plugged into the
 back of the speakers. Some speakers have more than one input too.</p>
</section>

<section id="device">
 <title>Check that the right sound device is selected</title>
 <p>Some computers have multiple "sound devices" installed. Some of these are
 capable of outputting sound and some are not, so you should check that you have
 the correct one selected. This might involve some trial-and-error to choose the
 right one.</p>
 <steps>
  <item>
   <p>Click the <gui>sound menu</gui> in the <gui>menu bar</gui> and click <gui>Sound Settings</gui>.</p>
  </item>
  <item>
   <p>In the <gui>Sound</gui> window that appears, try selecting a different output from the <gui>Play sound through</gui> list.</p>
  </item>
  <item>
   <p>For the selected device, click <gui>Test Sound</gui>.  In the pop-up window, click the
  button for each speaker. Each button will speak its position only to the channel
  corresponding to that speaker.</p>
  </item>
  <item>
   <p>If that doesn't work, you might want to try doing the same for any other
 devices that are listed.</p>
  </item>
 </steps>
</section>

<section id="hardware-detected">
 <title>Check that the sound card was detected properly</title>
 <p>Your sound card may not have been detected properly. If this has happened,
 your computer will think that it isn't able to play sound. A possible reason
 for the card not being detected properly is that the drivers for the card are
 not installed.</p>
 <steps>
  <item>
   <p>Go to the <link xref="unity-dash-intro">Dash</link> and open the Terminal.</p>
  </item>
  <item>
   <p>Type <cmd>aplay -l</cmd> and press <key>Enter</key>.</p>
  </item>
  <item>
   <p>A list of devices will be shown. If there are no <gui>playback hardware
 devices</gui>, your sound card has not been detected.</p>
  </item>
 </steps>

 <p>If your sound card is not detected, you may need to manually install the
 drivers for it. How you do this will depend on the card you have.</p>

 <p>You can see what sound card you have by using the <cmd>lspci</cmd> command
 in the <app>Terminal</app>. You can get more complete results if you run <cmd>lspci</cmd> as
 <link xref="user-admin-explain">superuser</link>; enter <cmd>sudo lspci</cmd>
 and type your password. See if an
 <em>audio controller</em> or <em>audio device</em> is listed—it should have the
 sound card's make and model number. <cmd>sudo lspci -v</cmd> will show a list with
 more detailed information.</p>

 <p>You may be able to find and install drivers for your card by searching the Internet. Otherwise, you can <link xref="report-ubuntu-bug">file a bug</link>.</p>

 <p>If you can't get drivers for your sound card, you might prefer to buy a new
 sound card. You can get sound cards that can be installed inside the computer
 and external USB sound cards.</p>
</section>

</page>
