<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="introduction" xml:lang="es">

  <info>
    <link type="guide" xref="index" group="#first"/>

    <revision version="0.1" date="2011-10-23" status="stub"/>
    <revision pkgversion="3.9" version="0.1" date="2013-06-24" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Jim Campbell</name>
      <email its:translate="no">jwcampbell@gmail.com</email>
      <years>2013</years>
    </credit>

    <credit type="author copyright">
      <name>Aruna Sankaranarayanan</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>

    <desc>Usar <app>Contraseñas y claves de cifrado</app> para crear y gestionar claves PGP y SSH y para guardar contraseñas que son difíciles de recordar.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Introducción</title>

  <p>Bienvenido a la ayuda de <app>Contraseñas y claves de cifrado</app>, <app>Contraseñas y claves de cifrado</app> crea y guarda testigos seguros, ayudándole a mantener su información de manera segura en su equipo, y a securizar la información cuando la envía a través de la red.</p>
  <p>Usando <app>Contraseñas y claves de cifrado</app> puede:</p>

  <list>
    <item>
      <p>Copiar y <link xref="passwords-stored-create">guardar</link> contraseñas difíciles de recordar. Para agrupar contraseñas relacionadas, <link xref="keyring-create">cree depósitos de claves</link>.</p>
    </item>
    <item>
      <p><link xref="pgp-create">Crear</link> y <link xref="index#pgp-keys">gestionar</link> claves PGP.</p>
    </item>
    <item>
      <p><link xref="ssh-create">Crear</link> y <link xref="index#ssh-keys">gestionar</link> claves SSH.</p>
    </item>
  </list>

</page>
