<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="keyring-change-default" xml:lang="es">

  <info>
    <link type="guide" xref="index#passwords"/>

    <revision pkgversion="3.10" date="2013-08-25" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author copyright">
      <name>Aruna Sankaranarayanan</name>
      <email its:translate="no">aruna.evam@gmail.com</email>
      <years>2013</years>
    </credit>

    <desc>Guardar contraseñas nuevas en un depósito de claves diferente al predeterminado.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Cambiar el depósito de claves predeterminado</title>

  <p>Cuando <link xref="passwords-stored-create">añade una contraseña nueva</link>, normalmente se añade al depósito de claves predeterminado. Si quiere añadirla a un depósito diferente, puede elegir otro al añadir la contraseña, y también puede cambiar el depósito predeterminado. Normalmente, el depósito predeterminado es el de <gui>Inicio de sesión</gui>.</p>

  <steps>
    <title>Para cambiar el depósito de claves predeterminado:</title>
    <item>
      <p>Seleccione su elección para el depósito predeterminado de la lita de depósitos de claves debajo de <gui>Contraseñas</gui> en el panel izquierdo.</p>
    </item>
    <item>
      <p>Pulse con el botón derecho sobre el depósito seleccionado y elija <gui>Establecer como predeterminado</gui>.</p>
    </item>
  </steps>

  <note style="info">
    <p>Las contraseñas de algunas aplicaciones de GNOME se guardan automáticamente en el depósito <gui>Inicio de de sesión</gui> de <app>Contraseñas y claves</app>, ya que es el depósito de claves predeterminado. Cuando cambia el depósito predeterminado, cualquier contraseña nueva creada por las aplicaciones de GNOME se guardará en el nuevo depósito predeterminado, mientras que las contraseñas de las aplicaciones de GNOME creadas antes del cambio permanecerán en el depósito de <gui>Inicio de sesión</gui>.</p>
  </note>

</page>
