<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="a11y task" id="a11y-screen-reader" xml:lang="it">
  <info>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <desc>Usare il lettore di schermo <app>Orca</app> per leggere l'interfaccia utente.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <link type="guide" xref="a11y#vision" group="blind"/>
    <revision version="13.10" date="2013-10-25" status="review"/>
  </info>

  <title>Leggere lo schermo</title>

  <p>GNOME fornisce il lettore di schermo <app>Orca</app> per leggere l'interfaccia utente. In base all'istallazione di GNOME, è possibile che Orca non sia stato installato. <link href="apt:gnome-orca">Installare Orca</link> e, per ulteriori informazioni, consultare la <link href="help:orca">Guida di Orca</link>.</p>

</page>
