<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="backup-restore" xml:lang="it">

  <info>
    <link type="guide" xref="files#backup"/>
    <desc>Recuperare i file da un backup.</desc>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit>
      <name>Progetto documentazione di GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Ripristinare un backup</title>

  <p>Nel caso in cui alcuni file siano stati perduti o eliminati, ma ne è disponibile una copia in un backup, è possibile ripristinarli da questo:</p>

<list>
 <item><p>Per ripristinare il backup da un dispositivo come un hard disk esterno, un'unità USB o un altro computer in rete, è possibile <link xref="files-copy">copiare nuovamente i file</link> sul proprio computer.</p></item>

 <item><p>Se il backup è stato creato utilizzando un'applicazione come <app>Déjà Dup</app>, utilizzare la stessa per ripristinarlo. Per istruzioni specifiche su come ripristinare i propri file, consultare la guida dell'applicazione.</p></item>
</list>

</page>
