<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="contacts-add-remove" xml:lang="it">

  <info>
    <link type="guide" xref="contacts"/>
    <revision pkgversion="3.5.5" date="2012-08-13" status="review"/>
    <revision pkgversion="3.8" date="2013-04-27" status="review"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <credit type="author">
      <name>Lucie Hankey</name>
      <email its:translate="no">ldhankey@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Aggiungere o rimuovere un contatto nella rubrica degli indirizzi locale.</desc>

  </info>

<title>Aggiungere o rimuovere un contatto</title>

  <p>Per aggiungere un contatto:</p>

  <steps>
    <item>
      <p>Premere <gui style="button">Nuovo</gui>.</p>
    </item>
    <item>
      <p>Nella finestra <gui>Nuovo contatto</gui>, digitare il nome del contatto e le informazioni richieste. Fare clic sul menù vicino a ogni campo per scegliere <gui>Lavoro</gui>, <gui>Casa</gui> o <gui>Altro</gui>.</p>
    </item>
    <item>
      <p>Premere <gui style="button">Crea contatto</gui>.</p>
    </item>
  </steps>

  <p>Per rimuovere un contatto:</p>

  <steps>
    <item>
      <p>Selezionare il contatto dall'elenco dei propri contatti.</p>
    </item>
    <item>
      <p>Premere <gui style="button">Modifica</gui> nell'angolo in alto a destra di <app>Contatti</app>.</p>
    </item>
    <item>
      <p>Premere <gui style="button">Rimuovere Contatto</gui>.</p>
    </item>
  </steps>

</page>
