<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="guide" style="task" version="1.0 if/1.0" id="files" xml:lang="it">
  <info>

    <link type="guide" xref="index" group="files"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Ubuntu Documentation Team</name>
      <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>

    <title type="link" role="trail">File</title>

    <revision version="13.10" date="2013-10-23" status="review"/>
    <desc><link xref="files-search">Cercare</link>, <link xref="files-delete">eliminare file</link>, <link xref="files#backup">backup</link>, <link xref="files#removable">unità rimovibili</link>, <link xref="files#documents">documenti</link>…</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>File, cartelle e ricerche</title>

<media type="image" src="figures/nautilus.png" style="floatend floatright" if:test="!target:mobile">
  <p>Gestore di file <app>Nautilus</app></p>
</media>

<links type="topic" style="linklist nodesc bold">
  <title>Attività comuni</title>
</links>

<links type="topic" groups="more" style="linklist nodesc bold">
  <title>Ulteriori argomenti</title>
</links>

<section id="removable">
  <title>Unità rimovibili e dischi esterni</title>
  <links type="topic" style="2column"/>
</section>

<section id="backup">
  <title>Eseguire backup</title>
  <links type="topic" style="2column"/>
</section>

<section id="documents">
  <title>Documenti</title>
  <links type="topic" style="2column"/>
</section>

<section id="faq">
  <title>Suggerimenti e domande</title>
  <links type="topic" style="2column"/>
</section>

</page>
