<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="nautilus-bookmarks-edit" xml:lang="it">

  <info>
    <link type="guide" xref="files#faq"/>

    <revision pkgversion="3.6.0" version="0.2" date="2012-09-30" status="review"/>
    <revision version="14.10" date="2014-09-14" status="review"/>

    <desc>Aggiungere, rimuovere e modificare segnalibri nel gestore di file.</desc>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Modificare i segnalibri delle cartelle</title>
<p>I segnalibri sono elencati nel riquadro laterale del gestore di file.</p>

    <steps>
    <title>Aggiungere un segnalibro</title>
    <item><p>Aprire la cartella (o il percorso) da aggiungere ai segnalibri.</p></item>
    <item><p>Fare clic su <gui>Segnalibri</gui> nella barra dei menù e selezionare <gui>Aggiungi posizione ai segnalibri</gui>.</p></item>
    </steps>

  <steps>
  <title>Eliminare un segnalibro</title>
   <item><p>Fare clic su <gui>Segnalibri</gui> nella barra dei menù e selezionare <gui>Segnalibri...</gui> nel menù delle applicazioni.</p></item>
   <item><p>Nella finestra <gui>Segnalibri</gui>, selezionare il segnalibro da eliminare e fare clic sul pulsante <key>-</key>.</p></item>
  </steps>

    <steps>
    <title>Rinominare un segnalibro</title>
    <item><p>Fare clic su  <gui>File</gui> nella barra superiore e selezionare <gui>Segnalibri</gui> nel menù delle applicazioni.</p></item>
    <item><p>Nella finestra <gui>Segnalibri</gui>, selezionare il segnalibro da rinominare.</p></item>
    <item><p>Nel campo di testo <gui>Nome</gui>, digitare il nuovo nome per il segnalibro. recuperare l'elemento cancellato</p>
    <note>
     <p>Rinominare un segnalibro non comporta la rinomina della cartella. Se sono presenti segnalibri relativi a due cartelle differenti, in due percorsi diversi, ma che presentano lo stesso nome, non sarà possibile distinguerli. In questi casi è utile dare ai segnalibri nomi diversi rispetto al nome delle cartelle a cui fanno riferimento.</p>
    </note>
</item>
    </steps>

</page>
