<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-install-java-plugin" xml:lang="it">
  <info>
    <link type="guide" xref="net-browser"/>

    <revision version="13.10" date="2013-10-23" status="outdated"/>
    
    <credit type="author">
      <name>Ubuntu Documentation Team</name>
    </credit>

    <desc>Aiutare il browser a lavorare meglio con i siti web che richiedono Java.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Installare il plugin Java</title>
<p>Alcuni siti web usano piccoli programmi <em>Java</em> che richiedono l'installazione di un apposito plugin per essere eseguiti.</p>

<p><link href="apt:icedtea6-plugin">Installare il pacchetto icedtea6-plugin</link> per visualizzare nel browser i programmi Java.</p>

</page>
