<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="net-nonm" xml:lang="it">
  <info>
    <link type="guide" xref="net-problem"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc>Premere <keyseq><key>Alt</key><key>F2</key></keyseq> e digitare <input>nm-applet</input>.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Il menù di rete non è presente nella barra dei menù</title>

  <p>Se il menù di rete è scomparso dalla barra dei menù, può essere che il <app>Gestore di rete</app> non sia in esecuzione. Per riavviarlo:</p>

  <steps>
    <item><p>Premere <keyseq><key>Alt</key><key>F2</key></keyseq>.</p></item>
    <item><p>Digitare <input>nm-applet</input> e premere <gui>Invio</gui>.</p></item>
    <item><p>Dovrebbe apparire il riquadro <gui>Richiesta autenticazione rete senza fili</gui>. Inserire la password nella relativa casella e fare clic su <gui>Connetti</gui>.</p></item>
  </steps>

<p>Se questo non funziona, ci potrebbe essere un problema con il Gestore di rete. Per verificare questa possibilità, spostarsi nella <link xref="unity-dash-intro">Dash</link> e aprire il Terminale. Digitare <cmd>nm-applet</cmd>, premere <key>Invio</key> e controllare se appare il menù di rete. In caso contrario, dovrebbero comparire alcuni messaggi di errore nel terminale. Questi dovrebbero evidenziare le problematiche in atto, ma potrebbero essere di natura abbastanza tecnica. In tal caso, chiedere aiuto su un forum di supporto riportando questi messaggi di errore.</p>

</page>
