<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="unity-launcher-intro" xml:lang="it">
  <info>
    <link type="guide" xref="index" group="unity-launcher-intro"/>
    <link type="guide" xref="shell-overview#desktop" group="#first"/>

    <desc>Il Launcher è sul lato sinistro dello schermo.</desc>

    <revision version="13.10" date="2013-10-23" status="outdated"/>

    <credit type="author">
      <name>Ubuntu Documentation Team</name>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Usare il Launcher per avviare applicazioni</title>

<media type="image" src="figures/unity-launcher-apps.png" style="floatstart floatleft">
  <p>Icone del Launcher</p>
</media>

  <p>Il <gui>Launcher</gui> è uno dei componenti chiave del desktop Unity: fornisce accesso rapido alle applicazioni, agli spazi di lavoro, ai dispositivi rimovibili e al cestino. Quando si accede all'ambiente grafico, compare sul lato sinistro dello schermo.</p>

   <p>Se un'applicazione che si vuole avviare è presente all'interno del Launcher, è possibile fare clic sulla sua icona per lanciarla.</p>

  <p>Per maggiori informazioni riguardo il Launcher, è possibile consultare i seguenti argomenti:</p>

<section id="launcher-using">
  <title>Usare il Launcher</title>
</section>

<!--
  <section id="launcher-basics">
    <title>Launcher Basics</title>
    <comment><p>
      Launcher appearance
      Launcher accordion effect
    </p></comment>
  </section>
-->

  <section id="launcher-customizing" style="2column">
    <title>Personalizzare il Launcher</title>
  </section>

</page>
