<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="tip" id="backup-why" xml:lang="en-AU">

  <info>
    <link type="guide" xref="files#backup"/>
    <desc>Why, what, where and how of backups.</desc>
    <title type="link" role="trail">Backups</title>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Back up your important files</title>

  <p><em>Backing up</em> your files simply means making a copy of them for safekeeping. This is done in case the original files become unusable due to loss or corruption. These copies can be used to restore the original data in the event of loss. Copies should be stored on a different device from the original files. For example, you may use a USB drive, an external hard drive, a CD/DVD, or an off-site service.</p>

  <p>The best way to back up your files is to do so regularly, keeping the copies off-site and (possibly) encrypted.</p>

<links type="topic" style="2column"/>

</page>
