<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="guide" style="task" version="1.0 if/1.0" id="bluetooth-turn-on-off" xml:lang="en-AU">

  <info>
    <link type="guide" xref="bluetooth" group="#first"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision version="15.04" date="2015-03-19" status="review"/>

    <desc>Enable or disable the Bluetooth device on your computer.</desc>

    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Ubuntu Documentation Team</name>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Turn Bluetooth on or off</title>

<media type="image" mime="image/svg" src="figures/bluetooth-active.svg" style="floatend">
  <p>The Bluetooth icon in the menu bar</p>
</media>

<p>You can turn Bluetooth on to use Bluetooth devices and send and receive files, but turn it off to conserve power. To turn Bluetooth on, click the Bluetooth icon on the top bar and switch <gui>Bluetooth</gui> on.</p>

<if:choose>
  <if:when test="platform:unity">
    <p>Many laptop computers have a hardware switch or key combination to turn Bluetooth on and off. If the Bluetooth hardware is turned off, you will not see a Bluetooth icon in the menu bar. Look for a switch on your computer or a key on your keyboard. The keyboard key is often accessed with the help of the <key>Fn</key> key.</p>
 </if:when>
 <p>Many laptop computers have a hardware switch or key combination to turn Bluetooth on and off. If the Bluetooth hardware is turned off, you will not see a Bluetooth icon in the top bar. Look for a switch on your computer or a key on your keyboard. The keyboard key is often accessed with the help of the <key>Fn</key> key.</p>
</if:choose>

<p>To turn Bluetooth off, click the Bluetooth icon and switch <gui>Bluetooth</gui> off.</p>

<note><p>You only need to switch <gui>Visible</gui> on if you are connecting
to this computer from another device. See <link xref="bluetooth-visibility"/>
for more information.</p></note>

</page>
