<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documents-print" xml:lang="en-AU">

  <info>
    <credit type="author copyright">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>
      Print documents that are stored locally or online.
    </desc>
    <link type="guide" xref="documents#print"/>
    <revision pkgversion="3.5.90" date="2012-09-05" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Print a document</title>

  <p>To print a document:</p>

  <steps>
   <item><p>Click the <gui>✓</gui> button.</p></item>
   <item><p>In selection mode, check the document to be printed.</p></item>
   <item><p>Click the Print button in the button bar. The <gui>Print</gui>
    dialog opens.</p></item>
  </steps>

  <note>
   <p>Printing is not available when more than one document is selected, or when
    a collection is selected.</p>
  </note>

</page>
