<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documents-viewgrid" xml:lang="en-AU">

  <info>
    <credit type="author">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>

    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>

		<credit type="editor">
			<name>Greg Beam</name>
			<email>ki7mt@yahoo.com</email>
			<years>2014</years>
		</credit>

    <link type="guide" xref="documents#view"/>
    <revision pkgversion="3.8.2" date="2014-01-13" status="review"/>
    <revision version="14.04" date="2014-01-13" status="review"/>
		<include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

		<desc>
      Change the way documents are displayed.
    </desc>

  </info>

  <title>View files in a list or grid</title>

  <p>Documents and collections are presented in <gui>Grid</gui> format by default.
    To view in <gui>List</gui> format:</p>
   <steps>
    <item>
      <p>Go to the top bar and click <app>Documents</app> to display the app
      menu.</p>
    </item>
    <item>
      <p>Click <gui>List</gui> from the <gui>View as</gui> section.</p>
    </item>
  </steps>

  <note style="tip"><p>List view has columns displaying the document type and
   date modified, and whether it's stored locally, or in <app>Google Docs</app>
   or <em>SkyDrive</em>.</p>
  </note>

  <p>Click <gui>Grid</gui> in the app menu to return to the default format.</p>

</page>
