<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="net-security-tips" xml:lang="en-AU">

  <info>
    <revision pkgversion="3.4.0" date="2012-02-21" status="final"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <link type="guide" xref="net-general"/>

    <desc>General tips to keep in mind when using the internet</desc>

    <credit type="author">
      <name>Steven Richards</name>
      <email>steven.richardspc@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Staying safe on the internet</title>

<p>A possible reason for why you are using Ubuntu is the robust security that Linux based
systems are known for. One reason that Linux is relatively safe from malware and
viruses is due to the lower number of people who use it.
Viruses are targeted at popular operating systems like Windows, that have an extremely large
user base. Linux based systems are also very secure due to their open source nature, which allows
experts to modify and enhance the security features included with each distribution.</p>

<p>Despite the measures taken to ensure that your installation of Ubuntu is secure, there
are always vulnerabilities. As an average user on the internet you can still be susceptible to:</p>

 <list>
  <item><p>Phishing Scams (websites and emails that try to obtain sensitive information through deception)</p></item>
  <item><p><link xref="net-email-virus">Forwarding malicious emails</link></p></item>
  <item><p><link xref="net-antivirus">Applications with malicious intent (viruses)</link></p></item>
  <item><p><link xref="net-wireless-wepwpa">Unauthorized remote/local network access</link></p></item>
 </list>

<p>To stay safe online, keep in mind the following tips:</p>

 <list>
  <item><p>Be wary of emails, attachments, or links that were sent from people you do not know.</p></item>
  <item><p>If a website's offer is too good to be true, or asks for sensitive information that seems unnecessary, then think twice about what information you are submitting and the potential consequences if that information is compromised by identity thieves or other criminals.</p></item>
  <item><p>Be careful in providing any application <link xref="user-admin-explain">root level permissions</link>, especially ones that you have not used before or apps that are not well-known. Providing anyone/anything with root level permissions puts your computer at high risk to exploitation.</p></item>
  <item><p>Make sure you are only running necessary remote-access services. Having SSH or VNC running can be useful, but also leaves your computer open to intrusion if not secured properly. Consider using a <link xref="net-firewall-on-off">firewall</link> to help protect your computer from intrusion.</p></item>
 </list>

</page>
