<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-manual" xml:lang="en-AU">
  <info>
    <link type="guide" xref="net-wired"/>
    <link type="guide" xref="net-wireless"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>If network settings don't get assigned automatically, you may have to enter them yourself.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Manually set network settings</title>

<p>If your network doesn't automatically assign network settings to your computer, you may have to manually enter the settings yourself. This topic assumes that you already know the correct settings to use. If not, you may need to ask your network administrator or look at the settings of your router or network switch.</p>

<steps>
  <title>To manually set your network settings:</title>
 <item>
  <p>Click the <gui>network menu</gui> on the menu bar and click <gui>Edit Connections</gui>.</p>
 </item>
 
 <item>
  <p>Select the network connection that you want to set up manually. For example, if you plug in to the network with a cable, look at the <gui>Wired</gui> tab.</p>
 </item>

 <item>
  <p>Click the connection you want to edit to select it, then click <gui>Edit</gui>.</p>
 </item>

 <item>
  <p>Go to the <gui>IPv4 Settings</gui> tab and change the <gui>Method</gui> to <gui>Manual</gui>.</p>
 </item>

 <item>
  <p>Click <gui>Add</gui> and type the <em>IP address</em>, <em>network mask</em> and <em>default gateway IP address</em> into the corresponding columns of the <gui>Addresses</gui> list. Press <key>Enter</key> or <key>Tab</key> after typing each address.</p>
  <p>These three addresses must be IP addresses; that is, they must be four numbers separated by periods (e.g., 123.45.6.78).</p>
 </item>

 <item>
  <p>Type the IP addresses of the DNS servers you want to use, separated by commas.</p>
 </item>

 <item>
  <p>Click <gui>Save</gui>. If you are not connected to the network, click the network icon on the menu bar and connect. Test the network settings by trying to visit a website or look at shared files on the network, for example.</p>
 </item>

</steps>

</page>
