<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="pref-fullscreen" xml:lang="de">

  <info>
    <link type="guide" xref="index#preferences"/>
    <revision pkgversion="3.6" date="2012-05-09" status="stub"/>
    <revision pkgversion="3.12" date="2014-02-21" status="review"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Den Vollbildmodus ein- oder ausschalten</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Stefan Horning</mal:name>
      <mal:email>stefan@hornings.de</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wolfgang Stöggl</mal:name>
      <mal:email>c72578@yahoo.de</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tobias Endrigkeit</mal:name>
      <mal:email>tobiasendrigkeit@outlook.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Simon Linden</mal:name>
      <mal:email>xhi2018@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title>Vollbild</title>

  <p>So schalten Sie den Vollbildmodus ein oder aus:</p>

  <steps>
    <item><p>Wahlweise klicken Sie auf <guiseq><gui>Cheese</gui><gui>Vollbild</gui></guiseq>.</p></item>
  </steps>

  <p>Wenn Sie im Vollbildmodus das Menü <gui style="menu">Cheese</gui> nicht sehen können, so bewegen Sie Ihre Maus oder tippen Sie Ihren Berührungsbildschirm.</p>

  <note style="tip">
    <p>Sie können den Vollbildmodus auch mit der Taste <key>F11</key> ein- oder ausschalten.</p>
  </note>
</page>
