<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="shell-workspaces-switch" xml:lang="ru">

  <info>
    <link type="guide" xref="shell-windows#working-with-workspaces"/>
    <link type="seealso" xref="shell-workspaces"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>

    <credit type="author">
      <name>Проект документирования GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Использование переключателя рабочих мест.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Александр Прокудин</mal:name>
      <mal:email>alexandre.prokoudine@gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Алексей Кабанов</mal:name>
      <mal:email>ak099@mail.ru</mal:email>
      <mal:years>2011-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Станислав Соловей</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2013-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юлия Дронова</mal:name>
      <mal:email>juliette.tux@gmail.com</mal:email>
      <mal:years>2013-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрий Мясоедов</mal:name>
      <mal:email>ymyasoedov@yandex.ru</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

 <title>Переключение между рабочими местами</title>

 <steps>  
 <title>С помощью мыши:</title>
 <item>
    <p if:test="!platform:gnome-classic">Open the
    <gui xref="shell-introduction#activities">Activities</gui> overview.</p>
  <p if:test="platform:gnome-classic">At the top left of the screen, click the
  <gui xref="shell-introduction#activities">Applications</gui> menu and choose 
  <gui>Activities Overview</gui>.</p>
 </item>
 <item>
  <p>Click on a workspace in the <link xref="shell-workspaces">workspace
  selector</link> on the right side of the screen to view the open windows on
  that workspace.</p>
 </item>
 <item>
  <p>Нажмите на миниатюру любого окна чтобы активировать рабочее место.</p>
 </item>
 </steps>
 
  <p if:test="platform:gnome-classic">Кроме того, переключиться между рабочими местами можно, нажав на идентификатор на правой стороне списка окон нижней панели и выбрав из меню нужное рабочее место.</p>

 <list>
 <title>С помощью клавиатуры:</title>  
  <item>
    <p>Нажмите клавиши <keyseq><key>Super</key><key>Page Up</key></keyseq> для перехода на рабочее место выше текущего в переключателе рабочих столов.</p>
  </item>
  <item>
    <p>Нажмите клавиши <keyseq><key>Super</key><key>Page Down</key></keyseq> для перехода на рабочее место ниже текущего в переключателе рабочих столов.</p>
  </item>
 </list>


</page>
