<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="copy-paste" xml:lang="zh-CN">

  <info>
    <link type="guide" xref="index#edit"/>
    <link type="guide" xref="index#tips"/>
    <link type="guide" xref="index#faq"/>
    <desc>How to copy/paste from the image viewer into
another application.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="editor">
      <name>Fabiana Simões</name>
      <email>fabianapsimoes@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  </info>

<title>Copy and paste a picture</title>
<p>To copy a picture from the image viewer into another application, click
<guiseq><gui>Edit</gui><gui>Copy</gui></guiseq> or right-click on the
picture and choose <gui>Copy</gui>.</p>

<p>The picture has been copied to the <em>clipboard</em>, and can now be pasted into a
<app>LibreOffice</app> document, <app>Gimp</app> image, or other application.</p>

</page>
