<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="archive-extract" xml:lang="es">

  <info>
    <link type="guide" xref="index#managing-archives"/>
    <link type="seealso" xref="archive-open"/>
    <link type="seealso" xref="password-protection"/>
    <link type="seealso" xref="archive-extract-advanced-options"/>
    <revision pkgversion="3.4" date="2011-12-12" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.12" date="2014-03-23" status="review"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email its:translate="no">majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Extraer archivos o carpetas de un archivador</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@tecknolabs.com</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  </info>

  <title>Extraer un archivador</title>

  <p>Extraer archivos de un archivador usando el <app>Gestor de archivadores</app> siguiendo estos pasos:</p>

  <steps>
    <item>
      <p><link xref="archive-open">Abrir</link> un archivador.</p>
    </item>
    <item>
      <p>Pulse <gui style="button">Extraer</gui>.</p>
    </item>
    <item>
      <p>Elija donde quiere extraer el contenido del archivador en el selector de archivos. Consulte las <link xref="archive-extract-advanced-options">opciones avanzadas para extraer archivadores</link> para conocer mas opciones de extracción.</p>
    </item>
    <item>
      <p>Pulse <gui>Extraer</gui>.</p>
    </item>
    <item>
      <p>Si un archivador está protegido con <link xref="password-protection">contraseña</link>, el <app>Gestor de archivadores</app> se la pedirá. Escriba la contraseña y pulse <gui>Aceptar</gui>.</p>
    </item>
    <item>
      <p>La aplicación mostrará la barra de progreso en el diálogo nuevo. Si la extracción termina correctamente, se le preguntará si quiere:</p>
      <list>
        <item>
          <p><gui>Salir</gui> para cerrar el <app>Gestor de archivadores</app></p>
        </item>
        <item>
          <p><gui>Mostrar los archivos</gui> para ver la carpeta de destino en <app>Archivos</app></p>
        </item>
        <item>
          <p><gui>Cerrar</gui> el diálogo.</p>
        </item>
      </list>
    </item>
  </steps>

</page>
