<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="basics" xml:lang="de">
  <info>
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <link type="guide" xref="index#play"/>
    <credit type="author copyright">
      <name>Chris Beiser</name>
      <email>ctbeiser@gmail.com</email>
      <years>2011</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008, 2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2014, 2015.</mal:years>
    </mal:credit>
  </info>

<title>Grundlagen</title>
<p>Sudoku kann mit der Tastatur, mit der Maus oder mit beiden zusammen gespielt werden.</p>

<section id="keyboard">
<title>Mit der Tastatur</title>
<list>
  <item><p>Zum Auswählen eines Kästchens verwenden Sie die Pfeiltasten, um die blaue Umrandung dorthin zu verschieben.</p></item>
  <item><p>Um ein Kästchen mit einer Ziffer zu füllen, wählen Sie das Kästchen aus und drücken Sie die entsprechende Taste.</p></item>
  <item><p>Um eine Ziffer aus einem Kästchen zu löschen, wählen Sie das Kästchen aus und drücken anschließend die <key>Entf</key>-Taste, die <key>Löschtaste</key> oder die Taste <key>0</key>.</p></item>
</list>
</section>


<section id="mouse">
<title>Mit der Maus</title>
<list>
	<item><p>Um ein Kästchen auszuwählen, klicken Sie mit der Maus darauf.</p></item>
	<item><p>Um ein Kästchen mit einer Ziffer zu füllen, klicken Sie in die Mitte des Kästchens und klicken Sie anschließend auf die Ziffer, die Sie eingeben wollen.</p></item>
	<item><p>Um eine Ziffer aus einem ausgewählten Kästchen zu entfernen, klicken Sie in die Mitte des Kästchens und danach auf <gui>Leeren</gui>.</p></item>
	<!--item><p>To add a note to a cell:</p>
		<list type="numbered">
			<item><p>Select it.</p></item>
			<item><p>Click on the top or bottom of the cell.</p></item>
			<item><p>Type the the note with the keyboard.</p></item>
			<item><p>Click anywhere outside the text box.</p></item>
		</list>
	</item>
	<item><p>To remove notes from a cell:</p>
		<list type="numbered">
			<item><p>Select it.</p></item>
			<item><p>Click on the notes.</p></item>
			<item><p>Press the <key>Backspace</key> key on your keyboard.</p></item>
			<item><p>Click anywhere outside of the text box.</p></item>
		</list>
	</item-->
</list>
</section>
</page>
