<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="develop" xml:lang="de">

  <info>
   <link type="guide" xref="index#get-involved"/>
    
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008, 2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2014, 2015.</mal:years>
    </mal:credit>
  </info>

<title>Bei der Entwicklung helfen</title>
 <p>Die <app>GNOME Games</app> werden von einer Gemeinschaft aus Freiwilligen entwickelt und betreut. Sie sind herzlich eingeladen, sich daran zu beteiligen.</p>
 <p>Falls Sie <link href="https://wiki.gnome.org/Apps/Games/Contributing">bei der Entwicklung der <app>GNOME Games</app> helfen möchten</link>, können Sie mit den Entwicklern im <link href="https://cbe005.chat.mibbit.com/?url=irc%3A%2F%2Firc.gnome.org%2Fgnome-games">IRC</link> oder über deren <link href="http://mail.gnome.org/mailman/listinfo/games-list">Mailingliste</link> Kontakt aufnehmen.</p>

</page>
