<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="print-inprogress-game" xml:lang="de">

  <info>
   <link type="guide" xref="index#print"/>
    
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008, 2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2011, 2014, 2015.</mal:years>
    </mal:credit>
  </info>

<title>Ihr Spiel ausdrucken</title>
 <p>Sie können Ihr gespieltes Sudoku auf einem Drucker oder in eine Datei ausdrucken.</p>
 <p>So drucken Sie das aktuell gespielte Sudoku aus:</p>
 <steps>
  <item><p>Klicken Sie auf <guiseq><gui>Spiel</gui><gui>Drucken</gui></guiseq>.</p></item>
  <item><p>Wählen Sie Ihren Drucker aus.</p></item>
  <item><p>Klicken Sie auf <gui>Drucken</gui>.</p></item>
 </steps>
 <note><p>Falls in der Liste kein Drucker erscheint, <link href="https://help.gnome.org/users/gnome-help/stable/printing-setup.html" xref="help:gnome-help/printing-setup">richten Sie einen lokalen Drucker ein </link>.</p></note>

</page>
