<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="user-accounts" xml:lang="es">

  <info>
    <link type="guide" xref="prefs"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.10" date="2013-11-03" status="final"/>
    <revision pkgversion="3.18" date="2015-09-30" status="final"/>

    <credit type="author">
      <name>Proyecto de documentación de GNOME</name>
      <email its:translate="no">gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <title type="link" role="trail">Usuarios</title>
    <desc><link xref="user-add">Añadir usuario</link>, <link xref="user-changepassword">cambiar contraseña</link>, <link xref="user-admin-change">administradores</link>…</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nicolás Satragno</mal:name>
      <mal:email>nsatragno@gnome.org</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Molinero</mal:name>
      <mal:email>paco@byasl.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>Cuentas de usuario</title>

  <!-- TODO: add enterprise user account/login -->
  <p>Cada persona que utiliza el equipo debe tener una cuenta de usuario diferente. Esto le permite mantener sus archivos separados de los suyos y elegir su propia configuración. También es más seguro. Solo puede acceder a una cuenta de otro usuario si conoce la contraseña.</p>

<section id="manage" style="2column">
  <info>
    <title type="link" role="trail">Cuentas</title>
  </info>
  <title>Gestionar las cuentas de usuario</title>
</section>

<section id="passwords" style="2column">
  <title>Contraseñas</title>
</section>

<section id="privileges" style="2column">
  <info>
    <title type="link" role="trail">Privilegios</title>
  </info>
  <title>Privilegios del usuario</title>
</section>

</page>
