<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="process-files" xml:lang="es">
  <info>
    <revision version="0.1" date="2014-01-25" status="review"/>
    <link type="guide" xref="index" group="processes-tasks"/>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    
    <credit type="author copyright">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
      <years>2014</years>
    </credit>

    <desc>Ver los archivos a los que acceden los procesos</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2014 - 2015</mal:years>
    </mal:credit>
  </info>

  <title>Listar los archivos que un proceso ha abierto</title>

  <p>Los procesos algunas veces mantienen archivos abiertos. Pueden ser archivos que esté viendo o editando, o archivos temporales o del sistema que el proceso necesita para funcionar correctamente.</p>
  
  <p>Para ver qué archivos ha abierto un proceso</p>
  <steps>
    <item><p>Busque los procesos en la pestaña <gui>Procesos</gui> y pulse en uno para seleccionarlo.</p></item>
    <item><p>Pulse con el botón derecho sobre el proceso y seleccione <gui>Archivos abiertos</gui>.</p></item>
  </steps>
  
  <p>En la lista de archivos abiertos que aparece, puede encontrar algunos archivos especiales llamados <em>sockets</em>. Estos son una forma que tienen los procesos para comunicarse entre ellos, y no son archivos normales que pueda ver o editar.</p>

</page>
