<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="calendar-caldav" xml:lang="de">

  <info>
    <link type="guide" xref="calendar-using-several-calendars"/>

    <revision pkgversion="3.1.5" version="0.3" date="2011-07-28" status="final"/>

    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name>
      <!-- Content partially from
      http://library.gnome.org/users/evolution/2.32/usage-calendar-multiple.html.en
      -->
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Einen Online-CalDAV-Kalender nutzen.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

  <title>Einen CalDAV-Kalender verwenden</title>

  <p>So fügen Sie einen solchen Kalender in <app>Evolution</app> hinzu:</p>

  <steps>
    <item>
      <p>Klicken Sie auf <guiseq><gui>Datei</gui><gui>Neu</gui><gui>Kalender</gui></guiseq>.</p>
    </item>
    <item>
      <p>Wählen Sie den Typ <gui>CalDAV</gui>.</p>
    </item>
    <item>
      <p>Geben Sie den gewünschten Namen ein.</p>
    </item>
    <item>
      <p>Wählen Sie optional die gewünschte Farbe.</p>
    </item>
    <item>
      <p>Wählen Sie, ob Sie den Inhalt auch sehen können wollen, wenn Sie offline sind.</p>
    </item>
    <item>
      <p>Geben Sie Ihre E-Mail-Adresse in das Feld <gui>E-Mail-Adresse</gui> ein.</p>
    </item>
    <item>
      <p>Wählen Sie <gui>Sichere Verbindung verwenden</gui>, wenn Sie sich sicher verbinden wollen.</p>
    </item>
    <item>
      <p>Bitte geben Sie Ihren Benutzernamen und Ihre E-Mail-Adresse ein.</p>
    </item>
    <item>
      <p>Klicken Sie auf <gui style="button">Anwenden</gui>.</p>
    </item>
  </steps>

  <p>Der Kalender wird daraufhin zu der Liste der Kalendern in <app>Evolution</app> hinzugefügt.</p>

</page>
