<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-change-columns-in-message-list" xml:lang="de">

  <info>
    <desc>Bearbeiten der Spalten in der Nachrichtenliste.</desc>
    
    <link type="guide" xref="mail-layout-changing"/>

    <revision pkgversion="3.5.92" version="0.4" date="2012-09-14" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

  <title>Die Spalten der E-Mail-Liste ändern</title>

<p>Wenn Sie die Spalten in der E-Mail-Nachrichtenliste ändern möchten, so klicken Sie mit der rechten Maustaste auf die Spaltenköpfe und wählen Sie entweder <gui>Spalte hinzufügen …</gui> oder <gui>Diese Spalte entfernen</gui>.</p>
<note style="tip"><p>Wenn Sie einen kleinen Bildschirm verwenden, so können Sie die Spalte <gui>Betreff</gui> durch die Spalte <gui>Betreff - Gekürzt</gui> ersetzen. Dadurch werden Präfixe wie z.B. »Aw:« entfernt. Zusätzlich können Sie die Spalte <gui>Von</gui>, welche Absendernamen und E-Mail-Adresse angibt, durch die Spalte <gui>Absender</gui> ersetzen, so dass nur der Absendername dargestellt wird.</p></note>

<note style="tip"><p>Wenn Sie die gleiche Spaltenanordnung in allen E-Mail-Ordnern außer dem <gui>Verschickt</gui>-Ordner haben möchten, so aktivieren Sie bitte <guiseq><gui>Bearbeiten</gui><gui>Einstellungen</gui><gui>E-Mail-Einstellungen</gui><gui>Allgemein</gui><gui>Ansichtseinstellungen auf alle Ordner anwenden</gui></guiseq>. Beachten Sie, dass diese Einstellung ebenfalls die Sichtbarkeit von <link xref="mail-sorting-message-list#email-threads"><gui>Nach Threads gruppieren</gui></link> und der <gui>Nachrichtenvorschau</gui> in allen Ordnern betrifft.</p></note>
</page>
