<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-encryption-gpg-decrypting" xml:lang="de">

  <info>
    <desc>Empfangene GPG-Nachrichten entschlüsseln und die Signatur prüfen.</desc>

    <link type="guide" xref="mail-encryption#gpg"/>

    <revision pkgversion="2.32.1" version="0.1" date="2011-01-05" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/encryption.html.en#unencrypting -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

  <title>Empfangen mit GPG verschlüsselter oder signierter Nachrichten</title>

<section id="decryption">
<title>Eine empfangene Nachricht entschlüsseln</title>
<p>Wenn Sie eine verschlüsselte Nachricht erhalten, so müssen Sie diese entschlüsseln bevor Sie sie lesen können.</p>
<p>Wenn Sie die verschlüsselte Nachricht betrachten, fragt Sie Evolution nach Ihrem PGP-Passwort. Nach Eingabe wird die unverschlüsselte Nachricht angezeigt.</p>
<note style="tip"><p>Der Absender benötigt Ihren öffentlichen GPG-Schlüssel, bevor er Ihnen eine verschlüsselte Nachricht schicken kann.</p></note>
</section>

<section id="signature">
<title>Die Signatur einer empfangenen Nachricht überprüfen</title>
<p>Fahren Sie zum Prüfen der Sendersignatur einer erhaltenen Nachricht ans Ende der Nachricht und klicken Sie auf das Logo. Evolution zeigt daraufhin die <gui>Sicherheitsinformationen</gui> zur Nachricht.</p>
</section>
</page>
