<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-receiving-options-usenet-news" xml:lang="de">

  <info>
    <desc>Empfangsoptionen für Usenet-Konten.</desc>

    <link type="guide" xref="mail-receiving-options#common-server-types"/>
    <link type="guide" xref="mail-account-manage-usenet-news#receiving-email"/>
    <revision pkgversion="3.0.2" version="0.2" date="2011-07-30" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mainwindow-starting.html.en#bsthqql -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

  <title>Empfangsoptionen für Usenet-Nachrichten</title>

<section id="receiving-email-usenet-news">
<title>Abrufen von E-Mails</title>

<p>Auf der Seite <gui>Abrufen von E-Mails</gui> (abrufbar unter <guiseq><gui>Bearbeiten</gui><gui>Einstellungen</gui><gui>E-Mail-Konten</gui><gui style="button">Bearbeiten</gui><gui>Abrufen von E-Mails</gui></guiseq>):</p>

<list>
<item><p>Geben Sie die Adresse des E-Mail-Servers in das Feld <gui>Server</gui> und Ihren Benutzernamen für diesen Server ein.</p></item>
<item><p>Wählen Sie aus, ob Sie eine sichere Verbindung (SSL oder TLS) verwenden möchten.</p><p>Sie sollten diese Funktion aktivieren, falls sie von Ihrem Server unterstützt wird.</p>
<note style="tip"><p>Kostenlose Webmail-Provider veröffentlichen normalerweise Informationen darüber, welche Optionen Sie zum Verbinden nutzen können. Falls Sie in einer Firma oder einer Organisation arbeiten, so fragen Sie bitte Ihren System-Administrator für weitere Informationen.</p></note></item>
<item><p>Wählen Sie Ihren Legitimierungstyp in der Legitimierungsliste, oder klicken Sie auf <gui style="button">Prüfen, welche Typen unterstützt werden</gui>, damit Evolution die verfügbaren Legitimationsarten abruft. Einige Server veröffentlichen nicht die verfügbaren Legitimationsarten, daher kann Evolution nicht garantieren, dass das Anklicken des Knopfes funktioniert.</p></item>
<item><p>Wählen Sie, ob Evolution sich an Ihr Passwort erinnern soll.</p></item>
</list>

</section>

<section id="receiving-options-usenet-news">
<title>Empfangsoptionen</title>

<p>Auf der Seite <gui>Empfangsoptionen</gui> (abrufbar unter <guiseq><gui>Bearbeiten</gui><gui>Einstellungen</gui><gui>E-Mail-Konten</gui><gui style="button">Bearbeiten</gui><gui>Empfangsoptionen</gui></guiseq>):</p>

<list>
<item><p>Wenn Evolution automatisch nach neuen Nachrichten schauen soll, so wählen Sie die Option <gui>Automatisch nach neuen E-Mails sehen alle … Minuten</gui> und legen Sie das Zeitintervall in Minuten fest.</p></item>
<item><p>Wählen Sie, ob Ordner in Kurznotation angezeigt werden sollen.</p>
<p>comp.os.linux würde zum Beispiel als c.o.linux dargestellt werden.</p></item>
<item><p>Wählen Sie, ob relative Ordnernamen im <link xref="mail-imap-subscriptions">Abonnementdialog</link> angezeigt werden sollen.</p>
<p>Wenn Sie wählen, dass relative Ordnernamen im Abonnementdialog angezeigt werden sollen, so wird nur der Name des Ordners angezeigt. Zum Beispiel würde der Ordner »evolution.mail« als »evolution« dargestellt werden.</p></item>
</list>

</section>

</page>
