<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-received-notification" xml:lang="de">

  <info>
    <desc>Optionen für Benachrichtigungen für neu eingegangene Nachrichten.</desc>

    <link type="guide" xref="mail-send-and-receive"/>
    <link type="seealso" xref="calendar-alarms-and-reminders"/>

    <revision pkgversion="3.0.2" version="0.5" date="2013-06-20" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

<title>Benachrichtigungen bei neuen E-Mails</title>

<p>Evolution benachrichtigt Sie immer über neue Nachrichten mit einem gelben Sternchen, dass dem Symbol des E-Mail-Programms im <link xref="change-switcher-appearance">Umschalter</link> vorangestellt wird.</p>
<!-- Translators: Please make sure that the screenshot does have the small yellow star in the Mail icon -->
<media type="image" src="./figures/new-mail-switcher.png" width="256">
  <p>Layout der Umschalter-Knöpfe, sobald eine neue Nachricht eingetroffen ist</p>
</media>

<p>Damit Sie auch über neue Nachrichten im GNOME-Benachrichtigungsbereich unten auf dem Bildschirm informiert werden, stellen Sie bitte sicher, dass <guiseq><gui>Bearbeiten</gui><gui>Plugins</gui><gui>E-Mail-Benachrichtigung</gui></guiseq> aktiviert ist und Ihre gewünschten Optionen im Reiter <gui>Konfiguration</gui> festgelegt sind.</p>
<!-- TODO: This screenshot might be outdated in 3.8 with the new notification section down there -->
<media type="image" src="./figures/new-mail-notification.png" width="512">
  <p>Layout der Umschalter-Knöpfe, sobald eine neue Nachricht eingetroffen ist</p>
</media>

<!-- TODO: Quite short; plus recheck once https://bugzilla.gnome.org/show_bug.cgi?id=653699 is fixed -->

</page>
