<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-access-gmail-imap-account" xml:lang="de">

  <info>
    <desc>So richten Sie ein GMail-IMAP-Konto ein.</desc>
    
    <link type="guide" xref="index#common-mail-problems"/>
    <link type="guide" xref="google-services"/>
    <link type="seealso" xref="mail-account-manage-imap-plus"/>

    <revision pkgversion="3.13.90" version="0.3" date="2015-03-09" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

<!-- Page only exists for the <note>, apart from that nothing special. -->

<title>Zugriff auf ein GMail-IMAP-Konto mit Evolution</title>

<p>Informieren Sie sich bitte über <link xref="mail-account-manage-imap-plus">E-Mail-Konteneinstellungen für IMAP+</link>.</p>

<p>Für hohe Geschwindigkeit wird empfohlen <gui>einen realen Ordner für den Papierkorb</gui> zu verwenden, indem er auf <gui>[GMail]/Trash</gui> und auf <gui>Einen realen Ordner für unerwünschte E-Mails</gui> eingestellt wird, indem er unter den <link xref="mail-default-folder-locations"><gui>Vorgaben</gui></link> des Kontos auf <gui>[GMail]/Spam</gui> eingestellt wird.</p>

<note style="important"><p>Um auf Gmail via IMAP zuzugreifen, müssen Sie IMAP für Ihr Google-Konto einschalten. Lesen Sie die <link href="https://mail.google.com/support/bin/answer.py?answer=77695">Gmail-Hilfe</link> für weitere Informationen.</p></note>

</page>
