<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="mail-search-folders" xml:lang="de">

  <info>
    <desc>Verwenden Sie Suchordner, um Nachrichten in einem Ordner zu lesen, während diese in den ursprünglichen Ordnern verbleiben.</desc>

    <link type="guide" xref="mail-organizing#advanced"/>

    <revision pkgversion="3.0.2" version="0.3" date="2011-07-30" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mail-organize-vfolders.html.en -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

  <title>Suchordner benutzen</title>
  
<p>Wenn <link xref="mail-filters">Filter</link> nicht flexibel genug sind oder Sie häufig die gleiche <link xref="mail-searching">Suche</link> ausführen, so sollten Sie Suchordner in Betracht ziehen.</p>

<p>Ein Suchordner sieht wie ein normaler <link xref="mail-folders">Ordner</link> aus, verhält sich wie eine <link xref="mail-searching">Suche</link> und wird wie ein <link xref="mail-filters">Filter</link> erstellt. In anderen Worten: Ein normaler Ordner enthält physische E-Mail-Nachrichten, ein Suchordner hingegen ist eine Übersicht über Nachrichten, die sich physikalisch in verschiedenen Ordnern befinden. Die Nachrichten in einem Suchordner werden anhand einer Zahl Kriterien ermittelt, die Sie zuvor bei der Erstellung des Suchordners festgelegt haben.</p>

<p>Evolution aktualisiert automatisch den Inhalt von Suchordnern, sobald eine Nachricht gelöscht oder eine neue empfangen wird.</p>

<p>Der Suchordner <gui>Nicht einsortiert</gui> ist das Gegenteil zu den anderen Suchordnern: Er zeigt all jene Nachrichten an, die in keinem anderen Suchordner angezeigt werden.</p>

<p>Falls Sie einen entfernten E-Mail-Speicher wie IMAP verwenden und Suchordner für diese erstellt haben, so durchsucht der Suchordner <gui>Nicht einsortiert</gui> auch diese E-Mails. Falls Sie keine Suchordner erstellt haben, die entfernte (nicht-lokale) E-Mails durchsuchen sollen, so sind diese auch nicht im Suchordner <gui>Nicht einsortiert</gui> enthalten.</p>

</page>
