<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="mail-composer-priority" xml:lang="de">

  <info>
    <desc>So legen Sie eine Dringlichkeit für zu verschickende Nachrichten fest.</desc>

    <link type="guide" xref="index#mail-composing-advanced"/>

    <revision pkgversion="3.13.90" version="0.3" date="2015-03-09" status="draft"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mail-getnsend-send.html.en#BJEHCDFA -->
 </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

<title>Ausgehende Nachrichten priorisieren</title>

<p>Sie können eine zu sendende Nachricht priorisieren, so dass der Empfänger die Wichtigkeit der Nachricht erkennen kann. Um eine Nachricht zu priorisieren, klicken Sie auf <guiseq><gui>Optionen</gui><gui>Nachricht priorisieren</gui></guiseq> im Menü des E-Mail-Editors, oder klicken Sie auf das entsprechende Symbol in der Werkzeugleiste.</p>

<note style="tip"><p>Evolution ignoriert die Prioritäten von eingehenden Nachrichten, da angenommen wird, dass der Empfänger entscheiden sollte, ob eine Nachricht wichtig ist oder nicht. Jede Nachricht kann als »wichtig« markiert werden.</p></note>
<!-- TODO: Nowhere is explained how to set the Important flag. -->
</page>
