<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="mail-composer-message-templates" xml:lang="de">

  <info>
 <desc>Nachrichtenvorlagen für den E-Mail-Editor.</desc>

 <link type="guide" xref="index#mail-composing-advanced"/>

 <revision pkgversion="3.5.90" version="0.3" date="2012-08-17" status="draft"/>
 <credit type="author">
   <name its:translate="no">Andre Klapper</name>
   <email its:translate="no">ak-47@gmx.net</email>
 </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/b1dlaazl.html.en -->
 </credit>
 
 <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

<title>Nachrichtenvorlagen</title>
<p>Eine Nachrichtenvorlage ist eine Standardnachricht, welche Sie zum wiederholten Versenden von Nachrichten mit demselben Muster verwenden können.</p>
<p>Zur Aktivierung des Plugins für Nachrichtenvorlagen klicken Sie auf <guiseq><gui>Bearbeiten</gui><gui>Plugins</gui></guiseq> und aktivieren <gui>Nachrichtenvorlagen</gui>.</p>

  <section id="options">
    <title>Nachrichtenvorlagen</title>
  </section>

</page>
