<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="problems-getting-help" xml:lang="de">

  <info>
    <desc>So erhalten Sie Hilfe bei Problemen.</desc>
    
    <link type="guide" xref="index#tracking-down-problems"/>
    <link type="seealso" xref="problems-reporting-bugs"/>

    <revision pkgversion="3.5.3" version="0.7" date="2012-06-15" status="draft"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andre Klapper</mal:name>
      <mal:email>ak-47@gmx.net</mal:email>
      <mal:years>2007, 2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2009-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2009, 2010, 2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>


<title>Hilfe erhalten</title>

<p>Um Hilfe bei Problemen zu erhalten, können Sie eine E-Mail an die <link href="http://mail.gnome.org/mailman/listinfo/evolution-list">Mailing-Liste von Evolution</link> senden oder kontaktieren Sie die Entwickler und andere Benutzer im IRC-Chat im Kanal #evolution auf dem Server irc.gimp.net. Verwenden Sie z.B. <link xref="help:empathy/irc-manage" href="https://help.gnome.org/users/empathy/stable/irc-manage">die Internet-Sofortnachrichtenanwendung <app>Empathy</app></link>, um sich mit einem IRC-Server zu verbinden.</p>
</page>
