<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="exporting-data-mail" xml:lang="fr">

  <info>
    <desc>Comment exporter des données de courriel à partir d'<app>Evolution</app>.</desc>

    <link type="guide" xref="exporting-data"/>

    <revision pkgversion="3.0.2" version="0.4" date="2013-04-20" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
        

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marc Lorber</mal:name>
      <mal:email>Linux-Lorber@club-internet.fr</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jonathan Ernst</mal:name>
      <mal:email>jonathan@ernstfamily.ch</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2007-2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Franke</mal:name>
      <mal:email>alexandre.franke@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2012 </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alain Lojewski</mal:name>
      <mal:email>allomervan@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

<title>Exportation de courriels</title>

<p>To save an email to a file in <link href="https://en.wikipedia.org/wiki/Mbox">mbox</link> format, select an email and click <guiseq><gui>File</gui><gui>Save as mbox…</gui></guiseq> or right-click on the message and click <gui>Save as mbox…</gui>.</p>

<p>Les mêmes étapes s'appliquent pour enregistrer un dossier de courriel complet mais vous devez sélectionner tous les messages le contenant d'abord.</p>
<p>Pour sélectionner tous les messages d'un dossier, cliquez sur <guiseq><gui>Édition</gui><gui>Tout sélectionner</gui></guiseq> ou pressez <keyseq><key>Ctrl</key><key>A</key></keyseq>.</p>

</page>
