<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-localized-re-subjects" xml:lang="fr">

  <info>
    <desc>Éviter les longues lignes sujet dues aux préfixes « Re :  » traduits.</desc>
    
    <link type="guide" xref="index#common-mail-problems"/>

    <revision pkgversion="3.5.90" version="0.1" date="2012-08-16" status="review"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marc Lorber</mal:name>
      <mal:email>Linux-Lorber@club-internet.fr</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jonathan Ernst</mal:name>
      <mal:email>jonathan@ernstfamily.ch</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2007-2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Franke</mal:name>
      <mal:email>alexandre.franke@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2012 </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alain Lojewski</mal:name>
      <mal:email>allomervan@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

<title>Gestion des « Re :  » traduits dans les sujets</title>

<p>Un préfixe « Re :  » est habituellement ajouté à la ligne sujet lors de la réponse à un courriel. Certains programmes de courriel utilisent des termes traduits (comme « SV: » en danois ou « AW:  » en allemand). <app>Evolution</app> peut reconnaître ces termes pour éviter que les lignes sujets ne deviennent trop longues au fur et à mesure que la conversation se poursuit.</p>

<list>
<item><p>Ouvrez l'application <app>Terminal</app>.</p></item>
<item><p>Run the command <cmd>gsettings set org.gnome.evolution.mail composer-localized-re 'AW,SV'</cmd> (in case that you want "AW:" and "SV:" to be recognized).</p></item>
</list>
<p>Vous pouvez aussi utiliser l'application <gui>dconf-editor</gui> pour faire cela.</p>

<!-- As per https://bugzilla.gnome.org/show_bug.cgi?id=661087#c6 -->

</page>
