<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-receiving-options-pop" xml:lang="fr">

  <info>
    <desc>Options de réception pour les comptes POP.</desc>

    <link type="guide" xref="mail-receiving-options#common-server-types"/>
    <link type="guide" xref="mail-account-manage-pop#receiving-email"/>
    <revision pkgversion="3.1.5" version="0.5" date="2013-06-22" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Barbara Tobias</name>
      <email its:translate="no">barbtobias09@gmail.com</email>
    </credit>
    <credit type="author">
      <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mainwindow-starting.html.en -->
    </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marc Lorber</mal:name>
      <mal:email>Linux-Lorber@club-internet.fr</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jonathan Ernst</mal:name>
      <mal:email>jonathan@ernstfamily.ch</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2007-2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Franke</mal:name>
      <mal:email>alexandre.franke@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2012 </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alain Lojewski</mal:name>
      <mal:email>allomervan@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>Options de réception POP</title>

<section id="receiving-email-pop">
<title>Réception du courriel</title>

<p>Dans l'onglet <gui>Réception du courriel</gui> (accessible via <guiseq><gui>Édition</gui><gui>Préférences</gui><gui>Compte de messagerie</gui><gui style="button">Édition</gui><gui>Réception du courriel</gui></guiseq>) :</p>

<list>
<item><p>Saisissez l'adresse du serveur de courriel dans le champ <gui>Serveur</gui> et saisissez votre nom d'utilisateur sur ce serveur.</p></item>
<item><p>Cochez si vous voulez utiliser une connexion sécurisée (SSL ou TLS).</p><p>Vous devriez activer cette option si votre serveur la prend en charge.</p>
<note style="tip"><p>Les fournisseurs de messagerie Web gratuite fournissent en général des informations sur la possibilité d'utiliser ces options. Si vous êtes dans un environnement d'organisation, contactez votre administrateur système pour obtenir de plus amples informations.</p></note></item>
<item><p>Sélectionnez le type d'authentification dans la liste Authentification ou cliquez sur <gui style="button">Vérifier les types pris en charge</gui> pour qu'Evolution vérifie les mécanismes d'authentification pris en charge. Certains serveurs ne signalent pas les mécanismes d'authentification qu'ils prennent en charge, ce qui signifie que cette fonction ne garantit pas que les mécanismes disponibles fonctionnent réellement.</p></item>
<item><p>Cochez si vous souhaitez qu'Evolution se souvienne de votre mot de passe.</p></item>
</list>

</section>

<section id="receiving-options-pop">
<title>Options de réception</title>

<p>Dans l'onglet <gui>Options de réception</gui> (accessible via <guiseq><gui>Édition</gui><gui>Préférences</gui><gui>Compte de messagerie</gui><gui style="button">Édition</gui><gui>Options de réception</gui></guiseq>) :</p>

<list>
<item><p>If you want Evolution to check automatically for new messages, click the <gui>Check for new messages every … minutes</gui> option and select the frequency in minutes.</p></item>
<item><p>Si vous voulez que les messages restent sur le serveur pendant un certain temps, cliquez sur les options <gui>Conserver les messages sur le serveur</gui> et <gui>Supprimer après ... jours</gui> et sélectionnez le nombre de jours pendant lesquels les messages restent sur le serveur.</p></item>
<item><p>L'option <gui>Désactiver le support de toutes les extensions POP3</gui> n'est utile que lors d'accès à des serveurs de courriels anciens ou mal configurés. Les <link href="https://tools.ietf.org/html/rfc2449">extensions POP3</link> améliorent les fonctionnalités, cependant seuls quelques serveurs les prennent en charge. En cas de problèmes de réception de courriel, activer ce paramètre peut vous aider.</p></item>
</list>

</section>

</page>
