<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="mail-composer-html-link" xml:lang="fr">

  <info>
    <desc>Insérer un lien vers un site Web dans l'éditeur de messages.</desc>
    <link type="guide" xref="mail-composer-html#formatting-options-html"/>

    <revision pkgversion="3.5.90" version="0.4" date="2012-08-16" status="final"/>
    <credit type="author">
      <name its:translate="no">Andre Klapper</name>
      <email its:translate="no">ak-47@gmx.net</email>
    </credit>
 <credit type="author">
   <name its:translate="no">Novell, Inc</name> <!-- Content partially from http://library.gnome.org/users/evolution/2.32/usage-mail-getnsend-send.html.en#bsait2a -->
 </credit>
    
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marc Lorber</mal:name>
      <mal:email>Linux-Lorber@club-internet.fr</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jonathan Ernst</mal:name>
      <mal:email>jonathan@ernstfamily.ch</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2007-2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Franke</mal:name>
      <mal:email>alexandre.franke@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2012 </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alain Lojewski</mal:name>
      <mal:email>allomervan@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

<title>Insertion d'un lien en HTML</title>


<p>Vous pouvez insérer un lien dans le courriel :</p>
<steps>
<item><p>Sélectionnez le texte que vous voulez transformer en lien.</p></item>
<item><p>Either click <guiseq><gui>Insert</gui><gui>Link…</gui></guiseq> in the menubar, or right-click on the selected text and click <gui>Insert Link</gui>.</p></item>
<item><p>Saisissez l'adresse dans le champ <gui>URL</gui>.</p></item>
<item><p>Cliquez sur <gui>Fermer</gui>.</p></item>
</steps>

<p>Alternately, you can also use the <media type="image" its:translate="no" src="./figures/html-composer-insert-link.png"/> icon in the second bar below the <gui>Subject</gui> line.</p>

<p>Si vous ne souhaitez pas choisir un texte particulier pour le texte du lien, vous pouvez simplement saisir l'adresse telle quelle et Evolution reconnaîtra qu'il s'agit d'un lien.</p>
</page>
