<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="plugin-zoom-width" xml:lang="pt-BR">

  <info>
   <link type="guide" xref="index#plugins"/>
   <desc>Adjusts the zoom to fit a picture's full width into the window.</desc>

   <revision pkgversion="3.2" version="0.1" date="2011-09-06" status="final"/>
   <credit type="author">
     <name>Tiffany Antopolski</name>
     <email>tiffany.antopolski@gmail.com</email>
   </credit>
   <license>
     <p>Creative Commons Atribuição-Compartilhada Igual 3.0</p>
   </license>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Amadeu A. Barbosa Júnior</mal:name>
      <mal:email>amadeu@gmail.com</mal:email>
      <mal:years>2007.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rodrigo Flores</mal:name>
      <mal:email>rodrigomarquesflores@gmail.com</mal:email>
      <mal:years>2008.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leonardo Ferreira Fontenelle</mal:name>
      <mal:email>leo.fontenelle@gmail.com</mal:email>
      <mal:years>2008.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leonardo Gregianin</mal:name>
      <mal:email>leogregianin@gmail.com</mal:email>
      <mal:years>2008.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Djavan Fagundes</mal:name>
      <mal:email>djavan@comum.org</mal:email>
      <mal:years>2010.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Krix Apolinário</mal:name>
      <mal:email>krixapolinario@gmail.com</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2012, 2013.</mal:years>
    </mal:credit>
  </info>

<title>Zoom to fit picture width</title>

<p>Activate the <app>Zoom to fit image width</app> plugin if you want pictures 
to be expanded to fill the full width of the window.</p>

<p>To do this, click <guiseq><gui>Edit</gui><gui>Preferences</gui></guiseq> and 
go to the <gui>Plugins</gui> tab. Then, check <gui>Zoom to fit image width</gui> 
and click <gui>Close</gui>.</p>

<p>In order to add this functionality, you will need to have installed <link xref="plugins">eog-plugins</link>.</p>

</page>
