<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="view" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="index#viewing"/>
    <desc>Press <key>Left</key> and <key>Right</key> to flip between pictures, or use the image gallery to show them all.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
  <credit type="author">
    <name>Tiffany Antopolski</name>
    <email>tiffany.antopolski@gmail.com</email>
  </credit>
  <license>
   <p>Creative Commons Atribuição-Compartilhada Igual 3.0</p>
  </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Amadeu A. Barbosa Júnior</mal:name>
      <mal:email>amadeu@gmail.com</mal:email>
      <mal:years>2007.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rodrigo Flores</mal:name>
      <mal:email>rodrigomarquesflores@gmail.com</mal:email>
      <mal:years>2008.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leonardo Ferreira Fontenelle</mal:name>
      <mal:email>leo.fontenelle@gmail.com</mal:email>
      <mal:years>2008.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leonardo Gregianin</mal:name>
      <mal:email>leogregianin@gmail.com</mal:email>
      <mal:years>2008.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Djavan Fagundes</mal:name>
      <mal:email>djavan@comum.org</mal:email>
      <mal:years>2010.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Krix Apolinário</mal:name>
      <mal:email>krixapolinario@gmail.com</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2012, 2013.</mal:years>
    </mal:credit>
  </info>
<title>View all pictures in a folder</title>

<p>You can quickly browse through all of the pictures in a folder by opening one of the pictures and then clicking <gui>Next</gui> and <gui>Previous</gui> (for example). You can also view an <em>image gallery</em>, with small previews of all of the pictures in a folder shown at once.</p>

<section id="browse">
 <title>Browse through all pictures in a folder</title>
 <p>If you have a folder containing several pictures, you can conveniently 
 browse through all of the pictures without having to open them individually.</p>
 <steps>
  <item>
   <p><link xref="open">Open</link> any one of the pictures from the folder 
   you want to browse through.</p>
  </item>
  <item>
   <p>Click <gui>Next</gui> and <gui>Previous</gui> in 
   the <link xref="toolbar">toolbar</link>, or press the <key>Right</key> and 
   <key>Left</key> keys, to flip between pictures.</p>
   <p>Alternatively, you can use the <key>Up</key> and <key>Down</key> keys, 
   or <key>Space bar</key> and <key>Backspace</key> keys. You can also click 
   <guiseq><gui>Go</gui><gui>Previous Image</gui></guiseq> and 
   <guiseq><gui>Go</gui><gui>Next Image</gui></guiseq>.</p>
  </item>
  <item>
   <p>You can browse through the pictures in fullscreen mode by clicking
<guiseq><gui>View</gui><gui>Fullscreen</gui></guiseq> or by pressing
<key>F11</key>. Use the keyboard keys to flip between pictures in fullscreen 
mode.</p>
 <p>To return to normal viewing, press <key>Esc</key> or <key>F11</key>.</p>
  </item>
 </steps>
</section>


<section id="image-gallery"><title>Browse the image gallery</title>
 <p>The <em>image gallery</em> shows small previews (thumbnails) of all of 
 the pictures in a folder at once. This makes it easier to quickly browse 
 through large collections of pictures.</p>
 
 <steps>
  <item> 
   <p>To show the image gallery, click <guiseq><gui>View</gui><gui>Image 
  Gallery</gui></guiseq>, or press <key>F9</key>.</p>
  </item>
  <item>
   <p>Clique em uma imagem da galeria para mostrá-la em tamanho completo.</p>
   <p>You can also use the <key>Left</key> and <key>Right</key> keys to skip 
   through the pictures in the gallery</p>
  </item>
  <item>
   <p>To hide the gallery, click <guiseq><gui>View</gui><gui>Image 
   Gallery</gui></guiseq> again, or press <key>F9</key>.</p>
  </item>
 </steps>
 </section>
</page>
