<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="backup-frequency" xml:lang="fr">

  <info>
    <link type="guide" xref="files#backup"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Le projet de documentation GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Apprendre à estimer la fréquence de sauvegarde des fichiers importants pour votre sécurité.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Luc Pionchon</mal:name>
      <mal:email>pionchon.luc@gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Claude Paroz</mal:name>
      <mal:email>claude@2xlibre.net</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alain Lojewski</mal:name>
      <mal:email>allomervan@gmail.com</mal:email>
      <mal:years>2011-2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2011, 2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2011-12</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>yanngnome</mal:name>
      <mal:email>yannubuntu@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nicolas Delvaux</mal:name>
      <mal:email>contact@nicolas-delvaux.org</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mickael Albertus</mal:name>
      <mal:email>mickael.albertus@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Franke</mal:name>
      <mal:email>alexandre.franke@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

<title>Fréquence des sauvegardes</title>

  <p>La fréquence de vos sauvegardes dépend du type de données à traiter. Par exemple, si vous exploitez un serveur réseau avec beaucoup de données sensibles, alors même une sauvegarde chaque nuit n'est sans doute pas encore suffisante.</p>

  <p>Inversement, si vous sauvegardez les données de votre ordinateur personnel, alors un enregistrement par heure est certainement inutile. Tenez compte des éléments suivants pour planifier la fréquence des sauvegardes :</p>

<list style="compact">
<item><p>le temps passé sur votre ordinateur,</p></item>
<item><p>combien de fois et dans quelles proportions les données de l'ordinateur sont-elles modifiées.</p></item>
</list>

  <p>Par exemple, si les données à sauvegarder sont des fichiers qui ne changent pas beaucoup comme de la musique, des courriels ou des photos de famille, ou si elles ne sont pas vraiment très importantes, une sauvegarde hebdomadaire ou mensuelle suffit. Par contre, si vous êtes au milieu d'un redressement fiscal, sauvegardez les fichiers concernés beaucoup plus souvent.</p>

  <p>En règle générale, le délai entre deux sauvegardes ne doit pas excéder le temps qui vous est nécessaire pour refaire le travail éventuellement perdu. Par exemple, si vous estimez trop long de passer une semaine pour réécrire les documents perdus, alors faites au minimum une sauvegarde par semaine.</p>

</page>
