<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="rules" xml:lang="it">

  <info>
   <link type="guide" xref="index#play"/>
   <link type="seealso" xref="highlighting"/>    
    <revision pkgversion="3.4" version="0.1" date="2012-03-08" status="final"/>
    <credit type="author copyright">
      <name>Thomas Hinkle</name>
      <email>tmhinkle@gmail.com</email>
      <years>2011</years>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

<title>Game rules</title>
<p>In order to complete the puzzle, you must fill each cell with a number between 1 and 9, inclusive, such that no number is repeated in any row, column or 3x3 box. 
</p>
<p>
In a solved sudoku, each row, column, and 3x3 box contains all the numbers 1 through 9. 
</p>
<p>
Each puzzle has only one solution.</p>

<figure>
  <desc>Outline of a row, a column and a 3x3 box using highlighting option.</desc>
  <media type="image" mime="image/png" src="figures/rowcolumnbox.png" width="400" its:translate="no"/>
</figure>
</page>
