<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="tip" id="backup-why" xml:lang="es">

  <info>
    <link type="guide" xref="files#backup"/>
    <desc>Por qué, qué, cuándo y como hacer copias de seguridad.</desc>
    <title type="link" role="trail">Copias de seguridad</title>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <credit type="author">
      <name>Proyecto de documentación de GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Hacer copias de seguridad de sus archivos importantes</title>

  <p><em>Respaldar</em> sus archivos simplemente significa crear una copia de estos para su custodia. Esto se hace en el caso de que los archivos originales no se puedan utilizar debido a la pérdida o la corrupción. Estas copias se pueden utilizar para restaurar los datos originales en caso de pérdida. Las copias deben ser almacenados en un dispositivo diferente a los archivos originales. Por ejemplo, puede utilizar una unidad USB, un disco duro externo, un CD/DVD, o un servicio fuera del equipo.</p>

  <p>La mejor manera de respaldar sus archivos es hacerlo de forma regular, manteniendo las copias en ubicaciones separadas y (posiblemente) cifradas.</p>

<links type="topic" style="2column"/>

</page>
