<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="backup-check" xml:lang="es">

  <info>
    <link type="guide" xref="files#backup"/>
    <desc>Compruebe que su copia de seguridad sea correcta.</desc>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-09-07" status="review"/>

    <credit type="author">
      <name>Proyecto de documentación de GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Compruebe su copia de seguridad</title>

  <p>Después que haga una copia de seguridad de sus archivos, debe asegurarse de que la copia de seguridad se ha realizado correctamente. Si la copia de seguridad no se creo correctamente podría perder datos importantes, ya que algunos archivos podrían no aparecer en la copia de seguridad.</p>

   <p>Cuando utiliza el gestor de archivos para copiar o mover archivos, el equipo se asegura de que todos los datos se hayan transferido correctamente. Sin embargo, si está transfiriendo datos muy importantes para usted, es posible que quiera realizar una comprobación adicional para confirmar que sus datos se han transferido correctamente.</p>

  <p>Puede hacer una comprobación adicional mirando los archivos copiados y carpetas en el lugar de destino. Mediante la comprobación puede asegurarse de que los archivos y carpetas están copiados correctamente en la copia de seguridad,  puede tener la confianza adicional de que el proceso se ha realizado correctamente.</p>

  <note style="tip"><p>Si usted realiza regularmente copias de seguridad de sus datos, puede que le resulte más fácil usar un programa de copia de seguridad dedicado, como <app>Déjà Dup</app>. Tal programa es más potente y más fiable que copiar y pegar archivos.</p></note>

</page>
