<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documents-print" xml:lang="es">

  <info>
    <credit type="author copyright">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>Imprimir documentos que están almacenados localmente o en línea.</desc>
    <link type="guide" xref="documents#print"/>
    <revision pkgversion="3.5.90" date="2012-09-05" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Imprimir un documento</title>

  <p>Para imprimir un documento:</p>

  <steps>
   <item><p>Pulse el botón <gui>✓</gui>.</p></item>
   <item><p>En el modo de selección, marque el documento a ser impreso.</p></item>
   <item><p>Pulse el botón Imprimir en la barra de botones. Se abre el diálogo <gui>Imprimir</gui>.</p></item>
  </steps>

  <note>
   <p>La impresión no está disponible cuando se seleccione más de un documento o cuando se seleccione una colección.</p>
  </note>

</page>
