<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="documents-search" xml:lang="es">

  <info>
    <credit type="author copyright">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    <desc>Encuentre sus documentos por título o autor.</desc>
    <link type="guide" xref="documents#view"/>
    <revision pkgversion="3.5.90" date="2012-09-05" status="review"/>
    <revision version="13.10" date="2013-10-24" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Buscar archivos</title>

  <p>Para comenzar una búsqueda en <app>Documentos</app>:</p>

  <list>
   <item><p>Pulse <keyseq><key>Ctrl</key><key>F</key></keyseq>.</p></item>
   <item><p>Pulse el icono de la lupa.</p></item>
   <item><p>Comience a escribir. Documentos buscará por título o autor.</p></item>
  </list>

  <note style="tip"><p>Puede restringir o filtrar los resultados de la búsqueda pulsando el botón <media type="image" src="figures/go-down.png">abajo</media> y seleccionado varios <link xref="documents-filter">filtros</link>.</p>
  </note>

</page>
