<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="documents" xml:lang="es">

  <info>
    <credit type="author copyright">
      <name>Julita Inca</name>
      <email>yrazes@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Equipo de documentación de Ubuntu</name>
      <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>
    <desc>Organice los documentos archivados localmente en su equipo o creados en línea.</desc>
    <link type="guide" xref="files#documents"/>
    <revision pkgversion="3.5.90" date="2012-08-31" status="review"/>
    <revision version="14.04" date="2014-03-06" status="review"/>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Documentos</title>

  <p><app>Documentos</app> es una aplicación GNOME que le permite mostrar, organizar e imprimir los documentos en su equipo o aquellos que se han creado en remoto usando <em>Google Docs</em> o <em>SkyDrive</em>.</p>

 <section id="view" style="2column">
    <title>Ver, ordenar y buscar</title>
 </section>

 <section id="print" style="2column">
    <title>Seleccionar, organizar, imprimir</title>
 </section>

 <section id="question" style="2column">
    <title>Preguntas</title>
 </section>
</page>
