<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="guide" style="task" version="1.0 if/1.0" id="files" xml:lang="es">
  <info>

    <link type="guide" xref="index" group="files"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Equipo de documentación de Ubuntu</name>
      <email>ubuntu-doc@lists.ubuntu.com</email>
    </credit>

    <title type="link" role="trail">Archivos</title>

    <revision version="13.10" date="2013-10-23" status="review"/>
    <desc><link xref="files-search">Búsqueda</link>, <link xref="files-delete">eliminación de archivos</link>, <link xref="files#backup">copias de seguridad</link>, <link xref="files#removable">soportes extraíbles</link>, <link xref="files#documents">documentos</link>…</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Búsqueda de archivos y carpetas</title>

<media type="image" src="figures/nautilus.png" style="floatend floatright" if:test="!target:mobile">
  <p>Gestor de archivos <app>Nautilus</app></p>
</media>

<links type="topic" style="linklist nodesc bold">
  <title>Tareas comunes</title>
</links>

<links type="topic" groups="more" style="linklist nodesc bold">
  <title>Más temas</title>
</links>

<section id="removable">
  <title>Dispositivos extraíbles y discos externos</title>
  <links type="topic" style="2column"/>
</section>

<section id="backup">
  <title>Hacer copias de seguridad</title>
  <links type="topic" style="2column"/>
</section>

<section id="documents">
  <title>Documentos</title>
  <links type="topic" style="2column"/>
</section>

<section id="faq">
  <title>Consejos y preguntas</title>
  <links type="topic" style="2column"/>
</section>

</page>
