<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="net-chat-video" xml:lang="es">
  <info>
    <link type="guide" xref="net-chat"/>

    <revision version="13.10" date="2013-09-15" status="review"/>

    <credit type="author">
      <name>Equipo de documentación de Ubuntu</name>
    </credit>

    <desc>¿Qué aplicaciones puedo usar para hacer videollamadas?</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Llamadas de vídeo</title>

  <p>Puede realizar videollamadas desde Ubuntu sin instalar ningún software edicional, utilizando <app>Empathy</app> (a través de las redes <em>Google Talk</em>, <em>MSN </em>, <em>Jabber </em> y <em>SIP</em>). Consulte <link href="help:empathy/audio-video">el manual de Empathy</link> para saber cómo hacer videollamadas con <app>Empathy</app>.</p>

  <list>
    <title>Otras aplicaciones que admiten videollamadas son</title>

    <item><p><app><link href="apt:skype">Skype</link></app></p></item>

    <item><p><app><link href="apt:ekiga">Ekiga</link></app></p></item>

  </list>

</page>
