<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task 2column" id="net-chat" xml:lang="es">

  <info>

    <revision version="13.10" date="2013-09-15" status="review"/>

    <link type="guide" xref="net"/>

    <desc><link xref="net-chat-empathy">Charlar en cualquier red usando <app>Empathy</app></link>, <link xref="net-chat-video">hacer videollamadas</link>, <link xref="net-chat-skype">instalar Skype</link>, <link xref="net-chat-social">aplicaciones de redes sociales</link></desc>
 
    <credit type="author">
      <name>Equipo de documentación de Ubuntu</name>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Charlas y redes sociales</title>

</page>
