<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="printing-paperjam" xml:lang="es">

  <info>
    <link type="guide" xref="printing#problems"/>

    <desc>Cómo solucionar un atasco de papel depende de la marca y modelo de la impresora que tenga.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision version="13.10" date="2013-09-19" status="review"/>

    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Arreglar un atasco de papel</title>

<p>A veces, las impresoras alimentan de forma incorrecta las hojas de papel y se atascan.</p>

<p>El manual de su impresora, por lo general, le dará instrucciones detalladas sobre cómo solucionar los atascos de papel. Por lo general, tendrá que abrir uno de los paneles de la impresora para encontrar el atasco en el interior y luego con firmeza (pero con cuidado) saque el papel atascado del mecanismo de alimentación de la impresora.</p>

<p>Una vez solucionado el atasco, tal vez deba pulsar el botón <gui>Reanudar</gui> para volver a iniciar la impresión. Con algunas impresoras, quizá deba incluso apagar la impresora y volver a encenderla antes de volver a iniciar el trabajo de impresión.</p>

</page>
