<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="startup-applications" xml:lang="es">

  <info>
    <link type="guide" xref="shell-overview#apps"/>
    <link type="guide" xref="prefs"/>
    <desc>Elegir qué aplicaciones iniciar al iniciar la sesión.</desc>

    <revision version="14.10" date="2014-09-13" status="review"/>

    <credit type="author">
      <name>Equipo de documentación de Ubuntu</name>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Aplicaciones al inicio</title>

  <p>Puede configurar qué aplicaciones deben arrancarse en el inicio de la sesión, además de las aplicaciones iniciales predeterminadas configuradas en el sistema.</p>

  <steps>
    <item>
      <p>Use el <link xref="unity-dash-intro">tablero</link> para encontrar y abrir <gui>Aplicaciones al inicio</gui>. De forma alternativa puede pulsar <keyseq><key>Alt</key><key>F2</key></keyseq> y ejecutar la orden <cmd>gnome-session-properties</cmd>.</p>
    </item>
    <item>
      <p>Haga clic en <gui>Añadir</gui> y escriba la orden a ejecutar al iniciar la sesión (el nombre y el comentario son opcionales). Por ejemplo, para hacer que Firefox se inicie automáticamente basta con escribir <cmd>firefox</cmd> en el campo <gui>Orden</gui> y confirmarlo con <gui>Añadir</gui>.</p>
    </item>
  </steps>

  <note>
    <p>Puede, o bien escribir la orden, o bien hacer clic en el botón <gui>Examinar...</gui> y elegir la orden. Las aplicaciones para arrancarse al inicio normalmente se encuentran en la carpeta <code>/usr/bin</code>.</p>
  </note>

</page>
