<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="user-changepicture" xml:lang="es">

  <info>
    <link type="guide" xref="user-accounts#manage"/>
    <desc>Añadir su foto a las pantallas de acceso y usuario.</desc>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision version="13.10" date="2013-10-23" status="review"/>
    <credit type="author">
      <name>Proyecto de documentación de GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Cambiar la imagen de inicio de sesión</title>

  <p>Cuando inicia una sesión o cambia de usuario, verá una lista de usuarios con sus fotos de inicio de sesión. Puede cambiar su foto a una imagen de archivo o una imagen de su propiedad. Puede incluso tomar una foto nueva con su cámara web.</p>

  <steps>
  <item><p>Pulse en el icono situado en el extremo derecho de la <gui>barra de menús</gui> y seleccione <gui>Configuración del sistema</gui>.</p></item>
  <item><p>Abrir <gui>Cuentas de usuario</gui>.</p></item>
    <item><p>Pulse en la imagen junto a su nombre. Se le mostrará una galería desplegable con algunas fotografías de inicio de sesión almacenadas. Si le gusta alguna de ellas, pulse para usarla usted mismo.</p></item>
      <item><p>Si prefiere utilizar una imagen que ya tiene en su equipo, pulse en <gui>Buscar más imágenes</gui>.</p></item>
  </steps>
</page>
