<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="formats-save" xml:lang="it">

  <info>
    <link type="guide" xref="index#edit"/>
    <desc>JPEG, PNG, BMP and others.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
  <credit type="author">
    <name>Tiffany Antopolski</name>
    <email>tiffany.antopolski@gmail.com</email>
  </credit>
  <credit type="editor">
    <name>Fabiana Simões</name>
    <email>fabianapsimoes@gmail.com</email>
  </credit>
  <license>
   <p>Creative Commons Share Alike 3.0</p>
  </license>
  </info>

 <title>Formats supported for saving pictures</title>
  <p>The image viewer can save pictures in the following file formats:</p>
  <list>
   <item><p>JPEG/JPG</p></item>
   <item><p>PNG</p></item>
   <item><p>BMP</p></item>
   <item><p>TIFF</p></item>
  </list>
  <note><p>It may be possible to save other image formats depending on the system configuration.</p></note>
</page>
