<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="plugin-picasa" xml:lang="it">

  <info>
   <link type="guide" xref="index#plugins"/>
   <desc>Easily upload pictures to PicasaWeb directly from the Image Viewer.</desc>

   <revision pkgversion="3.4.3" version="0.1" date="2012-08-11" status="final"/>
   <credit type="author">
     <name>Fabiana Simões</name>
     <email>fabianapsimoes@gmail.com</email>
   </credit>
   <license>
     <p>Creative Commons Share Alike 3.0</p>
   </license>

  </info>

<title>Upload photos to <app>PicasaWeb</app></title>

<p><em>PicasaWeb</em> is a photo album service that lets you share pictures with
people online. You can add a shortcut button that provides a convenient way of uploading 
pictures to PicasaWeb.</p>

<p>To do this, make sure that <link xref="plugins">eog-plugins</link> is
installed. Then, click <guiseq><gui>Edit</gui><gui>Preferences</gui></guiseq>,
go to the <gui>Plugins</gui> tab and check <gui>PicasaWeb Uploader</gui>.</p>
<p>This will give you a convenient <guiseq><gui>Tools</gui><gui>Upload to
PicasaWeb</gui></guiseq> menu item.</p>

</page>
