<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:e="http://projectmallard.org/experimental/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" id="plugins" xml:lang="it">

  <info>
   <link type="guide" xref="index#plugins" group="first"/>
   <desc>Install plugins to access extra features.</desc>

   <revision pkgversion="3.2" version="0.1" date="2011-09-06" status="final"/>
   <credit type="author">
     <name>Tiffany Antopolski</name>
     <email>tiffany.antopolski@gmail.com</email>
   </credit>
   <credit type="editor">
     <name>Fabiana Simões</name>
     <email>fabianapsimoes@gmail.com</email>
   </credit>
   <license>
     <p>Creative Commons Share Alike 3.0</p>
   </license>

  </info>

<title>Plugins</title>

<p>You can install the <sys>eog-plugins</sys> package to get extra plugins for 
the image viewer. Plugins add additional features, like the ones listed below.</p>

<note style="info package">
  <p>You can install the <sys>eog-plugins</sys> package using your Linux 
  distribution's <em>package manager</em>.</p>

  <if:choose>
    <if:when test="action:install">
      <p><link action="install:eog-plugins" href="http://ftp.gnome.org/pub/gnome/sources/eog-plugins" style="button">install eog-plugins</link></p>
    </if:when>
  </if:choose>
</note>

<p>The following features are included in <sys>eog-plugins</sys>:</p>

<list>
 <item>
  <p><link xref="plugin-exif-digital#date">Date in statusbar</link>: Shows the image date in the window statusbar.</p>
 </item>
 <item>
  <p><link xref="plugin-exif-digital">Exif display</link>: Displays
camera settings and histograms for digital photos.</p>
 </item>
 <item>
  <p><link xref="plugin-fullscreen-background">Fullscreen Background</link>: Enables changing 
background in fullscreen mode.</p>
 </item>
 <item>
  <p><link xref="plugin-fullscreen-double-click">Fullscreen with double-click</link>: Activate fullscreen mode with double-click.</p>
 </item> 
 <item>
  <p><link xref="plugin-exif-digital#map">Map</link>: Display the 
  geolocation of a digital photo on a map.</p>
 </item>
 <item>
  <p><link xref="plugin-picasa">PicasaWeb Uploader</link>: Upload your pictures to PicasaWeb.</p>
 </item>
 <item>
  <p><link xref="plugin-python-console">Python Console</link>:
A Python scripting console for the image viewer.</p>
 </item>
 <item>
  <p><link xref="plugin-send-by-mail">Send By Mail</link>: Send a picture to 
  a friend by attaching it to a new email.</p>
 </item> 
 <item>
  <p><link xref="plugin-slideshow-shuffle">Slideshow Shuffle</link>: Shuffles 
  images in slideshow mode.</p>
 </item>
 <item>
  <p><link xref="plugin-zoom-width">Zoom to fit image width</link>:
Adjusts the zoom to have the pictures's full width fit into the window.</p>
 </item>
</list>

<note>
 <p>You can manage plugins by using the the
 <link xref="preferences#plugins">Plugins tab</link> in the Preferences window.</p>
</note>

</page>
