<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="slideshow" xml:lang="it">

  <info>
   <link type="guide" xref="index#viewing"/>
   <link type="seealso" xref="preferences#slideshow"/>
   <link type="seealso" xref="plugin-slideshow-shuffle"/>
   <desc>Click <guiseq><gui>View</gui><gui>Slideshow</gui></guiseq> to show all of the pictures in a folder as a slideshow.</desc>

   <revision pkgversion="3.2" version="0.1" date="2011-09-06" status="final"/>
   <credit type="author">
     <name>Tiffany Antopolski</name>
     <email>tiffany.antopolski@gmail.com</email>
   </credit>
   <license>
     <p>Creative Commons Share Alike 3.0</p>
   </license>

  </info>

<title>Diapositive</title>

<p>To view all of the pictures in a folder as a slideshow:</p>

<steps>
 <item>
  <p><link xref="open">Open</link> one of the pictures from the folder.</p>
 </item>
 <item>
  <p>Click <guiseq><gui>View</gui><gui>Slideshow</gui></guiseq> or press 
  <key>F5</key>.</p>
  <p>A full-screen slideshow will start. Every few seconds a new picture will 
  be displayed. If you would like to move through the slideshow more quickly, or return to an image which has already been displayed, you can use the <key>Left</key> and <key>Right</key> arrow keys to manually move backward and forward.</p>
 </item>
 <item>
  <p>To quit the slideshow, press <key>Esc</key> or <key>F5</key>.</p>
 </item>
</steps>

<p>You can change slideshow settings like how long it should show each picture 
for. See the topic on <link xref="preferences#slideshow">slideshow 
preferences</link> for more information.</p>

</page>
