<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="zoom" xml:lang="it">

  <info>
    <link type="guide" xref="index#viewing"/>
    <link type="seealso" xref="shortcuts#zoom-rotate"/>
    <link type="seealso" xref="toolbar"/>
    <desc>Enlarge the picture on the screen by clicking <guiseq><gui>View</gui><gui>Zoom In</gui></guiseq>.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  </info>

<title>Zoom</title>

<p>You can zoom in and out to show more or less of a picture on the screen at once. This is useful if you want to see a big picture in its entirety, or if you want to inspect the fine details of a picture.</p>

<list>
 <item>
  <p>You can zoom using the mouse wheel. Scroll up to zoom in or scroll down to zoom out.</p>
 </item>
 <item>
  <p>You can also zoom using the buttons on the toolbar. To zoom in, click the 
  <gui>Enlarge the image</gui> icon, and to zoom out click the <gui>Shrink the 
  image</gui> icon. These look like "plus" and "minus" signs.</p>
 </item>
 <item>
 <p>Alternatively, click <guiseq><gui>View</gui><gui>Zoom In</gui></guiseq> or <guiseq><gui>View</gui><gui>Zoom Out</gui></guiseq>.</p>
 </item>
</list>

<p>To view the picture in its original, unscaled size, click 
<guiseq><gui>View</gui><gui>Normal Size</gui></guiseq>. This is the same as 
the "100%" zoom level.</p>

<section id="bestfit">
 <title>Zoom to best-fit the window</title>
 <p>You can choose to zoom in so that the picture fits fully in the window, 
 even if you resize it. Click <guiseq><gui>View</gui><gui>Best 
 Fit</gui></guiseq> to do this.</p>
</section>
</page>
